main.container
  h1 my account
  .account-page__two-parts-wrapper.row
    .account-page__left-part.col-xl-5.offset-xl-1.col-lg-6.offset-lg-0
      p.account-page__hello Hello, <span>Max Factor</span>

      #account-page__list-tab.list-group(role='tablist')
        a#list-profile-list.list-group-item.list-group-item-action.active(data-toggle='list' href='#list-profile' role='tab' aria-controls='profile') Profile and settings
        a#list-payment-list.list-group-item.list-group-item-action(data-toggle='list' href='#list-payment' role='tab' aria-controls='payment') Payment Methods
        a#list-shipping-adress-list.list-group-item.list-group-item-action(data-toggle='list' href='#list-shipping-adress' role='tab' aria-controls='shipping-adress') Shipping Address
        a#list-orders-list.list-group-item.list-group-item-action(data-toggle='list' href='#list-orders' role='tab' aria-controls='orders') My orders
        a#list-logout-list.list-group-item.list-group-item-action(data-toggle='list' href='#list-logout' role='tab' aria-controls='logout') Logout





    .account-page__right-part.col-xl-6.col-lg-6
      #nav-tabContent.tab-content
        #list-profile.tab-pane.fade.active.show.list-profile(role='tabpanel' aria-labelledby='list-profile-list')
          h4 Profile and settings
          p.account-page__right-head-p You can update your Infiniti Lashes account at any time and make any changes to the information below.
          .grey-form__with-left-line
            form.grey-form
              .form-group
                label(for='account-page__select-who') title
                select#account-page__select-who.form-control
                  option Mr
                  option Miss
                  option Missisipi
              .form-group
                label(for='account-page__first-name') first name
                input#account-page__first-name.form-control(type='text' required)
              .form-group
                label(for='account-page__last-name') last name
                input#account-page__last-name.form-control(type='text' required)
              .form-group
                label(for='account-page__company-name') company
                input#account-page__company-name.form-control(type='text' required)
              .form-group
                label(for='account-page__email-input') e-mail / login
                input#account-page__email-input.form-control(type='email' aria-describedby='emailHelp' required)
                .invalid-feedback
                  | Looks bad!
                //small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
              label(for='account-page__select-day') birthday
              .grey-form__date-pick
                .form-group
                  select#account-page__select-day.form-control.account-page__select-day
                    //option 05
                    //option 06
                    //option 07
                .form-group
                  //label(for='account-page__select-day') birthday
                  select#account-page__select-month.form-control.account-page__select-month
                    //option June
                    //option September
                    //option March
                .form-group
                  //label(for='account-page__select-day') birthday
                  select#account-page__select-year.form-control.account-page__select-year
                    //option 1993
                    //option 1994
                    //option 1995
              label(for='account-page__radio-female') gender
              br
              .custom-control.custom-radio.custom-control-inline
                input#account-page__radio-female.custom-control-input(type='radio' name='account-page__gender')
                label.custom-control-label(for='account-page__radio-female') Female
              .custom-control.custom-radio.custom-control-inline
                input#account-page__radio-male.custom-control-input(type='radio' name='account-page__gender')
                label.custom-control-label(for='account-page__radio-male') Male
              hr
              .form-group
                label(for='account-page__old-pass-input') old password
                input#account-page__old-pass-input.form-control(type='password' required)
              .form-group
                label(for='account-page__new-pass-input') new password
                input#account-page__new-pass-input.form-control(type='password' required)
              .form-group
                label(for='account-page__new-pass-check') confirm password
                input#account-page__new-pass-check.form-control(type='password' required)
              //.form-check
                .grey-form__forgot-pass.custom-control.custom-checkbox
                  input#account-page__updates.custom-control-input(type='checkbox')
                  label.custom-control-label(for='account-page__updates') Sign up to hear about exclusive updates and receive 10% off your next online purchase.
              //.form-check
                .grey-form__forgot-pass.custom-control.custom-checkbox
                  input#account-page__agree.custom-control-input(type='checkbox')
                  label.custom-control-label(for='account-page__agree') I agree to the Terms & Conditions. Read Details
              button.btn.btn-primary(type='submit') Save changes
              //.grey-form__line
              //p.grey-form__or-with-lines or
              //.grey-form__line
              //button.btn.btn-primary.facebook-btn(type='submit') sign in with facebook
              //button.btn.btn-primary.google-btn(type='submit') sign in with google +


        #list-payment.tab-pane.fade(role='tabpanel' aria-labelledby='list-payment-list')
          .account-page__payment-new
            h4 Payment Methods
            p.account-page__right-head-p You can add or update your Infiniti Lashes Payment Method at any time.
            button.btn.btn-primary.account-page__payment-add-new.first-add Add New
          .account-page__payment-add
            h4 Payment Methods
            p.account-page__right-head-p You can add or update your Infiniti Lashes Payment Method at any time.
            h6 add card
            form.grey-form#add-new-card
              .form-group
                label(for='account-page__payment-name-add') name
                input#account-page__payment-name-add.form-control(type='text' required)
              .account-page__number-expiration
                .form-group
                  label(for='account-page__payment-card-add') card number*
                  input#account-page__payment-card-add.form-control(type='number' required)
                  .account-page__payment-card-img-wrapper
                    +svg('visa', 'payment-cards visa svg')
                    +svg('mastercard', 'payment-cards mastercard svg')
                    +svg('discover', 'payment-cards discover svg')
                    +svg('americane', 'payment-cards americane svg')
                    +svg('maestro', 'payment-cards maestro svg')
                    +svg('jcb', 'payment-cards jcb svg')
                .form-group.account-page__payment-card-expiration
                  label(for='account-page__payment-card-expiration') expiration date*
                  input#account-page__payment-card-expiration.form-control(type='number' placeholder="MM/YY" required)
              button(type="submit" form="add-new-card").btn.btn-primary Save
          .account-page__payment-ready
            h4 Payment Methods
            p.account-page__right-head-p You can add or update your Infiniti Lashes Payment Method at any time.
            button.btn.btn-primary.account-page__payment-add-new Add New
            h6 add card
            .account-page__select-card
              .grey-form
                select#account-page__select-card.form-control
                  option BLack Mamba
                  option kristin
                  option Work
              p Select the primary card for payment
            .account-page__card-items
              .account-page__card-item
                p.btn-primary BLack Mamba
                p.account-page__item-text VISA
                p.account-page__item-text ************4061
                p.account-page__item-text Expires 04/2020
                .account-page__item-edit
                  a(href="#") Edit
                  a(href="#") Delete
              .account-page__card-item
                p.btn-primary kristin
                p.account-page__item-text MasterCard
                p.account-page__item-text ************6528
                p.account-page__item-text Expires 02/2019
                .account-page__item-edit
                  a(href="#") Edit
                  a(href="#") Delete
              .account-page__card-item
                p.btn-primary Work
                p.account-page__item-text VISA
                p.account-page__item-text ************4115
                p.account-page__item-text Expires 07/2021
                .account-page__item-edit
                  a(href="#") Edit
                  a(href="#") Delete

        #list-shipping-adress.tab-pane.fade(role='tabpanel' aria-labelledby='list-shipping-adress-list')
          .account-page__shipping-adress-new
            h4 Shipping Address
            p.account-page__right-head-p You can add or update your Infiniti Lashes Shipping Address at any time.
            button.btn.btn-primary Add New
          .account-page__shipping-address-add
            h4 Shipping Address
            p.account-page__right-head-p You can add or update your Infiniti Lashes Payment Method at any time.
            h6 add shipping address
            form.grey-form#add-new-adress
              .form-group
                label(for='account-page__adress-name-add') address name
                input#account-page__adress-name-add.form-control(type='text' placeholder="Address Name" required)
              .form-group
                label(for='account-page__first-name-add') first name*
                input#account-page__first-name-add.form-control(type='text' placeholder="First Name" required)
              .form-group
                label(for='account-page__last-name-add') last name*
                input#account-page__last-name-add.form-control(type='text' placeholder="Last Name" required)
              .form-group.account-page__address-input
                label(for='account-page__address-add-1') address*
              .account-page__add-remove-js
                input#account-page__address-add-1.form-control(type='text' placeholder="Address line 1 E/ G/ Park Street 21" name="account-page__address-add-1" required)
                .account-page__address-input-add-remove
                  a(href="#" data-model-name="account-page__address-add-2").account-page__add-address-line + Add address line
                  a(href="#").account-page__remove-address-line - Remove address line
              .account-page__city-zip
                .form-group
                  label(for='account-page__city-add') city*
                  input#account-page__city-add.form-control(type='text' placeholder="E. g. Milan" required)
                .form-group.account-page__zip-code
                  label(for='account-page__zip-add') zip code*
                  input#account-page__zip-add.form-control(type='number' placeholder="20100" required)
              .form-group
                label(for='account-page__country-add') country
                select#account-page__country-add.form-control
                  option Germany
                  option Ukraine
                  option USSR
              .form-group
                label(for='account-page__email-add') e-mail*
                input#account-page__email-add.form-control(type='email' aria-describedby='emailHelp' required)
              .form-group
                label(for='account-page__phone-add') phone*
                input#account-page__phone-add.form-control(type='number' required)
              button(type="submit" form="add-new-card").btn.btn-primary Save
          .account-page__shipping-address-ready
            h4 Shipping Address
            p.account-page__right-head-p You can add or update your Infiniti Lashes Payment Method at any time.
            button.btn.btn-primary.account-page__shipping-address-add-new Add New
            h6 my Addresses
            .account-page__select-home
              .grey-form
                select#account-page__select-home.form-control
                  option Home
                  option Work
                  option Island
            .account-page__shipping-address-items
              .account-page__shipping-address-item
                p.btn-primary Home
                p.account-page__item-text Max Factor
                p.account-page__item-text Lützowplatz 17
                p.account-page__item-text Berlin, 10785, Germany
                p.account-page__item-text maxfactor21@mail.com
                .account-page__item-edit
                  a(href="#") Edit
                  a(href="#") Delete
              .account-page__shipping-address-item
                p.btn-primary work
                p.account-page__item-text Max Factor
                p.account-page__item-text Margaretenstr 37
                p.account-page__item-text Berlin, 12203, Germany
                p.account-page__item-text maxfactor21@mail.com
                .account-page__item-edit
                  a(href="#") Edit
                  a(href="#") Delete
              .account-page__shipping-address-item
                p.btn-primary Island
                p.account-page__item-text Max Factor
                p.account-page__item-text Lützowplatz 175
                p.account-page__item-text Berlin, 210785, Germany
                p.account-page__item-text maxfactor1@mail.com
                .account-page__item-edit
                  a(href="#") Edit
                  a(href="#") Delete

        #list-orders.tab-pane.fade.show(role='tabpanel' aria-labelledby='list-orders-list')
          //.account-page__orders-new
            h4 My orders
            p.account-page__right-head-p Here you can see your order history
            p.account-page__oops Oops, there's nothing here. It's time to start shopping
            button.btn.btn-primary.account-page__orders-new Start shoping
          .account-page__orders-now
            h4 My orders
            p.account-page__right-head-p Here you can see your order history
            .account-page__wrapper-orders
              .account-page__wrapper-order
                header
                  .account-page__order-main-info
                    .account-page__order-num Order №2442190878
                    .account-page__order-date 25 april 2018, 17:55
                  .account-page__order-status Delivered
                .account-page__order-body
                    .account-page__order-inside
                      span.account-page__name Infinity lashes Mink Eyelash Extensions Trays 13mm
                      span 1
                    .account-page__order-price $20
                .account-page__order-shipping
                  .account-page__order-shipping-name Shipping
                  .account-page__order-shipping-price $5
                .account-page__order-total
                  .account-page__order-total-name Total
                  .account-page__order-total-price $25
                .account-page__order-pdf-wrapper
                  +svg('pdf', 'svg-pdf svg')
                  a(href="#").account-page__order-pdf Generate PDF


              .account-page__wrapper-order
                header
                  .account-page__order-main-info
                    .account-page__order-num Order №2442190878
                    .account-page__order-date 5 march 2018, 10:21
                  .account-page__order-status Delivered
                .account-page__order-body
                  .account-page__order-inside
                    span.account-page__name Infinity lashes Mink Eyelash Extensions Trays 13mm
                    span 3
                  .account-page__order-price $60
                .account-page__order-body
                  .account-page__order-inside
                    span.account-page__name Premium Professional Infinity Lashes Extension Glue (30 ml)
                    span 2
                  .account-page__order-price $140
                .account-page__order-body
                  .account-page__order-inside
                    span.account-page__name Infinity Lashes Tweezers - Midnight Rose
                    span 10
                  .account-page__order-price $500
                .account-page__order-shipping
                  .account-page__order-shipping-name Shipping
                  .account-page__order-shipping-price $0
                .account-page__order-total
                  .account-page__order-total-name Total
                  .account-page__order-total-price $700
                .account-page__order-pdf-wrapper
                  +svg('pdf', 'svg-pdf svg')
                  a(href="#").account-page__order-pdf Generate PDF

        #list-logout.tab-pane.fade.show(role='tabpanel' aria-labelledby='list-logout-list')


  //- .account-page__two-parts-wrapper-adaptive


  .svgHide
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" style="position:absolute">
    <symbol id="pdf" viewBox="0 0 30 27">
    <defs><style>.cls-1-pdf{fill:#aaaaaa}</style></defs><title>PDF</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Page-1"><g id="icon-70-document-file-pdf"><path class="cls-1-pdf" d="M13 0H2a2 2 0 0 0-2 2v23a2 2 0 0 0 2 2h15a2 2 0 0 0 2-2v-2h8a3 3 0 0 0 3-3v-7a3 3 0 0 0-3-3h-8V7l-6-7zM2 26a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h10v5a2 2 0 0 0 2 2h4v2h-8a3 3 0 0 0-3 3v7a3 3 0 0 0 3 3h8v2a1 1 0 0 1-1 1zM14 7a1 1 0 0 1-1-1V1.5L17.7 7zm-4 15a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h17a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2zm17-9h-5v7h1v-3h3v-1h-3v-2h4v-1zm-8 0h-3v7h3a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2zm-2 6v-5h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1zm-4-6h-3v7h1v-3h2a2 2 0 1 0 0-4zm-2 3v-2h2a1 1 0 0 1 0 2z" id="document-file-pdf"></path></g></g></g></g>
    </symbol>
    <symbol id="visa" viewBox="0 0 160 100">
    <defs><style>.cls-1{fill:#f6f6f6}.cls-2{fill:#265697}.cls-3{fill:#d97b16}</style></defs><title>visa</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Page-1"><g id="Visa"><path id="Rectangle-20" class="cls-1" d="M0 9h160v80H0z"></path><path id="Rectangle-1" class="cls-2" d="M148 0H8C4 0 0 4 0 8v12h160v-8q0-12-12-12z"></path><path id="Rectangle-1-2" data-name="Rectangle-1" class="cls-3" d="M0 80v8c0 8 4 12 12 12h136q12 0 12-12v-8z"></path><path id="Shape" class="cls-2" d="M111.61 29.78A28.68 28.68 0 0 0 101.47 28c-11.18 0-19.06 5.76-19.13 14-.06 6.1 5.62 9.5 9.92 11.53s5.89 3.41 5.87 5.26c0 2.84-3.52 4.14-6.77 4.14a23.3 23.3 0 0 1-10.66-2.22L79.24 60l-1.59 9.5a35.16 35.16 0 0 0 12.61 2.3c11.9 0 19.62-5.69 19.71-14.5 0-4.83-3-8.5-9.5-11.53-4-2-6.38-3.27-6.35-5.26 0-1.76 2.05-3.65 6.48-3.65a20.49 20.49 0 0 1 8.47 1.63l1 .49 1.53-9.2"></path><path id="Shape-2" data-name="Shape" class="cls-2" d="M140.64 28.78h-8.75c-2.71 0-4.74.76-5.93 3.52l-16.8 38.88H121s2-5.18 2.42-6.37h14.5c.34 1.49 1.38 6.36 1.38 6.36h10.5l-9.16-42.4zm-14 27.35c.94-2.44 4.51-11.86 4.51-11.86s.93-2.46 1.5-4l.76 3.66 2.62 12.25z"></path><path id="Shape-3" data-name="Shape" class="cls-2" d="M59.25 71.17l7.08-42.43h11.32l-7.09 42.43z"></path><path id="Shape-4" data-name="Shape" class="cls-2" d="M49.76 28.77L38.68 57.7l-1.18-5.88C35.43 45 29 37.7 21.82 34L32 71.13h12l17.75-42.36h-12"></path><path id="Shape-5" data-name="Shape" class="cls-3" d="M28.4 28.74H10.14l-.14.88c14.2 3.51 23.59 12 27.49 22.2l-4-19.5c-.69-2.69-2.67-3.49-5.13-3.58"></path></g></g></g></g></symbol><symbol id="mastercard" viewBox="0 0 160 100">
    <defs><style>.cls-1-1{fill:#265697}.cls-2-2{fill:#dfac16}.cls-3-3{fill:#bf3126}.cls-4{fill:#fff}</style></defs><title>MasterCard</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Page-1"><g id="Master"><path id="Rectangle-1" class="cls-1-1" d="M148 0H8C4 0 0 4 0 8v80q0 12 12 12h136q12 0 12-12V12q0-12-12-12z"></path><path id="path2268" class="cls-2" d="M149.55 50.5a41.63 41.63 0 1 1-83.25 0 41.63 41.63 0 1 1 83.25 0z"></path><path id="path1350" class="cls-3-3" d="M51.81 8.43C29 8.57 10.45 27.37 10.45 50.5S29.1 92.57 52.08 92.57a41.23 41.23 0 0 0 28-11 42.28 42.28 0 0 0 4.23-4.51H75.8a41.08 41.08 0 0 1-3.1-4.33h14.7a42.29 42.29 0 0 0 2.42-4.51H70.26a41.76 41.76 0 0 1-1.74-4.42h23a42.7 42.7 0 0 0 1.18-22.35H67.3a42.31 42.31 0 0 1 1.19-4.42h23a42.34 42.34 0 0 0-1.79-4.51H70.26a40.51 40.51 0 0 1 2.39-4.42h14.7a42.16 42.16 0 0 0-3.23-4.51h-8.2a38.85 38.85 0 0 1 4.18-4.25 41.23 41.23 0 0 0-28-11z"></path><path id="path4157" class="cls-4" d="M67 61.21l.55-3.81c-.3 0-.75.13-1.14.13-1.54 0-1.71-.83-1.61-1.44l1.25-7.77h2.34l.61-4.21h-2.21l.45-2.62h-4.43c-.1.1-2.62 14.73-2.62 16.51 0 2.64 1.47 3.81 3.53 3.79a11.55 11.55 0 0 0 3.28-.58z"></path><path id="path4155" class="cls-4" d="M68.45 54c0 6.33 4.13 7.84 7.66 7.84a11.18 11.18 0 0 0 4.68-.73l.78-4.32a13.68 13.68 0 0 1-4.71 1.1c-4.76 0-3.93-3.59-3.93-3.59h9a32.55 32.55 0 0 0 .58-4.09c0-3-1.45-6.55-6.32-6.55-4.46 0-7.76 4.85-7.76 10.34zm7.77-6.33c2.5 0 2 2.84 2 3.07h-4.87c0-.29.47-3.07 2.88-3.07z"></path><path id="path4151" class="cls-4" d="M104.29 61.21l.79-4.88a10.58 10.58 0 0 1-3.67 1.1c-3.14 0-4.4-2.43-4.4-5 0-5.29 2.71-8.2 5.72-8.2a7.84 7.84 0 0 1 4.07 1.28l.72-4.75a15.77 15.77 0 0 0-5-1.1c-5.12 0-10.09 4.49-10.09 12.91 0 5.59 2.69 9.28 8 9.28a20.24 20.24 0 0 0 3.88-.61z"></path><path id="path4149" class="cls-4" d="M42.67 43.68a15.17 15.17 0 0 0-5.37 1l-.64 3.86a13.86 13.86 0 0 1 4.83-.79c1.65 0 2.86.19 2.86 1.54a2.89 2.89 0 0 1-.15 1.13s-1.3-.11-1.9-.11c-3.83 0-7.86 1.65-7.86 6.64 0 3.93 2.64 4.83 4.28 4.83a5.75 5.75 0 0 0 4.55-2.06l-.15 1.71H47l1.74-12.34c0-5.23-4.52-5.4-6.09-5.4zm.95 10c.08.75-.47 4.29-3.14 4.29a1.62 1.62 0 0 1-1.73-1.69c0-1.23.66-2.7 3.91-2.7a2.79 2.79 0 0 1 1 .1z"></path><path id="path4145" class="cls-4" d="M52.91 61.68c1 0 6.71.26 6.71-5.7 0-5.56-5.28-4.47-5.28-6.7 0-1.11.86-1.46 2.43-1.46.62 0 3 .2 3 .2l.56-4a20.46 20.46 0 0 0-4.09-.35c-3.28 0-6.61 1.32-6.61 5.85 0 5.13 5.55 4.61 5.55 6.77 0 1.44-1.55 1.56-2.75 1.56a14.33 14.33 0 0 1-3.94-.68l-.59 3.92c.11 0 1.26.55 5 .55z"></path><path id="path4139" class="cls-4" d="M141 40.13l-1 6a5.85 5.85 0 0 0-4.28-2.33c-4.06 0-7.45 4.95-7.45 10.64 0 3.67 1.81 7.27 5.5 7.27a5.52 5.52 0 0 0 4.13-1.87l-.19 1.6h4.31l3.39-21.3zm-2.06 11.69c0 2.37-1.16 5.53-3.56 5.53-1.59 0-2.34-1.35-2.34-3.48 0-3.47 1.54-5.76 3.49-5.76 1.6 0 2.41 1.11 2.41 3.72z"></path><path id="path4133" class="cls-4" d="M18.68 61.45l2.7-16.08.4 16.08h3.05l5.7-16.08L28 61.45h4.54L36 40.12h-7L24.64 53.2l-.23-13.09h-6.46L14.4 61.45z"></path><path id="path4131" class="cls-4" d="M87 61.48c1.29-7.42 1.53-13.44 4.61-12.33a17.36 17.36 0 0 1 1.65-5.19 4.63 4.63 0 0 0-.85-.06c-2 0-3.46 2.74-3.46 2.74l.4-2.52h-4.18l-2.76 17.36z"></path><path id="path4149-2" data-name="path4149" class="cls-4" d="M114.52 43.68a15.17 15.17 0 0 0-5.37 1l-.64 3.86a13.86 13.86 0 0 1 4.83-.79c1.65 0 2.86.19 2.86 1.54a2.91 2.91 0 0 1-.15 1.13s-1.3-.11-1.91-.11c-3.83 0-7.86 1.65-7.86 6.64 0 3.93 2.64 4.83 4.28 4.83a5.75 5.75 0 0 0 4.55-2.06l-.11 1.7h3.9l1.74-12.34c0-5.23-4.52-5.4-6.09-5.4zm1 10c.08.75-.47 4.29-3.14 4.29a1.62 1.62 0 0 1-1.73-1.69c0-1.23.66-2.7 3.91-2.7a2.81 2.81 0 0 1 1 .1z"></path><path id="path4131-2" data-name="path4131" class="cls-4" d="M124.17 61.48c1.29-7.42 1.53-13.44 4.61-12.33a17.4 17.4 0 0 1 1.65-5.19 4.63 4.63 0 0 0-.85-.06c-2 0-3.46 2.74-3.46 2.74l.4-2.52h-4.13l-2.76 17.36z"></path></g></g></g></g></symbol><symbol id="discover" viewBox="0 0 160 100">
    <defs><style>.cls-1-d{fill:#f4f4f4}.cls-2-d{fill:#d97b16}</style></defs><title>Discover</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Page-1"><g id="discover"><path id="Rectangle-1" class="cls-1-d" d="M148 0H8C4 0 0 4 0 8v80q0 12 12 12h136q12 0 12-12V12q0-12-12-12z"></path><path id="Rectangle-1-copy" class="cls-2-d" d="M49.54 100H148q12 0 12-12V40.43S136.16 82.4 49.54 100z"></path><path id="NETWORK" d="M52 48.92h1.44l4.45 6.64v-6.64H59V57h-1.35l-4.5-6.64V57H52zm9.08 0h5.21v1h-4.07v2.41h3.83v1h-3.83V56h4.32v1h-5.42zm8.66 1h-2.6v-1h6.3v1h-2.6V57h-1.1zm3.83-1h1.14l1.78 6.46 1.91-6.46h1.26l1.91 6.46 1.78-6.46h1.14L82.22 57h-1.15l-2-6.6-2 6.6H76zm15.71 8.28a4.36 4.36 0 0 1-1.7-.33A4 4 0 0 1 86.3 56a4.14 4.14 0 0 1-.87-1.35 4.64 4.64 0 0 1 0-3.35 4.14 4.14 0 0 1 .87-1.35 4 4 0 0 1 1.33-.9A4.61 4.61 0 0 1 91 49a4 4 0 0 1 1.33.9 4.14 4.14 0 0 1 .87 1.35 4.64 4.64 0 0 1 0 3.35 4.14 4.14 0 0 1-.84 1.4 4 4 0 0 1-1.33.9 4.36 4.36 0 0 1-1.7.31zm0-1a2.94 2.94 0 0 0 2.21-.95 3 3 0 0 0 .62-1 3.71 3.71 0 0 0 0-2.5 3 3 0 0 0-.62-1 3 3 0 0 0-4.43 0 3 3 0 0 0-.62 1 3.71 3.71 0 0 0 0 2.5 3 3 0 0 0 .62 1 2.94 2.94 0 0 0 2.21.95zm5.79-7.26H98a3.32 3.32 0 0 1 1.28.21 2.17 2.17 0 0 1 .79.54 1.83 1.83 0 0 1 .41.73 2.88 2.88 0 0 1 .11.78 2.08 2.08 0 0 1-.14.75 2.11 2.11 0 0 1-.39.65 2.25 2.25 0 0 1-.63.49 2.18 2.18 0 0 1-.83.25l2.26 3.66h-1.37l-2.05-3.56h-1.23V57h-1.1zm1.1 3.56h1.44a3.92 3.92 0 0 0 .63-.05 1.7 1.7 0 0 0 .56-.19 1 1 0 0 0 .39-.39 1.58 1.58 0 0 0 0-1.34 1 1 0 0 0-.39-.39 1.7 1.7 0 0 0-.56-.19 3.92 3.92 0 0 0-.63-.05h-1.4zm5.88-3.56h1.1v3.49h.09l3.57-3.49h1.53l-3.9 3.73 4.2 4.33H107l-3.77-4h-.09v4h-1.1z"></path><path d="M14.13 23.88h7.53a11.53 11.53 0 0 1 3.65.58 8.86 8.86 0 0 1 3.1 1.77 8.64 8.64 0 0 1 2.16 3 10.2 10.2 0 0 1 .81 4.23 8.88 8.88 0 0 1-3.33 7.22 10.25 10.25 0 0 1-3.27 1.75 11.41 11.41 0 0 1-3.52.58h-7.13zm5.94 16a12 12 0 0 0 3-.36 7.16 7.16 0 0 0 2.47-1.13 5.38 5.38 0 0 0 1.66-2 6.68 6.68 0 0 0 .61-3 7.42 7.42 0 0 0-.54-3 5.17 5.17 0 0 0-1.5-2 6.25 6.25 0 0 0-2.27-1.13 10.7 10.7 0 0 0-2.86-.26h-3.1v13zm14.47-16h3.4V43h-3.4zm17 4.1a3.14 3.14 0 0 0-1.44-1.15 5 5 0 0 0-1.9-.36 4.83 4.83 0 0 0-1.15.14A3.12 3.12 0 0 0 46 27a2.26 2.26 0 0 0-.72.77 2.22 2.22 0 0 0-.28 1.16 1.75 1.75 0 0 0 .67 1.48 6.64 6.64 0 0 0 1.67.89q1 .38 2.19.73a8.89 8.89 0 0 1 2.19 1 5.41 5.41 0 0 1 1.67 1.65 4.89 4.89 0 0 1 .67 2.73 6 6 0 0 1-.57 2.69A5.47 5.47 0 0 1 52 42a6.6 6.6 0 0 1-2.23 1.13 9.31 9.31 0 0 1-2.67.38 10 10 0 0 1-3.43-.59 6.61 6.61 0 0 1-2.84-2l2.57-2.48a4.29 4.29 0 0 0 1.6 1.44 4.59 4.59 0 0 0 2.15.53 4.5 4.5 0 0 0 1.19-.16 3.67 3.67 0 0 0 1.08-.49 2.54 2.54 0 0 0 .78-.82 2.2 2.2 0 0 0 .3-1.15 2 2 0 0 0-.67-1.62 6 6 0 0 0-1.67-1q-1-.39-2.19-.74a9.21 9.21 0 0 1-2.19-1 5.32 5.32 0 0 1-1.67-1.62 4.83 4.83 0 0 1-.67-2.71 5.15 5.15 0 0 1 .61-2.57 5.56 5.56 0 0 1 1.59-1.8 7 7 0 0 1 2.25-1.07 9.68 9.68 0 0 1 2.59-.35 9.45 9.45 0 0 1 2.93.46 6.79 6.79 0 0 1 2.59 1.6zm19.25.38a5.7 5.7 0 0 0-2-1.51 5.5 5.5 0 0 0-2-.38A6.63 6.63 0 0 0 64 27a6.15 6.15 0 0 0-2 1.46 6.62 6.62 0 0 0-1.34 2.17 7.45 7.45 0 0 0-.47 2.67 8.22 8.22 0 0 0 .47 2.83A6.66 6.66 0 0 0 62 38.38a6.22 6.22 0 0 0 2 1.49 6.48 6.48 0 0 0 2.69.54 4.94 4.94 0 0 0 2.31-.56 6.15 6.15 0 0 0 2-1.77l2.81 2a7.65 7.65 0 0 1-3.16 2.59 9.85 9.85 0 0 1-4 .81 11.17 11.17 0 0 1-4.06-.72 9.11 9.11 0 0 1-5.28-5.17 10.61 10.61 0 0 1-.76-4.08 11.07 11.07 0 0 1 .76-4.17 9.36 9.36 0 0 1 2.09-3.2 9.17 9.17 0 0 1 3.19-2 11.17 11.17 0 0 1 4.06-.72 9.32 9.32 0 0 1 3.6.69 8.4 8.4 0 0 1 3.09 2.34zm25.61-4.48h3.92l5.21 14.44 5.37-14.44h3.67L106.85 43h-2.94zm20.22 0h12.66V27H120v4.7h8.78v3.08H120v5.18h9.75V43h-13.12zm16.5 0h6.64a13.53 13.53 0 0 1 2.66.26 6.81 6.81 0 0 1 2.28.88 4.59 4.59 0 0 1 1.59 1.67 5.39 5.39 0 0 1 .59 2.67 5.32 5.32 0 0 1-1.15 3.48 4.92 4.92 0 0 1-3.28 1.7l5.09 8.46h-4.1L139 34.9h-2.48V43h-3.4zm6 8.1q.73 0 1.46-.07a4.48 4.48 0 0 0 1.34-.32 2.28 2.28 0 0 0 1-.78 2.49 2.49 0 0 0 .38-1.47A2.35 2.35 0 0 0 143 28a2.18 2.18 0 0 0-.92-.77 4.23 4.23 0 0 0-1.26-.34 11.44 11.44 0 0 0-1.34-.08h-2.94V32z"></path><circle id="Oval-1" class="cls-2-d" cx="86.05" cy="33.45" r="10.05"></circle></g></g></g></g></symbol><symbol id="americane" viewBox="0 0 161.04 100">
    <defs><style>.cls-1-a{fill:#306fc5}.cls-2-a{fill:#fff}</style></defs><title>AmericanE</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Page-1"><g id="american-express"><path id="Rectangle-1" class="cls-1-a" d="M149 0H9C5 0 1 4 1 8v80q0 12 12 12h136q12 0 12-12V12q0-12-12-12z"></path><path id="Shape" class="cls-2-a" d="M14.52 36.63l-3.1-7.55-3.08 7.55zm68.27-3a4.2 4.2 0 0 1-2.24.39H75V29.8h5.57a4.64 4.64 0 0 1 2.15.34 1.73 1.73 0 0 1 1 1.67 1.94 1.94 0 0 1-.93 1.8zm39.24 3l-3.13-7.55-3.12 7.55zM48.88 44.8h-4.64V29.97L37.66 44.8h-4L27.1 30v14.8h-9.21l-1.74-4.22H6.73L5 44.8H.05l8.11-18.94h6.73l7.7 17.93V25.86H30l5.9 12.85 5.44-12.85h7.54V44.8zm18.5 0H52.26V25.86h15.12v3.94h-10.6v3.41h10.35v3.89H56.78v3.78h10.6v3.92zM88.71 31a5.33 5.33 0 0 1-3.19 5 5.25 5.25 0 0 1 2.24 1.6 5.45 5.45 0 0 1 .75 3.48v3.72h-4.57v-2.39c0-1.14.11-2.78-.71-3.69-.66-.67-1.67-.81-3.3-.81H75v6.89h-4.48V25.86h10.41c2.31 0 4 .06 5.48.91a4.42 4.42 0 0 1 2.3 4.23zM96 44.8h-4.67V25.86H96V44.8zm53.59 0h-6.42l-8.58-14.22V44.8h-9.22l-1.76-4.22h-9.4l-1.71 4.22h-5.3c-2.2 0-5-.49-6.56-2.09s-2.42-3.79-2.42-7.23c0-2.81.49-5.38 2.44-7.41 1.46-1.51 3.76-2.21 6.88-2.21h4.38v4.06h-4.29a4.36 4.36 0 0 0-3.54 1.08 6.25 6.25 0 0 0-1.3 4.29 6.57 6.57 0 0 0 1.21 4.49 4.37 4.37 0 0 0 3.16 1h2l6.38-14.9h6.78l7.67 17.92V25.86h6.89l8 13.19V25.86h4.64V44.8zM0 48.52h7.74l1.74-4.21h3.9l1.74 4.21h15.23V45.3l1.36 3.23h7.9L41 45.25v3.26h37.79V41.6h.73c.51 0 .66.07.66.91v6h19.55v-1.6a15.5 15.5 0 0 0 7.27 1.61h8.23l1.77-4.21h3.9l1.72 4.21h15.86v-4l2.4 4h12.71V22.1H141v3.12l-1.76-3.12h-12.91v3.12l-1.62-3.12h-17.43a15.66 15.66 0 0 0-7.56 1.54V22.1h-12v1.54a7.46 7.46 0 0 0-5.11-1.54h-44l-2.95 6.82-3-6.82H18.81v3.12l-1.52-3.12H5.48L0 34.66v13.86zm161 13.95h-8.25a3.13 3.13 0 0 0-1.83.34 1.47 1.47 0 0 0-.66 1.36 1.43 1.43 0 0 0 1 1.41 5.16 5.16 0 0 0 1.74.21l2.45.07c2.48.06 4.13.49 5.14 1.52a2.44 2.44 0 0 1 .42.47zM161 75c-1.1 1.61-3.24 2.42-6.14 2.42h-8.74v-4.1h8.71a2.58 2.58 0 0 0 1.83-.47 1.67 1.67 0 0 0 .54-1.24 1.56 1.56 0 0 0-.55-1.25 2.3 2.3 0 0 0-1.6-.42c-4.25-.14-9.55.13-9.55-5.86 0-2.75 1.74-5.64 6.5-5.64h9v-3.77h-8.38a9.44 9.44 0 0 0-5.62 1.54v-1.54h-12.4c-2 0-4.31.49-5.41 1.55v-1.55h-22.13v1.55c-1.76-1.27-4.73-1.55-6.11-1.55H86.36v1.55C85 54.86 81.87 54.67 80 54.67H63.64l-3.74 4-3.5-4H32V81.1h23.94l3.85-4.1 3.63 4.11h14.76V74.9h1.45a15.38 15.38 0 0 0 6.31-.9v7.1h12.17v-6.89h.59c.75 0 .82 0 .82.78v6.11h37a10.55 10.55 0 0 0 6.16-1.69v1.69h11.72a15.72 15.72 0 0 0 6.6-1.22V75zm-18-7.61a5.27 5.27 0 0 1 1.35 4c0 4.08-2.55 6-7.11 6h-8.84v-4.07h8.78a2.66 2.66 0 0 0 1.85-.47 1.68 1.68 0 0 0 .53-1.24 1.63 1.63 0 0 0-.55-1.25 2.38 2.38 0 0 0-1.61-.42c-4.23-.14-9.54.13-9.54-5.86 0-2.75 1.73-5.64 6.47-5.64h9.08v4h-8.31a3.06 3.06 0 0 0-1.81.34 1.59 1.59 0 0 0 .31 2.77 5.21 5.21 0 0 0 1.76.21l2.44.07c2.46.06 4.14.49 5.17 1.52zm-40.85-1.17a4.33 4.33 0 0 1-2.24.39h-5.5v-4.26H100a4.46 4.46 0 0 1 2.16.34 1.8 1.8 0 0 1 .94 1.7 2 2 0 0 1-.94 1.82zm2.73 2.36a4.92 4.92 0 0 1 2.22 1.59c.64.92.73 1.79.75 3.46v3.76h-4.55V75c0-1.14.11-2.83-.73-3.71-.66-.68-1.67-.84-3.32-.84h-4.86v6.92h-4.55V58.44h10.46c2.29 0 4 .1 5.45.89a4.44 4.44 0 0 1 2.33 4.21 5.31 5.31 0 0 1-3.21 5zm5.72-10.14h15.11v3.92h-10.6v3.44h10.34v3.87h-10.36v3.77h10.6v3.93h-15.11V58.44zM80 67.18h-5.82v-4.83h5.9c1.63 0 2.77.67 2.77 2.32s-1.08 2.5-2.82 2.5zm-10.33 8.48l-7-7.72 7-7.47v15.19zm-18-2.23H40.59v-3.77h9.94V65.8h-9.94v-3.45h11.35l5 5.52-5.17 5.56zm36-8.76c0 5.26-3.93 6.35-7.88 6.35h-5.61v6.35h-8.8l-5.57-6.27L54 77.38H36.08V58.44h18.21l5.57 6.21 5.76-6.21h14.47c3.59 0 7.63 1 7.63 6.24z"></path></g></g></g></g></symbol><symbol id="maestro" viewBox="0 0 480 300.14"><defs><style>.cls-1-m{fill:#f4f4f4}.cls-2-m{fill:#4186cd}.cls-3-m{fill:#4487ca}.cls-4-m{fill:#ca4638}.cls-5{fill:#231f20}.cls-6{fill:#fff}</style></defs><title>Maestro</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="round-rect"><g id="maestro_card_payment" data-name="maestro card payment"><path id="Rectangle-1" class="cls-1-m" d="M444 0H24C12 0 0 12 0 24v240.11c0 24.01 12 36 36 36h408q36 0 36-36V36q0-36-36-36z"></path><g id="logo-2"><path id="path618" class="cls-2-m" d="M240.26 242.9a125.17 125.17 0 1 0-84 32.43 124.95 124.95 0 0 0 84-32.43"></path><path id="path620" class="cls-3-m" d="M240.26 242.9a125.45 125.45 0 0 0 0-185.79z"></path><path id="path624" class="cls-4-m" d="M324.39 24.69a124.67 124.67 0 0 0-84.14 32.43A136 136 0 0 0 227.6 70.4h25.32a103.37 103.37 0 0 1 9.5 13.26h-44.3q-3.92 6.34-7.27 13.26h58.82a111.29 111.29 0 0 1 5.21 13.29h-69.25a105.48 105.48 0 0 0-3.72 13.26h76.69a124.58 124.58 0 0 1 2.8 26.53 122.57 122.57 0 0 1-6.52 39.81h-69.25a111.25 111.25 0 0 0 5.21 13.28h58.82a117.71 117.71 0 0 1-7.26 13.27h-44.3a125.86 125.86 0 0 0 9.5 13.27h25.32a136.32 136.32 0 0 1-12.66 13.28 124.78 124.78 0 0 0 84.14 32.43c69.06 0 125.09-56.1 125.09-125.33S393.49 24.7 324.4 24.7"></path><path id="path626" class="cls-5" d="M436.27 219.61h.56c.19 0 .37 0 .37-.05.19-.1.37-.25.37-.4s-.19-.31-.37-.38c0-.08-.37-.05-.37-.05h-.56v.89zm0 2h-.74v-3.56H437a1.73 1.73 0 0 1 .93.18 1.38 1.38 0 0 1 .37.89.93.93 0 0 1-.56.91l.56 1.58h-.93l-.37-1.42h-.75v1.42zm.56 1.3a3.08 3.08 0 1 0 0-6.16 3.08 3.08 0 0 0 0 6.16zm-4.09-3.08a4.1 4.1 0 1 1 4.09 4 4.08 4.08 0 0 1-4.09-4z"></path><path id="path628" class="cls-5" d="M136.76 184.87h-15.82l9.3-48.87-21.41 48.85h-13L93.2 136.3l-10.43 48.57H68.44l12.1-63.53h24.76l.37 39.33 17.13-39.33H149l-12.28 63.53"></path><path id="path630" class="cls-5" d="M310.8 184.22a40.55 40.55 0 0 1-11.17 1.68c-8 0-12.29-4-12.29-11.35a20.41 20.41 0 0 1 .37-4.64l.93-5.06.75-4.07 7.26-39.46h15.45l-2.23 11.86h8l-2.23 12.55h-8l-4.09 21.56a10.36 10.36 0 0 0-.19 2.14c0 2.67 1.49 3.84 5.21 3.84a14.78 14.78 0 0 0 4.28-.48l-2 11.43"></path><path id="path632" class="cls-5" d="M249 149.51c0 6.54 3.54 11 11.91 14.41 6.33 2.6 7.44 3.36 7.44 5.7 0 3.24-2.79 4.68-9.12 4.68a50.32 50.32 0 0 1-14.15-2.06l-2 11.93.56.1 3 .53c.93.15 2.24.31 4.09.46 3.72.28 6.7.44 8.75.44 16.57 0 24.2-5.47 24.2-17.26 0-7.08-3.17-11.25-11-14.39-6.7-2.62-7.44-3.18-7.44-5.6 0-2.8 2.61-4.23 7.63-4.23a100 100 0 0 1 11.35.79l2.24-12a122.81 122.81 0 0 0-13.78-1C255 132 248.82 140 249 149.51"></path><path id="path634" class="cls-5" d="M176.59 161.85a28.64 28.64 0 0 0-3.54-.23c-8.75 0-13.21 2.65-13.21 7.86 0 3.21 2.23 5.27 5.58 5.27 6.33 0 11-5.27 11.17-12.9zm10.61 23h-13l.37-5.37c-4.09 4.25-9.31 6.26-16.38 6.26-8.56 0-14.33-5.75-14.33-14.1 0-12.6 10.05-19.93 27.36-19.93a52.36 52.36 0 0 1 6.33.4 10.25 10.25 0 0 0 .74-3.36c0-3.44-2.79-4.71-10.05-4.71a58.06 58.06 0 0 0-13 1.45l-2 .53-1.49.33 2.23-11.6c7.82-2 12.84-2.75 18.61-2.75 13.4 0 20.48 5.24 20.48 15.17 0 2.54-.19 4.48-1.3 10.23l-3.17 18.33-.56 3.28-.37 2.62-.37 1.81v1.4z"></path><path id="path636" class="cls-5" d="M230.76 153c0-1.07.19-2 .19-2.62 0-4.2-2.79-6.67-7.45-6.67-5 0-8.56 3.31-9.87 9.26h17.13zm7.63 30.75a60.52 60.52 0 0 1-16 2.08c-17.5 0-26.43-7.94-26.43-23.13 0-17.74 11.54-30.8 27.18-30.8 12.84 0 21 7.3 21 18.78a44.49 44.49 0 0 1-2 12.75h-30.9a5.85 5.85 0 0 0-.19 1.63c0 6 4.65 9 13.77 9a41.32 41.32 0 0 0 16.2-3.26l-2.61 12.91z"></path><path id="path638" class="cls-5" d="M388.8 155.26c0-5.4-2.23-10.51-8.56-10.51-8 0-12.84 9.42-12.84 17.71 0 7 3.35 11.71 8.94 11.6 3.35 0 10.61-4.61 11.91-12.65a31.86 31.86 0 0 0 .55-6.15zm15.82 6.18c-2.24 17.18-14.33 24.8-30.34 24.8-17.5 0-24.57-10.69-24.57-23.8 0-18.33 11.91-30.72 30.53-30.72 16.19 0 24.76 10.21 24.76 23.32a36.24 36.24 0 0 1-.38 6.41z"></path><path id="path640" class="cls-6" d="M409.83 176.92h.56a1.09 1.09 0 0 0 .37-.08c.18-.08.19-.25.19-.41s0-.28-.19-.35c0-.08-.37-.08-.56-.08h-.37v.91zm0 2h-.75v-3.56h1.49a2.18 2.18 0 0 1 .93.21 1.32 1.32 0 0 1 .37.89 1 1 0 0 1-.56.91l.56 1.55h-.93l-.56-1.4h-.55v1.4zm.56 1.3a3.07 3.07 0 0 0 0-6.14 3.07 3.07 0 1 0 0 6.14zm-4.09-3.08a4.1 4.1 0 1 1 4.09 4 4.08 4.08 0 0 1-4.09-4z"></path><path id="path642" class="cls-6" d="M140.67 181.2H125l9.31-48.84-21.38 48.84H98.78l-2.61-48.54-9.3 48.54H72.72l12.1-63.53h24.38l1.12 39.33 17.31-39.35h25.32l-12.28 63.55"></path><path id="path644" class="cls-6" d="M314.71 180.59a40.67 40.67 0 0 1-11.17 1.68c-8 0-12.29-4-12.29-11.35a41.9 41.9 0 0 1 .37-4.63l.93-5.07.74-4.1 7.26-39.45H316l-2.23 11.86h8l-2.24 12.57h-8l-4.09 21.56a10.28 10.28 0 0 0-.19 2.14c0 2.68 1.68 3.82 5.4 3.82a14.2 14.2 0 0 0 4.09-.49l-2 11.46"></path><path id="path646" class="cls-5" d="M354.73 144.37l-.37-1.63 3.17-8.1a4.41 4.41 0 0 1-1.12-.15c-.93-.18-1.3-.28-1.49-.28a6.21 6.21 0 0 0-1.49-.13c-5.21 0-8.75 2.26-13.59 8.38l1.68-9.19h-16.2l-9.5 51.59h15.45c2-11.84 3-18.58 4.28-24.18 2-9.29 8.94-13.52 14-12.57a7.47 7.47 0 0 1 1.67.38l.93.35 2.61-4.48"></path><path id="path648" class="cls-6" d="M360.13 130a9.48 9.48 0 0 0-1.67-.56c-.75-.18-1.31-.28-1.31-.31a12.28 12.28 0 0 0-1.68-.13c-5 0-8.75 2.29-13.59 8.4l1.49-7.84h-14.14l-9.5 51.67h15.64c5.58-31.59 8-37.13 15.45-37.13a18.09 18.09 0 0 1 1.86.13l1.86.38 5.59-14.61"></path><path id="path650" class="cls-6" d="M252.91 145.87c0 6.51 3.72 11 12.1 14.41 6.33 2.57 7.26 3.34 7.26 5.7 0 3.21-2.79 4.66-8.94 4.66a50.29 50.29 0 0 1-14.15-2L247 180.51l.74.12 2.79.51a39.36 39.36 0 0 0 4.28.46c3.72.28 6.51.43 8.56.43 16.75 0 24.38-5.45 24.38-17.23 0-7.1-3.16-11.25-11.17-14.38-6.51-2.62-7.26-3.21-7.26-5.63 0-2.78 2.61-4.2 7.63-4.2a102.47 102.47 0 0 1 11.36.76l2.23-12a122.83 122.83 0 0 0-14-1c-17.5 0-23.64 7.95-23.64 17.49"></path><path id="path652" class="cls-6" d="M179.95 158.19a28.62 28.62 0 0 0-3.54-.2c-8.75 0-13.22 2.65-13.22 7.86 0 3.21 2 5.27 5.58 5.27 6.33 0 10.8-5.29 11.17-12.93zm11.35 23h-13l.37-5.34c-3.91 4.25-9.31 6.23-16.38 6.23-8.38 0-14.15-5.75-14.15-14.1 0-12.58 10.05-19.93 27.36-19.93 1.68 0 3.91.15 6.33.41a15.45 15.45 0 0 0 .56-3.36c0-3.41-2.79-4.68-10.05-4.68a55.2 55.2 0 0 0-12.84 1.42l-2.23.56-1.3.33 2-11.63c7.82-2 12.84-2.72 18.61-2.72 13.4 0 20.48 5.24 20.48 15.15a57.84 57.84 0 0 1-1.12 10.23l-3.35 18.36-.59 3.28-.37 2.62-.19 1.78-.18 1.4z"></path><path id="path654" class="cls-6" d="M234.11 149.36v-2.65c0-4.2-2.61-6.64-7.26-6.64-5 0-8.56 3.28-10.05 9.27h17.31zm8.19 30.75a60.37 60.37 0 0 1-15.83 2.09c-17.5 0-26.62-7.94-26.62-23.16 0-17.71 11.54-30.77 27.17-30.77 12.84 0 21 7.3 21 18.76a50.88 50.88 0 0 1-1.87 12.77h-30.9a5.86 5.86 0 0 0-.19 1.63c0 6 4.65 9 13.59 9a41.39 41.39 0 0 0 16.19-3.29l-2.6 12.93z"></path><path id="path656" class="cls-6" d="M392.52 151.16c0-5.4-2.23-10.51-8.56-10.51-8 0-12.84 9.42-12.84 17.71 0 7 3.35 11.74 8.94 11.63 3.35 0 10.61-4.61 11.91-12.65a32.14 32.14 0 0 0 .55-6.18zm16.2 6.62c-2.42 17.18-14.34 24.81-30.34 24.81-17.69 0-24.76-10.72-24.76-23.83 0-18.3 12.1-30.72 30.72-30.72 16.19 0 24.76 10.21 24.76 23.31a35.91 35.91 0 0 1-.37 6.42z"></path></g></g></g></g></g></symbol><symbol id="jcb" viewBox="0 0 480 300.14">
    <defs><style>.cls-1-j{fill:#f4f4f4}.cls-2-j{fill:#479951}.cls-3-j{fill:#265797}.cls-4-j{fill:#ca4638}</style></defs><title>JCB</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="round-rect"><g id="jcb_card_payment" data-name="jcb card payment"><path id="Rectangle-1" class="cls-1-j" d="M444 0H24C12 0 0 12 0 24v240.11c0 24.01 12 36 36 36h408q36 0 36-36V36q0-36-36-36z"></path><g id="jcb-2"><path id="Shape" class="cls-2-j" d="M314.54 155.49h23.58l.36.05h.36l.36.09.36.11.36.12.36.14.36.16.36.17.36.19.36.21.36.23.36.26.36.29.36.32.36.35.36.39.36.43q.19.24.36.49t.36.57q.19.33.36.68t.36.85A9.81 9.81 0 0 1 346 163a10.51 10.51 0 0 1 0 4.59 9.82 9.82 0 0 1-.36 1.22q-.16.44-.36.85t-.36.68q-.17.29-.36.57t-.36.49l-.36.43-.36.39-.36.35-.36.31-.36.28-.36.26-.36.23-.36.21-.36.19-.36.17-.36.15-.36.14-.36.12-.36.11-.36.09h-.36l-.36.06H314.54v-19.4zm29-22.25a10 10 0 0 1 0 4.19 9 9 0 0 1-.36 1.22 8.67 8.67 0 0 1-.36.83q-.17.33-.36.65c-.11.19-.23.37-.36.54s-.24.31-.36.46l-.36.41-.36.36-.36.32-.36.29-.36.26-.36.23-.36.21-.36.19-.36.17-.36.15-.36.13-.36.12-.36.1-.36.09-.36.07h-21.8v-17.96H336.34l.36.07.36.09.36.1.36.12.36.13.36.15.36.17.36.19.36.21.36.23.36.26.36.29.36.32.36.36.36.41q.19.22.36.46c.13.17.25.35.36.54s.25.43.36.65a8.68 8.68 0 0 1 .36.83 9 9 0 0 1 .36 1.22zm44.63-94.07h.15v186.32c0 1.11-.05 2.21-.15 3.3s-.2 1.91-.36 2.84q-.16.94-.36 1.87-.17.75-.36 1.5t-.36 1.27c-.11.38-.23.76-.36 1.13s-.24.68-.36 1-.24.62-.36.93-.24.58-.36.86l-.36.81-.36.76-.36.72-.36.68-.36.65-.36.62-.36.6-.36.57-.36.55-.36.53-.36.51-.36.49-.36.47-.36.46-.36.45-.36.43-.36.42-.36.41-.36.4-.36.39-.36.37-.36.37-.36.35-.36.35-.36.33-.36.33-.36.32-.36.31-.36.3-.36.29-.36.29-.36.28-.36.28-.36.27-.36.26-.36.25-.36.25-.36.24-.36.24-.36.23-.36.22-.36.22-.36.21-.36.21-.36.2-.36.2-.36.19-.36.19-.36.18-.36.18-.36.17-.36.17-.36.16-.36.16-.36.16-.36.15-.36.15-.36.14-.36.14-.36.13-.36.13-.36.13-.36.12-.36.12-.36.11-.36.11-.36.11-.36.1-.36.1-.36.09-.36.09-.36.09-.36.08-.36.08-.36.07-.36.07-.36.07-.36.06-.36.06-.36.05-.36.05-.36.05H296.3v-76h62.69l.36-.05.36-.06.36-.06.36-.06.36-.07.36-.07.36-.08.36-.08.36-.09.36-.09.36-.1.36-.1.36-.11.36-.11.36-.12.36-.12.36-.13.36-.14.36-.14.36-.15.36-.15.36-.16.36-.17.36-.17.36-.18.36-.19.36-.2.36-.21.36-.22.36-.23.36-.24.36-.25.36-.26.36-.27.36-.29.36-.3.36-.32.36-.33.33-.42.36-.37.36-.4.36-.42.36-.45.36-.48.36-.53.36-.57q.19-.31.36-.63c.13-.23.25-.47.36-.71s.25-.54.36-.81.25-.64.36-1 .25-.81.36-1.23a16.81 16.81 0 0 0 .36-1.88 18 18 0 0 0 .16-2.4 16.89 16.89 0 0 0-.16-2.33 15.81 15.81 0 0 0-.36-1.81q-.16-.6-.36-1.18t-.36-.93q-.17-.4-.36-.78t-.36-.68q-.17-.31-.36-.61l-.36-.55-.36-.51-.36-.47-.36-.44-.36-.41-.36-.38-.36-.36-.36-.34-.36-.32-.36-.31-.36-.29-.36-.28-.36-.26-.36-.25-.36-.24-.36-.23-.36-.22-.36-.21-.36-.2-.36-.19-.36-.19-.36-.18-.36-.17-.36-.16-.36-.16-.36-.15-.36-.15-.36-.14-.36-.13-.36-.13-.36-.12-.36-.12-.36-.11-.36-.11-.36-.1-.36-.09-.36-.09-.36-.09-.36-.08-.36-.08-.36-.07-.36-.07-.36-.06-.36-.06-.36-.06-.36-.05H356.47v-.43l.33-.05.36-.06.36-.06.36-.07.36-.07.36-.08.36-.08.36-.09.36-.1.36-.1.36-.11.36-.11.36-.12.36-.13.36-.13.36-.14.36-.15.44-.34.36-.16.36-.17.36-.18.36-.19.36-.2.36-.2.36-.22.36-.23.36-.24.36-.25.36-.26.36-.28.36-.29.36-.31.36-.33.36-.34.36-.37.36-.39.36-.42.36-.45.36-.48.36-.52.36-.57q.19-.31.36-.63t.36-.71q.19-.41.36-.82t.36-1q.21-.63.36-1.27a16.33 16.33 0 0 0 .36-2.13 17 17 0 0 0 .09-1.73c0-.62 0-1.22-.09-1.8a16.54 16.54 0 0 0-.36-2.17q-.15-.65-.36-1.28t-.36-1q-.17-.41-.36-.81t-.36-.7q-.17-.32-.36-.62l-.36-.56-.36-.51-.36-.47-.36-.43-.36-.4-.36-.38-.36-.35-.36-.33-.36-.31-.36-.3-.36-.28-.36-.27-.36-.25-.36-.24-.36-.23-.36-.22-.36-.21-.36-.2-.36-.19-.44-.15-.36-.17-.36-.16-.36-.16-.36-.15-.36-.14-.36-.14-.36-.13-.36-.12-.36-.12-.36-.11-.36-.11-.36-.1-.36-.1-.36-.09-.36-.09-.36-.08-.36-.08-.36-.07-.36-.07-.36-.06-.36-.06-.36-.05-.36-.05H296.3V76.44a37.39 37.39 0 0 1 .78-7.6q.16-.79.36-1.56t.36-1.28q.17-.58.36-1.16t.36-1 .36-1 .36-.88l.36-.82.36-.77.36-.73.36-.69.36-.66.36-.63.36-.6.36-.58.36-.55.36-.53.36-.52.36-.49.36-.48.36-.47.36-.45.36-.44.36-.43.36-.41.36-.4.36-.39.36-.38.36-.37.36-.36.36-.35.36-.33.36-.33.36-.32.36-.31.36-.3.36-.3.36-.29.36-.28.36-.28.36-.27.36-.26.36-.26.36-.25.36-.24.36-.24.36-.23.36-.22.36-.22.36-.21.36-.21.36-.2.36-.2.36-.19.36-.19.36-.18.36-.18.36-.17.36-.17.36-.17.36-.16.36-.16.36-.15.36-.15.36-.14.36-.14.36-.14.36-.13.36-.13.36-.12.36-.12.36-.11.36-.11.36-.11.36-.1.36-.1.36-.09.36-.09.36-.09.36-.08.36-.08.36-.07.36-.07.36-.07.36-.06.36-.06.36-.06.36-.05.36-.05H388.16z"></path><path id="Shape-2" data-name="Shape" class="cls-3-j" d="M91.21 168.83l-.77-.37v-92a37.39 37.39 0 0 1 .77-7.58q.16-.79.36-1.56t.36-1.32q.17-.58.36-1.16c.12-.35.23-.7.36-1s.23-.64.36-1 .24-.59.36-.88l.36-.82.36-.77.36-.73.36-.69.36-.66.36-.63.36-.6.36-.58.36-.55.36-.53.36-.52.36-.49.36-.48.36-.47.36-.45.36-.44.36-.42.36-.41.36-.4.36-.39.36-.38.36-.37.36-.36.36-.35.36-.33.36-.33.36-.32.36-.31.36-.3.36-.3.36-.29.36-.28.36-.28.36-.27.36-.26.36-.26.36-.25.36-.24.36-.24.36-.23.36-.22.36-.22.36-.21.36-.21.36-.2.36-.2.36-.19.36-.19.36-.18.36-.18.36-.17.36-.17.36-.17.36-.16.36-.16.36-.15.36-.15.36-.14.36-.14.36-.14.36-.13.36-.13.36-.12.36-.12.36-.11.36-.11.36-.11.36-.1.36-.1.36-.09.36-.09.36-.09.36-.08.35-.05.36-.08.36-.07.36-.07.36-.06.36-.06.36-.06.36-.05.36-.05h59.6v185.99a37.6 37.6 0 0 1-.3 4.78c-.1.75-.22 1.5-.36 2.24q-.16.84-.36 1.67t-.36 1.39q-.17.6-.36 1.2t-.36 1.07q-.17.49-.36 1t-.36.9l-.36.84-.36.79-.36.74-.36.7-.36.67-.36.64-.36.61-.36.58-.36.56-.36.54-.36.52-.36.5-.36.49-.36.47-.36.45-.36.44-.36.42-.36.41-.36.4-.36.39-.36.38-.36.37-.36.36-.36.35-.36.34-.36.33-.36.32-.36.32-.36.3-.36.3-.36.29-.36.29-.36.28-.36.27-.36.26-.36.26-.36.25-.36.25-.36.24-.36.24-.36.22-.36.22-.36.21-.36.21-.36.2-.36.2-.36.19-.36.19-.36.19-.36.18-.36.18-.36.17-.36.17-.36.16-.36.16-.36.15-.36.15-.36.15-.36.14-.36.14-.36.13-.36.13-.36.12-.36.12-.36.12-.36.11-.36.11-.36.1-.36.1-.36.1-.36.09-.36.09-.36.08-.36.08-.36.08-.36.07-.36.07-.36.06-.36.06-.36.06-.36.05-.36.05h-59.7v-78.24l.77.2.36.09.36.09.36.09.36.08.36.08.36.08.36.08.36.08.36.08.36.08.36.08.36.08.36.07.36.07.36.07.36.07.36.07.36.07.36.07.36.07.36.07.36.07.36.07.36.06.36.06.36.06.36.06.36.06.36.06.36.06.36.06.36.06.36.06.36.06.36.06.36.06.36.05.36.05.36.05.36.05.36.05.36.05H143.75l.36-.05.36-.05.36-.05.36-.06.36-.06.36-.06.36-.06.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.08.36-.08.36-.08.36-.08.36-.09.36-.09.36-.09.36-.09.36-.1.36-.1.36-.1.36-.1.36-.1.36-.11.36-.11.36-.11.36-.12.36-.12.36-.12.36-.13.36-.13.36-.13.36-.14.36-.14.36-.15.36-.15.36-.15.36-.16.36-.16.36-.17.36-.17.36-.17.36-.18.36-.18.36-.19.36-.2.36-.2.36-.21.36-.21.36-.22.36-.23.36-.24.36-.24.36-.25.36-.26.36-.27.36-.28.36-.29.36-.3.36-.31.36-.33.36-.33.36-.35.36-.36.36-.37.36-.4.36-.42.36-.43.36-.46.36-.48.36-.51.36-.54.36-.57.36-.61.36-.66q.19-.36.36-.72t.36-.78q.19-.43.36-.86t.36-1q.19-.55.36-1.12t.36-1.33q.2-.83.36-1.69.23-1.27.36-2.58.18-1.82.18-3.71v-42.62h-32.21v43.23q0 1-.09 2a20.67 20.67 0 0 1-.36 2.43q-.15.73-.36 1.43t-.36 1.1q-.17.46-.36.91t-.36.79c-.11.24-.23.47-.36.7s-.24.42-.36.62l-.36.57-.36.52-.36.48-.36.44-.36.41-.36.39-.36.36-.36.34-.36.32-.36.3-.36.29-.36.27-.36.26-.36.24-.36.23-.36.22-.36.2-.36.19-.36.18-.36.17-.36.17-.36.16-.36.15-.36.14-.36.13-.36.12-.36.12-.36.11-.36.1-.36.1-.36.09-.36.08-.36.08-.36.07-.36.06-.36.06-.36.05H114.88l-.36-.05-.36-.05-.36-.05-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.08-.36-.08-.36-.08-.36-.08-.36-.08-.36-.09-.36-.09-.36-.09-.36-.09-.36-.09-.36-.1-.36-.1-.36-.1-.36-.1-.36-.1-.36-.11-.36-.11-.36-.11-.36-.11-.36-.11-.36-.12-.36-.12-.36-.12-.36-.12-.36-.12-.36-.12-.36-.13-.36-.13-.36-.13-.36-.13-.36-.13-.36-.14-.36-.14-.36-.14-.36-.14-.36-.14-.36-.14-.36-.15-.36-.15-.36-.15-.36-.15-.36-.15-.36-.15-.36-.16-.36-.16-.36-.16-.36-.16-.36-.16-.36-.16-.36-.17-.36-.17-.36-.17-.36-.17z"></path><path id="Shape-3" data-name="Shape" class="cls-4-j" d="M195.63 124.58l-.77.64V76.44a37.4 37.4 0 0 1 .77-7.57q.16-.79.36-1.56t.36-1.32q.17-.58.36-1.16t.36-1 .36-1 .36-.88l.36-.82.36-.77.36-.73.36-.69.36-.66.36-.63.36-.6.36-.58.36-.55.36-.53.36-.52.36-.49.36-.48.36-.47.36-.45.36-.44.36-.42.36-.41.36-.4.36-.39.36-.38.36-.37.36-.35.36-.35.36-.33.36-.33.36-.32.36-.31.36-.3.36-.3.36-.29.36-.28.36-.28.36-.27.36-.26.36-.26.36-.25.36-.24.36-.24.36-.23.36-.22.36-.22.36-.21.36-.21.36-.2.36-.2.36-.19.36-.19.36-.18.36-.18.36-.17.36-.17.36-.17.36-.16.36-.16.36-.15.36-.15.36-.14.36-.14.36-.14.36-.13.36-.13.36-.12.36-.12.36-.11.36-.11.36-.11.36-.1.36-.1.36-.09.36-.09.36-.09.36-.08.36-.08.36-.08.36-.07.36-.07.36-.06.36-.06.36-.06.36-.05.36-.05h59.6v186.02a37.57 37.57 0 0 1-.3 4.78c-.1.75-.22 1.5-.36 2.24q-.16.84-.36 1.67t-.36 1.39q-.17.6-.36 1.2t-.36 1.07q-.17.49-.36 1t-.36.9l-.36.84-.36.79-.36.74-.36.7-.36.67-.36.64-.36.61-.36.58-.36.56-.36.54-.36.52-.36.5-.36.49-.36.47-.36.45-.36.44-.36.43-.36.41-.36.4-.36.39-.36.38-.36.37-.36.36-.36.35-.36.34-.36.33-.36.32-.36.32-.36.3-.36.3-.36.29-.36.29-.36.28-.36.27-.36.26-.36.26-.36.25-.36.25-.36.24-.36.24-.36.22-.36.22-.36.21-.36.21-.36.2-.36.2-.36.19-.36.19-.36.19-.36.18-.36.18-.36.17-.36.17-.36.16-.36.16-.36.15-.36.15-.36.15-.36.14-.36.14-.36.13-.36.13-.36.12-.36.12-.36.12-.36.11-.36.11-.36.1-.36.1-.36.1-.36.09-.36.09-.36.08-.36.08-.36.08-.36.07-.36.07-.36.06-.36.06-.36.06-.36.05-.36.05h-59.71v-86l.77.64.36.29.36.28.36.27.36.26.36.26.36.25.36.25.36.24.36.23.36.23.36.22.36.22.36.21.36.21.36.2.36.2.36.19.36.19.36.18.36.18.36.18.36.17.36.17.36.17.36.16.36.16.36.16.36.15.36.15.36.15.36.14.36.14.36.14.36.14.36.13.36.13.36.12.36.13.36.12.36.12.36.12.36.12.36.11.36.11.36.11.36.1.36.1.36.1.36.1.36.1.36.09.36.09.36.09.36.09.36.09.36.08.36.08.36.08.36.08.36.08.36.07.36.07.36.07.36.07.36.07.36.07.36.07.36.06.36.06.36.06.36.06.36.06.36.05.36.05.36.05.36.05.36.05H258.95l.36-.05.36-.05.36-.05.36-.05.36-.05.36-.05.36-.05.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.08.36-.08.36-.08.36-.08.36-.08.36-.08.36-.08.36-.08.36-.08.36-.08.36-.08.36-.09.36-.09.36-.09v-15.77l-.36.18-.36.18-.36.18-.36.17-.36.17-.36.17-.36.17-.36.17-.36.17-.36.16-.36.16-.36.16-.36.16-.36.16-.36.15-.36.15-.36.15-.36.15-.36.15-.36.14-.36.14-.36.14-.36.14-.36.14-.36.13-.36.13-.36.13-.36.13-.36.13-.36.12-.36.12-.36.12-.36.12-.36.12-.36.11-.36.11-.36.11-.36.11-.36.11-.36.1-.36.1-.36.1-.36.1-.36.1-.36.09-.36.09-.36.09-.36.09-.36.09-.36.08-.36.08-.36.08-.36.08-.36.08-.36.07-.36.07-.36.07-.36.07-.36.07-.36.06-.36.06-.36.06-.36.06-.36.06-.36.05-.36.05-.36.05H238.4l-.36-.05-.36-.05-.36-.06-.36-.06-.36-.07-.36-.07-.36-.08-.36-.08-.36-.08-.36-.08-.36-.09-.36-.09-.36-.1-.36-.1-.36-.11-.36-.11-.36-.12-.36-.12-.36-.13-.36-.13-.36-.14-.36-.14-.36-.15-.36-.16-.36-.17-.36-.17-.36-.18-.36-.18-.36-.19-.36-.2-.36-.21-.36-.22-.36-.23-.36-.23-.36-.25-.36-.25-.36-.26-.36-.28-.36-.29-.36-.3-.36-.32-.36-.33-.36-.34-.36-.36-.36-.38-.36-.4-.36-.42-.36-.44-.36-.47-.36-.49-.36-.52-.36-.56-.36-.6-.36-.65q-.19-.35-.36-.7t-.36-.77c-.12-.28-.24-.56-.36-.85s-.24-.64-.36-1-.25-.73-.36-1.1-.25-.87-.36-1.32-.25-1.12-.36-1.7q-.23-1.28-.36-2.64-.08-1.26-.08-2.89t.15-3.23q.13-1.36.36-2.64.16-.87.36-1.7.16-.67.36-1.32t.36-1.1c.11-.33.23-.65.36-1s.24-.57.36-.85.24-.52.36-.77.24-.47.36-.7l.36-.65.36-.6.36-.56.36-.52.36-.49.36-.47.36-.44.36-.42.36-.4.36-.38.36-.36.36-.34.36-.33.36-.32.36-.3.36-.29.36-.28.36-.26.36-.25.36-.25.36-.23.36-.23.36-.22.36-.21.36-.2.36-.19.36-.18.36-.18.36-.17.36-.17.36-.16.36-.15.36-.14.36-.14.36-.13.36-.13.36-.12.36-.12.36-.11.36-.11.36-.1.36-.1.36-.09.36-.09.36-.08.36-.08.36-.08.36-.08.36-.07.36-.07.36-.06.36-.06.36-.05.36-.05H252.5l.36.05.36.05.36.05.36.06.36.06.36.06.36.06.36.06.36.07.36.07.36.07.36.07.36.07.36.08.36.08.36.08.36.08.36.08.36.09.36.09.36.09.36.09.36.09.36.1.36.1.36.1.36.1.36.1.36.11.36.11.36.11.36.11.36.11.36.12.36.12.36.12.36.12.36.12.36.13.36.13.36.13.36.13.36.14.36.14.36.14.36.14.36.14.36.15.36.15.36.15.36.15.36.15.36.16.36.16.36.16.36.16.36.16.36.17.36.17.36.17.36.17.36.17.36.17.36.18.36.18.36.18.36.18v-15.55l-.36-.09-.36-.09-.36-.09-.36-.08-.36-.08-.36-.08-.36-.08-.36-.08-.36-.08-.36-.08-.36-.08-.36-.08-.36-.08-.36-.08-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.05-.36-.05-.36-.05-.36-.05-.36-.05-.36-.05H223.38l-.36.05-.36.05-.36.05-.36.05-.36.05-.36.06-.36.06-.36.06-.36.06-.36.06-.36.07-.36.07-.36.07-.36.07-.36.07-.36.07-.36.07-.36.08-.36.08-.36.08-.36.08-.36.08-.36.09-.36.09-.36.09-.36.09-.36.09-.36.1-.36.1-.36.1-.36.1-.36.11-.36.11-.36.11-.36.11-.36.12-.36.12-.36.12-.36.12-.36.13-.36.13-.36.13-.36.13-.36.14-.36.14-.36.14-.36.14-.36.15-.36.15-.36.15-.38-.16-.36.16-.36.16-.36.17-.36.17-.36.17-.36.18-.36.18-.36.19-.36.19-.36.19-.36.2-.36.2-.36.21-.36.21-.36.22-.36.22-.36.23-.36.23-.36.24-.36.25-.36.25-.36.26-.36.26-.36.27-.36.28-.36.29z"></path></g></g></g></g></g></symbol><symbol id="cardyellow" viewBox="0 0 40 28"><defs><style>.cls-1-cy{fill:#ffd731}.cls-2-cy{fill:#4f5d73}.cls-3-cy{fill:#e0995e}</style></defs><title>card</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Layer_2-2" data-name="Layer 2"><g id="Layer_1-2-2" data-name="Layer 1-2"><g id="Layer_1-3" data-name="Layer 1-3"><path class="cls-1-cy" d="M40 24a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h32a4 4 0 0 1 4 4z"></path><path class="cls-2-cy" d="M0 6h40v6H0z"></path><circle class="cls-3-cy" cx="26" cy="22" r="2"></circle><circle class="cls-3-cy" cx="34" cy="22" r="2"></circle><circle class="cls-3-cy" cx="18" cy="22" r="2"></circle></g></g></g></g></g></symbol><symbol id="paypal" viewBox="0 0 63 16.1"><defs><style>.cls-1-pp{fill:#139ad6}.cls-2-pp{fill:#263b80}.cls-3-pp{fill:#232c65}</style></defs><title>PayPal</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1-pp" d="M48.7 4.2h-3.4a.66.66 0 0 0-.5.4l-1.4 8.8a.27.27 0 0 0 .3.3h1.8a.27.27 0 0 0 .3-.3l.4-2.5a.46.46 0 0 1 .5-.4h1.1q3.45 0 3.9-3.3a2.62 2.62 0 0 0-.4-2.2 4 4 0 0 0-2.6-.8m.4 3.3c-.2 1.2-1.1 1.2-2 1.2h-.6l.4-2.3c0-.1.1-.2.3-.2h.2c.6 0 1.2 0 1.5.4.2.1.2.4.2.9"></path><path class="cls-2-pp" d="M24.2 4.2h-3.4a.66.66 0 0 0-.5.4l-1.4 8.8a.27.27 0 0 0 .3.3h1.6a.66.66 0 0 0 .5-.4l.4-2.4a.46.46 0 0 1 .5-.4h1.1q3.45 0 3.9-3.3a2.62 2.62 0 0 0-.4-2.2 3.84 3.84 0 0 0-2.6-.8m.4 3.3c-.2 1.2-1.1 1.2-2 1.2h-.5l.4-2.3c0-.1.1-.2.3-.2h.2c.6 0 1.2 0 1.5.4a1.07 1.07 0 0 1 .1.9M34.5 7.4h-1.6c-.1 0-.3.1-.3.2l-.1.5-.1-.2a2.35 2.35 0 0 0-1.9-.7 3.84 3.84 0 0 0-3.7 3.3 3 3 0 0 0 .6 2.5 2.52 2.52 0 0 0 2.1.8 3.2 3.2 0 0 0 2.3-.9l-.1.5a.27.27 0 0 0 .3.3h1.5a.66.66 0 0 0 .5-.4l.9-5.6c-.1-.1-.3-.3-.4-.3m-2.3 3.2a1.93 1.93 0 0 1-1.9 1.6 1.6 1.6 0 0 1-1.1-.4 2.13 2.13 0 0 1-.3-1.2 1.78 1.78 0 0 1 2.9-1.2 1.75 1.75 0 0 1 .4 1.2"></path><path class="cls-1-pp" d="M58.9 7.4h-1.6c-.1 0-.3.1-.3.2l-.1.5-.1-.2a2.35 2.35 0 0 0-1.9-.7 3.84 3.84 0 0 0-3.7 3.3 3 3 0 0 0 .6 2.5 2.52 2.52 0 0 0 2.1.8 3.2 3.2 0 0 0 2.3-.9l-.1.5a.27.27 0 0 0 .3.3h1.5a.66.66 0 0 0 .5-.4l.9-5.6c-.1-.1-.2-.3-.4-.3m-2.3 3.2a1.93 1.93 0 0 1-1.9 1.6 1.6 1.6 0 0 1-1.1-.4 2.13 2.13 0 0 1-.3-1.2 1.78 1.78 0 0 1 2.9-1.2 1.15 1.15 0 0 1 .4 1.2"></path><path class="cls-2-pp" d="M43.2 7.4h-1.7a.52.52 0 0 0-.4.2L38.9 11l-1-3.2a.46.46 0 0 0-.5-.3h-1.6c-.2 0-.3.2-.3.4l1.8 5.3-1.7 2.4c-.1.2 0 .5.2.5h1.6a.52.52 0 0 0 .4-.2L43.3 8c.3-.3.1-.6-.1-.6"></path><path class="cls-1-pp" d="M60.8 4.5l-1.4 9a.27.27 0 0 0 .3.3h1.4a.66.66 0 0 0 .5-.4L63 4.6a.27.27 0 0 0-.3-.3h-1.6c-.1-.1-.2 0-.3.2"></path><path class="cls-2-pp" d="M11.5 1.2C10.8.4 9.5 0 7.7 0h-5a.86.86 0 0 0-.7.6L0 13.7a.46.46 0 0 0 .4.5h3.1l.8-4.9v.2a.86.86 0 0 1 .7-.6h1.5c2.9 0 5.1-1.2 5.8-4.5v-.3a3.49 3.49 0 0 0-.8-2.9"></path><path class="cls-1-pp" d="M12.2 4.1v.3c-.7 3.4-2.9 4.5-5.8 4.5H4.9a.86.86 0 0 0-.7.6l-1 6.1a.37.37 0 0 0 .4.4h2.6a.56.56 0 0 0 .6-.5v-.1l.5-3.1v-.2a.56.56 0 0 1 .6-.5h.4c2.5 0 4.5-1 5-4a3.68 3.68 0 0 0-.5-3 1 1 0 0 0-.6-.5"></path><path class="cls-3-pp" d="M11.5 3.8c-.1 0-.2-.1-.3-.1a.37.37 0 0 1-.3-.1 5.28 5.28 0 0 0-1.3-.1H5.7a.37.37 0 0 0-.3.1.55.55 0 0 0-.3.5l-.8 5.2v.2a.86.86 0 0 1 .7-.6h1.5c2.9 0 5.1-1.2 5.8-4.5a.37.37 0 0 1 .1-.3c-.2-.1-.3-.2-.5-.2s-.3-.1-.4-.1"></path></g></g></symbol><symbol id="sofort" viewBox="0 0 749.36 232.3">
    <defs><style>.cls-1-sf{fill:#ee7f00}.cls-2-sf{fill:#383a41}</style></defs><title>Sofort</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1-sf" d="M247.83 0a69 69 0 0 0-29.52 6.75C205 13.07 192.88 23.6 183 37.57a133.77 133.77 0 0 0-16.2 31.35c-8.1 22.2-8 40.2.27 52.07 4.7 6.71 14.46 14.72 34.32 14.74h.08c36.17 0 63.17-23.71 80.27-70.47 4.52-12.37 10.48-35.46-.42-51C274.76 4.8 263.5 0 247.83 0zm218.26 0a68.92 68.92 0 0 0-29.52 6.75c-13.34 6.31-25.42 16.84-35.29 30.82a133.49 133.49 0 0 0-16.2 31.35c-8.11 22.2-8 40.2.28 52.07 4.69 6.71 14.45 14.72 34.32 14.74h.06c36.18 0 63.19-23.71 80.27-70.47 4.53-12.37 10.48-35.46-.41-51C493 4.8 481.76 0 466.09 0zM131.67 1.88c-11.9 0-23.47 0-33.83 5.26S78.33 22.91 71.29 44a41.67 41.67 0 0 0-2.44 11.81 17.66 17.66 0 0 0 1.77 8.78A25.53 25.53 0 0 0 78 72.91a36.17 36.17 0 0 0 11.21 5.67l5 1.42c2.63.76 5.7 1.66 7.65 2.25a15.5 15.5 0 0 1 3.53 1.49 7.07 7.07 0 0 1 2.8 2.83 6.26 6.26 0 0 1 .67 2.72 8.86 8.86 0 0 1-.52 3.16 8.58 8.58 0 0 1-5.23 5.82C100.3 99.39 96.2 99.75 90 99.8H12.28L0 133.54h83.16c7.82 0 22.13 0 35.88-5.85s26.96-17.51 32.51-40.87c2.1-8.78 1.45-15.93-2-21.55s-9.69-9.69-18.78-12.3l-4.43-1.28-6.54-1.88a8.78 8.78 0 0 1-5.17-3.72 7.33 7.33 0 0 1-.77-5.91 8.65 8.65 0 0 1 4.33-5.18 17.46 17.46 0 0 1 8.41-1.87h48.34c.34-.49.65-1 1-1.52a106.73 106.73 0 0 1 31.22-29.73zm217.27 0c-21.51 0-37.52 10.88-45.09 31.25l-36.54 100.4h40l18.78-51.61h35.38l10.07-27.64h-35.26l5.68-16a8.44 8.44 0 0 1 8.15-5.15h41.71c.35-.5.66-1 1-1.52 8.83-12.49 21.33-22.6 33-29.74h-76.88zM534.65 2l-47.94 131.62h40.72l17.42-46.35c.85 1.91 11.13 46.35 11.13 46.35h42.82S591 101 585.29 87.78a72.24 72.24 0 0 0-5.06-10.37c12.09-4.49 29.62-14.14 36.87-33.69 4.46-12 4.2-21.73-.75-28.85C610.34 6.22 598.12 2 579 2zm83.52 0a32.91 32.91 0 0 1 6.65 7c4.74 6.83 6.55 14.94 5.47 24.24h24.25L618 133.65h36.5l36.57-100.43H738L749.36 2zm-56.69 27.14h6.72c12.29 0 16.87 3.6 12.71 14.82C577 54.48 570 61 556.63 61h-7l11.81-31.84zm-323.26.65c12.51 0 15.37 7.27 4.39 37.31-11.28 30.88-19.47 38.66-31.8 38.66-12 0-16.22-7.61-5-38.35 8.39-22.95 19.26-37.62 32.41-37.62zm218.25 0c12.5 0 15.37 7.27 4.38 37.31-11.25 30.9-19.45 38.66-31.77 38.66-12 0-16.21-7.61-5-38.35 8.38-22.95 19.26-37.62 32.4-37.62z"></path><path class="cls-2-sf" d="M39.59 147.49a9.93 9.93 0 0 0-5.76 1.38 10.41 10.41 0 0 0-3.22 5c-.84 2.3-1 3.89-.38 4.8S32.38 160 35 160s4.53-.47 5.79-1.42a10.42 10.42 0 0 0 3.21-4.93c.85-2.33 1-3.93.42-4.83s-2.2-1.33-4.83-1.33zm22.08 0c-2.6 0-4.52.47-5.79 1.38a10.45 10.45 0 0 0-3.2 5c-.83 2.3-1 3.89-.41 4.8S54.41 160 57 160s4.52-.47 5.82-1.42a10.39 10.39 0 0 0 3.18-4.93c.85-2.33 1-3.93.39-4.83s-2.13-1.33-4.72-1.33zm412.12 17.13a35.34 35.34 0 0 0-8.94 1.16 30.32 30.32 0 0 0-8.25 3.51 29.13 29.13 0 0 0-6.85 5.91 26.79 26.79 0 0 0-4.74 8.26 18.33 18.33 0 0 0-1.34 7 11.64 11.64 0 0 0 1.31 5.08 11.86 11.86 0 0 0 3.08 3.69 28.08 28.08 0 0 0 4.09 2.75c1.46.81 2.88 1.59 4.27 2.3a19.94 19.94 0 0 1 3.57 2.33 7 7 0 0 1 2.13 2.82 5.31 5.31 0 0 1-.17 3.81 12 12 0 0 1-5 6.11 14.55 14.55 0 0 1-3.85 1.65 17.33 17.33 0 0 1-4.55.58 19.62 19.62 0 0 1-6.19-.84 20.36 20.36 0 0 1-4.15-1.84 20.89 20.89 0 0 1-2.63-1.84 2.91 2.91 0 0 0-1.71-.83 1.92 1.92 0 0 0-1 .28 3.11 3.11 0 0 0-.94.93 10.84 10.84 0 0 0-1 1.72c-.32.7-.69 1.59-1.06 2.62a19.07 19.07 0 0 0-1 3.56 2.77 2.77 0 0 0 .25 1.9 6.08 6.08 0 0 0 1.59 1.52 14.67 14.67 0 0 0 3.11 1.64 27.13 27.13 0 0 0 4.64 1.34 30.49 30.49 0 0 0 6.1.55 38.08 38.08 0 0 0 9.87-1.31 34.24 34.24 0 0 0 9.1-3.92 31.8 31.8 0 0 0 7.57-6.49 29 29 0 0 0 5.21-9 17.72 17.72 0 0 0 1.28-6.84 11.6 11.6 0 0 0-1.35-5.05 12.11 12.11 0 0 0-3.16-3.69 31.92 31.92 0 0 0-4.16-2.75c-1.45-.81-2.89-1.57-4.31-2.3a21.49 21.49 0 0 1-3.67-2.33 6.7 6.7 0 0 1-2.16-2.82A5.36 5.36 0 0 1 459 182a10.36 10.36 0 0 1 1.55-2.78A9.55 9.55 0 0 1 463 177a12.16 12.16 0 0 1 3.23-1.46 14.12 14.12 0 0 1 4-.53 15.42 15.42 0 0 1 4.86.68 18.57 18.57 0 0 1 3.53 1.52 22.85 22.85 0 0 1 2.42 1.54 2.9 2.9 0 0 0 1.51.7 1.69 1.69 0 0 0 1-.3 3.3 3.3 0 0 0 .86-1 14.63 14.63 0 0 0 .85-1.67c.29-.66.63-1.49 1-2.47s.57-1.62.74-2.2a10.17 10.17 0 0 0 .36-1.47 3.76 3.76 0 0 0 0-.94 2.41 2.41 0 0 0-.37-.86 5.07 5.07 0 0 0-1.61-1.26 17 17 0 0 0-3.1-1.37 25.11 25.11 0 0 0-4-1 27.84 27.84 0 0 0-4.52-.36zm209.78 0a46.85 46.85 0 0 0-14.88 2.38 47.39 47.39 0 0 0-13.23 6.84 51.78 51.78 0 0 0-10.82 10.86 56.7 56.7 0 0 0-7.64 14.47 40.33 40.33 0 0 0-2.78 13.91 19 19 0 0 0 2.76 10.41 17.18 17.18 0 0 0 8.12 6.52 34.25 34.25 0 0 0 13.19 2.24q2.69 0 5.42-.25t5.53-.76c1.87-.34 3.68-.74 5.47-1.22s3.31-.92 4.56-1.36a6.39 6.39 0 0 0 2.83-1.8 8.87 8.87 0 0 0 1.49-2.65l9.47-26a6 6 0 0 0 .39-1.8 2.65 2.65 0 0 0-.24-1.34 1.84 1.84 0 0 0-.81-.83 2.83 2.83 0 0 0-1.4-.24h-22a1.7 1.7 0 0 0-.91.29 3.67 3.67 0 0 0-.92.86 8.65 8.65 0 0 0-.94 1.54 22.72 22.72 0 0 0-1 2.36 10.9 10.9 0 0 0-.91 3.87c.07.76.4 1.14 1 1.14h12.38l-5.52 15.15a22.89 22.89 0 0 1-4.59 1.52 22 22 0 0 1-4.58.51 18.77 18.77 0 0 1-7.78-1.46 10.25 10.25 0 0 1-4.86-4.35 13.89 13.89 0 0 1-1.57-7.14 30.88 30.88 0 0 1 2.11-9.88 38.86 38.86 0 0 1 4.86-9.32 34.78 34.78 0 0 1 6.81-7.23 30.55 30.55 0 0 1 8.26-4.64 28.47 28.47 0 0 1 16.66-.73 30.29 30.29 0 0 1 5.07 2 20.32 20.32 0 0 1 3.17 2 3.32 3.32 0 0 0 1.8.91 1.69 1.69 0 0 0 .87-.25 3.36 3.36 0 0 0 .88-.88 11.61 11.61 0 0 0 1-1.7 24.7 24.7 0 0 0 1-2.52 19.38 19.38 0 0 0 1.08-3.81 3.07 3.07 0 0 0-.25-2 6.49 6.49 0 0 0-1.79-1.67 16.06 16.06 0 0 0-3.68-1.79 33.19 33.19 0 0 0-5.57-1.41 42.8 42.8 0 0 0-7.51-.71zm-413 .81c-1.72 0-3.07 0-4.06.14a4.93 4.93 0 0 0-2.32.68 2.82 2.82 0 0 0-1.15 1.59 16.12 16.12 0 0 0-.54 2.86l-5.91 57a5.55 5.55 0 0 0 0 1.95 1.71 1.71 0 0 0 1.06 1.11 8.35 8.35 0 0 0 2.57.51q1.7.12 4.62.12c1.86 0 3.36 0 4.52-.12a11 11 0 0 0 2.88-.53 4.8 4.8 0 0 0 1.85-1.13 9.57 9.57 0 0 0 1.4-1.9l25-41.42h.1L296 227.76a4.9 4.9 0 0 0 0 1.95 1.68 1.68 0 0 0 1.06 1.11 8.34 8.34 0 0 0 2.57.51q1.7.12 4.58.12c1.71 0 3.15 0 4.29-.12a13 13 0 0 0 2.91-.51 5.25 5.25 0 0 0 2-1.11 8.7 8.7 0 0 0 1.55-1.95l35.7-56.87a28 28 0 0 0 1.61-3 1.8 1.8 0 0 0 .11-1.65 2 2 0 0 0-1.54-.68 32.49 32.49 0 0 0-3.41-.14q-2.38 0-3.74.14a8.08 8.08 0 0 0-2.19.45 3 3 0 0 0-1.28.91 10.06 10.06 0 0 0-.91 1.39l-29.63 49.91h-.1l5.76-49.71a4.73 4.73 0 0 0 0-1.62 1.38 1.38 0 0 0-.8-.93 5.86 5.86 0 0 0-2.06-.43c-.94-.07-2.21-.11-3.83-.11s-2.75 0-3.69.14a9.18 9.18 0 0 0-2.31.45 3.54 3.54 0 0 0-1.45.93 9.65 9.65 0 0 0-1.1 1.56l-30 49.71h-.05l6.75-50.06a4.73 4.73 0 0 0 .13-1.49 1 1 0 0 0-.66-.81 5.82 5.82 0 0 0-2-.36c-.91-.05-2.15-.08-3.74-.08zm157.64 0a29.76 29.76 0 0 0-3.24.15 14.49 14.49 0 0 0-2.19.41 3.58 3.58 0 0 0-1.35.66 2.27 2.27 0 0 0-.67.91l-22.46 61.73a1.16 1.16 0 0 0 0 .92 1.36 1.36 0 0 0 .84.65 8.23 8.23 0 0 0 1.9.41 27.29 27.29 0 0 0 3.15.15 30.51 30.51 0 0 0 3.29-.15 12 12 0 0 0 2.16-.41 3.75 3.75 0 0 0 1.34-.65 2.2 2.2 0 0 0 .65-.92l22.47-61.73a1.14 1.14 0 0 0 0-.91 1.4 1.4 0 0 0-.85-.66 8.77 8.77 0 0 0-1.87-.41 27.42 27.42 0 0 0-3.18-.15zm-404.14 0a30.43 30.43 0 0 0-3.29.15 14.52 14.52 0 0 0-2.19.41 3.27 3.27 0 0 0-1.32.66 2.25 2.25 0 0 0-.64.91L2.19 207.35A30.94 30.94 0 0 0 0 218.28a13.5 13.5 0 0 0 2.34 7.8 13.25 13.25 0 0 0 6.59 4.68 31.48 31.48 0 0 0 10.5 1.54 42.22 42.22 0 0 0 12.24-1.72 35 35 0 0 0 18.43-13 42.38 42.38 0 0 0 5.69-10.76l14.27-39.2a1.22 1.22 0 0 0 0-.91 1.25 1.25 0 0 0-.82-.66 8.81 8.81 0 0 0-1.85-.41 26 26 0 0 0-3.11-.15 30.51 30.51 0 0 0-3.26.15 14 14 0 0 0-2.19.41 3.31 3.31 0 0 0-1.3.66 2.23 2.23 0 0 0-.63.91l-14.3 39.33a26.14 26.14 0 0 1-3.17 6.14 21 21 0 0 1-4.31 4.54 18.09 18.09 0 0 1-5.22 2.81 18.43 18.43 0 0 1-5.94 1 13.13 13.13 0 0 1-5.25-.94 6.91 6.91 0 0 1-3.27-2.8 8.64 8.64 0 0 1-1-4.73 22.09 22.09 0 0 1 1.5-6.74L30 167.6a1.17 1.17 0 0 0 0-.91 1.38 1.38 0 0 0-.85-.66 9 9 0 0 0-1.87-.41 26.73 26.73 0 0 0-3.13-.15zm490.1 0a30.48 30.48 0 0 0-3.29.15 13.69 13.69 0 0 0-2.19.4 3.58 3.58 0 0 0-1.33.66 2.31 2.31 0 0 0-.63.91l-14.46 39.75a30.78 30.78 0 0 0-2.18 10.94 13.44 13.44 0 0 0 2.33 7.8 13.28 13.28 0 0 0 6.6 4.68 31.47 31.47 0 0 0 10.5 1.54 42.31 42.31 0 0 0 12.24-1.72 35.06 35.06 0 0 0 18.43-13 42.75 42.75 0 0 0 5.69-10.76l14.27-39.2a1.24 1.24 0 0 0 0-.91 1.31 1.31 0 0 0-.81-.66 8.43 8.43 0 0 0-1.85-.4 26.08 26.08 0 0 0-3.1-.15 30.6 30.6 0 0 0-3.26.15 13.22 13.22 0 0 0-2.19.4 3.48 3.48 0 0 0-1.3.66 2.31 2.31 0 0 0-.63.91l-14.31 39.37a26.43 26.43 0 0 1-3.17 6.14 21.18 21.18 0 0 1-4.31 4.54 17.89 17.89 0 0 1-5.22 2.8 18.34 18.34 0 0 1-6 1 13.25 13.25 0 0 1-5.24-.94 6.93 6.93 0 0 1-3.28-2.8 8.59 8.59 0 0 1-1-4.73 21.87 21.87 0 0 1 1.5-6.74l14-38.59a1.16 1.16 0 0 0 0-.91 1.42 1.42 0 0 0-.84-.66 8.57 8.57 0 0 0-1.87-.4 26.79 26.79 0 0 0-3.13-.15zm113.59.1c-1.22 0-2.22 0-3 .13a8.37 8.37 0 0 0-2 .43 4 4 0 0 0-1.26.7 2.23 2.23 0 0 0-.63.91l-11.17 30.66q-1.26 3.49-2.58 7.32t-2.45 7.38h-.05c-.12-1.35-.24-2.69-.4-4s-.3-2.72-.47-4.12-.36-2.79-.57-4.19-.43-2.82-.64-4.27l-4-23.89a18.68 18.68 0 0 0-.67-3.31 5.19 5.19 0 0 0-1.18-2.09 4.4 4.4 0 0 0-2-1.1 12.07 12.07 0 0 0-3.11-.32h-7.12a7 7 0 0 0-3.84 1.19 6.88 6.88 0 0 0-2.68 3.57l-21.38 58.75a1.57 1.57 0 0 0-.09.91 1.2 1.2 0 0 0 .67.67 5.67 5.67 0 0 0 1.67.44 22.49 22.49 0 0 0 2.87.15 26.22 26.22 0 0 0 3-.15 9.67 9.67 0 0 0 2-.44 3.53 3.53 0 0 0 1.21-.67 2.52 2.52 0 0 0 .6-.91l12.46-34.2c.93-2.56 1.8-5 2.61-7.45s1.59-4.83 2.34-7.25h.1c0 2 .18 4 .39 6.14s.45 4.06.73 5.88l5.13 30.6a36.18 36.18 0 0 0 .77 4.12 7.13 7.13 0 0 0 1.18 2.52 3.82 3.82 0 0 0 1.9 1.29 10.08 10.08 0 0 0 2.94.35h5.65a7.6 7.6 0 0 0 2-.28 6.53 6.53 0 0 0 1.94-.88 7.87 7.87 0 0 0 1.63-1.51 7.14 7.14 0 0 0 1.15-2.08l21.39-58.75a1.5 1.5 0 0 0 .08-.91 1.22 1.22 0 0 0-.63-.7 4.32 4.32 0 0 0-1.64-.43 26.06 26.06 0 0 0-2.82-.13zm-471.63.2a5.68 5.68 0 0 0-3.17 1 6.29 6.29 0 0 0-2.3 3.21l-20.74 57c-.54 1.49-.54 2.55 0 3.21a2.93 2.93 0 0 0 2.44 1h32.83a1.87 1.87 0 0 0 .94-.29 3.33 3.33 0 0 0 .94-.88 9.38 9.38 0 0 0 1-1.59c.32-.66.66-1.47 1-2.45s.6-1.8.77-2.45a6 6 0 0 0 .2-1.6 1.31 1.31 0 0 0-.31-.88 1 1 0 0 0-.73-.27h-23.55l6.71-18.44h19.75a1.92 1.92 0 0 0 .93-.26 3.19 3.19 0 0 0 .93-.83 8.07 8.07 0 0 0 .94-1.54 22.84 22.84 0 0 0 1-2.43 20.49 20.49 0 0 0 .75-2.4 5.21 5.21 0 0 0 .19-1.56 1.27 1.27 0 0 0-.32-.86 1 1 0 0 0-.73-.28h-19.74l5.8-16H185a1.7 1.7 0 0 0 .91-.28 3.7 3.7 0 0 0 .93-.88 9.12 9.12 0 0 0 1-1.59 23.48 23.48 0 0 0 1-2.4 22.64 22.64 0 0 0 .79-2.5 6.49 6.49 0 0 0 .21-1.62 1.25 1.25 0 0 0-.29-.88 1 1 0 0 0-.71-.26h-32.68zm54.82 0a5.65 5.65 0 0 0-3.16 1 6.25 6.25 0 0 0-2.3 3.21l-21.6 59.36a1.26 1.26 0 0 0 0 .91 1.28 1.28 0 0 0 .83.66 8.37 8.37 0 0 0 1.9.41 27.2 27.2 0 0 0 3.15.15 30.36 30.36 0 0 0 3.29-.15 12.65 12.65 0 0 0 2.17-.41 3.58 3.58 0 0 0 1.33-.66 2.16 2.16 0 0 0 .66-.91l9.06-24.91h4.15a8 8 0 0 1 3.5.66A4.91 4.91 0 0 1 216 207a9.12 9.12 0 0 1 1.08 3.21c.21 1.28.36 2.74.48 4.39l.54 14.59a3 3 0 0 0 .12 1 1.33 1.33 0 0 0 .79.71 5.9 5.9 0 0 0 1.85.38c.82.07 1.93.11 3.35.11 1.68 0 3 0 4-.11a11.46 11.46 0 0 0 2.35-.35 2.64 2.64 0 0 0 1.19-.63 2.83 2.83 0 0 0 .54-.94 5.5 5.5 0 0 0 .25-1.39c0-.59.05-1.52 0-2.8l-.82-12.88a31.71 31.71 0 0 0-.45-4.17 15.33 15.33 0 0 0-1-3.29 8.42 8.42 0 0 0-1.53-2.45 8.57 8.57 0 0 0-2.13-1.72 32.28 32.28 0 0 0 6.33-2.53 27 27 0 0 0 5.33-3.69 25.23 25.23 0 0 0 4.21-4.82 27.74 27.74 0 0 0 3-6 19.42 19.42 0 0 0 1.35-6.9 9.51 9.51 0 0 0-5.54-8.75 20.39 20.39 0 0 0-6.4-1.93c-.87-.1-1.84-.18-2.94-.25s-2.49-.11-4.2-.11H211zm159.61 0a5.66 5.66 0 0 0-3.17 1 6.25 6.25 0 0 0-2.3 3.21l-20.74 57c-.54 1.49-.55 2.55 0 3.21a3 3 0 0 0 2.45 1h32.83a1.83 1.83 0 0 0 .94-.29 3.15 3.15 0 0 0 .94-.88 8.12 8.12 0 0 0 1-1.59 24.75 24.75 0 0 0 1-2.45 24.1 24.1 0 0 0 .77-2.45 6 6 0 0 0 .19-1.6 1.28 1.28 0 0 0-.31-.88 1 1 0 0 0-.73-.27h-23.56l6.71-18.44h19.75a1.89 1.89 0 0 0 .93-.26 3.11 3.11 0 0 0 .94-.83 8.47 8.47 0 0 0 .94-1.54 24.56 24.56 0 0 0 1-2.43 21.75 21.75 0 0 0 .74-2.4 5.26 5.26 0 0 0 .2-1.56 1.31 1.31 0 0 0-.32-.86 1 1 0 0 0-.73-.28h-19.76l5.81-16h23.33a1.76 1.76 0 0 0 .92-.28 3.68 3.68 0 0 0 .92-.88 8.28 8.28 0 0 0 1-1.59 21.76 21.76 0 0 0 1-2.4 22.37 22.37 0 0 0 .78-2.5 6.14 6.14 0 0 0 .21-1.62 1.26 1.26 0 0 0-.29-.88 1 1 0 0 0-.72-.26h-32.65zm-277.11 0a5.66 5.66 0 0 0-3.17 1A6.23 6.23 0 0 0 88 170l-20.74 57c-.54 1.48-.55 2.55 0 3.2a2.94 2.94 0 0 0 2.45 1h17.34a51.46 51.46 0 0 0 7.32-.48 40.54 40.54 0 0 0 6.58-1.49 35.78 35.78 0 0 0 6.12-2.57 29.26 29.26 0 0 0 5.4-3.73 28.5 28.5 0 0 0 4.47-5 26.8 26.8 0 0 0 3.26-6.31 17.17 17.17 0 0 0 1.18-6 10.52 10.52 0 0 0-1.06-4.67 8.57 8.57 0 0 0-2.91-3.26 12.12 12.12 0 0 0-4.48-1.77 22.44 22.44 0 0 0 4.64-2.12 22.68 22.68 0 0 0 4-3 22.21 22.21 0 0 0 3.15-3.81 21.89 21.89 0 0 0 2.24-4.47 16.21 16.21 0 0 0 1.17-7.37 8.35 8.35 0 0 0-2.49-5.18 13.13 13.13 0 0 0-5.91-3.06 39.24 39.24 0 0 0-9.8-1zm5.48 9.95h6.72a15.46 15.46 0 0 1 4.72.56 5.21 5.21 0 0 1 2.48 1.59 4.14 4.14 0 0 1 .87 2.6A9.83 9.83 0 0 1 113 184a14.11 14.11 0 0 1-1.78 3.36 13 13 0 0 1-2.71 2.78A12.6 12.6 0 0 1 105 192a15 15 0 0 1-4.85.69h-7.39zm117.68.2h6a31.15 31.15 0 0 1 3.51.16 16.21 16.21 0 0 1 2.14.39c2 .62 3.22 1.65 3.66 3.14a8.84 8.84 0 0 1-.52 5.45 14.12 14.12 0 0 1-2.11 3.84 13.28 13.28 0 0 1-3.2 3 15.4 15.4 0 0 1-4.24 1.92 18.77 18.77 0 0 1-5.2.68h-6.77zM89.23 202.4h7.88a19.25 19.25 0 0 1 5.67.66 6.58 6.58 0 0 1 3.07 1.87 5 5 0 0 1 1.12 3 10.17 10.17 0 0 1-.72 4.06 12.93 12.93 0 0 1-2.18 3.87 13.71 13.71 0 0 1-3.21 2.82 14.55 14.55 0 0 1-3.91 1.72 18.2 18.2 0 0 1-4.87.57h-9.6z"></path></g></g></symbol>
    </svg>
