.account-page
  main
    .account-page__two-parts-wrapper
      margin-top: 40px
    h1
      margin-top: 60px
      margin-bottom: 40px
      font-family: "MontserratSemiBold", sans-serif
      font-size: 16px
      line-height: 1.25
      text-transform: uppercase
      text-align: center
    .account-page__left-part
      .account-page__hello
        min-height: 75px
        padding: 25px 30px 25px
        background-color: #f7f7f7
        font-size: 20px
        @media (max-width: 991px)
          text-align: center
        span
          font-family: "MontserratSemiBold", sans-serif
      #account-page__list-tab
        margin-top: 20px
        margin-bottom: 140px
        #list-orders-list
          margin-top: 20px
          margin-bottom: 20px
    .list-group #list-profile-list:after, .list-group #list-payment-list:after
      z-index: 2
    .list-group
      a
        @media (max-width: 370px)
          padding-left: 70px
    /* ============================================================================
     * Profile and settings
     * ============================================================================ */
    .account-page__right-part
      margin-bottom: 140px
      .tab-content
        padding: 40px 30px
      .list-profile
        @media (max-width: 1199px)
          padding: 40px 25px
      #nav-tabContent
        //padding: 40px 30px
        background-color: #f7f7f7
        box-sizing: border-box
        // @media (max-width: 1199px)
        //   padding: 40px 25px
        h4
          margin-bottom: 35px
          font-family: "MontserratSemiBold", sans-serif
          font-size: 25px
          margin-left: 80px
          @media (max-width: 275px)
            margin-left: 0
        .account-page__right-head-p
          padding-bottom: 30px
          font-size: 12px
          line-height: 20px
          border-bottom: 1px solid #bfbfbf
          margin-bottom: 30px
        .grey-form__with-left-line
          form
            input
              width: 100%
            button
              margin-top: 30px
              width: 100%
        form.grey-form
          padding-right: 110px
          @media (max-width: 1199px)
            padding-right: 0
          .grey-form__date-pick
            display: flex
            justify-content: space-between
            @media (max-width: 470px)
              flex-wrap: wrap
              justify-content: flex-start
            .form-group
              @media (max-width: 470px)
                width: 100%
            .account-page__select-day
              width: 80px
            //#account-page__select-month,
            .account-page__select-month
              width: 205px
              //margin-left: 10px
            //#account-page__select-year,
            .account-page__select-year
              width: 95px
              //margin-left: 10px
          .custom-control-inline
            margin-right: 0
            label[for='account-page__radio-female']
              border-right: 1px solid #bfbfbf
              @media (max-width: 293px)
                border: none
            #account-page__radio-female ~ label
              padding-right: 30px
              margin-right: 30px
          hr
            margin-top: 10px
            margin-bottom: 30px
          hr.account-page__unsubscribe
            margin-top: 40px
        /* ============================================================================
         * Payment Methods
         * ============================================================================ */
        .btn-primary
          height: 40px
          width: 210px
          margin-top: 14px
          margin-bottom: 40px
        button.account-page__payment-add-new
          margin-top: 0
          margin-bottom: 40px
          @media (max-width: 767px)
            width: 100%
        button.first-add
          margin-bottom: 0
        .account-page__payment-add
          form
            padding-right: 30px
            @media (max-width: 767px)
              padding-right: 0
            #account-page__payment-name-add,
            #account-page__payment-card-add
              // max-width: 310px
              // @media (max-width: 767px)
              //   max-width: 100%
            // button
            //   @media (max-width: 1199px)
            //     width: 100%
            button.btn-cancel
              @media (max-width: 1199px)
                margin-left: 0!important
                margin-top: 30px
        h6
          margin-bottom: 40px
          font-family: "MontserratSemiBold", sans-serif
          font-size: 14px
          text-transform: uppercase
        .btn-primary
          margin-top: 40px
          margin-bottom: 10px
          width: 180px
          @media (max-width: 767px)
              width: 100%
        input
          width: 100%
          // width: 310px
          // @media (max-width: 767px)
          //   width: 100%
        .account-page__number-expiration
          display: flex
          @media (max-width: 1199px)
            flex-direction: column
          @media (max-width: 991px)
            flex-direction: row
          @media (max-width: 767px)
            flex-direction: column
          #account-page__payment-card-expiration
            max-width: 135px
          .account-page__payment-card-expiration
            margin-left: 30px
            @media (max-width: 1199px)
              margin-left: 0
              margin-bottom: 0
            @media (max-width: 991px)
              margin-left: 30px
            @media (max-width: 767px)
              margin-left: 0
          .account-page__payment-card-img-wrapper
            margin-top: 15px
            svg
              height: 20px
              width: 32px
              margin-right: 10px
          

        .account-page__payment-ready
          h6
            margin-bottom: 40px
            font-family: "MontserratSemiBold", sans-serif
            font-size: 14px
            text-transform: uppercase
          .account-page__select-card
            display: flex
            align-items: center
            @media (max-width: 1199px)
              flex-direction: column
              align-items: flex-start
            @media (max-width: 991px)
              flex-direction: row
              align-items: center
            @media (max-width: 400px)
              flex-direction: column
              align-items: flex-start
            select
              width: 210px
              margin-right: 20px
              @media (max-width: 400px)
                width: auto
            p
              margin-bottom: 0
              color: #bfbfbf
              font-size: 12px
              @media (max-width: 1199px)
                margin-top: 15px
              @media (max-width: 991px)
                margin-top: 0
              @media (max-width: 400px)
                margin-top: 15px
        .account-page__card-items,
        .account-page__shipping-address-items
          margin: 40px -15px -20px
          overflow: hidden
          display: flex
          flex-wrap: wrap
          @media (max-width: 1199px)
            margin: 15px -15px -20px
          @media (max-width: 991px)
            margin: 40px -15px -20px
          @media (max-width: 767px)
            margin: 40px -10px -20px
          @media (max-width: 400px)
            margin: 15px -10px -20px
        .account-page__card-item,
        .account-page__shipping-address-item
          padding: 20px 20px 40px
          margin-right: 15px
          margin-left: 15px
          margin-bottom: 30px
          box-sizing: border-box
          //height: 235px
          width: 240px
          background-color: #e8e8e8
          @media (max-width: 767px)
            width: 225px
            margin-right: 10px
            margin-left: 10px
          .btn-primary
            display: inline-block
            height: auto
            width: auto
            padding: 10px 15px
            font-size: 12px
            margin: 0
          .account-page__item-text
            margin-top: 15px
            margin-bottom: 0
          .account-page__item-edit
            margin-top: 25px
            display: flex
            a
              margin-bottom: 0
              color: #a6a6a6
              font-size: 12px
            a:first-of-type
              padding-right: 20px
              margin-right: 20px
              //border-right: 1px solid #a6a6a6
        /* ============================================================================
         * shipping address
         * ============================================================================ */
        .account-page__shipping-adress-new
          @media (max-width: 991px)
            max-width: 390px
          @media (max-width: 767px)
            max-width: 470px
            margin-left: -5px
            margin-right: -5px
          button
            margin-top: 0
        .account-page__shipping-address-add
          @media (max-width: 991px)
            max-width: 510px
          @media (max-width: 767px)
            max-width: 465px
          form.grey-form
            padding-right: 0
            input
              width: 100%
        .account-page__address-input
          margin-bottom: 15px
        .account-page__address-input-add-remove
          margin-top: 15px
          display: flex
          justify-content: space-between
          .account-page__add-address-line,
          .account-page__remove-address-line
            margin-bottom: 24px
            font-size: 12px
            color: #bfbfbf
          .account-page__remove-address-line
            visibility: hidden
        .account-page__city-zip
          display: flex
          justify-content: space-between
          @media (max-width: 450px)
            flex-direction: column
          .form-group
            input
              width: 240px!important
              @media (max-width: 1199px)
                width: 180px!important
              @media (max-width: 991px)
                width: 240px!important
              @media (max-width: 768px)
                width: 180px!important
        .account-page__shipping-address-ready
          @media (max-width: 991px)
            max-width: 510px
          @media (max-width: 767px)
            max-width: auto
            margin-right: -5px
            margin-left: -5px
          .account-page__shipping-address-add-new
            margin-top: 0
            margin-bottom: 40px
          h6
            margin-bottom: 25px
          .account-page__select-home
            .grey-form
              display: flex
              align-items: center
              @media (max-width: 1199px)
                flex-direction: column
                align-items: flex-start
              @media (max-width: 991px)
                flex-direction: row
                align-items: center
              @media (max-width: 450px)
                flex-wrap: wrap
            p
              font-size: 12px
              color: #bfbfbf
              margin-left: 30px
              margin-bottom: 0
              @media (max-width: 1199px)
                margin-left: 0
                margin-top: 15px
              @media (max-width: 991px)
                margin-left: 30px
                margin-top: 0
              @media (max-width: 450px)
                margin-left: 0
                margin-top: 15px
            select
              max-width: 210px
          .account-page__item-text
            font-size: 14px
        /* ============================================================================
         * my orders
         * ============================================================================ */
        .account-page__wrapper-orders
          margin-bottom: -30px
        .account-page__orders-new
          @media (max-width: 991px)
            max-width: 510px
          @media (max-width: 767px)
            max-width: auto
            margin-left: -5px
            margin-right: -5px
          button.account-page__orders-new
            @media (max-width: 1199px)
              margin-top: 25px
            // @media (max-width: 991px)
            //   margin-top: 40px
          .account-page__oops
            margin-top: 0
            margin-bottom: 0
            font-family: "MontserratSemiBold", sans-serif
            font-size: 14px
            line-height: 21px
            text-transform: uppercase
        .account-page__orders-now
          margin-top: 30px
          @media (max-width: 991px)
            max-width: 510px
          @media (max-width: 767px)
            max-width: auto
            margin-left: -5px
            margin-right: -5px
          .account-page__wrapper-order
            padding: 30px 20px
            margin-bottom: 30px
            line-height: 21px
            background-color: #ededed
            header
              display: flex
              margin-bottom: 25px
              @media (max-width: 365px)
                flex-wrap: wrap
              .account-page__order-main-info
                font-size: 12px
                text-transform: uppercase
                width: 80%
                margin-right: 30px
              .account-page__order-status
                color: #49cd91
                text-align: left
            .account-page__order-body
              margin-bottom: 15px
              display: flex
              @media (max-width: 365px)
                flex-wrap: wrap
              .account-page__order-inside
                margin-right: 30px
                display: flex
                justify-content: space-between
                width: 80%
                .account-page__name
                  width: 85%
          .account-page__order-shipping
            margin-bottom: 15px
          .account-page__order-total
            margin-bottom: 30px
          .account-page__order-shipping,
          .account-page__order-total
            display: flex
            .account-page__order-shipping-name,
            .account-page__order-total-name
              width: 80%
              margin-right: 30px
              text-align: right
          .account-page__order-pdf-wrapper
            position: relative
            .account-page__order-pdf
              font-size: 12px
              color: #8c8c8c
              margin-left: 40px
            .svg-pdf
              height: 26px
              width: 28px
              position: absolute
              left: 0
              bottom: 0
        /* ============================================================================
         * logout
         * ============================================================================ */
    .list-group-item
      position: relative
      display: block
      @media (max-width: 370px)
        font-size: 14px
      &::before
        position: absolute
        height: 23px
        width: 25px
        left: 30px
        top: 50%
        transform: translateY(-50%)
    #list-logout-list
      &::before
        content: url('../img/svg/logout.svg')
    #list-orders-list
      &::before
        content: url('../img/svg/orders.svg')
    #list-payment-list
      &::before
        content: url('../img/svg/paymentmethod.svg')
    #list-profile-list
      &::before
        content: url('../img/svg/profile.svg')
    #list-shipping-adress-list
      &::before
        content: url('../img/svg/shippingaddress.svg')
    #list-profile,
    #list-payment,
    #list-shipping-adress,
    #list-orders
      h4
        position: relative
        &::before
          content: url('../img/svg/profile.svg')
          height: 40px
          width: 46px
          position: absolute
          left: -76px
          top: -5px
          @media (max-width: 301px)
            top: 10px
          @media (max-width: 275px)
            display: none
    #list-payment
      //padding-left: 5px
      //padding-right: 5px
      h4
        &::before
          content: url('../img/svg/paymentmethod.svg')
          height: 37px
          width: 51px
          top: -8px
    #list-shipping-adress
      h4
        position: relative
        &::before
          content: url('../img/svg/shippingaddress.svg')
          height: 35px
          width: 36px
    #list-orders
      h4
        position: relative
        &::before
          content: url('../img/svg/orders.svg')
          height: 33px
          width: 36px


  /* adaptive */
  #account-page__list-tab
    @media (max-width: 991px)
      display: none
  h2
    font-size: 16px
    text-transform: uppercase
    font-family: "MontserratSemiBold", sans-serif
    text-align: center
    margin-top: 60px
    margin-bottom: 40px
    display: none
    position: relative
    cursor: pointer
    @media (max-width: 991px)
      display: block
  a.back-to-menu
    text-decoration: none
  .back-adaptive-menu
    height: 17px
    width: 10px
    transform: rotate(180deg)
    position: absolute
    left: 0
    top: 0
