extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - 404"
  - var headKeywords = "lashes, Infinity Lashes, 404"
  include common/head

block vars
  - var title = "Infinity Lashes - 404" //120 символов
  - var bodyClass = "wrong-page"

block content
  include 404/404