extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - About us page"
  - var headKeywords = "lashes, Infinity Lashes, about us, our story"
  include common/head

block vars
  - var title = "Infinity Lashes - Our story" //120 символов
  - var bodyClass = "about-us-page"

block content
  include about_us/1_header
  include about_us/2_about_us_main