extends common/layout

include common/mixins

block head
    - var headDescription = "Infinity Lashes - Academy page"
    - var headKeywords = "lashes, Infinity Lashes, academy, studying"
    include common/head

block vars
    - var title = "Infinity Lashes - Academy" //120 символов
    - var bodyClass = "academy-page"

block content
    include academy_v2/header
    include academy_v2/main