extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Account - profile and settings"
  - var headKeywords = "lashes, Infinity Lashes, account, profile, settings"
  include common/head

block vars
  - var title = "Infinity Lashes - Account - profile and settings" //120 символов
  - var bodyClass = "account-page"

block content
  include account-profile/account-profile