extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Account - payment methods"
  - var headKeywords = "lashes, Infinity Lashes, account, profile, settings, payment method"
  include common/head

block vars
  - var title = "Infinity Lashes - Account - payment methods" //120 символов
  - var bodyClass = "account-page"

block content
  include account-payment/account-payment