extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Account - My orders"
  - var headKeywords = "lashes, Infinity Lashes, account, profile, settings, orders"
  include common/head

block vars
  - var title = "Infinity Lashes - Account - My orders" //120 символов
  - var bodyClass = "account-page"

block content
  include account-orders/account-orders