extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Sign in/Join"
  - var headKeywords = "Infinity Lashes, lashes, sign in, join, account"
  include common/head

block vars
  - var title = "Infinity Lashes - Sign in/Join" //120 символов
  - var bodyClass = "account-login-page"

block content
  include account_login/main