extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Account"
  - var headKeywords = "lashes, Infinity Lashes, account, profile, settings, payment, shipping address, order"
  include common/head

block vars
  - var title = "Infinity Lashes - Account" //120 символов
  - var bodyClass = "account-page"

block content
  include account/1_main