extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Account - shipping address"
  - var headKeywords = "lashes, Infinity Lashes, account, profile, settings, shipping address, address"
  include common/head

block vars
  - var title = "Infinity Lashes - Account - shipping address" //120 символов
  - var bodyClass = "account-page"

block content
  include account-shipping/account-shipping