extends common/layout

include common/mixins

block head
    - var headDescription = "Infinity Lashes - Blog article page"
    - var headKeywozrds = "lashes, Infinity Lashes, blog, article"
    include common/head

block vars
    - var title = "Infinity Lashes - Blog article" //120 символов
    - var bodyClass = "blog-article-page"

block content
    include blog-article/1_blog-article-main.pug
    include blog-article/2_blog-article-related-articles.pug