extends common/layout

include common/mixins

block head
    - var headDescription = "Infinity Lashes - Blog page"
    - var headKeywozrds = "lashes, Infinity Lashes, blog"
    include common/head

block vars
    - var title = "Infinity Lashes - Blog" //120 символов
    - var bodyClass = "blog-page"

block content
    include blog/1_blog-header.pug
    include blog/2_blog-main.pug