extends common/layout

include common/mixins

block head
    - var headDescription = "Infinity Lashes - Careers page"
    - var headKeywozrds = "lashes, Infinity Lashes, careers"
    include common/head

block vars
    - var title = "Infinity Lashes - Careers" //120 символов
    - var bodyClass = "careers-page"

block content
    include careers/1_careers-header.pug
    include careers/2_careers-main.pug