extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Cart page"
  - var headKeywords = "lashes, cart, buy, shopping"
  include common/head

block vars
  - var title = "Infinity Lashes - Cart" //120 символов
  - var bodyClass = "cart-page"

block content
  include cart-with-sets/1_main
  include cart-with-sets/2_u_may_like