extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Cart empty page"
  - var headKeywords = "lashes, cart, buy, shopping, cart"
  include common/head

block vars
  - var title = "Infinity Lashes - Cart" //120 символов
  - var bodyClass = "cart-empty"

block content
  include cart-empty/1_cart-empty