extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Change password"
  - var headKeywords = "lashes, Infinity Lashes, shop, buy lashes, password, change"
  include common/head

block vars
  - var title = "Infinity Lashes - Change password" //120 символов
  - var bodyClass = "change-pass-page"

block content
  include change-pass/1_change-pass
