extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Checkout thanks page"
  - var headKeywords = "lashes, cart, buy, shopping, checkout, thank you"
  include common/head

block vars
  - var title = "Infinity Lashes - Checkout end" //120 символов
  - var bodyClass = "checkout-thanks-page"

block header
  include checkout/1_header

block content
  include checkout-thanks/1_checkout_thanks_main
  include checkout-thanks/2_checkout_thanks_slider