extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Checkout page"
  - var headKeywords = "lashes, cart, buy, shopping, checkout"
  include common/head

block vars
  - var title = "Infinity Lashes - Checkout" //120 символов
  - var bodyClass = "checkout-page"

block header
  include checkout/1_header

block content
  include checkout/2_main