extends common/layout

include common/mixins

mixin name()
    p

block head
    - var headDescription = "Infinity Lashes - contact us page"
    - var headKeywords = "lashes, our contacts"
    include common/head

block vars
    - var title = "Infinity Lashes - contact us" //120 символов
    - var bodyClass = "contact-us-page"

block content
    include contact_us/header
    include contact_us/main