extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Cookies"
  - var headKeywords = "lashes, infinity lashes, cookies"
  include common/head

block vars
  - var title = "Infinity Lashes - Cookies" //120 символов
  - var bodyClass = "cookies-page"

block content
  include cookies/cookies