extends common/layout

include common/mixins

mixin name()
    p

block head
    - var headDescription = "Infinity Lashes - Course page"
    - var headKeywords = "lashes, Infinity Lashes, academy, studying, course"
    include common/head

block vars
    - var title = "Infinity Lashes - Course" //120 символов
    - var bodyClass = "course-page"

block content
    include course/header
    include course/main
    include course/other-courses

block scripts
    include course/scripts