extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - FAQ"
  - var headKeywords = "lashes, infinity lashes, FAQ"
  include common/head

block vars
  - var title = "Infinity Lashes - FAQ" //120 символов
  - var bodyClass = "faq-page"

block content
  include faq/faq