extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Find Studio"
  - var headKeywords = "lashes, infinity lashes, find studio, studio"
  include common/head

block vars
  - var title = "Infinity Lashes - Find Studio" //120 символов
  - var bodyClass = "find-studio-page"

block content
  include find_studio/find-studio.pug

block scripts
    include find_studio/scripts