extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Imprint page"
  - var headKeywords = "lashes, infinity lashes, imprint, limitation, copyright, contact, brand"
  include common/head

block vars
  - var title = "Infinity Lashes - Imprint" //120 символов
  - var bodyClass = "imprint-page"

block content
  include imprint/1_imprint-main.pug