extends common/layout

include common/mixins

block head
    - var headDescription = "Infinity Lashes main page"
    - var headKeywords = "lashes"
    include common/head

block vars
    - var title = "Infinity Lashes" //120 символов
    - var bodyClass = "main-page"

block content
    //include index/slider/slider
    include index/slider-owl2/slider-owl2
    include index/courses/courses
    include index/best-sellers/best-sellers
    include index/latest-article/latest-article
    include index/recommended/recommended


    //main
        p dfs



