extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Privacy Policy page"
  - var headKeywords = "lashes, infinity lashes, privacy policy "
  include common/head

block vars
  - var title = "Infinity Lashes - Privacy Policy" //120 символов
  - var bodyClass = "privacy-page"

block content
  include privacy/privacy