extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Return page"
  - var headKeywords = "lashes, infinity lashes, return, refund, terms"
  include common/head

block vars
  - var title = "Infinity Lashes - Return" //120 символов
  - var bodyClass = "return-page"

block content
  include return/1_return-main.pug