extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Search page"
  - var headKeywords = "lashes, Infinity Lashes, academy, studying, courses, search"
  include common/head

block vars
  - var title = "Infinity Lashes - Search" //120 символов
  - var bodyClass = "search-page"

block content
  include search_result/1_header
  include search_result/2_main

block scripts
  include search_result/scripts