extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Shipping info"
  - var headKeywords = "lashes, Infinity Lashes, academy, studying, course, shipping, iformation"
  include common/head

block vars
  - var title = "Infinity Lashes - Shipping info" //120 символов
  - var bodyClass = "shipping-info-page"

block content
  include shipping/1_shipping_main