extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Shop item page"
  - var headKeywords = "lashes, Infinity Lashes, shop, buy lashes"
  include common/head

block vars
  - var title = "Infinity Lashes - Shop item" //120 символов
  - var bodyClass = "shop-item-page"

block content
  include shop-item/1-shop-item-item
  include shop-item/2-shop-item-description
  include shop-item/3-shop-item-carousel-1
  include shop-item/4-shop-item-comments
  include shop-item/5-shop-item-carousel-2

block scripts
  include shop-item/scripts