extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Shop page"
  - var headKeywords = "lashes, Infinity Lashes, shop, buy lashes"
  include common/head

block vars
  - var title = "Infinity Lashes - Shop" //120 символов
  - var bodyClass = "shop-page"

block content
  include shop/main

block scripts
  include shop/scripts
