extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Shop set page"
  - var headKeywords = "lashes, Infinity Lashes, shop, buy lashes"
  include common/head

block vars
  - var title = "Infinity Lashes - Shop set" //120 символов
  - var bodyClass = "shop-set-page"

block content
  include shop-set/1-shop-set-item
  include shop-set/1-1-shop-set-accordeon
  include shop-set/2-shop-set-description
  include shop-set/3-shop-set-carousel-1
  include shop-set/4-shop-set-comments
  include shop-set/5-shop-set-carousel-2

block scripts
  include shop-set/scripts