extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Terms and Conditions page"
  - var headKeywords = "lashes, infinity lashes, Terms, Conditions"
  include common/head

block vars
  - var title = "Infinity Lashes - Terms and Conditions" //120 символов
  - var bodyClass = "terms-page"

block content
  include terms/1_terms_main.pug