extends common/layout

include common/mixins

block head
  - var headDescription = "Infinity Lashes - Trainers and distributors page"
  - var headKeywords = "lashes, infinity lashes, trainers, trainer, distributor, distributors"
  include common/head

block vars
  - var title = "Infinity Lashes - Trainers and distributors" //120 символов
  - var bodyClass = "tr-dist-page"

block content
  include trainer-distributor/1_trainer-distributor_header
  include trainer-distributor/2_trainer-distributor_main
  include trainer-distributor/3_trainer-distributor_trainer-popup
  include trainer-distributor/4_trainer-distributor_distributor-popup
