.tr-dist-page
  .tr-dist-page__main
    .tr-dist-page__info-par
      padding: 0 20px 0 20px
      text-align: center
      font-size: 16px
      line-height: 26px
      margin-top: 55px
      margin-bottom: 60px
      @media (max-width: 991px)
        padding: 0 10px 0 10px
      @media (max-width: 767px)
        padding: 0
  .tr-dist-page__blocks-wrapper
    margin-bottom: 140px
    .tr-dist-page__trainer-block-wrapper
      padding: 25px 85px 25px 15px
      border-right: 1px solid #bfbfbf
      position: relative
      &:after
        display: none
        position: absolute
        content: ''
        height: 1px
        width: 94%
        background-color: #bfbfbf
        bottom: -13px
        @media (max-width: 991px)
          display: block
        @media (max-width: 500px)
          width: 92%
        @media (max-width: 320px)
          width: 90%
      @media (max-width: 1199px)
        padding: 25px 65px 25px 15px
      @media (max-width: 991px)
        border-right: none
        padding: 25px 15px 25px 15px
        margin-bottom: 25px
    .tr-dist-page__distributor-block-wrapper
      padding: 25px 15px 25px 85px
      @media (max-width: 1199px)
        padding: 25px 15px 25px 65px
      @media (max-width: 991px)
        padding: 25px 15px 25px 15px
    .tr-dist-page__trainer-block,
    .tr-dist-page__distributor-block
      outline: 1px solid #bfbfbf
      padding: 70px 40px 40px 40px
      .trainer
        height: 100px
        width: 61px
        margin-left: 50%
        transform: translateX(-50%)
        fill: #d9d9d9
        margin-bottom: 50px
      .distribution
        height: 100px
        width: 68px
        margin-left: 50%
        transform: translateX(-50%) rotate(135deg)
        fill: #d9d9d9
        margin-bottom: 50px
      p
        text-align: center
        font-family: "MontserratSemiBold", sans-serif
        font-size: 16px
        text-transform: uppercase
        line-height: 26px
        margin-bottom: 40px
      button
        margin-left: auto
        margin-right: auto
        width: 100%
        height: 40px
        @media (max-width: 330px)
          font-size: 11px