.tr-dist-page
  #trainer-modal,
  #distributor-modal
    .modal-dialog
      max-width: 570px
      .modal-content
        padding: 95px 70px 40px
        border-radius: inherit
        @media (max-width: 575px)
          padding: 95px 30px 40px
        @media (max-width: 279px)
          padding: 95px 15px 40px
        .modal-header
          padding: 0
          flex-direction: column
          border-bottom: 1px solid #bfbfbf
          button.close
            position: absolute
            right: 45px
            top: 40px
            font-size: 50px
            font-family: "Montserrat", sans-serif
            padding: 0
            font-weight: normal
          .modal-title
            font-family: "MontserratSemiBold", sans-serif
            text-transform: uppercase
            font-size: 16px
            padding-bottom: 30px
          .trainer-black
            fill: #000000
            height: 60px
            width: 36px
            margin-bottom: 30px
          .distribution-black
            height: 65px
            width: 45px
            fill: #000000
            transform: rotate(135deg)
            margin-bottom: 30px
        .modal-body
          padding: 25px 0 0 0
        p
          font-size: 12px
          color: #8c8c8c
          line-height: 18px
          //in common now
        // .trainer-modal__attach,
        // .distributor-modal__attach
        //   margin-bottom: 25px
        //   .attach
        //     height: 16px
        //     width: 17px
        //     fill: #bfbfbf
        //   label
        //     color: #bfbfbf
        //     font-size: 14px
        //     text-decoration: underline
        //     margin-left: 10px
        //     margin-bottom: 0
        //     cursor: pointer
        //     text-transform: none
        //     font-family: "Montserrat", sans-serif
        //   #load-file-train,
        //   #load-file-dist
        //       display: none
        .modal-footer
          border: none
          padding: 0
          button
            width: 100%
            height: 40px
