#distributor-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='distributor-modal-window' )
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        +svg('distribution', 'distribution-black svg')
        h5#distributor-modal-window.modal-title become a distributor
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form.grey-form
          .form-group
            label(for='distributor-modal__select-who') title
            select#distributor-modal__select-who.form-control
              option Mr
              option Miss
              option Missisipi
          .form-group
            label(for='distributor-modal__new-member-first-name') first name*
            input#distributor-modal__new-member-first-name.form-control(type='text' /*placeholder='Enter email'*/)
          .form-group
            label(for='distributor-modal__new-member-last-name') last name*
            input#distributor-modal__new-member-last-name.form-control(type='text' /*placeholder='Enter email'*/)
          .form-group
            label(for='distributor-modal__company') company*
            input#distributor-modal__company.form-control(type='text' /*placeholder='Enter email'*/)
          .form-group
            label(for='distributor-modal__phone-add') phone*
            input#distributor-modal__phone-add.form-control(type='number' required)
          .form-group
            label(for='distributor-modal__new-member-email-input') E-mail*
            input#distributor-modal__new-member-email-input.form-control(type='email' /*placeholder='Enter email'*/)
          .form-group
            label(for='distributor-modal__country') country*
            input#distributor-modal__country.form-control(type='text' /*placeholder='Enter email'*/)
          .form-group
            label(for='distributor-modal__state') State / Province
            input#distributor-modal__state.form-control(type='text' /*placeholder='Enter email'*/)
          .form-group
            label(for='distributor-modal__city') city*
            input#distributor-modal__city.form-control(type='text' /*placeholder='Enter email'*/)
          .form-group
            label(for='distributor-modal__address') address*
            input#distributor-modal__address.form-control(type='text' /*placeholder='Enter email'*/)
          p You can attach your resume or other documents. The file size should not be more than 5MB
          #files2
          .file__attach
            input(type="file", name="attach" multiple="").load-file-hide#loadFileDist
            +svg('attach', 'attach svg')
            label(for="loadFileDist") Attach files
          .modal-footer
            button.btn.btn-primary(type='button') submit