.checkout-page,
.checkout-thanks-page
  header#top-checkout
    //.main-logo
    // margin: 15px 30px
    //.main-enter
    //  font-size: 14px
    .main-logo
      height: 40px
      width: 123px
      margin-left: 30px
      margin-top: 15px
      margin-bottom: 15px
      padding-top: 4px
      img
        width: 270px
        height: 30px
        @media (max-width: 550px)
          height: auto
          width: 150px
          padding-top: 6px
        @media (max-width: 400px)
          width: 200px  
          padding-top: 5px
        @media (max-width: 340px)
          width: 170px  
          padding-top: 6px
        @media (max-width: 300px)
          width: 150px  
    svg
      height: 20px
      width: 20px
    .main-enter
      display: flex
      align-items: center
      @media (max-width: 270px)
        display: none
    .main-enter__basket
      a
        position: relative
        color: #ffffff
      img
        height: 20px
        width: 18px
      .header__numbers-of-orders
        height: 20px
        width: 20px
        background-color: #000000
        border-radius: 50%
        position: absolute
        left: 10px
        top: -10px
        p
          position: absolute
          left: 50%
          transform: translateX(-50%)
          line-height: 20px
          font-size: 12px
          color: #ffffff
      .cart1
        margin-right: 40px
    .main-enter__singin
      margin-right: 40px
      @media (max-width: 400px)
        margin-right: 20px
      display: flex
      align-items: center
      .checkout-header-sign
        margin-left: 10px
        @media (max-width: 400px)
          display: none


  footer
    margin-top: 140px