.main-first.container
  h1 Checkout
  hr
  .row
    main.col-xl-8.col-lg-8.col-md-12.col-sm-12
      .checkout-page__form-wrapper.first-form-wrapper
        .checkout-page__blocks-black-header
          +svg('green_ok', 'green_ok svg')
          h6.with-green-ok 1. shipping
          //after enter
          a(href="#") Edit
        .checkout-page__form
          form.grey-form
            .form-group
              label(for='checkout-page__select-who') title
              select#checkout-page__select-who.form-control
                option Mr
                option Miss
                option Missisipi
            .checkout-page__name-group
              .form-group.checkout-page__first-name
                label(for='checkout-page__first-name') first name*
                input#checkout-page__first-name.form-control(type='text' placeholder="First Name" required)
              .form-group.checkout-page__last-name
                label(for='checkout-page__last-name') last name*
                input#checkout-page__last-name.form-control(type='text' placeholder="Last Name" required)
            .form-group.checkout-page__address-input
              label(for='checkout-page__address-add-1') address*
              //for registered user
              .checkout-page__select-adress-wrapper
                select#checkout-page__select-home.form-control.checkout-page__select-home
                  option Home
                  option Work
                  option Island
                .checkout-page__select-adress Select seved address
            .checkout-page__add-remove-js
              input#checkout-page__address-add-1.form-control(type='text' placeholder="Address line 1 E/ G/ Park Street 21" name="account-page__address-add-1" required)
              .checkout-page__address-input-add-remove
                a(href="#" data-model-name="just-1").checkout-page__add-address-line + Add address line
                a(href="#").checkout-page__remove-address-line - Remove address line
            .form-group
              label(for='account-page__company-name') company
              input#account-page__company-name.form-control(type='text' placeholder="Apple Computers" required)
            .checkout-page__city-zip
              .form-group
                label(for='checkout-page__city-add') city*
                input#checkout-page__city-add.form-control(type='text' placeholder="E. g. Milan" required)
              .form-group.checkout-page__zip-code
                label(for='checkout-page__zip-add') zip code*
                input#checkout-page__zip-add.form-control(type='number' placeholder="20100" required)
            .form-group
              label(for='checkout-page__country-add') country
              select#checkout-page__country-add.form-control
                option Germany
                option Ukraine
                option USSR
            .checkout-page__e-phone
              .form-group
                label(for='checkout-page__email-add') e-mail*
                input#checkout-page__email-add.form-control(type='email' placeholder="E. g. name@mail.com" required)
              .form-group
                label(for='checkout-page__phone-add') phone*
                input#checkout-page__phone-add.form-control(type='number' placeholder="Phone" required)
            .form-check
              .grey-form__forgot-pass
                .use-this-address.custom-control.custom-checkbox
                  input#checkout-page__member-check.custom-control-input(type='checkbox' checked)
                  label.custom-control-label(for='checkout-page__member-check') Use this address for billing
                .save-address.custom-control.custom-checkbox
                  input#checkout-page__save-check.custom-control-input(type='checkbox' checked)
                  label.custom-control-label(for='checkout-page__save-check') Save Address for later use
            label(for='checkout-page__radio-standart').checkout-page__select-speed select shipping speed
            .checkout-page__first-form-radio
              .checkout-page__first-form-radio-wrapper-standart
                .custom-control.custom-radio.custom-control-inline
                  input#checkout-page__radio-standart.custom-control-input(type='radio' name='checkout-page__speed')
                  label.custom-control-label(for='checkout-page__radio-standart') Standart
                .checkout-page__radio-standart-dates Estimated delivery date: 26/04/18
                .checkout-page__radio-standart-price $5
              .checkout-page__first-form-radio-wrapper-express
                .custom-control.custom-radio.custom-control-inline
                  input#checkout-page__radio-express.custom-control-input(type='radio' name='checkout-page__speed')
                  label.custom-control-label(for='checkout-page__radio-express') express
                .checkout-page__radio-express-dates Estimated delivery date: 24/04/18
                .checkout-page__radio-express-price $15
            .row.justify-content-end
              button(type='submit').btn.btn-primary.checkout-page__first-form-submit Apply
          //after enter
          .checkout-page__form-ready
            .checkout-page__form-ready-header Shipping Address
            .checkout-page__form-ready-body
              .checkout-page__form-ready-body-text.name Mr. Max Factor
              .checkout-page__form-ready-body-text.company Max Facor LLC
              .checkout-page__form-ready-body-text.address-1 Lützowplatz 17
              .checkout-page__form-ready-body-text.address-2 Berlin, 10785, Germany
              .checkout-page__form-ready-body-text.email maxfactor21@mail.com
            .checkout-page__form-ready-header Shipping Speed
            .checkout-page__form-ready-body-text.price Standart: $5
            .checkout-page__when-get Get it by Thursday, April 26th


      .checkout-page__form-wrapper.second-form-wrapper
        .checkout-page__blocks-black-header
          +svg('green_ok', 'green_ok svg')
          h6.with-green-ok 2. payment
          //after enter
          a(href="#") Edit
        .checkout-page__form
          form.grey-form
            .checkout-page__form-headers your billing information
            .checkout-page__payment-info.checkout-page__this-adress-checked You have indicated the same shipping and billing address. If you want to change your choice, uncheck the box 'Use this address for billing' and fill out the form.
            .checkout-page__this-adress-unchecked.checkout-page__payment-hide
              .form-group
                label(for='checkout-page__select-who-base') title
                select#checkout-page__select-who-base.form-control
                  option Mr
                  option Miss
                  option Missisipi
              .checkout-page__name-group
                .form-group.checkout-page__first-name
                  label(for='checkout-page__first-name-base') first name*
                  input#checkout-page__first-name-base.form-control(type='text' placeholder="First Name" required)
                .form-group.checkout-page__last-name
                  label(for='checkout-page__last-name-base') last name*
                  input#checkout-page__last-name-base.form-control(type='text' placeholder="Last Name" required)
              .form-group.checkout-page__address-input
                label(for='checkout-page__address-add-base-1') address*
                input#checkout-page__address-add-base-1.form-control(type='text' placeholder="Address line 1 E/ G/ Park Street 21" name="account-page__address-add-1" required)
              .checkout-page__address-input-add-remove
                a(href="#" data-model-name="base-1").checkout-page__add-address-line-base + Add address line
                a(href="#").checkout-page__remove-address-line-base - Remove address line
              .form-group
                label(for='account-page__company-name-base') company
                input#account-page__company-name-base.form-control(type='text' placeholder="Apple Computers" required)
              .checkout-page__city-zip
                .form-group
                  label(for='checkout-page__city-add-base') city*
                  input#checkout-page__city-add-base.form-control(type='text' placeholder="E. g. Milan" required)
                .form-group.checkout-page__zip-code
                  label(for='checkout-page__zip-add-base') zip code*
                  input#checkout-page__zip-add-base.form-control(type='number' placeholder="20100" required)
              .form-group
                label(for='checkout-page__country-add-base') country
                select#checkout-page__country-add-base.form-control
                  option Germany
                  option Ukraine
                  option USSR

            label(for='checkout-page__payment-card-1').checkout-page__form-headers select payment method
            br
            .checkout-page__second-form-radio.row
              .custom-control.custom-radio.custom-control-inline.checkout-page__payment-card-1
                input#checkout-page__payment-card-1.custom-control-input(type='radio' name='checkout-page__payment-card' checked)
                label.custom-control-label(for='checkout-page__payment-card-1') Credit or Debit Card
                  //+svg('cardyellow', 'payment-cards cardyellow svg')
                  <svg class="payment-cards cardyellow svg master" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 146.8 120.41"><defs><style>.cls_mc-1{fill:none;}.cls_mc-2{fill:#231f20;}.cls_mc-3{fill:#ff5f00;}.cls_mc-4{fill:#eb001b;}.cls_mc-5{fill:#f79e1b;}</style></defs><title>mc_vrt_rgb_pos</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls_mc-1" width="146.8" height="120.41"/><path class="cls_mc-2" d="M36.35,105.26v-6a3.56,3.56,0,0,0-3.76-3.8,3.7,3.7,0,0,0-3.36,1.7,3.51,3.51,0,0,0-3.16-1.7,3.16,3.16,0,0,0-2.8,1.42V95.7H21.19v9.56h2.1V100a2.24,2.24,0,0,1,2.34-2.54c1.38,0,2.08.9,2.08,2.52v5.32h2.1V100a2.25,2.25,0,0,1,2.34-2.54c1.42,0,2.1.9,2.1,2.52v5.32ZM67.42,95.7H64V92.8h-2.1v2.9H60v1.9h1.94V102c0,2.22.86,3.54,3.32,3.54a4.88,4.88,0,0,0,2.6-.74l-.6-1.78a3.84,3.84,0,0,1-1.84.54c-1,0-1.38-.64-1.38-1.6V97.6h3.4Zm17.74-.24a2.82,2.82,0,0,0-2.52,1.4V95.7H80.58v9.56h2.08V99.9c0-1.58.68-2.46,2-2.46a3.39,3.39,0,0,1,1.3.24l.64-2a4.45,4.45,0,0,0-1.48-.26Zm-26.82,1a7.15,7.15,0,0,0-3.9-1c-2.42,0-4,1.16-4,3.06,0,1.56,1.16,2.52,3.3,2.82l1,.14c1.14.16,1.68.46,1.68,1,0,.74-.76,1.16-2.18,1.16a5.09,5.09,0,0,1-3.18-1l-1,1.62a6.9,6.9,0,0,0,4.14,1.24c2.76,0,4.36-1.3,4.36-3.12s-1.26-2.56-3.34-2.86l-1-.14c-.9-.12-1.62-.3-1.62-.94s.68-1.12,1.82-1.12a6.16,6.16,0,0,1,3,.82Zm55.71-1a2.82,2.82,0,0,0-2.52,1.4V95.7h-2.06v9.56h2.08V99.9c0-1.58.68-2.46,2-2.46a3.39,3.39,0,0,1,1.3.24l.64-2a4.45,4.45,0,0,0-1.48-.26Zm-26.8,5a4.83,4.83,0,0,0,5.1,5,5,5,0,0,0,3.44-1.14l-1-1.68a4.2,4.2,0,0,1-2.5.86,3.07,3.07,0,0,1,0-6.12,4.2,4.2,0,0,1,2.5.86l1-1.68a5,5,0,0,0-3.44-1.14,4.83,4.83,0,0,0-5.1,5Zm19.48,0V95.7h-2.08v1.16a3.63,3.63,0,0,0-3-1.4,5,5,0,0,0,0,10,3.63,3.63,0,0,0,3-1.4v1.16h2.08Zm-7.74,0a2.89,2.89,0,1,1,2.9,3.06,2.87,2.87,0,0,1-2.9-3.06Zm-25.1-5a5,5,0,0,0,.14,10A5.81,5.81,0,0,0,78,104.16l-1-1.54a4.55,4.55,0,0,1-2.78,1,2.65,2.65,0,0,1-2.86-2.34h7.1c0-.26,0-.52,0-.8,0-3-1.86-5-4.54-5Zm0,1.86a2.37,2.37,0,0,1,2.42,2.32h-5a2.46,2.46,0,0,1,2.54-2.32ZM126,100.48V91.86H124v5a3.63,3.63,0,0,0-3-1.4,5,5,0,0,0,0,10,3.63,3.63,0,0,0,3-1.4v1.16H126Zm3.47,3.39a1,1,0,0,1,.38.07,1,1,0,0,1,.31.2,1,1,0,0,1,.21.3.93.93,0,0,1,0,.74,1,1,0,0,1-.21.3,1,1,0,0,1-.31.2.94.94,0,0,1-.38.08,1,1,0,0,1-.9-.58.94.94,0,0,1,0-.74,1,1,0,0,1,.21-.3,1,1,0,0,1,.31-.2A1,1,0,0,1,129.5,103.87Zm0,1.69a.71.71,0,0,0,.29-.06.75.75,0,0,0,.23-.16.74.74,0,0,0,0-1,.74.74,0,0,0-.23-.16.72.72,0,0,0-.29-.06.75.75,0,0,0-.29.06.73.73,0,0,0-.24.16.74.74,0,0,0,0,1,.74.74,0,0,0,.24.16A.74.74,0,0,0,129.5,105.56Zm.06-1.19a.4.4,0,0,1,.26.08.25.25,0,0,1,.09.21.24.24,0,0,1-.07.18.35.35,0,0,1-.21.09l.29.33h-.23l-.27-.33h-.09v.33h-.19v-.88Zm-.22.17v.24h.22a.21.21,0,0,0,.12,0,.1.1,0,0,0,0-.09.1.1,0,0,0,0-.09.21.21,0,0,0-.12,0Zm-11-4.06a2.89,2.89,0,1,1,2.9,3.06,2.87,2.87,0,0,1-2.9-3.06Zm-70.23,0V95.7H46v1.16a3.63,3.63,0,0,0-3-1.4,5,5,0,0,0,0,10,3.63,3.63,0,0,0,3-1.4v1.16h2.08Zm-7.74,0a2.89,2.89,0,1,1,2.9,3.06A2.87,2.87,0,0,1,40.32,100.48Z"/><g id="_Group_" data-name="&lt;Group&gt;"><rect class="cls_mc-3" x="57.65" y="22.85" width="31.5" height="56.61"/><path id="_Path_" data-name="&lt;Path&gt;" class="cls_mc-4" d="M59.65,51.16A35.94,35.94,0,0,1,73.4,22.85a36,36,0,1,0,0,56.61A35.94,35.94,0,0,1,59.65,51.16Z"/><path class="cls_mc-5" d="M131.65,51.16A36,36,0,0,1,73.4,79.46a36,36,0,0,0,0-56.61,36,36,0,0,1,58.25,28.3Z"/><path class="cls_mc-5" d="M128.21,73.46V72.3h.47v-.24h-1.19v.24H128v1.16Zm2.31,0v-1.4h-.36l-.42,1-.42-1H129v1.4h.26V72.41l.39.91h.27l.39-.91v1.06Z"/></g></g></g></svg>
                  <svg class="payment-cards cardyellow svg visa" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40 30"><defs><style>.cls-mc_1_1{fill:none;}.cls-mc_1_2{fill:none;}.cls-mc_1_3{fill:transparent;}.cls-mc_1_4{clip-path:url(#clip-path);}.cls-mc_1_5{fill:url(#linear-gradient);}</style><clipPath id="clip-path"><path class="cls-mc_1_1" d="M13.84,10.33,11.32,16.7l-1-5.42a1.13,1.13,0,0,0-1.12-1H5.06L5,10.6a10.14,10.14,0,0,1,2.39.8,1,1,0,0,1,.58.82L9.9,19.7h2.56l3.93-9.37Zm3.59,0-2,9.37h2.42l2-9.37Zm13.9,2.53.73,3.52h-2ZM31,10.33a1.1,1.1,0,0,0-1,.69L26.3,19.7h2.55l.51-1.4h3.11l.29,1.4H35l-2-9.37ZM20.51,13.25c0,1.35,1.2,2.1,2.12,2.55s1.26.75,1.26,1.16c0,.63-.75.91-1.45.92A5.07,5.07,0,0,1,20,17.29l-.44,2.05a7.35,7.35,0,0,0,2.7.5c2.55,0,4.21-1.26,4.22-3.21,0-2.47-3.42-2.61-3.4-3.71,0-.34.33-.69,1-.78a4.58,4.58,0,0,1,2.39.42l.43-2a6.52,6.52,0,0,0-2.27-.42c-2.4,0-4.08,1.27-4.1,3.1"/></clipPath><linearGradient id="linear-gradient" x1="-286.24" y1="411.23" x2="-286" y2="411.23" gradientTransform="matrix(126.55, 0, 0, -126.55, 36227.36, 52054.4)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#241f5d"/><stop offset="1" stop-color="#034ea1"/></linearGradient></defs><title>Visa</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-mc_1_2" x="0.35" y="0.35" width="39.29" height="29.29" rx="1.65" ry="1.65"/><path class="cls-mc_1_3" d="M38,.71A1.29,1.29,0,0,1,39.29,2V28A1.29,1.29,0,0,1,38,29.29H2A1.29,1.29,0,0,1,.71,28V2A1.29,1.29,0,0,1,2,.71H38M38,0H2A2,2,0,0,0,0,2V28a2,2,0,0,0,2,2H38a2,2,0,0,0,2-2V2a2,2,0,0,0-2-2Z"/><g id="Visa"><g class="cls-mc_1_4"><rect id="_Path_" data-name="&lt;Path&gt;" class="cls-mc_1_5" x="5" y="10.16" width="30" height="9.69"/></g></g></g></g></svg>
              .custom-control.custom-radio.custom-control-inline
                input#checkout-page__payment-card-pp.custom-control-input(type='radio' name='checkout-page__payment-card')
                label.custom-control-label(for='checkout-page__payment-card-pp')
                  +svg('paypal', 'payment-cards paypal svg')
              .custom-control.custom-radio.custom-control-inline
                input#checkout-page__payment-card-su.custom-control-input(type='radio' name='checkout-page__payment-card')
                label.custom-control-label(for='checkout-page__payment-card-su')
                  +svg('sofort', 'payment-cards sofort svg')
            .checkout-page__form-headers add card
              //for registered user
              .checkout-page__select-card-wrapper
                select#checkout-page__select-card.form-control.checkout-page__select-card
                  option MaxFactor
                  option MaxFactor 2
                  option MaxFactor 3
                .checkout-page__select-card-text Select seved Credit Card
            .checkout-page__number-expiration
              .form-group.checkout-page__payment-card-number
                label(for='checkout-page__payment-card-number') card number*
                .checkout-page__payment-card-number-wrapper
                  input#checkout-page__payment-card-number.form-control(type='number' required)
                  //- .checkout-page__payment-card-number-img-wrapper
                  //-   +svg('visa', 'payment-cards visa svg')
                  //-   +svg('mastercard', 'payment-cards mastercard svg')
                  //-   +svg('discover', 'payment-cards discover svg')
                  //-   +svg('americane', 'payment-cards americane svg')
                  //-   +svg('maestro', 'payment-cards maestro svg')
                  //-   +svg('jcb', 'payment-cards jcb svg')
              .form-group.checkout-page__payment-card-expiration
                label(for='checkout-page__payment-card-expiration') expiration date*
                input#checkout-page__payment-card-expiration.form-control(type='text' placeholder="MM/YY" required)
              .form-group.checkout-page__payment-card-code
                label(for='checkout-page__payment-card-code') security code*
                input#checkout-page__payment-card-code.form-control(type='password' placeholder="XXX" required)
            .checkout-page__images-of-cards-wrapper
              .checkout-page__payment-card-number-img-wrapper
                //+svg('visa', 'payment-cards visa svg1')
                +svg('mastercard-main', 'mastercard-main svg')
                <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40 30"><defs><style>.cls-mc1{fill:none;}.cls-mc2{fill:#fff;}.cls-mc3{fill:#d6d6d6;}.cls-mc4{clip-path:url(#clip-path);}.cls-mc5{fill:url(#linear-gradient);}</style><clipPath id="clip-path"><path class="cls-mc1" d="M13.84,10.33,11.32,16.7l-1-5.42a1.13,1.13,0,0,0-1.12-1H5.06L5,10.6a10.14,10.14,0,0,1,2.39.8,1,1,0,0,1,.58.82L9.9,19.7h2.56l3.93-9.37Zm3.59,0-2,9.37h2.42l2-9.37Zm13.9,2.53.73,3.52h-2ZM31,10.33a1.1,1.1,0,0,0-1,.69L26.3,19.7h2.55l.51-1.4h3.11l.29,1.4H35l-2-9.37ZM20.51,13.25c0,1.35,1.2,2.1,2.12,2.55s1.26.75,1.26,1.16c0,.63-.75.91-1.45.92A5.07,5.07,0,0,1,20,17.29l-.44,2.05a7.35,7.35,0,0,0,2.7.5c2.55,0,4.21-1.26,4.22-3.21,0-2.47-3.42-2.61-3.4-3.71,0-.34.33-.69,1-.78a4.58,4.58,0,0,1,2.39.42l.43-2a6.52,6.52,0,0,0-2.27-.42c-2.4,0-4.08,1.27-4.1,3.1"/></clipPath><linearGradient id="linear-gradient" x1="-286.24" y1="411.23" x2="-286" y2="411.23" gradientTransform="matrix(126.55, 0, 0, -126.55, 36227.36, 52054.4)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#241f5d"/><stop offset="1" stop-color="#034ea1"/></linearGradient></defs><title>Visa</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-mc2" x="0.35" y="0.35" width="39.29" height="29.29" rx="1.65" ry="1.65"/><path class="cls-mc3" d="M38,.71A1.29,1.29,0,0,1,39.29,2V28A1.29,1.29,0,0,1,38,29.29H2A1.29,1.29,0,0,1,.71,28V2A1.29,1.29,0,0,1,2,.71H38M38,0H2A2,2,0,0,0,0,2V28a2,2,0,0,0,2,2H38a2,2,0,0,0,2-2V2a2,2,0,0,0-2-2Z"/><g id="Visa"><g class="cls-mc4"><rect id="_Path_" data-name="&lt;Path&gt;" class="cls-mc5" x="5" y="10.16" width="30" height="9.69"/></g></g></g></g></svg>
                <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40 30"><defs><style>.cls3-1,.cls3-2,.cls3-3{fill:none;}.cls3-2{clip-rule:evenodd;}.cls3-3{fill-rule:evenodd;}.cls3-4{fill:#fff;}.cls3-5{fill:#d6d6d6;}.cls3-6{clip-path:url(#clip-path);}.cls3-7{fill:#253b80;}.cls3-8{fill:#179bd7;}.cls3-9{fill:#222d65;}.cls3-10{clip-path:url(#clip-path-4);}</style><clipPath id="clip-path"><rect id="_Clipping_Path_" data-name="&lt;Clipping Path&gt;" class="cls3-1" x="2.5" y="10.34" width="35" height="9.31"/></clipPath><clipPath id="clip-path-4"><polyline id="_Clipping_Path_4" data-name="&lt;Clipping Path&gt;" class="cls3-2" points="37.5 10.34 37.5 19.66 2.5 19.66 2.5 10.34"/></clipPath></defs><title>PayPal</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls3-4" x="0.35" y="0.35" width="39.29" height="29.29" rx="1.65" ry="1.65"/><path class="cls3-5" d="M38,.71A1.29,1.29,0,0,1,39.29,2V28A1.29,1.29,0,0,1,38,29.29H2A1.29,1.29,0,0,1,.71,28V2A1.29,1.29,0,0,1,2,.71H38M38,0H2A2,2,0,0,0,0,2V28a2,2,0,0,0,2,2H38a2,2,0,0,0,2-2V2a2,2,0,0,0-2-2Z"/><g id="_Group_" data-name="&lt;Group&gt;"><g id="_Group_6" data-name="&lt;Group&gt;"><g id="_Group_7" data-name="&lt;Group&gt;"><g id="_Group_8" data-name="&lt;Group&gt;"><g id="_Group_9" data-name="&lt;Group&gt;"><path id="_Compound_Path_" data-name="&lt;Compound Path&gt;" class="cls3-7" d="M15.77,14.06c-.11.69-.63.69-1.15.69h-.29l.2-1.29a.16.16,0,0,1,.16-.14h.13c.35,0,.68,0,.85.2A.64.64,0,0,1,15.77,14.06Zm-.22-1.81H13.61a.27.27,0,0,0-.27.23l-.78,4.95a.16.16,0,0,0,.16.19h.92a.27.27,0,0,0,.27-.23L14.12,16a.27.27,0,0,1,.26-.23H15A2,2,0,0,0,17.2,14,1.49,1.49,0,0,0,17,12.74,1.79,1.79,0,0,0,15.54,12.25Z"/><path id="_Compound_Path_2" data-name="&lt;Compound Path&gt;" class="cls3-7" d="M20,15.83a1,1,0,0,1-1,.88.72.72,0,0,1-.77-.9,1,1,0,0,1,1-.89.78.78,0,0,1,.62.25A.8.8,0,0,1,20,15.83ZM21.31,14h-.92a.16.16,0,0,0-.16.14l0,.26-.06-.09A1.32,1.32,0,0,0,19,13.95,2.13,2.13,0,0,0,17,15.81a1.74,1.74,0,0,0,.34,1.42,1.45,1.45,0,0,0,1.16.47,1.77,1.77,0,0,0,1.28-.53l0,.26a.16.16,0,0,0,.16.19h.83a.27.27,0,0,0,.27-.23l.5-3.16A.16.16,0,0,0,21.31,14Z"/><path id="_Path_" data-name="&lt;Path&gt;" class="cls3-7" d="M26.24,14h-.93a.27.27,0,0,0-.22.12L23.8,16l-.54-1.81A.27.27,0,0,0,23,14h-.91a.16.16,0,0,0-.15.21l1,3-1,1.36a.16.16,0,0,0,.13.25h.93a.27.27,0,0,0,.22-.12l3.09-4.46A.16.16,0,0,0,26.24,14Z"/><path id="_Compound_Path_3" data-name="&lt;Compound Path&gt;" class="cls3-8" d="M29.53,14.06c-.11.69-.63.69-1.15.69H28.1l.2-1.29a.16.16,0,0,1,.16-.14h.13c.35,0,.68,0,.85.2A.64.64,0,0,1,29.53,14.06Zm-.22-1.81H27.38a.27.27,0,0,0-.26.23l-.78,4.95a.16.16,0,0,0,.16.19h1a.19.19,0,0,0,.19-.16l.22-1.4a.27.27,0,0,1,.26-.23h.61A2,2,0,0,0,31,14a1.49,1.49,0,0,0-.25-1.25A1.79,1.79,0,0,0,29.31,12.25Z"/><path id="_Compound_Path_4" data-name="&lt;Compound Path&gt;" class="cls3-8" d="M33.79,15.83a1,1,0,0,1-1,.88.72.72,0,0,1-.77-.9,1,1,0,0,1,1-.89.78.78,0,0,1,.62.25A.8.8,0,0,1,33.79,15.83ZM35.08,14h-.92a.16.16,0,0,0-.16.14l0,.26-.06-.09a1.32,1.32,0,0,0-1.09-.39,2.13,2.13,0,0,0-2.06,1.86,1.75,1.75,0,0,0,.34,1.42,1.45,1.45,0,0,0,1.16.47,1.77,1.77,0,0,0,1.28-.53l0,.26a.16.16,0,0,0,.16.19h.83a.27.27,0,0,0,.26-.23l.5-3.16A.16.16,0,0,0,35.08,14Z"/><path id="_Path_2" data-name="&lt;Path&gt;" class="cls3-8" d="M36.17,12.38l-.79,5a.16.16,0,0,0,.16.19h.8a.27.27,0,0,0,.27-.23l.78-4.95a.16.16,0,0,0-.16-.19h-.89A.16.16,0,0,0,36.17,12.38Z"/><path id="_Path_3" data-name="&lt;Path&gt;" class="cls3-7" d="M4.55,18.57l.15-.94H2.8l1.09-6.92a.09.09,0,0,1,0-.05l.06,0H6.63a2.36,2.36,0,0,1,1.8.54,1.24,1.24,0,0,1,.29.54,2,2,0,0,1,0,.75v.21l.15.08a1,1,0,0,1,.3.23,1.07,1.07,0,0,1,.24.55,2.31,2.31,0,0,1,0,.79,2.8,2.8,0,0,1-.33.9,1.85,1.85,0,0,1-.52.56,2.09,2.09,0,0,1-.69.31,3.46,3.46,0,0,1-.87.1H6.77a.62.62,0,0,0-.61.52l0,.08-.26,1.65v.06a.05.05,0,0,1,0,0H4.55Z"/><path id="_Path_4" data-name="&lt;Path&gt;" class="cls3-8" d="M9,12.51l0,.16a2.78,2.78,0,0,1-3.07,2.41H5.13a.38.38,0,0,0-.37.32l-.4,2.52-.11.71a.2.2,0,0,0,.2.23H5.82a.33.33,0,0,0,.33-.28v-.07l.26-1.65,0-.09a.33.33,0,0,1,.33-.28H7a2.43,2.43,0,0,0,2.69-2.11,1.8,1.8,0,0,0-.28-1.59A1.32,1.32,0,0,0,9,12.51Z"/><path id="_Path_5" data-name="&lt;Path&gt;" class="cls3-9" d="M8.64,12.36l-.16,0-.17,0a4.31,4.31,0,0,0-.68,0H5.54a.33.33,0,0,0-.33.28l-.44,2.8v.08a.38.38,0,0,1,.37-.32h.78A2.78,2.78,0,0,0,9,12.66l0-.16-.29-.12Z"/><path id="_Path_6" data-name="&lt;Path&gt;" class="cls3-7" d="M5.21,12.52a.33.33,0,0,1,.33-.28H7.62a4.31,4.31,0,0,1,.68,0l.17,0,.16,0,.08,0,.29.12A1.69,1.69,0,0,0,8.65,11a2.63,2.63,0,0,0-2-.64H4a.38.38,0,0,0-.37.32l-1.1,7a.23.23,0,0,0,.22.26H4.36l.41-2.6Z"/></g></g></g></g></g></g></g></svg>
                <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 30"><defs><style>.cls4-1{fill:#fff;}.cls4-2{fill:#d6d6d6;}.cls4-3{fill:#ee7f00;}.cls4-4{fill:#383a41;}</style></defs><title>Sofort</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls4-1" x="0.35" y="0.35" width="39.29" height="29.29" rx="1.65" ry="1.65"/><path class="cls4-2" d="M38,.71A1.29,1.29,0,0,1,39.29,2V28A1.29,1.29,0,0,1,38,29.29H2A1.29,1.29,0,0,1,.71,28V2A1.29,1.29,0,0,1,2,.71H38M38,0H2A2,2,0,0,0,0,2V28a2,2,0,0,0,2,2H38a2,2,0,0,0,2-2V2a2,2,0,0,0-2-2Z"/><g id="layer1"><path id="path66" class="cls4-3" d="M14.92,10.35a2.76,2.76,0,0,0-1.18.27,3.7,3.7,0,0,0-1.41,1.23,5.36,5.36,0,0,0-.65,1.25,2.28,2.28,0,0,0,0,2.08,1.56,1.56,0,0,0,1.37.59h0c1.45,0,2.53-.95,3.21-2.82a2.37,2.37,0,0,0,0-2,1.53,1.53,0,0,0-1.34-.57Zm8.74,0a2.76,2.76,0,0,0-1.18.27,3.69,3.69,0,0,0-1.41,1.23,5.34,5.34,0,0,0-.65,1.25,2.28,2.28,0,0,0,0,2.08,1.56,1.56,0,0,0,1.37.59h0c1.45,0,2.53-.95,3.21-2.82a2.37,2.37,0,0,0,0-2A1.53,1.53,0,0,0,23.66,10.35Zm-13.39.08a2.92,2.92,0,0,0-1.35.21,2.33,2.33,0,0,0-1.06,1.47,1.67,1.67,0,0,0-.1.47.71.71,0,0,0,.07.35,1,1,0,0,0,.29.33,1.45,1.45,0,0,0,.45.23l.2.06.31.09.14.06a.28.28,0,0,1,.11.11.25.25,0,0,1,0,.11.35.35,0,0,1,0,.13.34.34,0,0,1-.21.23,1.53,1.53,0,0,1-.52.06H5.49L5,15.7H8.33a3.63,3.63,0,0,0,1.44-.23,2.21,2.21,0,0,0,1.3-1.64A1.11,1.11,0,0,0,11,13a1.23,1.23,0,0,0-.75-.49l-.18-.05-.26-.08a.35.35,0,0,1-.21-.15.29.29,0,0,1,0-.24.35.35,0,0,1,.17-.21.7.7,0,0,1,.34-.07H12l0-.06a4.27,4.27,0,0,1,1.25-1.19Zm8.7,0a1.81,1.81,0,0,0-1.8,1.25l-1.46,4h1.6l.75-2.07h1.42l.4-1.11H18.46l.23-.64a.34.34,0,0,1,.33-.21h1.67l0-.06A4.51,4.51,0,0,1,22,10.43H19Zm7.43,0L24.49,15.7h1.63l.7-1.86c0,.08.45,1.86.45,1.86H29a16.44,16.44,0,0,0-.54-1.84,2.89,2.89,0,0,0-.2-.42,2.4,2.4,0,0,0,1.48-1.35,1.22,1.22,0,0,0,0-1.16,1.72,1.72,0,0,0-1.5-.52H26.4Zm3.34,0a1.32,1.32,0,0,1,.27.28,1.37,1.37,0,0,1,.22,1h1l-1.46,4H31.2l1.46-4h1.88L35,10.43Zm-2.27,1.09h.27c.49,0,.68.14.51.59a.94.94,0,0,1-1,.68H27l.47-1.27Zm-12.94,0h0c.5,0,.62.29.18,1.49h0c-.45,1.24-.78,1.55-1.27,1.55h0c-.48,0-.65-.3-.2-1.54.34-.92.77-1.51,1.3-1.51Zm8.74,0h0c.5,0,.62.29.18,1.49s-.78,1.55-1.27,1.55h0c-.48,0-.65-.3-.2-1.54.34-.92.77-1.51,1.3-1.51Z"/><path id="path98" class="cls4-4" d="M6.58,16.25a.4.4,0,0,0-.23.06.42.42,0,0,0-.13.2c0,.09,0,.16,0,.19s.09.05.19.05a.39.39,0,0,0,.23-.06.42.42,0,0,0,.13-.2c0-.09,0-.16,0-.19S6.69,16.25,6.58,16.25Zm.88,0a.4.4,0,0,0-.23.06.42.42,0,0,0-.13.2c0,.09,0,.16,0,.19s.09.05.19.05a.39.39,0,0,0,.23-.06.42.42,0,0,0,.13-.2c0-.09,0-.16,0-.19S7.57,16.25,7.47,16.25Zm16.5.69a1.41,1.41,0,0,0-.36,0,1.21,1.21,0,0,0-.33.14,1.17,1.17,0,0,0-.27.24,1.07,1.07,0,0,0-.19.33.73.73,0,0,0-.05.28.47.47,0,0,0,.05.2.47.47,0,0,0,.12.15l.16.11.17.09.14.09a.28.28,0,0,1,.09.11.21.21,0,0,1,0,.15.48.48,0,0,1-.2.24l-.15.07-.18,0a.79.79,0,0,1-.25,0l-.17-.07L22.44,19l-.07,0h0l0,0,0,.07,0,.1a.76.76,0,0,0,0,.14.11.11,0,0,0,0,.08l.06.06.12.07.19.05.24,0a1.52,1.52,0,0,0,.4-.05,1.37,1.37,0,0,0,.36-.16,1.27,1.27,0,0,0,.3-.26,1.16,1.16,0,0,0,.21-.36.71.71,0,0,0,.05-.27.46.46,0,0,0-.05-.2.48.48,0,0,0-.13-.15l-.17-.11L23.6,18l-.15-.09a.27.27,0,0,1-.09-.11.21.21,0,0,1,0-.15.41.41,0,0,1,.06-.11.38.38,0,0,1,.1-.09l.13-.06.16,0a.62.62,0,0,1,.19,0l.14.06.1.06.06,0h0l0,0,0-.07,0-.1,0-.09v-.06a.15.15,0,0,0,0,0v0L24.43,17,24.31,17l-.16,0H24Zm8.4,0a1.88,1.88,0,0,0-.6.1,1.9,1.9,0,0,0-.53.27,2.07,2.07,0,0,0-.43.43,2.27,2.27,0,0,0-.31.58,1.61,1.61,0,0,0-.11.56.76.76,0,0,0,.11.42.69.69,0,0,0,.33.26,1.37,1.37,0,0,0,.53.09h.22l.22,0,.22,0,.18-.05a.26.26,0,0,0,.11-.07.36.36,0,0,0,.06-.11l.38-1a.24.24,0,0,0,0-.07.11.11,0,0,0,0-.05l0,0h-1l0,0,0,.06,0,.09a.44.44,0,0,0,0,.15s0,0,0,0h.5l-.22.61-.18.06-.18,0a.75.75,0,0,1-.31-.06A.41.41,0,0,1,31,19a.56.56,0,0,1-.06-.29,1.24,1.24,0,0,1,.08-.4,1.56,1.56,0,0,1,.19-.37,1.39,1.39,0,0,1,.27-.29,1.22,1.22,0,0,1,.33-.19,1.14,1.14,0,0,1,.67,0l.2.08.13.08.07,0h0l0,0,0-.07,0-.1a.78.78,0,0,0,0-.15.12.12,0,0,0,0-.08L33,17.09,32.89,17,32.67,17ZM15.83,17h-.16l-.09,0a.11.11,0,0,0,0,.06.65.65,0,0,0,0,.11l-.24,2.28a.22.22,0,0,0,0,.08.07.07,0,0,0,0,0l.1,0h.37l.12,0,.07,0,.06-.08,1-1.66h0l-.18,1.66a.2.2,0,0,0,0,.08.07.07,0,0,0,0,0l.1,0h.35l.12,0,.08,0,.06-.08L19,17.19l.06-.12a.07.07,0,0,0,0-.07A.08.08,0,0,0,19,17h-.29l-.09,0-.05,0,0,.06-1.19,2h0l.23-2a.19.19,0,0,0,0-.06.06.06,0,0,0,0,0l-.08,0h-.3l-.09,0-.06,0,0,.06-1.2,2h0l.27-2a.19.19,0,0,0,0-.06,0,0,0,0,0,0,0h-.23Zm6.31,0H22l-.09,0-.05,0,0,0-.9,2.47a0,0,0,0,0,0,0l0,0,.08,0h.26l.09,0,.05,0,0,0,.9-2.47a0,0,0,0,0,0,0l0,0-.07,0h-.13ZM6,17H5.83l-.09,0-.05,0,0,0-.58,1.59a1.24,1.24,0,0,0-.09.44.54.54,0,0,0,.09.31.53.53,0,0,0,.26.19,1.26,1.26,0,0,0,.42.06,1.69,1.69,0,0,0,.49-.07A1.4,1.4,0,0,0,7,19.06a1.7,1.7,0,0,0,.23-.43l.57-1.57a0,0,0,0,0,0,0l0,0L7.7,17H7.44l-.09,0L7.3,17l0,0-.57,1.58a1,1,0,0,1-.13.25.84.84,0,0,1-.17.18.72.72,0,0,1-.21.11.74.74,0,0,1-.24,0,.53.53,0,0,1-.21,0,.28.28,0,0,1-.13-.11.35.35,0,0,1,0-.19.88.88,0,0,1,.06-.27l.56-1.54a0,0,0,0,0,0,0l0,0-.07,0H6Zm19.62,0h-.13l-.09,0-.05,0,0,0-.58,1.59a1.23,1.23,0,0,0-.09.44.54.54,0,0,0,.09.31.53.53,0,0,0,.26.19,1.26,1.26,0,0,0,.42.06,1.69,1.69,0,0,0,.49-.07,1.4,1.4,0,0,0,.74-.52,1.71,1.71,0,0,0,.23-.43l.57-1.57a0,0,0,0,0,0,0l0,0-.07,0h-.25L27,17l-.05,0,0,0-.57,1.58a1.06,1.06,0,0,1-.13.25.85.85,0,0,1-.17.18.72.72,0,0,1-.21.11.73.73,0,0,1-.24,0,.53.53,0,0,1-.21,0,.28.28,0,0,1-.13-.11.34.34,0,0,1,0-.19.88.88,0,0,1,.06-.27l.56-1.54a0,0,0,0,0,0,0l0,0-.07,0h-.13Zm4.55,0H30l-.08,0-.05,0,0,0-.45,1.23-.1.29-.1.3h0c0-.05,0-.11,0-.16l0-.16,0-.17,0-.17-.16-1a.75.75,0,0,0,0-.13.21.21,0,0,0,0-.08l-.08,0H28.4a.28.28,0,0,0-.15,0,.28.28,0,0,0-.11.14l-.86,2.35a.06.06,0,0,0,0,0l0,0,.07,0h.24l.08,0,0,0,0,0,.5-1.37.1-.3.09-.29h0c0,.08,0,.16,0,.25s0,.16,0,.24l.21,1.22a1.45,1.45,0,0,0,0,.16.29.29,0,0,0,0,.1.15.15,0,0,0,.08.05h.42l.08,0,.07-.06a.29.29,0,0,0,0-.08l.86-2.35a.06.06,0,0,0,0,0l0,0-.07,0h-.11ZM11.25,17a.23.23,0,0,0-.13,0,.25.25,0,0,0-.09.13l-.83,2.28c0,.06,0,.1,0,.13a.12.12,0,0,0,.1,0h1.35l0,0,0-.06,0-.1,0-.1a.24.24,0,0,0,0-.06.05.05,0,0,0,0,0h-1l.27-.74h.83l0,0,0-.06,0-.1,0-.1a.21.21,0,0,0,0-.06.05.05,0,0,0,0,0h-.82l.23-.64h1l0,0,0-.06,0-.1,0-.1a.26.26,0,0,0,0-.06.05.05,0,0,0,0,0H11.25Zm2.19,0a.23.23,0,0,0-.13,0,.25.25,0,0,0-.09.13l-.86,2.38a.05.05,0,0,0,0,0l0,0,.08,0h.26l.09,0,.05,0,0,0,.36-1h.17a.32.32,0,0,1,.14,0,.2.2,0,0,1,.09.08.37.37,0,0,1,0,.13c0,.05,0,.11,0,.18l0,.58a.12.12,0,0,0,0,0l0,0,.07,0h.39l0,0,0,0a.22.22,0,0,0,0-.06s0-.06,0-.11l0-.52a1.27,1.27,0,0,0,0-.17.61.61,0,0,0,0-.13.34.34,0,0,0-.06-.1l-.09-.07a1.29,1.29,0,0,0,.25-.1,1.08,1.08,0,0,0,.21-.15,1,1,0,0,0,.17-.19,1.11,1.11,0,0,0,.12-.24.78.78,0,0,0,.05-.28.38.38,0,0,0-.22-.35.82.82,0,0,0-.26-.08h-1Zm6.39,0a.23.23,0,0,0-.13,0,.25.25,0,0,0-.09.13l-.83,2.28c0,.06,0,.1,0,.13a.12.12,0,0,0,.1,0h1.35l0,0,0-.06,0-.1h0l0-.1a.24.24,0,0,0,0-.06.05.05,0,0,0,0,0h-1l.27-.74h.83l0,0,0-.06,0-.1,0-.1a.21.21,0,0,0,0-.06.05.05,0,0,0,0,0h-.82l.23-.64h1l0,0,0-.06,0-.1,0-.1a.25.25,0,0,0,0-.06.05.05,0,0,0,0,0H19.84ZM8.74,17a.23.23,0,0,0-.13,0,.25.25,0,0,0-.09.13l-.83,2.28c0,.06,0,.1,0,.13a.12.12,0,0,0,.1,0h.7l.29,0L9,19.52l.24-.1a1.17,1.17,0,0,0,.22-.15,1.14,1.14,0,0,0,.18-.2,1.07,1.07,0,0,0,.13-.25.69.69,0,0,0,0-.24.42.42,0,0,0,0-.19.34.34,0,0,0-.12-.13.49.49,0,0,0-.18-.07l.19-.08L9.87,18a.89.89,0,0,0,.13-.15.88.88,0,0,0,.09-.18.65.65,0,0,0,0-.3.33.33,0,0,0-.1-.21A.53.53,0,0,0,9.79,17a1.57,1.57,0,0,0-.39,0Zm.22.4h.27l.19,0a.21.21,0,0,1,.1.06.17.17,0,0,1,0,.1.39.39,0,0,1,0,.14.56.56,0,0,1-.07.13.52.52,0,0,1-.11.11L9.2,18a.6.6,0,0,1-.19,0h-.3Zm4.71,0h.38l.09,0a.2.2,0,0,1,.15.13.35.35,0,0,1,0,.22.57.57,0,0,1-.08.15.53.53,0,0,1-.13.12.62.62,0,0,1-.17.08l-.21,0H13.4Zm-5.1,1.06h.32a.77.77,0,0,1,.23,0,.26.26,0,0,1,.12.07.2.2,0,0,1,0,.12.41.41,0,0,1,0,.16.52.52,0,0,1-.09.15A.55.55,0,0,1,9,19.1l-.16.07-.2,0H8.3Z"/></g></g></g></svg>
              .checkout-page__where-code
                span(data-toggle="tooltip")#where-is-code Where is my Security Code?
                .checkout-page__where-code-popup
                  p Your security code  is a 3-digit number on the back of your card
                  img(src="img/png/sec-code.png", alt="security code")
            .form-check.grey-form__save-card-wrapper
              .grey-form__save-card.custom-control.custom-checkbox
                input#checkout-page__save-card.custom-control-input(type='checkbox')
                label.custom-control-label(for='checkout-page__save-card') Save Credit Card for later use
            .row.justify-content-end
              button(type="submit").btn.btn-primary.checkout-page__second-form-submit Apply

          //after enter
          .checkout-page__form-ready
            .checkout-page__form-ready-header Payment Method
            .checkout-page__form-ready-body
              .checkout-page__form-ready-body-svg-change
                +svg('cardyellow', 'payment-method-card payment-method-card-cardyellow svg')
                //+svg('paypal', 'payment-method-card payment-method-card-paypal svg')
                //+svg('sofort', 'payment-method-card payment-method-card-sofort svg')
              .checkout-page__form-ready-body-text.card-num <span>9339</span>Exp:  06/ 2022
            .checkout-page__form-ready-header Billing Details
            .checkout-page__form-ready-body
              .checkout-page__form-ready-body-text.name Mr. Max Factor
              .checkout-page__form-ready-body-text.company Max Facor LLC
              .checkout-page__form-ready-body-text.address-3 Herngasse 20
              .checkout-page__form-ready-body-text.address-4 Berlin, 91541, Germany







      .checkout-page__form-wrapper.third-form-wrapper
        .checkout-page__blocks-black-header
          h6 3. order review
        .checkout-page__form
          .checkout-page__form-headers your order information
          .checkout-page__payment-info By clicking the Place Order button, you confirm that you have read and understood, and accpet our <a href="#">Terms and Conditions</a>, <a href="#">Return Policy</a>, and <a href="#">Privat Policy</a>
        .row.justify-content-end
          form(action="").grey-form.checkout-page__order-review-checkboxes-wrapper
            .checkbox-wrapper
              .form-check
                .custom-control.custom-checkbox
                  input#checkout-page__Dateschutz.custom-control-input(type='checkbox' checked="checked")
                  label.custom-control-label(for='checkout-page__Dateschutz') Dateschutz
                  //p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo amet veritatis magnam laboriosam nesciunt, itaque quas rerum velit.
              .form-check
                .custom-control.custom-checkbox
                  input#checkout-page__AGB.custom-control-input(type='checkbox' checked="checked")
                  label.custom-control-label(for='checkout-page__AGB') AGB
                  //p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo amet veritatis magnam laboriosam nesciunt,
              .form-check
                .custom-control.custom-checkbox
                  input#checkout-page__Newsletter.custom-control-input(type='checkbox' checked="checked")
                  label.custom-control-label(for='checkout-page__Newsletter') Newsletter
                  //p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo amet veritatis magnam laboriosam nesciunt,
            button(type="submit").btn.btn-primary.checkout-page__third-form-submit place order






    aside.col-xl-4.col-lg-4.align-items-start
      .checkout-page__aside-wrapper-order
        .checkout-page__aside-header Bestellungsübersicht
        hr
        .checkout-page__aside-subtotal-wrapper
          .checkout-page__aside-text Zwischensumme:
          .checkout-page__aside-num €19
        .checkout-page__aside-shippeng-wrapper
          .checkout-page__aside-text Versand:
          .checkout-page__aside-num €5
        .checkout-page__aside-tax-wrapper
          .checkout-page__aside-text Rabatt:
          .checkout-page__aside-num €0
        .checkout-page__aside-tax-wrapper
          .checkout-page__aside-text Umsatzsleuer (19%):
          .checkout-page__aside-num €10.89
        hr.checkout-page__hr-before-total
        .checkout-page__aside-total-wrapper
          .checkout-page__aside-text Gesamtbetrag:
          .checkout-page__aside-num €24

      .checkout-page__aside-wrapper-in-cart
        .checkout-page__aside-header-wrapper
          .checkout-page__aside-header in your cart
          a(href="#") Edit
        hr
        .checkout-page__aside-in-cart-item-wrapper
          .checkout-page__aside-in-cart-body-wrapper
            .checkout-page__aside-in-cart-img
              img(src="img/item-in-items.png" alt="cart-photo")
            .checkout-page__aside-in-cart-text
              .checkout-page__aside-in-cart-text-head
                a(href="shop-item.html") L+Curl Lashes by Infinity Lashes
              .checkout-page__aside-in-cart-text-body Product ID #: <span>0041232969</span>
              .checkout-page__aside-in-cart-text-body Thickness: <span>0.15</span>
              .checkout-page__aside-in-cart-text-body Length: <span>10mm</span>
              .checkout-page__aside-in-cart-text-body Color: <span>Black</span>
              .checkout-page__aside-in-cart-text-body Qty: <span>1</span>
              .checkout-page__aside-in-cart-text-body $<span>19</span> zzgl. 19% USt.
          hr
        .checkout-page__aside-in-cart-item-wrapper
          .checkout-page__aside-in-cart-body-wrapper
            .checkout-page__aside-in-cart-img
              img(src="img/item-in-items.png" alt="cart-photo")
            .checkout-page__aside-in-cart-text
              .checkout-page__aside-in-cart-text-head
                a(href="shop-item.html") L+Curl Lashes by Infinity Lashes
              .checkout-page__aside-in-cart-text-body Product ID #: <span>0041232969</span>
              .checkout-page__aside-in-cart-text-body Thickness: <span>0.15</span>
              .checkout-page__aside-in-cart-text-body Length: <span>10mm</span>
              .checkout-page__aside-in-cart-text-body Color: <span>Black</span>
              .checkout-page__aside-in-cart-text-body Qty: <span>1</span>
              .checkout-page__aside-in-cart-text-body $<span>19</span> zzgl. 19% USt.
          hr
        .checkout-page__when-get Get it by Thursday, April 26th

  .svgHide
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" style="position:absolute"><symbol id="visa" viewBox="0 0 160 100">
    <defs><style>.cls-1{fill:#f6f6f6}.cls-2{fill:#265697}.cls-3{fill:#d97b16}</style></defs><title>visa</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Page-1"><g id="Visa"><path id="Rectangle-20" class="cls-1" d="M0 9h160v80H0z"></path><path id="Rectangle-1" class="cls-2" d="M148 0H8C4 0 0 4 0 8v12h160v-8q0-12-12-12z"></path><path id="Rectangle-1-2" data-name="Rectangle-1" class="cls-3" d="M0 80v8c0 8 4 12 12 12h136q12 0 12-12v-8z"></path><path id="Shape" class="cls-2" d="M111.61 29.78A28.68 28.68 0 0 0 101.47 28c-11.18 0-19.06 5.76-19.13 14-.06 6.1 5.62 9.5 9.92 11.53s5.89 3.41 5.87 5.26c0 2.84-3.52 4.14-6.77 4.14a23.3 23.3 0 0 1-10.66-2.22L79.24 60l-1.59 9.5a35.16 35.16 0 0 0 12.61 2.3c11.9 0 19.62-5.69 19.71-14.5 0-4.83-3-8.5-9.5-11.53-4-2-6.38-3.27-6.35-5.26 0-1.76 2.05-3.65 6.48-3.65a20.49 20.49 0 0 1 8.47 1.63l1 .49 1.53-9.2"></path><path id="Shape-2" data-name="Shape" class="cls-2" d="M140.64 28.78h-8.75c-2.71 0-4.74.76-5.93 3.52l-16.8 38.88H121s2-5.18 2.42-6.37h14.5c.34 1.49 1.38 6.36 1.38 6.36h10.5l-9.16-42.4zm-14 27.35c.94-2.44 4.51-11.86 4.51-11.86s.93-2.46 1.5-4l.76 3.66 2.62 12.25z"></path><path id="Shape-3" data-name="Shape" class="cls-2" d="M59.25 71.17l7.08-42.43h11.32l-7.09 42.43z"></path><path id="Shape-4" data-name="Shape" class="cls-2" d="M49.76 28.77L38.68 57.7l-1.18-5.88C35.43 45 29 37.7 21.82 34L32 71.13h12l17.75-42.36h-12"></path><path id="Shape-5" data-name="Shape" class="cls-3" d="M28.4 28.74H10.14l-.14.88c14.2 3.51 23.59 12 27.49 22.2l-4-19.5c-.69-2.69-2.67-3.49-5.13-3.58"></path></g></g></g></g></symbol><symbol id="mastercard" viewBox="0 0 160 100">
    <defs><style>.cls-1-1{fill:#265697}.cls-2-2{fill:#dfac16}.cls-3-3{fill:#bf3126}.cls-4{fill:#fff}</style></defs><title>MasterCard</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Page-1"><g id="Master"><path id="Rectangle-1" class="cls-1-1" d="M148 0H8C4 0 0 4 0 8v80q0 12 12 12h136q12 0 12-12V12q0-12-12-12z"></path><path id="path2268" class="cls-2" d="M149.55 50.5a41.63 41.63 0 1 1-83.25 0 41.63 41.63 0 1 1 83.25 0z"></path><path id="path1350" class="cls-3-3" d="M51.81 8.43C29 8.57 10.45 27.37 10.45 50.5S29.1 92.57 52.08 92.57a41.23 41.23 0 0 0 28-11 42.28 42.28 0 0 0 4.23-4.51H75.8a41.08 41.08 0 0 1-3.1-4.33h14.7a42.29 42.29 0 0 0 2.42-4.51H70.26a41.76 41.76 0 0 1-1.74-4.42h23a42.7 42.7 0 0 0 1.18-22.35H67.3a42.31 42.31 0 0 1 1.19-4.42h23a42.34 42.34 0 0 0-1.79-4.51H70.26a40.51 40.51 0 0 1 2.39-4.42h14.7a42.16 42.16 0 0 0-3.23-4.51h-8.2a38.85 38.85 0 0 1 4.18-4.25 41.23 41.23 0 0 0-28-11z"></path><path id="path4157" class="cls-4" d="M67 61.21l.55-3.81c-.3 0-.75.13-1.14.13-1.54 0-1.71-.83-1.61-1.44l1.25-7.77h2.34l.61-4.21h-2.21l.45-2.62h-4.43c-.1.1-2.62 14.73-2.62 16.51 0 2.64 1.47 3.81 3.53 3.79a11.55 11.55 0 0 0 3.28-.58z"></path><path id="path4155" class="cls-4" d="M68.45 54c0 6.33 4.13 7.84 7.66 7.84a11.18 11.18 0 0 0 4.68-.73l.78-4.32a13.68 13.68 0 0 1-4.71 1.1c-4.76 0-3.93-3.59-3.93-3.59h9a32.55 32.55 0 0 0 .58-4.09c0-3-1.45-6.55-6.32-6.55-4.46 0-7.76 4.85-7.76 10.34zm7.77-6.33c2.5 0 2 2.84 2 3.07h-4.87c0-.29.47-3.07 2.88-3.07z"></path><path id="path4151" class="cls-4" d="M104.29 61.21l.79-4.88a10.58 10.58 0 0 1-3.67 1.1c-3.14 0-4.4-2.43-4.4-5 0-5.29 2.71-8.2 5.72-8.2a7.84 7.84 0 0 1 4.07 1.28l.72-4.75a15.77 15.77 0 0 0-5-1.1c-5.12 0-10.09 4.49-10.09 12.91 0 5.59 2.69 9.28 8 9.28a20.24 20.24 0 0 0 3.88-.61z"></path><path id="path4149" class="cls-4" d="M42.67 43.68a15.17 15.17 0 0 0-5.37 1l-.64 3.86a13.86 13.86 0 0 1 4.83-.79c1.65 0 2.86.19 2.86 1.54a2.89 2.89 0 0 1-.15 1.13s-1.3-.11-1.9-.11c-3.83 0-7.86 1.65-7.86 6.64 0 3.93 2.64 4.83 4.28 4.83a5.75 5.75 0 0 0 4.55-2.06l-.15 1.71H47l1.74-12.34c0-5.23-4.52-5.4-6.09-5.4zm.95 10c.08.75-.47 4.29-3.14 4.29a1.62 1.62 0 0 1-1.73-1.69c0-1.23.66-2.7 3.91-2.7a2.79 2.79 0 0 1 1 .1z"></path><path id="path4145" class="cls-4" d="M52.91 61.68c1 0 6.71.26 6.71-5.7 0-5.56-5.28-4.47-5.28-6.7 0-1.11.86-1.46 2.43-1.46.62 0 3 .2 3 .2l.56-4a20.46 20.46 0 0 0-4.09-.35c-3.28 0-6.61 1.32-6.61 5.85 0 5.13 5.55 4.61 5.55 6.77 0 1.44-1.55 1.56-2.75 1.56a14.33 14.33 0 0 1-3.94-.68l-.59 3.92c.11 0 1.26.55 5 .55z"></path><path id="path4139" class="cls-4" d="M141 40.13l-1 6a5.85 5.85 0 0 0-4.28-2.33c-4.06 0-7.45 4.95-7.45 10.64 0 3.67 1.81 7.27 5.5 7.27a5.52 5.52 0 0 0 4.13-1.87l-.19 1.6h4.31l3.39-21.3zm-2.06 11.69c0 2.37-1.16 5.53-3.56 5.53-1.59 0-2.34-1.35-2.34-3.48 0-3.47 1.54-5.76 3.49-5.76 1.6 0 2.41 1.11 2.41 3.72z"></path><path id="path4133" class="cls-4" d="M18.68 61.45l2.7-16.08.4 16.08h3.05l5.7-16.08L28 61.45h4.54L36 40.12h-7L24.64 53.2l-.23-13.09h-6.46L14.4 61.45z"></path><path id="path4131" class="cls-4" d="M87 61.48c1.29-7.42 1.53-13.44 4.61-12.33a17.36 17.36 0 0 1 1.65-5.19 4.63 4.63 0 0 0-.85-.06c-2 0-3.46 2.74-3.46 2.74l.4-2.52h-4.18l-2.76 17.36z"></path><path id="path4149-2" data-name="path4149" class="cls-4" d="M114.52 43.68a15.17 15.17 0 0 0-5.37 1l-.64 3.86a13.86 13.86 0 0 1 4.83-.79c1.65 0 2.86.19 2.86 1.54a2.91 2.91 0 0 1-.15 1.13s-1.3-.11-1.91-.11c-3.83 0-7.86 1.65-7.86 6.64 0 3.93 2.64 4.83 4.28 4.83a5.75 5.75 0 0 0 4.55-2.06l-.11 1.7h3.9l1.74-12.34c0-5.23-4.52-5.4-6.09-5.4zm1 10c.08.75-.47 4.29-3.14 4.29a1.62 1.62 0 0 1-1.73-1.69c0-1.23.66-2.7 3.91-2.7a2.81 2.81 0 0 1 1 .1z"></path><path id="path4131-2" data-name="path4131" class="cls-4" d="M124.17 61.48c1.29-7.42 1.53-13.44 4.61-12.33a17.4 17.4 0 0 1 1.65-5.19 4.63 4.63 0 0 0-.85-.06c-2 0-3.46 2.74-3.46 2.74l.4-2.52h-4.13l-2.76 17.36z"></path></g></g></g></g></symbol><symbol id="discover" viewBox="0 0 160 100">
    <defs><style>.cls-1-d{fill:#f4f4f4}.cls-2-d{fill:#d97b16}</style></defs><title>Discover</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Page-1"><g id="discover"><path id="Rectangle-1" class="cls-1-d" d="M148 0H8C4 0 0 4 0 8v80q0 12 12 12h136q12 0 12-12V12q0-12-12-12z"></path><path id="Rectangle-1-copy" class="cls-2-d" d="M49.54 100H148q12 0 12-12V40.43S136.16 82.4 49.54 100z"></path><path id="NETWORK" d="M52 48.92h1.44l4.45 6.64v-6.64H59V57h-1.35l-4.5-6.64V57H52zm9.08 0h5.21v1h-4.07v2.41h3.83v1h-3.83V56h4.32v1h-5.42zm8.66 1h-2.6v-1h6.3v1h-2.6V57h-1.1zm3.83-1h1.14l1.78 6.46 1.91-6.46h1.26l1.91 6.46 1.78-6.46h1.14L82.22 57h-1.15l-2-6.6-2 6.6H76zm15.71 8.28a4.36 4.36 0 0 1-1.7-.33A4 4 0 0 1 86.3 56a4.14 4.14 0 0 1-.87-1.35 4.64 4.64 0 0 1 0-3.35 4.14 4.14 0 0 1 .87-1.35 4 4 0 0 1 1.33-.9A4.61 4.61 0 0 1 91 49a4 4 0 0 1 1.33.9 4.14 4.14 0 0 1 .87 1.35 4.64 4.64 0 0 1 0 3.35 4.14 4.14 0 0 1-.84 1.4 4 4 0 0 1-1.33.9 4.36 4.36 0 0 1-1.7.31zm0-1a2.94 2.94 0 0 0 2.21-.95 3 3 0 0 0 .62-1 3.71 3.71 0 0 0 0-2.5 3 3 0 0 0-.62-1 3 3 0 0 0-4.43 0 3 3 0 0 0-.62 1 3.71 3.71 0 0 0 0 2.5 3 3 0 0 0 .62 1 2.94 2.94 0 0 0 2.21.95zm5.79-7.26H98a3.32 3.32 0 0 1 1.28.21 2.17 2.17 0 0 1 .79.54 1.83 1.83 0 0 1 .41.73 2.88 2.88 0 0 1 .11.78 2.08 2.08 0 0 1-.14.75 2.11 2.11 0 0 1-.39.65 2.25 2.25 0 0 1-.63.49 2.18 2.18 0 0 1-.83.25l2.26 3.66h-1.37l-2.05-3.56h-1.23V57h-1.1zm1.1 3.56h1.44a3.92 3.92 0 0 0 .63-.05 1.7 1.7 0 0 0 .56-.19 1 1 0 0 0 .39-.39 1.58 1.58 0 0 0 0-1.34 1 1 0 0 0-.39-.39 1.7 1.7 0 0 0-.56-.19 3.92 3.92 0 0 0-.63-.05h-1.4zm5.88-3.56h1.1v3.49h.09l3.57-3.49h1.53l-3.9 3.73 4.2 4.33H107l-3.77-4h-.09v4h-1.1z"></path><path d="M14.13 23.88h7.53a11.53 11.53 0 0 1 3.65.58 8.86 8.86 0 0 1 3.1 1.77 8.64 8.64 0 0 1 2.16 3 10.2 10.2 0 0 1 .81 4.23 8.88 8.88 0 0 1-3.33 7.22 10.25 10.25 0 0 1-3.27 1.75 11.41 11.41 0 0 1-3.52.58h-7.13zm5.94 16a12 12 0 0 0 3-.36 7.16 7.16 0 0 0 2.47-1.13 5.38 5.38 0 0 0 1.66-2 6.68 6.68 0 0 0 .61-3 7.42 7.42 0 0 0-.54-3 5.17 5.17 0 0 0-1.5-2 6.25 6.25 0 0 0-2.27-1.13 10.7 10.7 0 0 0-2.86-.26h-3.1v13zm14.47-16h3.4V43h-3.4zm17 4.1a3.14 3.14 0 0 0-1.44-1.15 5 5 0 0 0-1.9-.36 4.83 4.83 0 0 0-1.15.14A3.12 3.12 0 0 0 46 27a2.26 2.26 0 0 0-.72.77 2.22 2.22 0 0 0-.28 1.16 1.75 1.75 0 0 0 .67 1.48 6.64 6.64 0 0 0 1.67.89q1 .38 2.19.73a8.89 8.89 0 0 1 2.19 1 5.41 5.41 0 0 1 1.67 1.65 4.89 4.89 0 0 1 .67 2.73 6 6 0 0 1-.57 2.69A5.47 5.47 0 0 1 52 42a6.6 6.6 0 0 1-2.23 1.13 9.31 9.31 0 0 1-2.67.38 10 10 0 0 1-3.43-.59 6.61 6.61 0 0 1-2.84-2l2.57-2.48a4.29 4.29 0 0 0 1.6 1.44 4.59 4.59 0 0 0 2.15.53 4.5 4.5 0 0 0 1.19-.16 3.67 3.67 0 0 0 1.08-.49 2.54 2.54 0 0 0 .78-.82 2.2 2.2 0 0 0 .3-1.15 2 2 0 0 0-.67-1.62 6 6 0 0 0-1.67-1q-1-.39-2.19-.74a9.21 9.21 0 0 1-2.19-1 5.32 5.32 0 0 1-1.67-1.62 4.83 4.83 0 0 1-.67-2.71 5.15 5.15 0 0 1 .61-2.57 5.56 5.56 0 0 1 1.59-1.8 7 7 0 0 1 2.25-1.07 9.68 9.68 0 0 1 2.59-.35 9.45 9.45 0 0 1 2.93.46 6.79 6.79 0 0 1 2.59 1.6zm19.25.38a5.7 5.7 0 0 0-2-1.51 5.5 5.5 0 0 0-2-.38A6.63 6.63 0 0 0 64 27a6.15 6.15 0 0 0-2 1.46 6.62 6.62 0 0 0-1.34 2.17 7.45 7.45 0 0 0-.47 2.67 8.22 8.22 0 0 0 .47 2.83A6.66 6.66 0 0 0 62 38.38a6.22 6.22 0 0 0 2 1.49 6.48 6.48 0 0 0 2.69.54 4.94 4.94 0 0 0 2.31-.56 6.15 6.15 0 0 0 2-1.77l2.81 2a7.65 7.65 0 0 1-3.16 2.59 9.85 9.85 0 0 1-4 .81 11.17 11.17 0 0 1-4.06-.72 9.11 9.11 0 0 1-5.28-5.17 10.61 10.61 0 0 1-.76-4.08 11.07 11.07 0 0 1 .76-4.17 9.36 9.36 0 0 1 2.09-3.2 9.17 9.17 0 0 1 3.19-2 11.17 11.17 0 0 1 4.06-.72 9.32 9.32 0 0 1 3.6.69 8.4 8.4 0 0 1 3.09 2.34zm25.61-4.48h3.92l5.21 14.44 5.37-14.44h3.67L106.85 43h-2.94zm20.22 0h12.66V27H120v4.7h8.78v3.08H120v5.18h9.75V43h-13.12zm16.5 0h6.64a13.53 13.53 0 0 1 2.66.26 6.81 6.81 0 0 1 2.28.88 4.59 4.59 0 0 1 1.59 1.67 5.39 5.39 0 0 1 .59 2.67 5.32 5.32 0 0 1-1.15 3.48 4.92 4.92 0 0 1-3.28 1.7l5.09 8.46h-4.1L139 34.9h-2.48V43h-3.4zm6 8.1q.73 0 1.46-.07a4.48 4.48 0 0 0 1.34-.32 2.28 2.28 0 0 0 1-.78 2.49 2.49 0 0 0 .38-1.47A2.35 2.35 0 0 0 143 28a2.18 2.18 0 0 0-.92-.77 4.23 4.23 0 0 0-1.26-.34 11.44 11.44 0 0 0-1.34-.08h-2.94V32z"></path><circle id="Oval-1" class="cls-2-d" cx="86.05" cy="33.45" r="10.05"></circle></g></g></g></g></symbol><symbol id="americane" viewBox="0 0 161.04 100">
    <defs><style>.cls-1-a{fill:#306fc5}.cls-2-a{fill:#fff}</style></defs><title>AmericanE</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Page-1"><g id="american-express"><path id="Rectangle-1" class="cls-1-a" d="M149 0H9C5 0 1 4 1 8v80q0 12 12 12h136q12 0 12-12V12q0-12-12-12z"></path><path id="Shape" class="cls-2-a" d="M14.52 36.63l-3.1-7.55-3.08 7.55zm68.27-3a4.2 4.2 0 0 1-2.24.39H75V29.8h5.57a4.64 4.64 0 0 1 2.15.34 1.73 1.73 0 0 1 1 1.67 1.94 1.94 0 0 1-.93 1.8zm39.24 3l-3.13-7.55-3.12 7.55zM48.88 44.8h-4.64V29.97L37.66 44.8h-4L27.1 30v14.8h-9.21l-1.74-4.22H6.73L5 44.8H.05l8.11-18.94h6.73l7.7 17.93V25.86H30l5.9 12.85 5.44-12.85h7.54V44.8zm18.5 0H52.26V25.86h15.12v3.94h-10.6v3.41h10.35v3.89H56.78v3.78h10.6v3.92zM88.71 31a5.33 5.33 0 0 1-3.19 5 5.25 5.25 0 0 1 2.24 1.6 5.45 5.45 0 0 1 .75 3.48v3.72h-4.57v-2.39c0-1.14.11-2.78-.71-3.69-.66-.67-1.67-.81-3.3-.81H75v6.89h-4.48V25.86h10.41c2.31 0 4 .06 5.48.91a4.42 4.42 0 0 1 2.3 4.23zM96 44.8h-4.67V25.86H96V44.8zm53.59 0h-6.42l-8.58-14.22V44.8h-9.22l-1.76-4.22h-9.4l-1.71 4.22h-5.3c-2.2 0-5-.49-6.56-2.09s-2.42-3.79-2.42-7.23c0-2.81.49-5.38 2.44-7.41 1.46-1.51 3.76-2.21 6.88-2.21h4.38v4.06h-4.29a4.36 4.36 0 0 0-3.54 1.08 6.25 6.25 0 0 0-1.3 4.29 6.57 6.57 0 0 0 1.21 4.49 4.37 4.37 0 0 0 3.16 1h2l6.38-14.9h6.78l7.67 17.92V25.86h6.89l8 13.19V25.86h4.64V44.8zM0 48.52h7.74l1.74-4.21h3.9l1.74 4.21h15.23V45.3l1.36 3.23h7.9L41 45.25v3.26h37.79V41.6h.73c.51 0 .66.07.66.91v6h19.55v-1.6a15.5 15.5 0 0 0 7.27 1.61h8.23l1.77-4.21h3.9l1.72 4.21h15.86v-4l2.4 4h12.71V22.1H141v3.12l-1.76-3.12h-12.91v3.12l-1.62-3.12h-17.43a15.66 15.66 0 0 0-7.56 1.54V22.1h-12v1.54a7.46 7.46 0 0 0-5.11-1.54h-44l-2.95 6.82-3-6.82H18.81v3.12l-1.52-3.12H5.48L0 34.66v13.86zm161 13.95h-8.25a3.13 3.13 0 0 0-1.83.34 1.47 1.47 0 0 0-.66 1.36 1.43 1.43 0 0 0 1 1.41 5.16 5.16 0 0 0 1.74.21l2.45.07c2.48.06 4.13.49 5.14 1.52a2.44 2.44 0 0 1 .42.47zM161 75c-1.1 1.61-3.24 2.42-6.14 2.42h-8.74v-4.1h8.71a2.58 2.58 0 0 0 1.83-.47 1.67 1.67 0 0 0 .54-1.24 1.56 1.56 0 0 0-.55-1.25 2.3 2.3 0 0 0-1.6-.42c-4.25-.14-9.55.13-9.55-5.86 0-2.75 1.74-5.64 6.5-5.64h9v-3.77h-8.38a9.44 9.44 0 0 0-5.62 1.54v-1.54h-12.4c-2 0-4.31.49-5.41 1.55v-1.55h-22.13v1.55c-1.76-1.27-4.73-1.55-6.11-1.55H86.36v1.55C85 54.86 81.87 54.67 80 54.67H63.64l-3.74 4-3.5-4H32V81.1h23.94l3.85-4.1 3.63 4.11h14.76V74.9h1.45a15.38 15.38 0 0 0 6.31-.9v7.1h12.17v-6.89h.59c.75 0 .82 0 .82.78v6.11h37a10.55 10.55 0 0 0 6.16-1.69v1.69h11.72a15.72 15.72 0 0 0 6.6-1.22V75zm-18-7.61a5.27 5.27 0 0 1 1.35 4c0 4.08-2.55 6-7.11 6h-8.84v-4.07h8.78a2.66 2.66 0 0 0 1.85-.47 1.68 1.68 0 0 0 .53-1.24 1.63 1.63 0 0 0-.55-1.25 2.38 2.38 0 0 0-1.61-.42c-4.23-.14-9.54.13-9.54-5.86 0-2.75 1.73-5.64 6.47-5.64h9.08v4h-8.31a3.06 3.06 0 0 0-1.81.34 1.59 1.59 0 0 0 .31 2.77 5.21 5.21 0 0 0 1.76.21l2.44.07c2.46.06 4.14.49 5.17 1.52zm-40.85-1.17a4.33 4.33 0 0 1-2.24.39h-5.5v-4.26H100a4.46 4.46 0 0 1 2.16.34 1.8 1.8 0 0 1 .94 1.7 2 2 0 0 1-.94 1.82zm2.73 2.36a4.92 4.92 0 0 1 2.22 1.59c.64.92.73 1.79.75 3.46v3.76h-4.55V75c0-1.14.11-2.83-.73-3.71-.66-.68-1.67-.84-3.32-.84h-4.86v6.92h-4.55V58.44h10.46c2.29 0 4 .1 5.45.89a4.44 4.44 0 0 1 2.33 4.21 5.31 5.31 0 0 1-3.21 5zm5.72-10.14h15.11v3.92h-10.6v3.44h10.34v3.87h-10.36v3.77h10.6v3.93h-15.11V58.44zM80 67.18h-5.82v-4.83h5.9c1.63 0 2.77.67 2.77 2.32s-1.08 2.5-2.82 2.5zm-10.33 8.48l-7-7.72 7-7.47v15.19zm-18-2.23H40.59v-3.77h9.94V65.8h-9.94v-3.45h11.35l5 5.52-5.17 5.56zm36-8.76c0 5.26-3.93 6.35-7.88 6.35h-5.61v6.35h-8.8l-5.57-6.27L54 77.38H36.08V58.44h18.21l5.57 6.21 5.76-6.21h14.47c3.59 0 7.63 1 7.63 6.24z"></path></g></g></g></g></symbol><symbol id="maestro" viewBox="0 0 480 300.14"><defs><style>.cls-1-m{fill:#f4f4f4}.cls-2-m{fill:#4186cd}.cls-3-m{fill:#4487ca}.cls-4-m{fill:#ca4638}.cls-5{fill:#231f20}.cls-6{fill:#fff}</style></defs><title>Maestro</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="round-rect"><g id="maestro_card_payment" data-name="maestro card payment"><path id="Rectangle-1" class="cls-1-m" d="M444 0H24C12 0 0 12 0 24v240.11c0 24.01 12 36 36 36h408q36 0 36-36V36q0-36-36-36z"></path><g id="logo-2"><path id="path618" class="cls-2-m" d="M240.26 242.9a125.17 125.17 0 1 0-84 32.43 124.95 124.95 0 0 0 84-32.43"></path><path id="path620" class="cls-3-m" d="M240.26 242.9a125.45 125.45 0 0 0 0-185.79z"></path><path id="path624" class="cls-4-m" d="M324.39 24.69a124.67 124.67 0 0 0-84.14 32.43A136 136 0 0 0 227.6 70.4h25.32a103.37 103.37 0 0 1 9.5 13.26h-44.3q-3.92 6.34-7.27 13.26h58.82a111.29 111.29 0 0 1 5.21 13.29h-69.25a105.48 105.48 0 0 0-3.72 13.26h76.69a124.58 124.58 0 0 1 2.8 26.53 122.57 122.57 0 0 1-6.52 39.81h-69.25a111.25 111.25 0 0 0 5.21 13.28h58.82a117.71 117.71 0 0 1-7.26 13.27h-44.3a125.86 125.86 0 0 0 9.5 13.27h25.32a136.32 136.32 0 0 1-12.66 13.28 124.78 124.78 0 0 0 84.14 32.43c69.06 0 125.09-56.1 125.09-125.33S393.49 24.7 324.4 24.7"></path><path id="path626" class="cls-5" d="M436.27 219.61h.56c.19 0 .37 0 .37-.05.19-.1.37-.25.37-.4s-.19-.31-.37-.38c0-.08-.37-.05-.37-.05h-.56v.89zm0 2h-.74v-3.56H437a1.73 1.73 0 0 1 .93.18 1.38 1.38 0 0 1 .37.89.93.93 0 0 1-.56.91l.56 1.58h-.93l-.37-1.42h-.75v1.42zm.56 1.3a3.08 3.08 0 1 0 0-6.16 3.08 3.08 0 0 0 0 6.16zm-4.09-3.08a4.1 4.1 0 1 1 4.09 4 4.08 4.08 0 0 1-4.09-4z"></path><path id="path628" class="cls-5" d="M136.76 184.87h-15.82l9.3-48.87-21.41 48.85h-13L93.2 136.3l-10.43 48.57H68.44l12.1-63.53h24.76l.37 39.33 17.13-39.33H149l-12.28 63.53"></path><path id="path630" class="cls-5" d="M310.8 184.22a40.55 40.55 0 0 1-11.17 1.68c-8 0-12.29-4-12.29-11.35a20.41 20.41 0 0 1 .37-4.64l.93-5.06.75-4.07 7.26-39.46h15.45l-2.23 11.86h8l-2.23 12.55h-8l-4.09 21.56a10.36 10.36 0 0 0-.19 2.14c0 2.67 1.49 3.84 5.21 3.84a14.78 14.78 0 0 0 4.28-.48l-2 11.43"></path><path id="path632" class="cls-5" d="M249 149.51c0 6.54 3.54 11 11.91 14.41 6.33 2.6 7.44 3.36 7.44 5.7 0 3.24-2.79 4.68-9.12 4.68a50.32 50.32 0 0 1-14.15-2.06l-2 11.93.56.1 3 .53c.93.15 2.24.31 4.09.46 3.72.28 6.7.44 8.75.44 16.57 0 24.2-5.47 24.2-17.26 0-7.08-3.17-11.25-11-14.39-6.7-2.62-7.44-3.18-7.44-5.6 0-2.8 2.61-4.23 7.63-4.23a100 100 0 0 1 11.35.79l2.24-12a122.81 122.81 0 0 0-13.78-1C255 132 248.82 140 249 149.51"></path><path id="path634" class="cls-5" d="M176.59 161.85a28.64 28.64 0 0 0-3.54-.23c-8.75 0-13.21 2.65-13.21 7.86 0 3.21 2.23 5.27 5.58 5.27 6.33 0 11-5.27 11.17-12.9zm10.61 23h-13l.37-5.37c-4.09 4.25-9.31 6.26-16.38 6.26-8.56 0-14.33-5.75-14.33-14.1 0-12.6 10.05-19.93 27.36-19.93a52.36 52.36 0 0 1 6.33.4 10.25 10.25 0 0 0 .74-3.36c0-3.44-2.79-4.71-10.05-4.71a58.06 58.06 0 0 0-13 1.45l-2 .53-1.49.33 2.23-11.6c7.82-2 12.84-2.75 18.61-2.75 13.4 0 20.48 5.24 20.48 15.17 0 2.54-.19 4.48-1.3 10.23l-3.17 18.33-.56 3.28-.37 2.62-.37 1.81v1.4z"></path><path id="path636" class="cls-5" d="M230.76 153c0-1.07.19-2 .19-2.62 0-4.2-2.79-6.67-7.45-6.67-5 0-8.56 3.31-9.87 9.26h17.13zm7.63 30.75a60.52 60.52 0 0 1-16 2.08c-17.5 0-26.43-7.94-26.43-23.13 0-17.74 11.54-30.8 27.18-30.8 12.84 0 21 7.3 21 18.78a44.49 44.49 0 0 1-2 12.75h-30.9a5.85 5.85 0 0 0-.19 1.63c0 6 4.65 9 13.77 9a41.32 41.32 0 0 0 16.2-3.26l-2.61 12.91z"></path><path id="path638" class="cls-5" d="M388.8 155.26c0-5.4-2.23-10.51-8.56-10.51-8 0-12.84 9.42-12.84 17.71 0 7 3.35 11.71 8.94 11.6 3.35 0 10.61-4.61 11.91-12.65a31.86 31.86 0 0 0 .55-6.15zm15.82 6.18c-2.24 17.18-14.33 24.8-30.34 24.8-17.5 0-24.57-10.69-24.57-23.8 0-18.33 11.91-30.72 30.53-30.72 16.19 0 24.76 10.21 24.76 23.32a36.24 36.24 0 0 1-.38 6.41z"></path><path id="path640" class="cls-6" d="M409.83 176.92h.56a1.09 1.09 0 0 0 .37-.08c.18-.08.19-.25.19-.41s0-.28-.19-.35c0-.08-.37-.08-.56-.08h-.37v.91zm0 2h-.75v-3.56h1.49a2.18 2.18 0 0 1 .93.21 1.32 1.32 0 0 1 .37.89 1 1 0 0 1-.56.91l.56 1.55h-.93l-.56-1.4h-.55v1.4zm.56 1.3a3.07 3.07 0 0 0 0-6.14 3.07 3.07 0 1 0 0 6.14zm-4.09-3.08a4.1 4.1 0 1 1 4.09 4 4.08 4.08 0 0 1-4.09-4z"></path><path id="path642" class="cls-6" d="M140.67 181.2H125l9.31-48.84-21.38 48.84H98.78l-2.61-48.54-9.3 48.54H72.72l12.1-63.53h24.38l1.12 39.33 17.31-39.35h25.32l-12.28 63.55"></path><path id="path644" class="cls-6" d="M314.71 180.59a40.67 40.67 0 0 1-11.17 1.68c-8 0-12.29-4-12.29-11.35a41.9 41.9 0 0 1 .37-4.63l.93-5.07.74-4.1 7.26-39.45H316l-2.23 11.86h8l-2.24 12.57h-8l-4.09 21.56a10.28 10.28 0 0 0-.19 2.14c0 2.68 1.68 3.82 5.4 3.82a14.2 14.2 0 0 0 4.09-.49l-2 11.46"></path><path id="path646" class="cls-5" d="M354.73 144.37l-.37-1.63 3.17-8.1a4.41 4.41 0 0 1-1.12-.15c-.93-.18-1.3-.28-1.49-.28a6.21 6.21 0 0 0-1.49-.13c-5.21 0-8.75 2.26-13.59 8.38l1.68-9.19h-16.2l-9.5 51.59h15.45c2-11.84 3-18.58 4.28-24.18 2-9.29 8.94-13.52 14-12.57a7.47 7.47 0 0 1 1.67.38l.93.35 2.61-4.48"></path><path id="path648" class="cls-6" d="M360.13 130a9.48 9.48 0 0 0-1.67-.56c-.75-.18-1.31-.28-1.31-.31a12.28 12.28 0 0 0-1.68-.13c-5 0-8.75 2.29-13.59 8.4l1.49-7.84h-14.14l-9.5 51.67h15.64c5.58-31.59 8-37.13 15.45-37.13a18.09 18.09 0 0 1 1.86.13l1.86.38 5.59-14.61"></path><path id="path650" class="cls-6" d="M252.91 145.87c0 6.51 3.72 11 12.1 14.41 6.33 2.57 7.26 3.34 7.26 5.7 0 3.21-2.79 4.66-8.94 4.66a50.29 50.29 0 0 1-14.15-2L247 180.51l.74.12 2.79.51a39.36 39.36 0 0 0 4.28.46c3.72.28 6.51.43 8.56.43 16.75 0 24.38-5.45 24.38-17.23 0-7.1-3.16-11.25-11.17-14.38-6.51-2.62-7.26-3.21-7.26-5.63 0-2.78 2.61-4.2 7.63-4.2a102.47 102.47 0 0 1 11.36.76l2.23-12a122.83 122.83 0 0 0-14-1c-17.5 0-23.64 7.95-23.64 17.49"></path><path id="path652" class="cls-6" d="M179.95 158.19a28.62 28.62 0 0 0-3.54-.2c-8.75 0-13.22 2.65-13.22 7.86 0 3.21 2 5.27 5.58 5.27 6.33 0 10.8-5.29 11.17-12.93zm11.35 23h-13l.37-5.34c-3.91 4.25-9.31 6.23-16.38 6.23-8.38 0-14.15-5.75-14.15-14.1 0-12.58 10.05-19.93 27.36-19.93 1.68 0 3.91.15 6.33.41a15.45 15.45 0 0 0 .56-3.36c0-3.41-2.79-4.68-10.05-4.68a55.2 55.2 0 0 0-12.84 1.42l-2.23.56-1.3.33 2-11.63c7.82-2 12.84-2.72 18.61-2.72 13.4 0 20.48 5.24 20.48 15.15a57.84 57.84 0 0 1-1.12 10.23l-3.35 18.36-.59 3.28-.37 2.62-.19 1.78-.18 1.4z"></path><path id="path654" class="cls-6" d="M234.11 149.36v-2.65c0-4.2-2.61-6.64-7.26-6.64-5 0-8.56 3.28-10.05 9.27h17.31zm8.19 30.75a60.37 60.37 0 0 1-15.83 2.09c-17.5 0-26.62-7.94-26.62-23.16 0-17.71 11.54-30.77 27.17-30.77 12.84 0 21 7.3 21 18.76a50.88 50.88 0 0 1-1.87 12.77h-30.9a5.86 5.86 0 0 0-.19 1.63c0 6 4.65 9 13.59 9a41.39 41.39 0 0 0 16.19-3.29l-2.6 12.93z"></path><path id="path656" class="cls-6" d="M392.52 151.16c0-5.4-2.23-10.51-8.56-10.51-8 0-12.84 9.42-12.84 17.71 0 7 3.35 11.74 8.94 11.63 3.35 0 10.61-4.61 11.91-12.65a32.14 32.14 0 0 0 .55-6.18zm16.2 6.62c-2.42 17.18-14.34 24.81-30.34 24.81-17.69 0-24.76-10.72-24.76-23.83 0-18.3 12.1-30.72 30.72-30.72 16.19 0 24.76 10.21 24.76 23.31a35.91 35.91 0 0 1-.37 6.42z"></path></g></g></g></g></g></symbol><symbol id="jcb" viewBox="0 0 480 300.14">
    <defs><style>.cls-1-j{fill:#f4f4f4}.cls-2-j{fill:#479951}.cls-3-j{fill:#265797}.cls-4-j{fill:#ca4638}</style></defs><title>JCB</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="round-rect"><g id="jcb_card_payment" data-name="jcb card payment"><path id="Rectangle-1" class="cls-1-j" d="M444 0H24C12 0 0 12 0 24v240.11c0 24.01 12 36 36 36h408q36 0 36-36V36q0-36-36-36z"></path><g id="jcb-2"><path id="Shape" class="cls-2-j" d="M314.54 155.49h23.58l.36.05h.36l.36.09.36.11.36.12.36.14.36.16.36.17.36.19.36.21.36.23.36.26.36.29.36.32.36.35.36.39.36.43q.19.24.36.49t.36.57q.19.33.36.68t.36.85A9.81 9.81 0 0 1 346 163a10.51 10.51 0 0 1 0 4.59 9.82 9.82 0 0 1-.36 1.22q-.16.44-.36.85t-.36.68q-.17.29-.36.57t-.36.49l-.36.43-.36.39-.36.35-.36.31-.36.28-.36.26-.36.23-.36.21-.36.19-.36.17-.36.15-.36.14-.36.12-.36.11-.36.09h-.36l-.36.06H314.54v-19.4zm29-22.25a10 10 0 0 1 0 4.19 9 9 0 0 1-.36 1.22 8.67 8.67 0 0 1-.36.83q-.17.33-.36.65c-.11.19-.23.37-.36.54s-.24.31-.36.46l-.36.41-.36.36-.36.32-.36.29-.36.26-.36.23-.36.21-.36.19-.36.17-.36.15-.36.13-.36.12-.36.1-.36.09-.36.07h-21.8v-17.96H336.34l.36.07.36.09.36.1.36.12.36.13.36.15.36.17.36.19.36.21.36.23.36.26.36.29.36.32.36.36.36.41q.19.22.36.46c.13.17.25.35.36.54s.25.43.36.65a8.68 8.68 0 0 1 .36.83 9 9 0 0 1 .36 1.22zm44.63-94.07h.15v186.32c0 1.11-.05 2.21-.15 3.3s-.2 1.91-.36 2.84q-.16.94-.36 1.87-.17.75-.36 1.5t-.36 1.27c-.11.38-.23.76-.36 1.13s-.24.68-.36 1-.24.62-.36.93-.24.58-.36.86l-.36.81-.36.76-.36.72-.36.68-.36.65-.36.62-.36.6-.36.57-.36.55-.36.53-.36.51-.36.49-.36.47-.36.46-.36.45-.36.43-.36.42-.36.41-.36.4-.36.39-.36.37-.36.37-.36.35-.36.35-.36.33-.36.33-.36.32-.36.31-.36.3-.36.29-.36.29-.36.28-.36.28-.36.27-.36.26-.36.25-.36.25-.36.24-.36.24-.36.23-.36.22-.36.22-.36.21-.36.21-.36.2-.36.2-.36.19-.36.19-.36.18-.36.18-.36.17-.36.17-.36.16-.36.16-.36.16-.36.15-.36.15-.36.14-.36.14-.36.13-.36.13-.36.13-.36.12-.36.12-.36.11-.36.11-.36.11-.36.1-.36.1-.36.09-.36.09-.36.09-.36.08-.36.08-.36.07-.36.07-.36.07-.36.06-.36.06-.36.05-.36.05-.36.05H296.3v-76h62.69l.36-.05.36-.06.36-.06.36-.06.36-.07.36-.07.36-.08.36-.08.36-.09.36-.09.36-.1.36-.1.36-.11.36-.11.36-.12.36-.12.36-.13.36-.14.36-.14.36-.15.36-.15.36-.16.36-.17.36-.17.36-.18.36-.19.36-.2.36-.21.36-.22.36-.23.36-.24.36-.25.36-.26.36-.27.36-.29.36-.3.36-.32.36-.33.33-.42.36-.37.36-.4.36-.42.36-.45.36-.48.36-.53.36-.57q.19-.31.36-.63c.13-.23.25-.47.36-.71s.25-.54.36-.81.25-.64.36-1 .25-.81.36-1.23a16.81 16.81 0 0 0 .36-1.88 18 18 0 0 0 .16-2.4 16.89 16.89 0 0 0-.16-2.33 15.81 15.81 0 0 0-.36-1.81q-.16-.6-.36-1.18t-.36-.93q-.17-.4-.36-.78t-.36-.68q-.17-.31-.36-.61l-.36-.55-.36-.51-.36-.47-.36-.44-.36-.41-.36-.38-.36-.36-.36-.34-.36-.32-.36-.31-.36-.29-.36-.28-.36-.26-.36-.25-.36-.24-.36-.23-.36-.22-.36-.21-.36-.2-.36-.19-.36-.19-.36-.18-.36-.17-.36-.16-.36-.16-.36-.15-.36-.15-.36-.14-.36-.13-.36-.13-.36-.12-.36-.12-.36-.11-.36-.11-.36-.1-.36-.09-.36-.09-.36-.09-.36-.08-.36-.08-.36-.07-.36-.07-.36-.06-.36-.06-.36-.06-.36-.05H356.47v-.43l.33-.05.36-.06.36-.06.36-.07.36-.07.36-.08.36-.08.36-.09.36-.1.36-.1.36-.11.36-.11.36-.12.36-.13.36-.13.36-.14.36-.15.44-.34.36-.16.36-.17.36-.18.36-.19.36-.2.36-.2.36-.22.36-.23.36-.24.36-.25.36-.26.36-.28.36-.29.36-.31.36-.33.36-.34.36-.37.36-.39.36-.42.36-.45.36-.48.36-.52.36-.57q.19-.31.36-.63t.36-.71q.19-.41.36-.82t.36-1q.21-.63.36-1.27a16.33 16.33 0 0 0 .36-2.13 17 17 0 0 0 .09-1.73c0-.62 0-1.22-.09-1.8a16.54 16.54 0 0 0-.36-2.17q-.15-.65-.36-1.28t-.36-1q-.17-.41-.36-.81t-.36-.7q-.17-.32-.36-.62l-.36-.56-.36-.51-.36-.47-.36-.43-.36-.4-.36-.38-.36-.35-.36-.33-.36-.31-.36-.3-.36-.28-.36-.27-.36-.25-.36-.24-.36-.23-.36-.22-.36-.21-.36-.2-.36-.19-.44-.15-.36-.17-.36-.16-.36-.16-.36-.15-.36-.14-.36-.14-.36-.13-.36-.12-.36-.12-.36-.11-.36-.11-.36-.1-.36-.1-.36-.09-.36-.09-.36-.08-.36-.08-.36-.07-.36-.07-.36-.06-.36-.06-.36-.05-.36-.05H296.3V76.44a37.39 37.39 0 0 1 .78-7.6q.16-.79.36-1.56t.36-1.28q.17-.58.36-1.16t.36-1 .36-1 .36-.88l.36-.82.36-.77.36-.73.36-.69.36-.66.36-.63.36-.6.36-.58.36-.55.36-.53.36-.52.36-.49.36-.48.36-.47.36-.45.36-.44.36-.43.36-.41.36-.4.36-.39.36-.38.36-.37.36-.36.36-.35.36-.33.36-.33.36-.32.36-.31.36-.3.36-.3.36-.29.36-.28.36-.28.36-.27.36-.26.36-.26.36-.25.36-.24.36-.24.36-.23.36-.22.36-.22.36-.21.36-.21.36-.2.36-.2.36-.19.36-.19.36-.18.36-.18.36-.17.36-.17.36-.17.36-.16.36-.16.36-.15.36-.15.36-.14.36-.14.36-.14.36-.13.36-.13.36-.12.36-.12.36-.11.36-.11.36-.11.36-.1.36-.1.36-.09.36-.09.36-.09.36-.08.36-.08.36-.07.36-.07.36-.07.36-.06.36-.06.36-.06.36-.05.36-.05H388.16z"></path><path id="Shape-2" data-name="Shape" class="cls-3-j" d="M91.21 168.83l-.77-.37v-92a37.39 37.39 0 0 1 .77-7.58q.16-.79.36-1.56t.36-1.32q.17-.58.36-1.16c.12-.35.23-.7.36-1s.23-.64.36-1 .24-.59.36-.88l.36-.82.36-.77.36-.73.36-.69.36-.66.36-.63.36-.6.36-.58.36-.55.36-.53.36-.52.36-.49.36-.48.36-.47.36-.45.36-.44.36-.42.36-.41.36-.4.36-.39.36-.38.36-.37.36-.36.36-.35.36-.33.36-.33.36-.32.36-.31.36-.3.36-.3.36-.29.36-.28.36-.28.36-.27.36-.26.36-.26.36-.25.36-.24.36-.24.36-.23.36-.22.36-.22.36-.21.36-.21.36-.2.36-.2.36-.19.36-.19.36-.18.36-.18.36-.17.36-.17.36-.17.36-.16.36-.16.36-.15.36-.15.36-.14.36-.14.36-.14.36-.13.36-.13.36-.12.36-.12.36-.11.36-.11.36-.11.36-.1.36-.1.36-.09.36-.09.36-.09.36-.08.35-.05.36-.08.36-.07.36-.07.36-.06.36-.06.36-.06.36-.05.36-.05h59.6v185.99a37.6 37.6 0 0 1-.3 4.78c-.1.75-.22 1.5-.36 2.24q-.16.84-.36 1.67t-.36 1.39q-.17.6-.36 1.2t-.36 1.07q-.17.49-.36 1t-.36.9l-.36.84-.36.79-.36.74-.36.7-.36.67-.36.64-.36.61-.36.58-.36.56-.36.54-.36.52-.36.5-.36.49-.36.47-.36.45-.36.44-.36.42-.36.41-.36.4-.36.39-.36.38-.36.37-.36.36-.36.35-.36.34-.36.33-.36.32-.36.32-.36.3-.36.3-.36.29-.36.29-.36.28-.36.27-.36.26-.36.26-.36.25-.36.25-.36.24-.36.24-.36.22-.36.22-.36.21-.36.21-.36.2-.36.2-.36.19-.36.19-.36.19-.36.18-.36.18-.36.17-.36.17-.36.16-.36.16-.36.15-.36.15-.36.15-.36.14-.36.14-.36.13-.36.13-.36.12-.36.12-.36.12-.36.11-.36.11-.36.1-.36.1-.36.1-.36.09-.36.09-.36.08-.36.08-.36.08-.36.07-.36.07-.36.06-.36.06-.36.06-.36.05-.36.05h-59.7v-78.24l.77.2.36.09.36.09.36.09.36.08.36.08.36.08.36.08.36.08.36.08.36.08.36.08.36.08.36.07.36.07.36.07.36.07.36.07.36.07.36.07.36.07.36.07.36.07.36.07.36.06.36.06.36.06.36.06.36.06.36.06.36.06.36.06.36.06.36.06.36.06.36.06.36.06.36.05.36.05.36.05.36.05.36.05.36.05H143.75l.36-.05.36-.05.36-.05.36-.06.36-.06.36-.06.36-.06.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.08.36-.08.36-.08.36-.08.36-.09.36-.09.36-.09.36-.09.36-.1.36-.1.36-.1.36-.1.36-.1.36-.11.36-.11.36-.11.36-.12.36-.12.36-.12.36-.13.36-.13.36-.13.36-.14.36-.14.36-.15.36-.15.36-.15.36-.16.36-.16.36-.17.36-.17.36-.17.36-.18.36-.18.36-.19.36-.2.36-.2.36-.21.36-.21.36-.22.36-.23.36-.24.36-.24.36-.25.36-.26.36-.27.36-.28.36-.29.36-.3.36-.31.36-.33.36-.33.36-.35.36-.36.36-.37.36-.4.36-.42.36-.43.36-.46.36-.48.36-.51.36-.54.36-.57.36-.61.36-.66q.19-.36.36-.72t.36-.78q.19-.43.36-.86t.36-1q.19-.55.36-1.12t.36-1.33q.2-.83.36-1.69.23-1.27.36-2.58.18-1.82.18-3.71v-42.62h-32.21v43.23q0 1-.09 2a20.67 20.67 0 0 1-.36 2.43q-.15.73-.36 1.43t-.36 1.1q-.17.46-.36.91t-.36.79c-.11.24-.23.47-.36.7s-.24.42-.36.62l-.36.57-.36.52-.36.48-.36.44-.36.41-.36.39-.36.36-.36.34-.36.32-.36.3-.36.29-.36.27-.36.26-.36.24-.36.23-.36.22-.36.2-.36.19-.36.18-.36.17-.36.17-.36.16-.36.15-.36.14-.36.13-.36.12-.36.12-.36.11-.36.1-.36.1-.36.09-.36.08-.36.08-.36.07-.36.06-.36.06-.36.05H114.88l-.36-.05-.36-.05-.36-.05-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.08-.36-.08-.36-.08-.36-.08-.36-.08-.36-.09-.36-.09-.36-.09-.36-.09-.36-.09-.36-.1-.36-.1-.36-.1-.36-.1-.36-.1-.36-.11-.36-.11-.36-.11-.36-.11-.36-.11-.36-.12-.36-.12-.36-.12-.36-.12-.36-.12-.36-.12-.36-.13-.36-.13-.36-.13-.36-.13-.36-.13-.36-.14-.36-.14-.36-.14-.36-.14-.36-.14-.36-.14-.36-.15-.36-.15-.36-.15-.36-.15-.36-.15-.36-.15-.36-.16-.36-.16-.36-.16-.36-.16-.36-.16-.36-.16-.36-.17-.36-.17-.36-.17-.36-.17z"></path><path id="Shape-3" data-name="Shape" class="cls-4-j" d="M195.63 124.58l-.77.64V76.44a37.4 37.4 0 0 1 .77-7.57q.16-.79.36-1.56t.36-1.32q.17-.58.36-1.16t.36-1 .36-1 .36-.88l.36-.82.36-.77.36-.73.36-.69.36-.66.36-.63.36-.6.36-.58.36-.55.36-.53.36-.52.36-.49.36-.48.36-.47.36-.45.36-.44.36-.42.36-.41.36-.4.36-.39.36-.38.36-.37.36-.35.36-.35.36-.33.36-.33.36-.32.36-.31.36-.3.36-.3.36-.29.36-.28.36-.28.36-.27.36-.26.36-.26.36-.25.36-.24.36-.24.36-.23.36-.22.36-.22.36-.21.36-.21.36-.2.36-.2.36-.19.36-.19.36-.18.36-.18.36-.17.36-.17.36-.17.36-.16.36-.16.36-.15.36-.15.36-.14.36-.14.36-.14.36-.13.36-.13.36-.12.36-.12.36-.11.36-.11.36-.11.36-.1.36-.1.36-.09.36-.09.36-.09.36-.08.36-.08.36-.08.36-.07.36-.07.36-.06.36-.06.36-.06.36-.05.36-.05h59.6v186.02a37.57 37.57 0 0 1-.3 4.78c-.1.75-.22 1.5-.36 2.24q-.16.84-.36 1.67t-.36 1.39q-.17.6-.36 1.2t-.36 1.07q-.17.49-.36 1t-.36.9l-.36.84-.36.79-.36.74-.36.7-.36.67-.36.64-.36.61-.36.58-.36.56-.36.54-.36.52-.36.5-.36.49-.36.47-.36.45-.36.44-.36.43-.36.41-.36.4-.36.39-.36.38-.36.37-.36.36-.36.35-.36.34-.36.33-.36.32-.36.32-.36.3-.36.3-.36.29-.36.29-.36.28-.36.27-.36.26-.36.26-.36.25-.36.25-.36.24-.36.24-.36.22-.36.22-.36.21-.36.21-.36.2-.36.2-.36.19-.36.19-.36.19-.36.18-.36.18-.36.17-.36.17-.36.16-.36.16-.36.15-.36.15-.36.15-.36.14-.36.14-.36.13-.36.13-.36.12-.36.12-.36.12-.36.11-.36.11-.36.1-.36.1-.36.1-.36.09-.36.09-.36.08-.36.08-.36.08-.36.07-.36.07-.36.06-.36.06-.36.06-.36.05-.36.05h-59.71v-86l.77.64.36.29.36.28.36.27.36.26.36.26.36.25.36.25.36.24.36.23.36.23.36.22.36.22.36.21.36.21.36.2.36.2.36.19.36.19.36.18.36.18.36.18.36.17.36.17.36.17.36.16.36.16.36.16.36.15.36.15.36.15.36.14.36.14.36.14.36.14.36.13.36.13.36.12.36.13.36.12.36.12.36.12.36.12.36.11.36.11.36.11.36.1.36.1.36.1.36.1.36.1.36.09.36.09.36.09.36.09.36.09.36.08.36.08.36.08.36.08.36.08.36.07.36.07.36.07.36.07.36.07.36.07.36.07.36.06.36.06.36.06.36.06.36.06.36.05.36.05.36.05.36.05.36.05H258.95l.36-.05.36-.05.36-.05.36-.05.36-.05.36-.05.36-.05.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.06.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.07.36-.08.36-.08.36-.08.36-.08.36-.08.36-.08.36-.08.36-.08.36-.08.36-.08.36-.08.36-.09.36-.09.36-.09v-15.77l-.36.18-.36.18-.36.18-.36.17-.36.17-.36.17-.36.17-.36.17-.36.17-.36.16-.36.16-.36.16-.36.16-.36.16-.36.15-.36.15-.36.15-.36.15-.36.15-.36.14-.36.14-.36.14-.36.14-.36.14-.36.13-.36.13-.36.13-.36.13-.36.13-.36.12-.36.12-.36.12-.36.12-.36.12-.36.11-.36.11-.36.11-.36.11-.36.11-.36.1-.36.1-.36.1-.36.1-.36.1-.36.09-.36.09-.36.09-.36.09-.36.09-.36.08-.36.08-.36.08-.36.08-.36.08-.36.07-.36.07-.36.07-.36.07-.36.07-.36.06-.36.06-.36.06-.36.06-.36.06-.36.05-.36.05-.36.05H238.4l-.36-.05-.36-.05-.36-.06-.36-.06-.36-.07-.36-.07-.36-.08-.36-.08-.36-.08-.36-.08-.36-.09-.36-.09-.36-.1-.36-.1-.36-.11-.36-.11-.36-.12-.36-.12-.36-.13-.36-.13-.36-.14-.36-.14-.36-.15-.36-.16-.36-.17-.36-.17-.36-.18-.36-.18-.36-.19-.36-.2-.36-.21-.36-.22-.36-.23-.36-.23-.36-.25-.36-.25-.36-.26-.36-.28-.36-.29-.36-.3-.36-.32-.36-.33-.36-.34-.36-.36-.36-.38-.36-.4-.36-.42-.36-.44-.36-.47-.36-.49-.36-.52-.36-.56-.36-.6-.36-.65q-.19-.35-.36-.7t-.36-.77c-.12-.28-.24-.56-.36-.85s-.24-.64-.36-1-.25-.73-.36-1.1-.25-.87-.36-1.32-.25-1.12-.36-1.7q-.23-1.28-.36-2.64-.08-1.26-.08-2.89t.15-3.23q.13-1.36.36-2.64.16-.87.36-1.7.16-.67.36-1.32t.36-1.1c.11-.33.23-.65.36-1s.24-.57.36-.85.24-.52.36-.77.24-.47.36-.7l.36-.65.36-.6.36-.56.36-.52.36-.49.36-.47.36-.44.36-.42.36-.4.36-.38.36-.36.36-.34.36-.33.36-.32.36-.3.36-.29.36-.28.36-.26.36-.25.36-.25.36-.23.36-.23.36-.22.36-.21.36-.2.36-.19.36-.18.36-.18.36-.17.36-.17.36-.16.36-.15.36-.14.36-.14.36-.13.36-.13.36-.12.36-.12.36-.11.36-.11.36-.1.36-.1.36-.09.36-.09.36-.08.36-.08.36-.08.36-.08.36-.07.36-.07.36-.06.36-.06.36-.05.36-.05H252.5l.36.05.36.05.36.05.36.06.36.06.36.06.36.06.36.06.36.07.36.07.36.07.36.07.36.07.36.08.36.08.36.08.36.08.36.08.36.09.36.09.36.09.36.09.36.09.36.1.36.1.36.1.36.1.36.1.36.11.36.11.36.11.36.11.36.11.36.12.36.12.36.12.36.12.36.12.36.13.36.13.36.13.36.13.36.14.36.14.36.14.36.14.36.14.36.15.36.15.36.15.36.15.36.15.36.16.36.16.36.16.36.16.36.16.36.17.36.17.36.17.36.17.36.17.36.17.36.18.36.18.36.18.36.18v-15.55l-.36-.09-.36-.09-.36-.09-.36-.08-.36-.08-.36-.08-.36-.08-.36-.08-.36-.08-.36-.08-.36-.08-.36-.08-.36-.08-.36-.08-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.07-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.06-.36-.05-.36-.05-.36-.05-.36-.05-.36-.05-.36-.05H223.38l-.36.05-.36.05-.36.05-.36.05-.36.05-.36.06-.36.06-.36.06-.36.06-.36.06-.36.07-.36.07-.36.07-.36.07-.36.07-.36.07-.36.07-.36.08-.36.08-.36.08-.36.08-.36.08-.36.09-.36.09-.36.09-.36.09-.36.09-.36.1-.36.1-.36.1-.36.1-.36.11-.36.11-.36.11-.36.11-.36.12-.36.12-.36.12-.36.12-.36.13-.36.13-.36.13-.36.13-.36.14-.36.14-.36.14-.36.14-.36.15-.36.15-.36.15-.38-.16-.36.16-.36.16-.36.17-.36.17-.36.17-.36.18-.36.18-.36.19-.36.19-.36.19-.36.2-.36.2-.36.21-.36.21-.36.22-.36.22-.36.23-.36.23-.36.24-.36.25-.36.25-.36.26-.36.26-.36.27-.36.28-.36.29z"></path></g></g></g></g></g></symbol><symbol id="cardyellow" viewBox="0 0 40 28"><defs><style>.cls-1-cy{fill:#ffd731}.cls-2-cy{fill:#4f5d73}.cls-3-cy{fill:#e0995e}</style></defs><title>card</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Layer_2-2" data-name="Layer 2"><g id="Layer_1-2-2" data-name="Layer 1-2"><g id="Layer_1-3" data-name="Layer 1-3"><path class="cls-1-cy" d="M40 24a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h32a4 4 0 0 1 4 4z"></path><path class="cls-2-cy" d="M0 6h40v6H0z"></path><circle class="cls-3-cy" cx="26" cy="22" r="2"></circle><circle class="cls-3-cy" cx="34" cy="22" r="2"></circle><circle class="cls-3-cy" cx="18" cy="22" r="2"></circle></g></g></g></g></g></symbol><symbol id="paypal" viewBox="0 0 63 16.1"><defs><style>.cls-1-pp{fill:#139ad6}.cls-2-pp{fill:#263b80}.cls-3-pp{fill:#232c65}</style></defs><title>PayPal</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1-pp" d="M48.7 4.2h-3.4a.66.66 0 0 0-.5.4l-1.4 8.8a.27.27 0 0 0 .3.3h1.8a.27.27 0 0 0 .3-.3l.4-2.5a.46.46 0 0 1 .5-.4h1.1q3.45 0 3.9-3.3a2.62 2.62 0 0 0-.4-2.2 4 4 0 0 0-2.6-.8m.4 3.3c-.2 1.2-1.1 1.2-2 1.2h-.6l.4-2.3c0-.1.1-.2.3-.2h.2c.6 0 1.2 0 1.5.4.2.1.2.4.2.9"></path><path class="cls-2-pp" d="M24.2 4.2h-3.4a.66.66 0 0 0-.5.4l-1.4 8.8a.27.27 0 0 0 .3.3h1.6a.66.66 0 0 0 .5-.4l.4-2.4a.46.46 0 0 1 .5-.4h1.1q3.45 0 3.9-3.3a2.62 2.62 0 0 0-.4-2.2 3.84 3.84 0 0 0-2.6-.8m.4 3.3c-.2 1.2-1.1 1.2-2 1.2h-.5l.4-2.3c0-.1.1-.2.3-.2h.2c.6 0 1.2 0 1.5.4a1.07 1.07 0 0 1 .1.9M34.5 7.4h-1.6c-.1 0-.3.1-.3.2l-.1.5-.1-.2a2.35 2.35 0 0 0-1.9-.7 3.84 3.84 0 0 0-3.7 3.3 3 3 0 0 0 .6 2.5 2.52 2.52 0 0 0 2.1.8 3.2 3.2 0 0 0 2.3-.9l-.1.5a.27.27 0 0 0 .3.3h1.5a.66.66 0 0 0 .5-.4l.9-5.6c-.1-.1-.3-.3-.4-.3m-2.3 3.2a1.93 1.93 0 0 1-1.9 1.6 1.6 1.6 0 0 1-1.1-.4 2.13 2.13 0 0 1-.3-1.2 1.78 1.78 0 0 1 2.9-1.2 1.75 1.75 0 0 1 .4 1.2"></path><path class="cls-1-pp" d="M58.9 7.4h-1.6c-.1 0-.3.1-.3.2l-.1.5-.1-.2a2.35 2.35 0 0 0-1.9-.7 3.84 3.84 0 0 0-3.7 3.3 3 3 0 0 0 .6 2.5 2.52 2.52 0 0 0 2.1.8 3.2 3.2 0 0 0 2.3-.9l-.1.5a.27.27 0 0 0 .3.3h1.5a.66.66 0 0 0 .5-.4l.9-5.6c-.1-.1-.2-.3-.4-.3m-2.3 3.2a1.93 1.93 0 0 1-1.9 1.6 1.6 1.6 0 0 1-1.1-.4 2.13 2.13 0 0 1-.3-1.2 1.78 1.78 0 0 1 2.9-1.2 1.15 1.15 0 0 1 .4 1.2"></path><path class="cls-2-pp" d="M43.2 7.4h-1.7a.52.52 0 0 0-.4.2L38.9 11l-1-3.2a.46.46 0 0 0-.5-.3h-1.6c-.2 0-.3.2-.3.4l1.8 5.3-1.7 2.4c-.1.2 0 .5.2.5h1.6a.52.52 0 0 0 .4-.2L43.3 8c.3-.3.1-.6-.1-.6"></path><path class="cls-1-pp" d="M60.8 4.5l-1.4 9a.27.27 0 0 0 .3.3h1.4a.66.66 0 0 0 .5-.4L63 4.6a.27.27 0 0 0-.3-.3h-1.6c-.1-.1-.2 0-.3.2"></path><path class="cls-2-pp" d="M11.5 1.2C10.8.4 9.5 0 7.7 0h-5a.86.86 0 0 0-.7.6L0 13.7a.46.46 0 0 0 .4.5h3.1l.8-4.9v.2a.86.86 0 0 1 .7-.6h1.5c2.9 0 5.1-1.2 5.8-4.5v-.3a3.49 3.49 0 0 0-.8-2.9"></path><path class="cls-1-pp" d="M12.2 4.1v.3c-.7 3.4-2.9 4.5-5.8 4.5H4.9a.86.86 0 0 0-.7.6l-1 6.1a.37.37 0 0 0 .4.4h2.6a.56.56 0 0 0 .6-.5v-.1l.5-3.1v-.2a.56.56 0 0 1 .6-.5h.4c2.5 0 4.5-1 5-4a3.68 3.68 0 0 0-.5-3 1 1 0 0 0-.6-.5"></path><path class="cls-3-pp" d="M11.5 3.8c-.1 0-.2-.1-.3-.1a.37.37 0 0 1-.3-.1 5.28 5.28 0 0 0-1.3-.1H5.7a.37.37 0 0 0-.3.1.55.55 0 0 0-.3.5l-.8 5.2v.2a.86.86 0 0 1 .7-.6h1.5c2.9 0 5.1-1.2 5.8-4.5a.37.37 0 0 1 .1-.3c-.2-.1-.3-.2-.5-.2s-.3-.1-.4-.1"></path></g></g></symbol><symbol id="sofort" viewBox="0 0 749.36 232.3">
    <defs><style>.cls-1-sf{fill:#ee7f00}.cls-2-sf{fill:#383a41}</style></defs><title>Sofort</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1-sf" d="M247.83 0a69 69 0 0 0-29.52 6.75C205 13.07 192.88 23.6 183 37.57a133.77 133.77 0 0 0-16.2 31.35c-8.1 22.2-8 40.2.27 52.07 4.7 6.71 14.46 14.72 34.32 14.74h.08c36.17 0 63.17-23.71 80.27-70.47 4.52-12.37 10.48-35.46-.42-51C274.76 4.8 263.5 0 247.83 0zm218.26 0a68.92 68.92 0 0 0-29.52 6.75c-13.34 6.31-25.42 16.84-35.29 30.82a133.49 133.49 0 0 0-16.2 31.35c-8.11 22.2-8 40.2.28 52.07 4.69 6.71 14.45 14.72 34.32 14.74h.06c36.18 0 63.19-23.71 80.27-70.47 4.53-12.37 10.48-35.46-.41-51C493 4.8 481.76 0 466.09 0zM131.67 1.88c-11.9 0-23.47 0-33.83 5.26S78.33 22.91 71.29 44a41.67 41.67 0 0 0-2.44 11.81 17.66 17.66 0 0 0 1.77 8.78A25.53 25.53 0 0 0 78 72.91a36.17 36.17 0 0 0 11.21 5.67l5 1.42c2.63.76 5.7 1.66 7.65 2.25a15.5 15.5 0 0 1 3.53 1.49 7.07 7.07 0 0 1 2.8 2.83 6.26 6.26 0 0 1 .67 2.72 8.86 8.86 0 0 1-.52 3.16 8.58 8.58 0 0 1-5.23 5.82C100.3 99.39 96.2 99.75 90 99.8H12.28L0 133.54h83.16c7.82 0 22.13 0 35.88-5.85s26.96-17.51 32.51-40.87c2.1-8.78 1.45-15.93-2-21.55s-9.69-9.69-18.78-12.3l-4.43-1.28-6.54-1.88a8.78 8.78 0 0 1-5.17-3.72 7.33 7.33 0 0 1-.77-5.91 8.65 8.65 0 0 1 4.33-5.18 17.46 17.46 0 0 1 8.41-1.87h48.34c.34-.49.65-1 1-1.52a106.73 106.73 0 0 1 31.22-29.73zm217.27 0c-21.51 0-37.52 10.88-45.09 31.25l-36.54 100.4h40l18.78-51.61h35.38l10.07-27.64h-35.26l5.68-16a8.44 8.44 0 0 1 8.15-5.15h41.71c.35-.5.66-1 1-1.52 8.83-12.49 21.33-22.6 33-29.74h-76.88zM534.65 2l-47.94 131.62h40.72l17.42-46.35c.85 1.91 11.13 46.35 11.13 46.35h42.82S591 101 585.29 87.78a72.24 72.24 0 0 0-5.06-10.37c12.09-4.49 29.62-14.14 36.87-33.69 4.46-12 4.2-21.73-.75-28.85C610.34 6.22 598.12 2 579 2zm83.52 0a32.91 32.91 0 0 1 6.65 7c4.74 6.83 6.55 14.94 5.47 24.24h24.25L618 133.65h36.5l36.57-100.43H738L749.36 2zm-56.69 27.14h6.72c12.29 0 16.87 3.6 12.71 14.82C577 54.48 570 61 556.63 61h-7l11.81-31.84zm-323.26.65c12.51 0 15.37 7.27 4.39 37.31-11.28 30.88-19.47 38.66-31.8 38.66-12 0-16.22-7.61-5-38.35 8.39-22.95 19.26-37.62 32.41-37.62zm218.25 0c12.5 0 15.37 7.27 4.38 37.31-11.25 30.9-19.45 38.66-31.77 38.66-12 0-16.21-7.61-5-38.35 8.38-22.95 19.26-37.62 32.4-37.62z"></path><path class="cls-2-sf" d="M39.59 147.49a9.93 9.93 0 0 0-5.76 1.38 10.41 10.41 0 0 0-3.22 5c-.84 2.3-1 3.89-.38 4.8S32.38 160 35 160s4.53-.47 5.79-1.42a10.42 10.42 0 0 0 3.21-4.93c.85-2.33 1-3.93.42-4.83s-2.2-1.33-4.83-1.33zm22.08 0c-2.6 0-4.52.47-5.79 1.38a10.45 10.45 0 0 0-3.2 5c-.83 2.3-1 3.89-.41 4.8S54.41 160 57 160s4.52-.47 5.82-1.42a10.39 10.39 0 0 0 3.18-4.93c.85-2.33 1-3.93.39-4.83s-2.13-1.33-4.72-1.33zm412.12 17.13a35.34 35.34 0 0 0-8.94 1.16 30.32 30.32 0 0 0-8.25 3.51 29.13 29.13 0 0 0-6.85 5.91 26.79 26.79 0 0 0-4.74 8.26 18.33 18.33 0 0 0-1.34 7 11.64 11.64 0 0 0 1.31 5.08 11.86 11.86 0 0 0 3.08 3.69 28.08 28.08 0 0 0 4.09 2.75c1.46.81 2.88 1.59 4.27 2.3a19.94 19.94 0 0 1 3.57 2.33 7 7 0 0 1 2.13 2.82 5.31 5.31 0 0 1-.17 3.81 12 12 0 0 1-5 6.11 14.55 14.55 0 0 1-3.85 1.65 17.33 17.33 0 0 1-4.55.58 19.62 19.62 0 0 1-6.19-.84 20.36 20.36 0 0 1-4.15-1.84 20.89 20.89 0 0 1-2.63-1.84 2.91 2.91 0 0 0-1.71-.83 1.92 1.92 0 0 0-1 .28 3.11 3.11 0 0 0-.94.93 10.84 10.84 0 0 0-1 1.72c-.32.7-.69 1.59-1.06 2.62a19.07 19.07 0 0 0-1 3.56 2.77 2.77 0 0 0 .25 1.9 6.08 6.08 0 0 0 1.59 1.52 14.67 14.67 0 0 0 3.11 1.64 27.13 27.13 0 0 0 4.64 1.34 30.49 30.49 0 0 0 6.1.55 38.08 38.08 0 0 0 9.87-1.31 34.24 34.24 0 0 0 9.1-3.92 31.8 31.8 0 0 0 7.57-6.49 29 29 0 0 0 5.21-9 17.72 17.72 0 0 0 1.28-6.84 11.6 11.6 0 0 0-1.35-5.05 12.11 12.11 0 0 0-3.16-3.69 31.92 31.92 0 0 0-4.16-2.75c-1.45-.81-2.89-1.57-4.31-2.3a21.49 21.49 0 0 1-3.67-2.33 6.7 6.7 0 0 1-2.16-2.82A5.36 5.36 0 0 1 459 182a10.36 10.36 0 0 1 1.55-2.78A9.55 9.55 0 0 1 463 177a12.16 12.16 0 0 1 3.23-1.46 14.12 14.12 0 0 1 4-.53 15.42 15.42 0 0 1 4.86.68 18.57 18.57 0 0 1 3.53 1.52 22.85 22.85 0 0 1 2.42 1.54 2.9 2.9 0 0 0 1.51.7 1.69 1.69 0 0 0 1-.3 3.3 3.3 0 0 0 .86-1 14.63 14.63 0 0 0 .85-1.67c.29-.66.63-1.49 1-2.47s.57-1.62.74-2.2a10.17 10.17 0 0 0 .36-1.47 3.76 3.76 0 0 0 0-.94 2.41 2.41 0 0 0-.37-.86 5.07 5.07 0 0 0-1.61-1.26 17 17 0 0 0-3.1-1.37 25.11 25.11 0 0 0-4-1 27.84 27.84 0 0 0-4.52-.36zm209.78 0a46.85 46.85 0 0 0-14.88 2.38 47.39 47.39 0 0 0-13.23 6.84 51.78 51.78 0 0 0-10.82 10.86 56.7 56.7 0 0 0-7.64 14.47 40.33 40.33 0 0 0-2.78 13.91 19 19 0 0 0 2.76 10.41 17.18 17.18 0 0 0 8.12 6.52 34.25 34.25 0 0 0 13.19 2.24q2.69 0 5.42-.25t5.53-.76c1.87-.34 3.68-.74 5.47-1.22s3.31-.92 4.56-1.36a6.39 6.39 0 0 0 2.83-1.8 8.87 8.87 0 0 0 1.49-2.65l9.47-26a6 6 0 0 0 .39-1.8 2.65 2.65 0 0 0-.24-1.34 1.84 1.84 0 0 0-.81-.83 2.83 2.83 0 0 0-1.4-.24h-22a1.7 1.7 0 0 0-.91.29 3.67 3.67 0 0 0-.92.86 8.65 8.65 0 0 0-.94 1.54 22.72 22.72 0 0 0-1 2.36 10.9 10.9 0 0 0-.91 3.87c.07.76.4 1.14 1 1.14h12.38l-5.52 15.15a22.89 22.89 0 0 1-4.59 1.52 22 22 0 0 1-4.58.51 18.77 18.77 0 0 1-7.78-1.46 10.25 10.25 0 0 1-4.86-4.35 13.89 13.89 0 0 1-1.57-7.14 30.88 30.88 0 0 1 2.11-9.88 38.86 38.86 0 0 1 4.86-9.32 34.78 34.78 0 0 1 6.81-7.23 30.55 30.55 0 0 1 8.26-4.64 28.47 28.47 0 0 1 16.66-.73 30.29 30.29 0 0 1 5.07 2 20.32 20.32 0 0 1 3.17 2 3.32 3.32 0 0 0 1.8.91 1.69 1.69 0 0 0 .87-.25 3.36 3.36 0 0 0 .88-.88 11.61 11.61 0 0 0 1-1.7 24.7 24.7 0 0 0 1-2.52 19.38 19.38 0 0 0 1.08-3.81 3.07 3.07 0 0 0-.25-2 6.49 6.49 0 0 0-1.79-1.67 16.06 16.06 0 0 0-3.68-1.79 33.19 33.19 0 0 0-5.57-1.41 42.8 42.8 0 0 0-7.51-.71zm-413 .81c-1.72 0-3.07 0-4.06.14a4.93 4.93 0 0 0-2.32.68 2.82 2.82 0 0 0-1.15 1.59 16.12 16.12 0 0 0-.54 2.86l-5.91 57a5.55 5.55 0 0 0 0 1.95 1.71 1.71 0 0 0 1.06 1.11 8.35 8.35 0 0 0 2.57.51q1.7.12 4.62.12c1.86 0 3.36 0 4.52-.12a11 11 0 0 0 2.88-.53 4.8 4.8 0 0 0 1.85-1.13 9.57 9.57 0 0 0 1.4-1.9l25-41.42h.1L296 227.76a4.9 4.9 0 0 0 0 1.95 1.68 1.68 0 0 0 1.06 1.11 8.34 8.34 0 0 0 2.57.51q1.7.12 4.58.12c1.71 0 3.15 0 4.29-.12a13 13 0 0 0 2.91-.51 5.25 5.25 0 0 0 2-1.11 8.7 8.7 0 0 0 1.55-1.95l35.7-56.87a28 28 0 0 0 1.61-3 1.8 1.8 0 0 0 .11-1.65 2 2 0 0 0-1.54-.68 32.49 32.49 0 0 0-3.41-.14q-2.38 0-3.74.14a8.08 8.08 0 0 0-2.19.45 3 3 0 0 0-1.28.91 10.06 10.06 0 0 0-.91 1.39l-29.63 49.91h-.1l5.76-49.71a4.73 4.73 0 0 0 0-1.62 1.38 1.38 0 0 0-.8-.93 5.86 5.86 0 0 0-2.06-.43c-.94-.07-2.21-.11-3.83-.11s-2.75 0-3.69.14a9.18 9.18 0 0 0-2.31.45 3.54 3.54 0 0 0-1.45.93 9.65 9.65 0 0 0-1.1 1.56l-30 49.71h-.05l6.75-50.06a4.73 4.73 0 0 0 .13-1.49 1 1 0 0 0-.66-.81 5.82 5.82 0 0 0-2-.36c-.91-.05-2.15-.08-3.74-.08zm157.64 0a29.76 29.76 0 0 0-3.24.15 14.49 14.49 0 0 0-2.19.41 3.58 3.58 0 0 0-1.35.66 2.27 2.27 0 0 0-.67.91l-22.46 61.73a1.16 1.16 0 0 0 0 .92 1.36 1.36 0 0 0 .84.65 8.23 8.23 0 0 0 1.9.41 27.29 27.29 0 0 0 3.15.15 30.51 30.51 0 0 0 3.29-.15 12 12 0 0 0 2.16-.41 3.75 3.75 0 0 0 1.34-.65 2.2 2.2 0 0 0 .65-.92l22.47-61.73a1.14 1.14 0 0 0 0-.91 1.4 1.4 0 0 0-.85-.66 8.77 8.77 0 0 0-1.87-.41 27.42 27.42 0 0 0-3.18-.15zm-404.14 0a30.43 30.43 0 0 0-3.29.15 14.52 14.52 0 0 0-2.19.41 3.27 3.27 0 0 0-1.32.66 2.25 2.25 0 0 0-.64.91L2.19 207.35A30.94 30.94 0 0 0 0 218.28a13.5 13.5 0 0 0 2.34 7.8 13.25 13.25 0 0 0 6.59 4.68 31.48 31.48 0 0 0 10.5 1.54 42.22 42.22 0 0 0 12.24-1.72 35 35 0 0 0 18.43-13 42.38 42.38 0 0 0 5.69-10.76l14.27-39.2a1.22 1.22 0 0 0 0-.91 1.25 1.25 0 0 0-.82-.66 8.81 8.81 0 0 0-1.85-.41 26 26 0 0 0-3.11-.15 30.51 30.51 0 0 0-3.26.15 14 14 0 0 0-2.19.41 3.31 3.31 0 0 0-1.3.66 2.23 2.23 0 0 0-.63.91l-14.3 39.33a26.14 26.14 0 0 1-3.17 6.14 21 21 0 0 1-4.31 4.54 18.09 18.09 0 0 1-5.22 2.81 18.43 18.43 0 0 1-5.94 1 13.13 13.13 0 0 1-5.25-.94 6.91 6.91 0 0 1-3.27-2.8 8.64 8.64 0 0 1-1-4.73 22.09 22.09 0 0 1 1.5-6.74L30 167.6a1.17 1.17 0 0 0 0-.91 1.38 1.38 0 0 0-.85-.66 9 9 0 0 0-1.87-.41 26.73 26.73 0 0 0-3.13-.15zm490.1 0a30.48 30.48 0 0 0-3.29.15 13.69 13.69 0 0 0-2.19.4 3.58 3.58 0 0 0-1.33.66 2.31 2.31 0 0 0-.63.91l-14.46 39.75a30.78 30.78 0 0 0-2.18 10.94 13.44 13.44 0 0 0 2.33 7.8 13.28 13.28 0 0 0 6.6 4.68 31.47 31.47 0 0 0 10.5 1.54 42.31 42.31 0 0 0 12.24-1.72 35.06 35.06 0 0 0 18.43-13 42.75 42.75 0 0 0 5.69-10.76l14.27-39.2a1.24 1.24 0 0 0 0-.91 1.31 1.31 0 0 0-.81-.66 8.43 8.43 0 0 0-1.85-.4 26.08 26.08 0 0 0-3.1-.15 30.6 30.6 0 0 0-3.26.15 13.22 13.22 0 0 0-2.19.4 3.48 3.48 0 0 0-1.3.66 2.31 2.31 0 0 0-.63.91l-14.31 39.37a26.43 26.43 0 0 1-3.17 6.14 21.18 21.18 0 0 1-4.31 4.54 17.89 17.89 0 0 1-5.22 2.8 18.34 18.34 0 0 1-6 1 13.25 13.25 0 0 1-5.24-.94 6.93 6.93 0 0 1-3.28-2.8 8.59 8.59 0 0 1-1-4.73 21.87 21.87 0 0 1 1.5-6.74l14-38.59a1.16 1.16 0 0 0 0-.91 1.42 1.42 0 0 0-.84-.66 8.57 8.57 0 0 0-1.87-.4 26.79 26.79 0 0 0-3.13-.15zm113.59.1c-1.22 0-2.22 0-3 .13a8.37 8.37 0 0 0-2 .43 4 4 0 0 0-1.26.7 2.23 2.23 0 0 0-.63.91l-11.17 30.66q-1.26 3.49-2.58 7.32t-2.45 7.38h-.05c-.12-1.35-.24-2.69-.4-4s-.3-2.72-.47-4.12-.36-2.79-.57-4.19-.43-2.82-.64-4.27l-4-23.89a18.68 18.68 0 0 0-.67-3.31 5.19 5.19 0 0 0-1.18-2.09 4.4 4.4 0 0 0-2-1.1 12.07 12.07 0 0 0-3.11-.32h-7.12a7 7 0 0 0-3.84 1.19 6.88 6.88 0 0 0-2.68 3.57l-21.38 58.75a1.57 1.57 0 0 0-.09.91 1.2 1.2 0 0 0 .67.67 5.67 5.67 0 0 0 1.67.44 22.49 22.49 0 0 0 2.87.15 26.22 26.22 0 0 0 3-.15 9.67 9.67 0 0 0 2-.44 3.53 3.53 0 0 0 1.21-.67 2.52 2.52 0 0 0 .6-.91l12.46-34.2c.93-2.56 1.8-5 2.61-7.45s1.59-4.83 2.34-7.25h.1c0 2 .18 4 .39 6.14s.45 4.06.73 5.88l5.13 30.6a36.18 36.18 0 0 0 .77 4.12 7.13 7.13 0 0 0 1.18 2.52 3.82 3.82 0 0 0 1.9 1.29 10.08 10.08 0 0 0 2.94.35h5.65a7.6 7.6 0 0 0 2-.28 6.53 6.53 0 0 0 1.94-.88 7.87 7.87 0 0 0 1.63-1.51 7.14 7.14 0 0 0 1.15-2.08l21.39-58.75a1.5 1.5 0 0 0 .08-.91 1.22 1.22 0 0 0-.63-.7 4.32 4.32 0 0 0-1.64-.43 26.06 26.06 0 0 0-2.82-.13zm-471.63.2a5.68 5.68 0 0 0-3.17 1 6.29 6.29 0 0 0-2.3 3.21l-20.74 57c-.54 1.49-.54 2.55 0 3.21a2.93 2.93 0 0 0 2.44 1h32.83a1.87 1.87 0 0 0 .94-.29 3.33 3.33 0 0 0 .94-.88 9.38 9.38 0 0 0 1-1.59c.32-.66.66-1.47 1-2.45s.6-1.8.77-2.45a6 6 0 0 0 .2-1.6 1.31 1.31 0 0 0-.31-.88 1 1 0 0 0-.73-.27h-23.55l6.71-18.44h19.75a1.92 1.92 0 0 0 .93-.26 3.19 3.19 0 0 0 .93-.83 8.07 8.07 0 0 0 .94-1.54 22.84 22.84 0 0 0 1-2.43 20.49 20.49 0 0 0 .75-2.4 5.21 5.21 0 0 0 .19-1.56 1.27 1.27 0 0 0-.32-.86 1 1 0 0 0-.73-.28h-19.74l5.8-16H185a1.7 1.7 0 0 0 .91-.28 3.7 3.7 0 0 0 .93-.88 9.12 9.12 0 0 0 1-1.59 23.48 23.48 0 0 0 1-2.4 22.64 22.64 0 0 0 .79-2.5 6.49 6.49 0 0 0 .21-1.62 1.25 1.25 0 0 0-.29-.88 1 1 0 0 0-.71-.26h-32.68zm54.82 0a5.65 5.65 0 0 0-3.16 1 6.25 6.25 0 0 0-2.3 3.21l-21.6 59.36a1.26 1.26 0 0 0 0 .91 1.28 1.28 0 0 0 .83.66 8.37 8.37 0 0 0 1.9.41 27.2 27.2 0 0 0 3.15.15 30.36 30.36 0 0 0 3.29-.15 12.65 12.65 0 0 0 2.17-.41 3.58 3.58 0 0 0 1.33-.66 2.16 2.16 0 0 0 .66-.91l9.06-24.91h4.15a8 8 0 0 1 3.5.66A4.91 4.91 0 0 1 216 207a9.12 9.12 0 0 1 1.08 3.21c.21 1.28.36 2.74.48 4.39l.54 14.59a3 3 0 0 0 .12 1 1.33 1.33 0 0 0 .79.71 5.9 5.9 0 0 0 1.85.38c.82.07 1.93.11 3.35.11 1.68 0 3 0 4-.11a11.46 11.46 0 0 0 2.35-.35 2.64 2.64 0 0 0 1.19-.63 2.83 2.83 0 0 0 .54-.94 5.5 5.5 0 0 0 .25-1.39c0-.59.05-1.52 0-2.8l-.82-12.88a31.71 31.71 0 0 0-.45-4.17 15.33 15.33 0 0 0-1-3.29 8.42 8.42 0 0 0-1.53-2.45 8.57 8.57 0 0 0-2.13-1.72 32.28 32.28 0 0 0 6.33-2.53 27 27 0 0 0 5.33-3.69 25.23 25.23 0 0 0 4.21-4.82 27.74 27.74 0 0 0 3-6 19.42 19.42 0 0 0 1.35-6.9 9.51 9.51 0 0 0-5.54-8.75 20.39 20.39 0 0 0-6.4-1.93c-.87-.1-1.84-.18-2.94-.25s-2.49-.11-4.2-.11H211zm159.61 0a5.66 5.66 0 0 0-3.17 1 6.25 6.25 0 0 0-2.3 3.21l-20.74 57c-.54 1.49-.55 2.55 0 3.21a3 3 0 0 0 2.45 1h32.83a1.83 1.83 0 0 0 .94-.29 3.15 3.15 0 0 0 .94-.88 8.12 8.12 0 0 0 1-1.59 24.75 24.75 0 0 0 1-2.45 24.1 24.1 0 0 0 .77-2.45 6 6 0 0 0 .19-1.6 1.28 1.28 0 0 0-.31-.88 1 1 0 0 0-.73-.27h-23.56l6.71-18.44h19.75a1.89 1.89 0 0 0 .93-.26 3.11 3.11 0 0 0 .94-.83 8.47 8.47 0 0 0 .94-1.54 24.56 24.56 0 0 0 1-2.43 21.75 21.75 0 0 0 .74-2.4 5.26 5.26 0 0 0 .2-1.56 1.31 1.31 0 0 0-.32-.86 1 1 0 0 0-.73-.28h-19.76l5.81-16h23.33a1.76 1.76 0 0 0 .92-.28 3.68 3.68 0 0 0 .92-.88 8.28 8.28 0 0 0 1-1.59 21.76 21.76 0 0 0 1-2.4 22.37 22.37 0 0 0 .78-2.5 6.14 6.14 0 0 0 .21-1.62 1.26 1.26 0 0 0-.29-.88 1 1 0 0 0-.72-.26h-32.65zm-277.11 0a5.66 5.66 0 0 0-3.17 1A6.23 6.23 0 0 0 88 170l-20.74 57c-.54 1.48-.55 2.55 0 3.2a2.94 2.94 0 0 0 2.45 1h17.34a51.46 51.46 0 0 0 7.32-.48 40.54 40.54 0 0 0 6.58-1.49 35.78 35.78 0 0 0 6.12-2.57 29.26 29.26 0 0 0 5.4-3.73 28.5 28.5 0 0 0 4.47-5 26.8 26.8 0 0 0 3.26-6.31 17.17 17.17 0 0 0 1.18-6 10.52 10.52 0 0 0-1.06-4.67 8.57 8.57 0 0 0-2.91-3.26 12.12 12.12 0 0 0-4.48-1.77 22.44 22.44 0 0 0 4.64-2.12 22.68 22.68 0 0 0 4-3 22.21 22.21 0 0 0 3.15-3.81 21.89 21.89 0 0 0 2.24-4.47 16.21 16.21 0 0 0 1.17-7.37 8.35 8.35 0 0 0-2.49-5.18 13.13 13.13 0 0 0-5.91-3.06 39.24 39.24 0 0 0-9.8-1zm5.48 9.95h6.72a15.46 15.46 0 0 1 4.72.56 5.21 5.21 0 0 1 2.48 1.59 4.14 4.14 0 0 1 .87 2.6A9.83 9.83 0 0 1 113 184a14.11 14.11 0 0 1-1.78 3.36 13 13 0 0 1-2.71 2.78A12.6 12.6 0 0 1 105 192a15 15 0 0 1-4.85.69h-7.39zm117.68.2h6a31.15 31.15 0 0 1 3.51.16 16.21 16.21 0 0 1 2.14.39c2 .62 3.22 1.65 3.66 3.14a8.84 8.84 0 0 1-.52 5.45 14.12 14.12 0 0 1-2.11 3.84 13.28 13.28 0 0 1-3.2 3 15.4 15.4 0 0 1-4.24 1.92 18.77 18.77 0 0 1-5.2.68h-6.77zM89.23 202.4h7.88a19.25 19.25 0 0 1 5.67.66 6.58 6.58 0 0 1 3.07 1.87 5 5 0 0 1 1.12 3 10.17 10.17 0 0 1-.72 4.06 12.93 12.93 0 0 1-2.18 3.87 13.71 13.71 0 0 1-3.21 2.82 14.55 14.55 0 0 1-3.91 1.72 18.2 18.2 0 0 1-4.87.57h-9.6z"></path></g></g></symbol>
    <symbol id="green_ok" viewBox="0 0 64 55.93">
    <defs><style>.cls-1-greenok{fill:none;stroke:#0f0;stroke-miterlimit:10;stroke-width:2px}</style></defs><title>green_ok</title><g id="Layer_2" data-name="Layer 2"><path class="cls-1-greenok" d="M63.23.64L18.52 54.41.74 34.66" id="ok_check"></path></g>
    </symbol>
    </svg>
