.checkout-page
  .main-first
    h1
      font-family: "MontserratSemiBold", sans-serif
      font-size: 16px
      text-transform: uppercase
      text-align: center
      margin: 40px 0 0 0
    hr
      margin: 40px 70px
      @media (max-width: 1199px)
        margin: 40px 0
    main
      padding-left: 85px
      padding-right: 45px
      @media (max-width: 1199px)
        padding-left: 15px
        padding-right: 15px
      .first-form-wrapper
        margin-bottom: 30px
      .checkout-page__form-wrapper
        outline: 1px solid #dcdcdc
        .checkout-page__blocks-black-header
          font-family: "MontserratSemiBold", sans-serif
          font-size: 16px
          text-transform: uppercase
          color: #fff
          background-color: #000
          padding: 25px
          margin-bottom: 40px
          outline: 1px solid #000
          display: flex
          justify-content: space-between
          align-items: center
          position: relative
          h6
            margin: 0
          .with-green-ok
            margin-left: 35px
          a
            display: none
            text-transform: none
            text-decoration: underline
            color: #ffffff
          .green_ok
            position: absolute
            height: 13px
            width: 19px
            left: 30px
        .checkout-page__form
          padding-left: 30px
          padding-right: 30px
          position: relative
          @media (max-width: 767px)
            padding-left: 25px
            padding-right: 25px
          .checkout-page__name-group
            display: flex
            justify-content: space-between
            @media (max-width: 550px)
              flex-wrap: wrap
            .checkout-page__first-name,
            .checkout-page__last-name
              width: 290px
              @media (max-width: 1199px)
                width: 240px
              @media (max-width: 991px)
                width: 300px
              @media (max-width: 767px)
                width: 225px
              @media (max-width: 550px)
                width: 100%
          .checkout-page__address-input
            margin-bottom: 0
          .checkout-page__address-input-add-remove
            margin-top: 15px
            margin-bottom: 24px
            display: flex
            font-size: 12px
            justify-content: space-between
            a
              color: #bfbfbf
              text-align: center
            .checkout-page__remove-address-line,
            .checkout-page__remove-address-line
              visibility: hidden
          .checkout-page__city-zip,
          .checkout-page__e-phone
            display: flex
            justify-content: space-between
            @media (max-width: 550px)
              flex-wrap: wrap
            & > div
              width: 290px
              @media (max-width: 1199px)
                width: 240px
              @media (max-width: 991px)
                width: 300px
              @media (max-width: 767px)
                width: 225px
              @media (max-width: 550px)
                width: 100%
          .grey-form__forgot-pass
            border-bottom: 1px solid #bfbfbf
            padding-bottom: 10px
            margin-bottom: 40px
            display: flex
            justify-content: space-between
            @media (max-width: 550px)
              flex-wrap: wrap
          .checkout-page__select-speed
            font-family: "MontserratSemiBold", sans-serif
            text-transform: uppercase
            margin-top: 0
            color: #000
          .checkout-page__first-form-radio
            margin-top: 25px
            color: #262626
            font-size: 12px
            label
              text-transform: uppercase
              font-family: "MontserratSemiBold", sans-serif
              font-size: 12px
              margin-bottom: 0
          .checkout-page__first-form-radio-wrapper-standart,
          .checkout-page__first-form-radio-wrapper-express
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 30px
            @media (max-width: 550px)
              flex-wrap: wrap
            .custom-control.custom-radio.custom-control-inline,
            .custom-control.custom-radio.custom-control-inline
              width: 20%
              @media (max-width: 550px)
                width: 35%
            .checkout-page__radio-standart-dates,
            .checkout-page__radio-express-dates
              width: 40%
              @media (max-width: 550px)
                width: 80%
                margin-top: 15px
          .checkout-page__first-form-radio-wrapper-express
            margin-bottom: 40px
          .grey-form__save-card-wrapper
            position: relative
            .grey-form__save-card
              position: absolute
              @media (max-width: 1199px)
                position: absolute
                right: 0
                bottom: 3px
              @media (max-width: 991px)
                position: static
      .checkout-page__first-form-submit,
      .checkout-page__second-form-submit,
      .checkout-page__third-form-submit
        width: 150px
        height: 40px
        margin-bottom: 40px
        margin-right: 15px
      .checkout-page__third-form-submit
        margin-right: 30px
      .checkout-page__select-adress-wrapper,
      .checkout-page__select-card-wrapper
        display: flex
        align-items: center
        margin-bottom: 30px
        color: #bfbfbf
        font-size: 12px
        text-transform: none
        @media (max-width: 550px)
          flex-wrap: wrap
        // .checkout-page__select-adress
        //   @media (max-width: 389px)
        //     padding-top: 10px
      #checkout-page__select-home,
      .checkout-page__select-home,
      .checkout-page__select-card
        max-width: 170px
        margin-right: 15px
        font-family: "MontserratSemiBold", sans-serif
        font-size: 14px
        @media (max-width: 450px)
          max-width: 100%
          margin-right: 0
          margin-bottom: 15px
      .checkout-page__select-card-wrapper
        margin-top: 30px
      .checkout-page__where-code
        position: relative
        @media (max-width: 1199px)
          order: 1
          margin-bottom: 15px
        @media (max-width: 991px)
          order: 2
          margin-bottom: 0
        @media (max-width: 767px)
          order: 1
          margin-bottom: 25px
        span
          color: #5c5c5c
          text-decoration: underline
          cursor: pointer
          user-select: none
        .checkout-page__where-code-popup
          padding: 15px 10px
          position: absolute
          bottom: 30px
          right: 0
          background-color: #fff
          border: 1px solid #bfbfbf
          min-width: 211px
          //display: none
          visibility: hidden
          opacity: 0
          transition: .4s all easy-in-out
          @media (max-width: 1191px)
            right: auto
            left: 0
          @media (max-width: 991px)
            right: 0
            left: auto
          @media (max-width: 767px)
            right: auto
            left: 0
          &:before,
          &:after
            content: ''
            position: absolute
            right: 90px
            bottom: -21px
            border: 10px solid transparent
            border-top: 10px solid #bfbfbf
          &:after
            border-top: 10px solid white
            bottom: -19px
        .checkout-page__where-code-popup-show
          //display: block
          visibility: visible
          opacity: 1

      .checkout-page__select-card-text
        font-family: "Montserrat", sans-serif
        // @media (max-width: 411px)
        //   margin-top: 15px


      /* ============================================================================
       * second form
       * ============================================================================ */
      .checkout-page__form-headers
        font-family: "MontserratSemiBold", sans-serif
        text-transform: uppercase
        margin-bottom: 40px
        color: #000
        font-size: 14px
      .checkout-page__payment-info
        color: #5c5c5c
        font-size: 12px
        padding-bottom: 40px
        margin-bottom: 40px
        border-bottom: 1px solid #bfbfbf
      .grey-form
        color: #000
      .second-form-wrapper
        .checkout-page__second-form-radio
          margin: 0 0 40px 0
          padding-bottom: 10px
          border-bottom: 1px solid #bfbfbf
          @media (max-width: 767px)
            padding-bottom: 30px
          & > div
            width: 25%
          .custom-control-inline
            @media (max-width: 450px)
              flex-basis: 100%
              margin-bottom: 15px
            label
              color: #5c5c5c
              font-size: 12px
            .svg
              position: absolute
              left: 40px
            .cardyellow
              height: auto
              width: 40px
            .master
              top: -10px
              left: 35px
              height: 25px
            .visa
              top: 10px
              height: 30px
              left: 35px
            .paypal
              height: 20px
              width: 74px
              top: 0px
            .sofort
              height: 21px
              width: 64px
              top: 0px
          .checkout-page__payment-card-1
            width: 40%
            @media (max-width: 767px)
              flex-basis: 50%
            @media (max-width: 450px)
              flex-basis: 100%
            label
              margin-left: 50px
              @media (max-width: 450px)
                margin-bottom: 15px
        .checkout-page__payment-card-number
          width: 310px
          margin-right: 15px
          @media (max-width: 450px)
            width: 100%
            margin-right: 0!important
        .checkout-page__number-expiration
          display: flex
          @media (max-width: 1199px)
            flex-wrap: wrap
          @media (max-width: 991px)
            justify-content: space-between
          @media (max-width: 767px)
            justify-content: flex-start
          @media (max-width: 550px)
            justify-content: space-between
          @media (max-width: 450px)
            margin-top: -20px
          .form-group
            margin-bottom: 15px
          .checkout-page__payment-card-number
            @media (max-width: 767px)
              margin-right: 25px
            .checkout-page__payment-card-number-wrapper
              position: relative
              &::after
                  position: absolute
                  content: url('../img/icons/svg/lock.svg')
                  height: 15px
                  width: 11px
                  right: 15px
                  top: 11px
            .checkout-page__payment-card-number-img-wrapper
              margin-top: 15px
          .checkout-page__payment-card-expiration
            margin-right: 15px
            @media (max-width: 767px)
              margin-right: 0
          .checkout-page__payment-card-expiration,
          .checkout-page__payment-card-code
            width: 135px
            @media (max-width: 370px)
              width: 100%
        .checkout-page__images-of-cards-wrapper
          display: flex
          justify-content: space-between
          align-items: center
          color: #000
          font-size: 12px
          //text-decoration: underline
          margin-bottom: 30px
          @media (max-width: 1199px)
            flex-direction: column
            align-items: flex-start
          @media (max-width: 991px)
            flex-direction: row
            align-items: center
          @media (max-width: 767px)
            flex-direction: column
            align-items: flex-start
            margin-bottom: 25px
          .svg
              height: 23px
              width: 32px
              margin-right: 10px
          .checkout-page__payment-card-number-img-wrapper
            @media (max-width: 1199px)
              order: 2
            @media (max-width: 991px)
              order: 1
            @media (max-width: 767px)
              order: 2
        .form-check
          margin-bottom: 10px
        //.checkout-page__form
          @media (max-width: 767px)
            margin-left: 18px
            //padding-left: 7px
      /* ============================================================================
       * third form
       * ============================================================================ */
      .third-form-wrapper
        margin-top: 30px
        .checkout-page__payment-info
          border: none
          padding-bottom: 0
          a
            text-decoration: underline
        .row
          margin-left: 0
          margin-right: 0
        form
          width: 100%
          padding: 0 30px 0
          button
            float: right
            @media (max-width: 490px)
              float: left
          .checkbox-wrapper
            display: flex
            @media (max-width: 490px)
              flex-wrap: wrap
            .form-check
              margin-right: 60px
        .checkout-page__order-review-checkboxes-wrapper
          .form-check
            position: relative
            p
              //position: absolute
              width: 100px
              font-size: 10px
              margin-top: -15px
              margin-left: -20px

    .checkout-page__payment-hide
      display: none !important
      opacity: 0 !important
      visibility: hidden !important
      transition: all 1s ease-in-out !important
    .checkout-page__payment-show
      display: block
      opacity: 1
      visibility: visible
      transition: all 1s ease-in-out
    /* ============================================================================
     * .checkout-page__this-adress-unchecked
     * ============================================================================ */
    .checkout-page__this-adress-unchecked
      padding-bottom: 6px
      margin-bottom: 40px
      border-bottom: 1px solid #bfbfbf
    /* ============================================================================
     * after enter
     * ============================================================================ */
    .checkout-page__form-ready
      .checkout-page__form-ready-header
        font-size: 16px
        margin-bottom: 10px
      .checkout-page__form-ready-body
        padding-bottom: 25px
        position: relative
        .payment-method-card
          height: 20px
          width: 32px
          position: absolute
          top: 0
        .payment-method-card-paypal,
        .payment-method-card-sofort
          height: 28px
          width: 40px
          top: -5px
      .checkout-page__form-ready-body-text
        font-size: 14px
        color: #a6a6a6
        margin-bottom: 10px
      .card-num
        margin-left: 45px
        display: inline-block
        span
          margin-right: 15px
      .checkout-page__when-get
        padding-bottom: 35px
    //after enter
    .checkout-page__blocks-black-header-checked
      h6
        padding-left: 60px
      a
        display: block

    aside
      margin-left: -30px
      padding-right: 55px
      @media (max-width: 1199px)
        margin-left: 0
        padding-right: 15px
      @media (max-width: 991px)
        display: flex
        justify-content: space-between
        margin-top: 40px
      @media (max-width: 767px)
        flex-wrap: wrap
      .checkout-page__aside-wrapper-order,
      .checkout-page__aside-wrapper-in-cart
        border: 1px solid #bfbfbf
        padding: 20px 25px 40px
        .checkout-page__aside-header
          font-family: "MontserratSemiBold", sans-serif
          font-size: 18px
          line-height: 20px
          text-transform: uppercase
        hr
          margin: 20px 0 20px
          background-color: #bfbfbf
        @media (max-width: 991px)
          width: 330px
        @media (max-width: 767px)
          width: 100%
      .checkout-page__aside-wrapper-order
        margin-bottom: 40px
        @media (max-width: 991px)
          order: 1
        .checkout-page__aside-subtotal-wrapper,
        .checkout-page__aside-shippeng-wrapper,
        .checkout-page__aside-tax-wrapper,
        .checkout-page__aside-total-wrapper
          display: flex
          justify-content: space-between
          align-items: center
          margin-bottom: 25px
          .checkout-page__aside-text
            font-size: 16px
          .checkout-page__aside-num
            font-family: "MontserratSemiBold", sans-serif
            font-size: 16px
            line-height: 20px
        .checkout-page__hr-before-total
          margin-top: 15px
          margin-bottom: 40px
        .checkout-page__aside-total-wrapper
          margin-bottom: 0
          .checkout-page__aside-text
            font-family: "MontserratSemiBold", sans-serif
            font-size: 16px
            line-height: 20px
            text-transform: uppercase
      .checkout-page__aside-wrapper-in-cart
        @media (max-width: 767px)
          margin-bottom: 40px
        .checkout-page__aside-header-wrapper
          display: flex
          justify-content: space-between
          a
            text-decoration: underline
        .checkout-page__aside-in-cart-body-wrapper
          display: flex
          .checkout-page__aside-in-cart-img
            height: 130px
            width: 100px
            position: relative
            overflow: hidden
            margin-right: 15px
            img
              position: absolute
              top: 0
              bottom: 0
              left: 0
              right: 0
              max-width: 100%
              max-height: 100%
              margin: auto
          .checkout-page__aside-in-cart-text
            max-width: 130px
            line-height: 20px
            .checkout-page__aside-in-cart-text-head

            .checkout-page__aside-in-cart-text-body
              margin-top: 10px
              color: #b3b3b3
    .checkout-page__when-get
      font-family: "MontserratSemiBold", sans-serif




  //CSS for tooltip
  //.tooltip-inner
    // max-width: 200px
    // padding: 3px 8px
    // color: #fff
    // text-align: center
    // background-color: #000000
    // border-radius: 0
    // //color: #000000
    // border: 1px solid grey
  //Css for top arrow
  //.tooltip
    // &.bs-tooltip-auto[x-placement^=top] .arrow::before, &.bs-tooltip-top .arrow::before
    //   margin-left: -3px
    //   content: ""
    //   border-width: 5px 5px 0
      //border-top-color: #000




