main
  .container
    h1 imprint
    hr
  .container.imprint-page__first-part-wrapper
    .imprint-page__first-part.row
      .imprint-page__desc-item.col-xl-3.col-md-4.col-6
        .imprint-page__desc-item-header-big Contact:
        .imprint-page__desc-item-body +49 (0) 30 220 126 510
        .imprint-page__desc-item-body service@muun.co
      .imprint-page__desc-item.col-xl-3.col-md-4.col-6
        .imprint-page__desc-item-header-big A brand of:
        .imprint-page__desc-item-body muun GmbH
          br
          | Blücherstraße 22
          br
          | 10961 Berlin
          br
          | Germany
      .imprint-page__desc-item.col-xl-3.col-md-4.col-6
        .imprint-page__desc-item-header-big Managing Directors:
        .imprint-page__desc-item-body Vincent Brass and
          br
          | Frederic Böert
      .imprint-page__desc-item.col-xl-3.col-md-4.col-6
        .imprint-page__desc-item-header-small Amtsgericht
          br
          | Berlin-Charlottenburg:
        .imprint-page__desc-item-body HRB 162324 B
          br
          | VAT-ID: DE299635285
      .imprint-page__desc-item.col-xl-3.col-md-4.col-6
        .imprint-page__desc-item-header-small Design & Development
          br
          | by Apple:
        .imprint-page__desc-item-body www.Apple.com
    hr

  .container.imprint-page__second-part-wrapper
    .imprint-page__second-part.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1
      h3 1. Limitation of liability for internal content

      p The content of our website has been compiled with meticulous care and to the best of our knowledge. However, we cannot assume any liability for the up-to-dateness, completeness or accuracy of any of the pages.

      p Pursuant to section 7, para. 1 of the TMG (Telemediengesetz – Tele Media Act by German law), we as service providers are liable for our own content on these pages in accordance with general laws. However, pursuant to sections 8 to 10 of the TMG, we as service providers are not under obligation to monitor external information provided or stored on our website. Once we have become aware of a specific infringement of the law, we will immediately remove the content in question. Any liability concerning this matter can only be assumed from the point in time at which the infringement becomes known to us.

      h3 2. Limitation of liability for external links

      p Our website contains links to the websites of third parties (“external links”). As the content of these websites is not under our control, we cannot assume any liability for such external content. In all cases, the provider of information of the linked websites is liable for the content and accuracy of the information provided. At the point in time when the links were placed, no infringements of the law were recognisable to us. As soon as an infringement of the law becomes known to us, we will immediately remove the link in question.

      h3 3. Copyright

      p The content and works published on this website are governed by the copyright laws of Germany. Any duplication, processing, distribution or any form of utilisation beyond the scope of copyright law shall require the prior written consent of the author or authors in question.

      p Link to the platform of the EU commission for the online dispute settlement: www.ec.europa.eu/consumers/odr





