.imprint-page
  h1
    font-family: "MontserratSemiBold", sans-serif
    font-size: 16px
    line-height: 20px
    text-align: center
    text-transform: uppercase
    margin-bottom: 0
    margin-top: 35px
  hr
    margin-top: 40px
    margin-bottom: 50px
  .imprint-page__first-part,
  .imprint-page__second-part
    padding-left: 5px
    padding-right: 5px
    @media (max-width: 576px)
      padding-left: 15px!important
      padding-right: 15px!important
  .imprint-page__first-part-wrapper
    hr
      margin-top: 10px
    .imprint-page__first-part
      display: flex
      flex-wrap: wrap
      justify-content: flex-start
      .imprint-page__desc-item
        margin-bottom: 50px
        @media (max-width: 400px)
          flex: 0 0 100%!important
          max-width: 100%!important
        .imprint-page__desc-item-header-big
          margin-bottom: 35px
          font-family: "MontserratSemiBold", sans-serif
          font-size: 16px
          line-height: 20px
        .imprint-page__desc-item-header-small
          margin-bottom: 15px
          font-family: "MontserratSemiBold", sans-serif
          font-size: 16px
          line-height: 20px
        .imprint-page__desc-item-body
          margin-top: 0
          margin-bottom: 30px
          font-size: 14px
          line-height: 21px
  .imprint-page__second-part-wrapper
    .imprint-page__second-part
      h3
        font-family: "MontserratSemiBold", sans-serif
        font-size: 16px
        line-height: 21px
        margin-bottom: 20px
        text-transform: none
        font-size: 16px
        line-height: 21px
        margin-bottom: 20px
  footer
    margin-top: 120px
    hr
      margin-bottom: 80px
    .footer__one-footer
      margin-bottom: 40px
