.return-page
  main
    h1
      font-family: "MontserratSemiBold", sans-serif
      font-size: 16px
      line-height: 20px
      text-align: center
      text-transform: uppercase
      margin-bottom: 0
      margin-top: 35px
    hr
      margin-top: 40px
      margin-bottom: 40px
    .return-page__content-wrapper
    .return-page__content
      padding-left: 5px
      padding-right: 5px
      @media (max-width: 576px)
        padding-left: 15px!important
        padding-right: 15px!important
      h3
        margin-bottom: 40px
      p
        margin-bottom: 40px
      .return-page__content-mode-margin
        margin-bottom: 20px
  footer
    margin-top: 100px
    @media (max-width: 767px)
      margin-top: 130px
    @media (max-width: 576px)
      margin-top: 135px