main
  .container
    h1 return
    hr
  .container.return-page__content-wrapper
    .return-page__content.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1
      h3 Cost of returns

      p You have the option to return, free of charge, products ordered within 30 days from their date of delivery.

      h3 Refunds

      p Terms of refund

      p In case of return, the refund will take place within 72 hours of receipt of the product(s) at the warehouse. However, the maximum period for refund is 14 days after receipt

      p A confirmation email will be sent to you. The refund will then be made according to the same payment method and in the same currency as that used by the customer upon payment of his/her order.

      p.return-page__content-mode-margin Mode of refund

      p Refunds will be made via the credit card used for payment. For security reasons, we are not authorized to carry out the refund to another account or via a credit card other than that used for payment of the order.