main.container
  .academy-page
      .academy-page__content
        h1#academy-page__header Unsere Herausforderung
        .row
          .academy-page__adaptive.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12
            p Wir haben uns als Ziel gesetzt die Fachkräfte auszubilden, die in der Zukunft die Maßstäbe setzen und die Kunden mit ihrer Arbeit begeistern. Das bedeutet für Sie nicht nur viele glückliche und zufriedene Kunden, sondern vor allem Anerkennung und finanzielle Freiheit. Je mehr zufriedene Kunden Sie haben werden, desto schneller wird ihr Unternehmen wachsen. Je schneller ihr Unternehmen wächst, desto erfolgreicher werden Sie.  Je erfolgreicher Sie werden, desto mehr sind Sie finanziell unabhängig und können Ihre Träume verwirklichen. Denn genau das ist das Ziel und die Herausforderung, nicht wahr? Aus diesem Grund haben wir ein einzigartiges Schulungskonzept ins Leben gerufen, um Sie schnell ihrem Ziel näher zu bringen.  Unsere Anforderungen setzen wir sehr hoch, damit Sie in kürzester Zeit zum erstklassigen Spezialisten werden.  Das Schulungsprogramm ist so aufgebaut, dass Sie nach unserem Kurs zuerst eine Teilnahmebescheinigung erhalten und anschließend nach einer bestandenen Hausaufgabe das Zertifikat ausgehändigt wird. Während dieser Zeit werden Sie von unseren erfahrenen Trainern betreut. Das Zertifikat bescheinigt, dass Sie die Prüfung erfolgreich bestanden haben und in als Lash Artist in das Academy Register aufgenommen werden. 
            blockquote 
              p Es findet immer ein Verkauf statt. Entweder verkaufen Sie dem Kunden ihr Produkt. Oder der Kunde verkauft ihnen sein Nein. 
              p David Ogilvy 
            p Das Handwerk alleine zu beherrschen reicht aber nicht aus, um erfolgreich als Wimpernstylistin durchzustarten.  Deswegen beinhaltet unser Schulungskonzept ein intensives Business Training, um Sie auch in diesem Bereich fit zu machen. Das bedeutet für Sie, dass Sie in einem Intensivkurs die wichtigsten Marketinggrundlagen erlernen und viel über Verkaufsgeheimnisse erfahren.  Somit können Sie ihre Dienstleistung optimal präsentieren und schnell einen Kundenstamm aufbauen. 
            p Als Absolventen unserer Academy profitieren Sie zusätzlich von Rabatten auf Produkte unserer Marke „Infinity Lashes“. 
            p Und weil wir wissen wie wichtig für Sie das Karrierewachstum ist, haben Sie auch die Möglichkeit als Trainer in unserem internationalen Team tätig zu werden, was für Sie zusätzliche Verdienstmöglichkeiten und viele andere Vorteile mit sich bringt.
            p Erfolg kennt keine Grenzen!
            p Go for it!
        .academy-page__button-wrapper.container
          a(href="#academy-page__header").button lies es vollständig
            +svg('arrow-new', 'button-svg svg')
        .row
          .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12
            p Sehr geehrte Besucher, zur Zeit befindet sich unsere Akademie-Seite in der Bearbeitung. In Kürze würden wir uns sehr freuen Ihnen unsere Akademie Angebote vorzustellen. Bei fragen wenden Sie sich bitte an unseren Berater.
            .academy-page__tel
              a(href="tel:+4917641715692") +49(176)41715692
              a(href="mailto:info@infinity-lashes.de") academy@infinity-lashes.de