.academy-page
  main
    margin-bottom: 110px
  &__content
    h1
      font-size: 16px
      line-height: 20px
      text-align: center
      text-transform: uppercase
      font-family: montserratsemibold, sans-serif
      margin-top: 40px
      margin-bottom: 45px
      position: relative
      &:after
        position: absolute
        content: ''
        height: 1px
        width: 40px
        background-color: #000000
        bottom: -20px
        left: 50%
        transform: translateX(-50%)
    p
      font-size: 16px
      line-height: 24px
      text-align: justify
      margin: 0
    blockquote
      margin: 25px 0
      font-size: 18px
      font-style: italic
      line-height: 26px
      p:first-of-type
        margin-bottom: 20px
  &__button-wrapper
    position: relative
    &:before
      position: absolute
      content: ''
      background-color: #bfbfbf
      height: 1px
      width: 100%
      left: 0
      top: 50%
      z-index: 1
    .button
      position: relative
      display: block
      //margin: 50px auto 35px
      margin: 0 auto 35px
      font-size: 16px
      line-height: 24px
      background-color: #000000
      color: #ffffff
      border: none
      font-size: 16px
      border-radius: 25px
      height: 50px
      width: 260px
      line-height: 50px
      z-index: 200
      padding-right: 22px
      text-decoration: none
      text-align: center
      &:hover
        cursor: pointer
    .button-svg
      width: 8px
      height: 20px
      stroke: #ffffff
      transform: rotate(90deg)
      position: absolute
      right: 38px
      top: 15px
    .opened
      transform: rotate(-90deg)
  &__adaptive
    height: 135px
    overflow: hidden
    position: relative
    transition: .4s all
    &:before
      content: ''
      display: block
      position: absolute
      bottom: 0
      height: 100%
      width: 100%
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%)
      transition: .4s all
  &__opened
    height: 850px
    transition: .4s all
    @media (max-width: 991px)
      height: 900px
    @media (max-width: 767px)
      height: 1150px
    @media (max-width: 576px)
      height: auto
      padding-bottom: 40px
    &:before
      transition: .4s all
      display: none
  &__tel
    margin-top: 50px
    @media (max-width: 575px)
      margin-top: 40px
    a
      color: #3366cc
      text-decoration: underline
      white-space: nowrap
      @media (max-width: 370px)
        display: block
      &:first-of-type
        margin-right: 40px
        @media (max-width: 370px)
          margin-bottom: 20px