.header__hover-menu
  position: absolute
  top: -100%
  //top: 220px
  left: 0
  width: 100%
  padding: 102px 0 152px 0
  background-color: #fff
  z-index: 8
  opacity: 1
  margin-top: -50px
  box-shadow: 0 0 32px rgba(55, 55, 55, 0.3)
  transition: all .4s ease-in-out
  min-height: 550px
  @media (max-width: 1199px)
    padding: 102px 0 10px 0
  @media (max-width: 991px)
    display: none
  .shop-hover
    padding-right: 50px  
  .header-hover-hide
    visibility: hidden
    opacity: 0
    display: none
  //.shop-show
    // visibility: visible
    // opacity: 1
    // display: flex
  .header-hover-show
    visibility: visible
    opacity: 1
    display: flex
  .container
    position: relative
  h5
    font-family: "MontserratSemiBold", sans-serif
    font-size: 14px
    text-transform: uppercase
    margin-bottom: 51px
  ul
    list-style: none
    padding-left: 0
    margin-bottom: 0
    li
      margin-bottom: 8px
      &:last-child
        margin-bottom: 0
      a
        color: #737373
        font-size: 12px
  .header__hover-items-wrapper
    display: flex
    @media (max-width: 1200px)
      flex-direction: column
    &:nth-of-type(2)
      margin-left: -30px
      @media (max-width: 1199px)
        margin-left: 0
  .header__hover-items
    width: 100%
    //margin-right: 50px
    @media (max-width: 1199px)
      margin-bottom: 30px
    li
      margin-bottom: 30px
      a
        font-family: "MontserratSemiBold", sans-serif
        text-transform: uppercase
        font-size: 14px
        margin: auto
        color: #000
    .btn
      margin-top: 40px
      height: 40px
      width: 200px
      line-height: 25px!important
  .header__hover-img
    position: absolute
    right: 0
    top: -25%
    height: 380px
    width: 270px
    overflow: hidden
    transition: all .4s ease-in-out
    background-color: red
    @media (max-width: 1200px)
      top: -15%
    img
      position: absolute
      right: 0
      top: 0
      bottom: 0
      left: 0
      margin: auto
      width: auto
      height: 100%
.header__hover-menu-active
  top: 220px
.header__hover-header-no-shadow
  outline: 1px solid #dcdcdc
#nav-line
  margin-left: -15px
  margin-right: -15px
.header__hover-img-active
  display: block!important
.header__hover-img-hide
  display: none
.academy-hover
  .header__hover-img
    margin-right: 230px



