.header__hover-menu.container-fluid
  .container
    .row.shop-hover.header-hover-hide.header__shop.header-hover-show
      //- .header__hover-lists.col-xl-2.col-lg-2
      //-   h5
      //-     a(href="shop.html") lashes
      //-   ul
      //-     li
      //-       a(href="shop.html") Silk Lashes
      //-     li
      //-       a(href="shop.html") Mink Lashes
      //-     li
      //-       a(href="shop.html") Natural Lashes
      //-     li
      //-       a(href="shop.html") Flat Lashes
      //-     li
      //-       a(href="shop.html") Color Lashes
      //- .header__hover-lists.col-xl-2.col-lg-2
      //-   h5
      //-     a(href="shop.html") liquids
      //-   ul
      //-     li
      //-       a(href="shop.html") Adhesives
      //-     li
      //-       a(href="shop.html") Primer
      //-     li
      //-       a(href="shop.html") Remover
      //-     li
      //-       a(href="shop.html") Cleaner
      .header__hover-items-wrapper.col-xl-5.col-lg-4
        .header__hover-items
          ul
            li
              a(href="shop.html") new arrivals
            li
              a(href="shop.html") tweezers
            li
              a(href="shop.html") glue
            li
              a(href="shop.html") lifting & Lamination
            li
              a(href="shop.html") accessories
        .header__hover-items
          ul
            li
              a(href="shop.html") sets
            li
              a(href="shop.html") Care products
            li
              a(href="shop.html") gift cards
      .header__hover-items-wrapper.col-xl-5.col-lg-4
        .header__hover-items
          ul
            li
              a(href="shop.html") new arrivals
            li
              a(href="shop.html") tweezers
            li
              a(href="shop.html") glue
            li
              a(href="shop.html") lifting & Lamination
            li
              a(href="shop.html") accessories
        .header__hover-items
          ul
            li
              a(href="shop.html") sets
            li
              a(href="shop.html") Care products Care productsCare products
            li
              a(href="shop.html") gift cards
      .header__hover-img.col-xl-3
        img(src="img/hover-2.jpg" alt="hover-menu-image")

    .row.academy-hover.header-hover-hide.header__academy
      .header__hover-items.col-xl-3.offset-xl-3
        ul
          li
            a(href="academy.html").course-1 Basic training
          li
            a(href="academy.html").course-2 intensive training
          li
            a(href="academy.html").course-3 Xpert training
          li
            a(href="academy.html").course-4 elite training
        a(href="academy.html").btn.btn-primary all courses
      .header__hover-img.col-xl-3
        img(src="img/card3.jpg" alt="hover-menu-image").course-1.header__hover-img-hide.header__hover-img-active
        img(src="img/header-hover.jpg" alt="hover-menu-image").course-2.header__hover-img-hide
        img(src="img/card3.jpg" alt="hover-menu-image").course-3.header__hover-img-hide
        img(src="img/header-hover.jpg" alt="hover-menu-image").course-4.header__hover-img-hide



