.cart-hover-menu
  opacity: 0
  visibility: hidden
  position: absolute
  top: 172px
  right: 0
  width: 375px
  border: 1px solid #d9d9d9
  padding: 30px 40px 30px
  z-index: 3
  background-color: #fff
  transition: 0.4s all ease-in-out
  @media (max-width: 991px)
    display: none
  header
    border-bottom: 1px solid #d9d9d9
    //margin-bottom: 30px
    .cart-hover-menu__header-1
      font-family: "MontserratSemiBold", sans-serif
      font-size: 12px
      margin-bottom: 10px
      margin-top: 0
    .cart-hover-menu__header-2
      font-size: 12px
      margin-bottom: 15px
    .progress-wrapper
      padding-bottom: 30px
      display: flex
      justify-content: space-between
      align-items: center
      .progress
        width: 70%
        .progress-bar
          background-color: #63d94c
  .cart-hover-menu__items
    max-height: 510px
    overflow-y: auto
    .cart-hover-menu__item
      padding: 30px 0 25px
      display: flex
      justify-content: space-between
      align-items: center
      border-bottom: 1px solid #d9d9d9
      .cart-hover-menu__item-img
        height: 140px
        width: 100px
        background-image: url('../img/item-in-items.png')
        background-repeat: no-repeat
        background-position: center
        background-size: contain
      .cart-hover-menu__item-info
        margin-right: 30px
        max-width: 130px
        .cart-hover-menu__item-info-title
          font-family: "MontserratSemiBold", sans-serif
          font-size: 14px
          line-height: 20px
          margin-bottom: 15px
        .cart-hover-menu__item-info-parameter
          font-size: 12px
          line-height: 20px
          color: #595959
          margin-bottom: 10px
        .cart-hover-menu__item-info-price
          font-size: 16px
          color: #595959
  //padding-bottom: 27px
  footer
    .cart-hover-menu__subtotal
      display: flex
      justify-content: space-between
      align-items: center
      margin-top: 30px
      margin-bottom: 30px
      color: #595959
      .cart-hover-menu__subtotal-text
        font-size: 14px
      .cart-hover-menu__subtotal-price
        font-family: "MontserratSemiBold", sans-serif
        font-size: 14px
    .btn
      width: 100%
      height: 40px
      line-height: 25px
.show-cart-hover-menu
  opacity: 1
  visibility: visible