.cart-hover-menu
  header
    .cart-hover-menu__header-1 Free shipping
    .cart-hover-menu__header-2 Buy another $11 and get free shipping
    .progress-wrapper
      .progress(style='height: 2px;')
        .progress-bar(role='progressbar' style='width: 70.40%;' aria-valuenow='70.40' aria-valuemin='0' aria-valuemax='100')
      .progress-bar-value 55
  .cart-hover-menu__items
    .cart-hover-menu__item
      .cart-hover-menu__item-img
      .cart-hover-menu__item-info
        .cart-hover-menu__item-info-title L+Curl Lashes by Infinity Lashes
        .cart-hover-menu__item-info-parameter Thickness: 0.15
        .cart-hover-menu__item-info-parameter Length: 10mm
        .cart-hover-menu__item-info-parameter Type: L+Curl
        .cart-hover-menu__item-info-parameter Color: Black
        .cart-hover-menu__item-info-price $19
    .cart-hover-menu__item
      .cart-hover-menu__item-img
      .cart-hover-menu__item-info
        .cart-hover-menu__item-info-title L+Curl Lashes by Infinity Lashes
        .cart-hover-menu__item-info-parameter Thickness: 0.15
        .cart-hover-menu__item-info-parameter Length: 10mm
        .cart-hover-menu__item-info-parameter Type: L+Curl
        .cart-hover-menu__item-info-parameter Color: Black
        .cart-hover-menu__item-info-price $19
    .cart-hover-menu__item
      .cart-hover-menu__item-img
      .cart-hover-menu__item-info
        .cart-hover-menu__item-info-title L+Curl Lashes by Infinity Lashes
        .cart-hover-menu__item-info-parameter Thickness: 0.15
        .cart-hover-menu__item-info-parameter Length: 10mm
        .cart-hover-menu__item-info-parameter Type: L+Curl
        .cart-hover-menu__item-info-parameter Color: Black
        .cart-hover-menu__item-info-price $19
  footer
    .cart-hover-menu__subtotal
      .cart-hover-menu__subtotal-text Subtotal:
      .cart-hover-menu__subtotal-price $19
    a(href="cart.html").btn.btn-primary view cart

