.header__burger-menu-wrapper
  .container
    .row.burger-main-logo-wrapper
      .burger-back-wrapper
        +svg('totop', 'totop-back svg')
        .burger-main-back back
      .burger-main-logo.col-lg-12.col-md-12
          a(href='index.html').big-logo
            img(src="img/new_logo.svg" alt="Infinity Lashes" title="Infinity Lashes")
          a(href='/').small-logo
            img(src="img/svg/logo_for_small.svg" alt="Infinity Lashes" title="Infinity Lashes")

    .burger-menu__windows-wrapper
      .burger-menu__first-window
        .row.burger-menu-wrapper
          .burger-menu-punkts.col-12
            ul
              li
                a(href="#" data-attr="shop") Shop
                a(href="#" data-attr="shop" class="next-link")
                  +svg('totop', 'totop svg')
              li
                a(href="academyv2.html" data-attr="Academy") Academy
                a(href="academyv2.html" data-attr="Academy" class="next-link")
                  +svg('totop', 'totop svg')
              li
                a(href="about-us.html" data-attr="About us") About us
                a(href="about-us.html" data-attr="About us" class="next-link")
                  +svg('totop', 'totop svg')
              li
                a(href="# " data-attr="blog") blog
                a(href="# " data-attr="blog")
                  +svg('totop', 'totop svg')
              li
                a(href="contact-us.html" data-attr="contact us") contact us
                a(href="contact-us.html" data-attr="contact us" class="next-link")
                  +svg('totop', 'totop svg')
        .row.burger-after-menu-wrapper
          .burger-after-menu-punkts.col-12
            ul
              li
                a(href="trainer-distributor.html" title="trainer / distributor") trainer / distributor

        //.burger-footer-wrapper
          .burger-footer-item
            a(href="#")
              +svg('lang', 'lang svg')
              p English
          .burger-footer-item.center-item
            a(href="#")
              +svg('onmap', 'onmap svg')
              p Find a Studio
          .burger-footer-item
            a(href="#")
              +svg('account', 'account svg')
              p Sign in / Join

      .burger-menu__second-window(data-parent-attr="shop")
        .row.burger-menu-wrapper
          a(href="#").burger-menu-submenu-name
          .burger-menu-punkts.col-12
            ul
              li
                a(href="shop.html" data-attr="silk lashes-1") silk lashes-1
                a(href="shop.html" data-attr="silk lashes-1" class="next-link")
                  +svg('totop', 'totop svg')
              li
                a(href="shop.html" data-attr="mink lashes-1") mink lashes-1
                a(href="shop.html" data-attr="mink lashes-1" class="next-link")
                  +svg('totop', 'totop svg')
              li
                a(href="#" data-attr="natural lashes-1") natural lashes-1
                a(href="#" data-attr="natural lashes-1" class="next-link")
                  +svg('totop', 'totop svg')
              li
                a(href="shop.html" data-attr="Flat lshes-1") Flat lshes-1
                a(href="shop.html" data-attr="Flat lshes-1" class="next-link")
                  +svg('totop', 'totop svg')
              li
                a(href="shop.html" data-attr="color lashes-1") color lashes-1
                a(href="shop.html" data-attr="color lashes-1" class="next-link")
                  +svg('totop', 'totop svg')
              li
                a(href="shop.html" data-attr="sets-1") sets-1
                a(href="shop.html" data-attr="sets-1" class="next-link")
                  +svg('totop', 'totop svg')


              li
                a(href="shop.html" data-attr="silk lashes-1") silk lashes-1
                a(href="shop.html" data-attr="silk lashes-1" class="next-link")
                  +svg('totop', 'totop svg')
              li
                a(href="shop.html" data-attr="mink lashes-1") mink lashes-1
                a(href="shop.html" data-attr="mink lashes-1" class="next-link")
                  +svg('totop', 'totop svg')
              li
                a(href="shop.html" data-attr="natural lashes-1") natural lashes-1
                a(href="shop.html" data-attr="natural lashes-1" class="next-link")
                  +svg('totop', 'totop svg')
              li
                a(href="shop.html" data-attr="Flat lshes-1") Flat lshes-1
                a(href="shop.html" data-attr="Flat lshes-1" class="next-link")
                  +svg('totop', 'totop svg')
              li
                a(href="shop.html" data-attr="color lashes-1") color lashes-1
                a(href="shop.html" data-attr="color lashes-1" class="next-link")
                  +svg('totop', 'totop svg')
              li
                a(href="shop.html" data-attr="sets-1") sets-1
                a(href="shop.html" data-attr="sets-1" class="next-link")
                  +svg('totop', 'totop svg')

      .burger-menu__second-window(data-parent-attr="blog")
        .row.burger-menu-wrapper
          .burger-menu-submenu-name
          .burger-menu-punkts.col-12
            ul
              li
                a(href="#" data-attr="blog 1") blog 1
                a(href="#" data-attr="blog 1" class="next-link")
                  +svg('totop', 'totop svg')
              li
                a(href="blog-article.html" data-attr="blog 2") blog 2
              li
                a(href="blog-article.html" data-attr="blog 3") blog 3

      .burger-menu__third-window(data-parent-attr="blog 1")
        .row.burger-menu-wrapper
          .burger-menu-submenu-name
          .burger-menu-punkts.col-12
            ul
              li
                a(href="blog-article.html" data-attr="blog 1-1") blog 1-1
                a(href="blog-article.html" data-attr="blog 1-1" class="next-link")
                  +svg('totop', 'totop svg')
              li
                a(href="blog-article.html" data-attr="blog 2-1") blog 1-2
              li
                a(href="blog-article.html" data-attr="blog 3-1") blog 1-3

      .burger-menu__third-window(data-parent-attr="natural lashes-1")
        .row.burger-menu-wrapper
          .burger-menu-submenu-name
          .burger-menu-punkts.col-12
            ul
              li
                a(href="shop.html" data-attr="natural lashes-2") natural lashes-2
      .burger-menu__language-window
        .burger-menu__language-menu-change.grey-form
            p Select your language
            select.languageSelect(name="languageSelect")
              option(value="English") English
              option(value="German") German
              option(value="Russian") Russian
            a(href="#").btn.btn-primary save

  .container-fluid
    .burger-footer-wrapper
          .burger-footer-item.burger-menu__language-menu-trigger
            a(href="#" title="Language")
              +svg('lang', 'lang svg')
              p English
          .burger-footer-item.center-item
            a(href="find-studio.html" title="Find a Studio")
              +svg('onmap', 'onmap svg')
              p Find a Studio
          .burger-footer-item
            a(href="account-login.html" title="Account")
              +svg('account', 'account svg')
              p Sign in / Join




