.header__burger-menu-wrapper
  display: none
  position: absolute
  left: -150%
  right: auto
  top: 42px
  bottom: auto
  height: 100vh
  //height: calc(100vh - 42px)
  width: 100vw
  background-color: #fff
  z-index: 10
  //transition: all 1s cubic-bezier(0.23, 1, 0.32, 1)
  transition: all .4s ease-in
  overflow: hidden
  -webkit-overflow-scrolling: touch
  @media (max-width: 991px)
    display: block
  @media (max-width: 519px)
    top: 0
    height: 100vh
  &.header__burger-menu-wrapper-active
    left: 0
    right: 0
    top: 42px
    bottom: 0
    overflow: auto
    //display: block
    @media (max-width: 519px)
      top: 0
  // .container
  //   @media (max-width: 330px)

  //     height: 150%
  .burger-main-logo-wrapper
    border-bottom: 1px solid #d9d9d9
    margin-left: 0!important
    margin-right: 0!important
    margin-bottom: 30px
    position: relative
    .burger-main-logo
      height: auto
      width: 320px
      max-width: 320px
      margin-top: 30px
      margin-bottom: 18px
      margin-left: 50%
      transform: translateX(-50%)
      @media (max-width: 575px)
        margin-bottom: 38px
        margin-top: 20px
      @media (max-width: 519px)
        margin-bottom: 20px
      img
        width: 290px
      .big-logo
        @media (max-width: 575px)
          display: none
      .small-logo
        @media (min-width: 576px)
          display: none
        img
          width: 260px
          @media (max-width: 519px)
            width: 170px
    .burger-back-wrapper
      cursor: pointer
      display: none
      .burger-main-back
        text-transform: uppercase
        font-size: 14px
        font-family: 'MontserratSemiBold', sans-serif
        left: 20px
        position: absolute
        top: 59%
        transform: translateY(-50%)
        @media (max-width: 575px)
          top: 63%
        @media (max-width: 519px)
            display: none
      .totop-back
        height: 10px
        width: 7px
        transform: rotate(180deg) translateY(-50%)
        position: absolute
        top: 46%
        @media (max-width: 575px)
          top: 54%
        @media (max-width: 519px)
          top: 45%
          height: 20px
          width: 14px
  .burger-menu-wrapper,
  .burger-after-menu-wrapper
    margin-left: 0!important
    margin-right: 0!important
    ul
      list-style: none
      margin: 0
      @media (max-width: 575px)
        padding: 0
      li
        margin-top: 30px
        margin-bottom: 30px
        display: flex
        align-items: center
        position: relative
        a
          display: block
          //width: 100%
          height: 100%
          text-transform: uppercase
          font-family: "Montserrat", sans-serif
    .burger-menu-punkts
      border-bottom: 1px solid #d9d9d9
      a.next-link
        display: none
      .totop
        height: 10px
        width: 7px
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
  .burger-footer-wrapper
    position: fixed
    bottom: 0
    width: 100%
    display: flex
    justify-content: space-between
    height: 100px
    visibility: visible
    opacity: 1
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1)
    @media (max-width: 300px)
      flex-direction: column
      position: static
      height: auto
    .burger-footer-item
      width: 33.33%
      text-align: center
      background-color: #000000
      @media (max-width: 300px)
        width: 100%
      &.center-item
        border-left: 1px solid #e6e6e6
        border-right: 1px solid #e6e6e6
        @media (max-width: 300px)
          border: none
          border-top: 1px solid #e6e6e6
          border-bottom: 1px solid #e6e6e6
      a
        color: #ffffff
        display: block
        height: 100%
        margin-top: 30px
        //transform: translateY(-50%)
        font-size: 12px
      .lang,
      .onmap,
      .account
        fill: #ffffff
        height: 18px
        width: 18px
        margin-bottom: 5px
      .onmap
        height: 22px
        width: 16px
      .account
        height: 21px
        width: 20px
  .burger-footer-wrapper-hide
    visibility: hidden
    opacity: 0
    bottom: -150%
  .burger-menu__windows-wrapper
    position: relative
  .burger-menu__second-window,
  .burger-menu__third-window,
  .burger-menu__language-window
    position: absolute
    top: 0
    bottom: 0
    //right: 0
    left: -150%
    height: 100vh
    z-index: 11
    background-color: #fff
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1)
    //transition: all 1s ease
    .burger-menu-punkts
      border-bottom: none
  .burger-menu__third-window
    z-index: 12
  .burger-menu-submenu-name
    font-size: 14px
    font-family: 'MontserratSemiBold', sans-serif
    text-transform: uppercase
  .container-fluid
    padding-left: 0!important
    padding-right: 0!important
  .burger-menu__language-window-show
    left: 0
    width: 100%
    transition: all 1s ease
    p
      font-family: "MontserratSemiBold", sans-serif
      font-size: 14px
      line-height: 20px
      text-transform: uppercase
      margin-bottom: 30px
    select
      height: 40px
      width: 205px
      display: block
      background-color: #fff
      border: 1px solid #e8e8e8
      margin-bottom: 30px
      margin-left: 30px
    .btn
      height: 40px
      width: 205px
      margin-left: 30px





.body-header__burger-menu-wrapper-active
  overflow: hidden

