.header__adaptive-search
  .container
    .main-search.input-group
        input.form-control(type="search" placeholder="Search" aria-label="Search")#adaptive-search-input
        .input-group-append
          button(type="button")
            +svg('search', 'search svg')
        +svg('close-search', 'close-search svg')
  .svgHide
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" style="position:absolute">
    <symbol id="close-search" viewBox="0 0 15 15">
    <defs><style>.cls-1-cs{fill:#000}</style></defs><title>close</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1-cs" transform="rotate(-45 7.498 7.504)" d="M6.84-2.44h1.33v19.89H6.84z"></path><path class="cls-1-cs" transform="rotate(45 7.504 7.498)" d="M6.84-2.44h1.33v19.89H6.84z"></path></g></g>
    </symbol></svg>