.header__adaptive-search
  position: absolute
  bottom: -70px
  left: 0
  //margin-bottom: 300px
  width: 100%
  background-color: #fff
  border-top: 1px solid #d9d9d9
  min-height: 70px
  visibility: hidden
  opacity: 0
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1)
  @media (min-width: 991px)
    display: none
  .main-search
    margin-top: 15px
    margin-bottom: 15px
    button
        padding: 0 16px 0 10px
        border: none
        position: absolute
        left: 3px
        top: 8px!important
        z-index: 9
        outline: none
        background-color: #fff
        &:hover
          cursor: pointer
        .search
          height: 22px
          width: 23px
    input
        border-color: lightgrey!important
        box-shadow: none!important
        padding-left: 60px
        height: 40px
        padding-right: 40px
    .close-search
      z-index: 20
      height: 15px
      width: 15px
      position: absolute
      right: 12px
      top: 12px
      cursor: pointer
      visibility: hidden






.header__adaptive-search-active
  visibility: visible
  opacity: 1
  //margin-bottom: 0
  display: block