header#top
  z-index: 9
  position: relative
  background-color: #fff
  transition: box-shadow .4s ease-in-out
  &>.container
      @media (max-width: 991px)
        display: none
  .header
    font-size: 12px
    padding-top: 12px
    padding-bottom: 12px
    background-color: #000
    color: #fff
    min-height: 42px
    @media (max-width: 519px)
        display: none
    a
      color: #fff
    .header_left-block
      @media (max-width: 991px)
        display: none!important
    .header_left-block,
    .header_right-block
      display: flex
      justify-content: space-between
      svg
        fill: #fff
        height: 20px
        width: 20px
        position: absolute
        left: 0px
        top: -2px
        //&:hover
          fill: red
      a
        margin-left: 30px
      .header_right-block_language,
      .header_right-block_find
        position: relative
        margin-left: 54px
        @media (max-width: 991px)
          display: none
        span
          @media (max-width: 1199px)
            display: none
      .header_right-block_find
        @media (max-width: 1199px)
            margin-right: -15px

      .header_right-block_language
        padding-right: 30px
        position: relative
        svg
          z-index: 2
        .change-language-button
          z-index: 2
          span
            position: relative
            z-index: 2
        .dropdown-menu-change
          position: absolute
          background-color: #2b2b2b
          right: 60px
          border: none
          color: #ffffff
          top: -12px
          right: 0
          width: 270px
          height: 245px
          z-index: 1
          visibility: hidden
          opacity: 0
          transition: .4s all
          padding: 60px 30px 30px 35px
          p
            text-transform: uppercase
            font-size: 12px
            line-height: 20px
          select
            height: 40px
            width: 100%
            padding-left: 15px
            font-size: 14px
          .btn
            height: 40px
            width: 100%
            margin-left: 0
            margin-top: 30px

        .dropdown-menu-change-visible
          visibility: visible
          opacity: 1

    .heaeder_cener
      font-size: 11px
      position: absolute
      text-transform: uppercase
      text-align: center
      left: 50%
      transform: translateX(-50%)
      width: 55%
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      @media (max-width: 991px)
        width: 95%
      // @media (max-width: 991px)
      //   width: 100%
      //   text-align: center
      // @-webkit-keyframes scroll
      //   0%
      //     -webkit-transform: translate(0, 0)
      //     transform: translate(0, 0)
      //   100%
      //     -webkit-transform: translate(-100%, 0)
      //     transform: translate(-100%, 0)

      // span
      //   display: inline-block
      //   padding-left: 100%
      //   -webkit-animation: scroll 15s infinite linear
      //   -moz-animation: scroll 15s infinite linear
      //   animation: scroll 15s infinite linear
      // a
      //   color: #ffffff





  .main
    min-height: 96px
    @media (max-width: 575px)
      min-height: 120px
    @media (max-width: 519px)
      min-height: 80px
    .main-search
      color: #000
      max-width: 275px
      max-height: 275px
      margin-left: 30px
      margin-top: 25px
      margin-bottom: 25px
      transition: all .4s easy-in-out
      @media (max-width: 1199px)
        display: none
        //visibility: hidden
      // @media (max-width: 767px)
      //   visibility: hidden
        //display: none
      //@media (max-width: 768px)
        //position: absolute
      button
        padding: 0 16px 0 10px
        border: none
        position: absolute
        right: 3px
        top: 6px!important
        z-index: 10
        outline: none
        background-color: #fff
        &:hover
          cursor: pointer
        .search
          height: 22px
          width: 22px
      /*for backend plugin*/
      .tt-suggestion
        //white-space: normal!important
      .media-left
        width: 50px!important
        height: 50px!important
        overflow: hidden
        .media-object
          width: auto
          height: 100%
      .media-body
        text-overflow: ellipsis!important
        width: 100%
        overflow: hidden;
        p
          padding: 0 10px 0 20px!important
          text-overflow: ellipsis!important
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          font-size: 12px
          margin-top: 15px
      input
        border-color: lightgrey!important
        box-shadow: none!important
        min-height: 35px
        // @media (max-width: 1199px)
        //   border: none
    .main-search-adaptive-left
      @media (min-width: 1199px)
        display: none
      @media (max-width: 991px)
        visibility: hidden
      .search-adaptive-left
        height: 20px
        width: 20px
        margin-left: 30px
        margin-top: 6px
    .main-enter
      margin-right: 30px
      min-width: 275px
      display: flex
      justify-content: flex-end
      margin-top: 5px
      @media (max-width: 1199px)
        margin-top: -25px
      @media (max-width: 767px)
        margin-right: 20px
      @media (max-width: 575px)
        margin-top: 2px
      @media (max-width: 519px)
        margin-top: 10px
        margin-right: 10px
        min-width: auto
      // @media (max-width: 370px)
      //   min-width: auto
      .main-search-adaptive-right
        position: relative
        margin-right: 15px
        display: none
        @media (max-width: 991px)
          display: block
        @media (max-width: 575px)
          margin-right: 10px
        @media (max-width: 340px)
          margin-right: 0
        // @media (max-width: 320px)
        //   display: none
        svg.search-adaptive-right
          height: 21px
          width: 20px
          position: absolute
          top: 0
          left: 0
          @media (max-width: 519px)
            height: 16px
            width: 15px
      
      svg
        height: 20px
        width: 20px
        position: absolute
        top: 0
        left: -30px
        // @media (max-width: 519px)
        //   left: 0
        //   display: none
      .main-enter__basket,
      .main-enter__singin
        position: relative
      .main-enter__singin
        @media (max-width: 991px)
          display: none
      .main-enter__singin
        a:last-of-type
          @media (max-width: 1199px)
            display: none
      .main-enter__basket
        &>a>p
          margin-bottom: 0
          @media (max-width: 1199px)
            display: none
      .main-enter__basket
        margin-left: 68px
        @media (max-width: 519px)
          margin-left: 55px
        svg
          @media (max-width: 519px)
            height: 15px
            width: 15px
        img
          position: absolute
          left: -30px
          top: 0
          height: 20px
          width: 18px
        .header__numbers-of-orders
          height: 20px
          width: 20px
          background-color: #000000
          border-radius: 50%
          position: absolute
          left: -20px
          top: -5px
          @media (max-width: 519px)
            height: 15px
            width: 15px
            left: -23px
          p
            position: absolute
            left: 50%
            transform: translateX(-50%)
            line-height: 20px
            font-size: 12px
            color: #ffffff
            @media (max-width: 519px)
              font-size: 8px
              line-height: 15.5px
    .header__boorger-wrapper
      z-index: 11
      display: none
      position: absolute
      left: 40px
      width: 25px
      height: 20px
      cursor: pointer
      transition: all .4s ease-in
      bottom: 39px
      @media (max-width: 767px)
        left: 20px
      @media (max-width: 575px)
        bottom: 35px
      @media (max-width: 519px)
        bottom: 14px
      &.boorger-wrapper-animate
        transition: all .4s ease-in
        left: 90%
      .header__boorger,
      .header__boorger:after,
      .header__boorger:before
        width: 25px
        height: 2px
        @media (max-width: 519px)
          width: 18px
      .header__boorger
        position: relative
        transform: translateY(25px)
        background: #000000
        transition: all 0ms 300ms
        margin-top: -17px
        &:before
          :before
          content: ""
          position: absolute
          left: 0
          bottom: 7px
          background: #000000
          transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
          @media (max-width: 519px)
            bottom: 4px
        &:after
          content: ""
          position: absolute
          left: 0
          top: 7px
          background: #000000
          transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
          @media (max-width: 519px)
            top: 4px
        &.boorger-animate
          background: rgba(0,0,0,0)
        &.boorger-animate:before
          bottom: 0
          transform: rotate(-45deg)
          transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)
        &.boorger-animate:after
          top: 0
          transform: rotate(45deg)
          transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)
      @media (max-width: 991px)
        display: block
    .search-adaptive-left,
    .search-adaptive-right
      cursor: pointer

  .main-logo
    position: absolute
    left: 50%
    transform: translateX(-50%)
    // @media (max-width: 575px)
    //   margin-top: -8px
    // @media (max-width: 519px)
    //   margin-top: 12px
    .big-logo
      img
        height: 32px
        width: 290px
        // @media (max-width: 767px)
        //   width: 250px
        // @media (max-width: 575px)
        //   width: 200px
        // @media (max-width: 520px)
        //   margin-left: -25px
        // @media (max-width: 370px)
        //   width: 150px
        //   margin-left: 0
      @media (max-width: 575px)
        display: none
    .small-logo
      display: block
      height: 65px
      width: 260px
      @media (min-width: 576px)
        display: none
      @media (max-width: 519px)
        width: 170px
      img
        @media (max-width: 576px)
          margin-top: -8px
        @media (max-width: 519px)
          margin-top: 12px
      // @media (max-width: 440px)
      //   width: 150px
        //margin-top: 27px
      // @media (max-width: 390px)
      //   width: 150px
  nav
    ul
      list-style: none
      display: flex
      margin-bottom: 0
      li
        a
          text-transform: uppercase
          font-family: "MontserratSemiBold", sans-serif
          display: block
          padding-right: 20px
          padding-left: 20px
          padding-bottom: 16px
          position: relative
          &::after
            content: ''
            position: absolute
            left: 0
            bottom: 0
            height: 3px
            width: 100%
            background-color: #000
            opacity: 0
            transition: all .3s ease-in-out
          //cubic-bezier(0.68, -0.55, 0.265, 1.55)
          &:hover
            text-decoration: none
            &::after
              opacity: 1

.header-shadow
  box-shadow: 0 0 32px rgba(55, 55, 55, 0.3)

.added-to-cart-wrapper
  position: fixed
  //right: 25px
  right: -100%
  top: 25px
  width: 170px
  background-color: #000000
  color: #ffffff
  font-size: 14px
  padding: 10px
  z-index: 100
  transition: all .4s


