h2 Calling top talent
.container
  .row
    .careers-main-header-description.offset-xl-2.col-xl-8.offset-lg-1.col-lg-10 We are looking for talented characters who have eyes burning and an irresistible desire to do their work better than anyone else. Our company is actively growing and developing and we will take you under our wing with great pleasure. You will learn a lot from us, but we also will be able to learn from you.

  #accordionCareers.accordion
    .card
      #headingOne.card-header
        h5.mb-0
          button.btn.btn-link(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
            | Corporate Lash Stylist
          button.btn.btn-link.arrow-btn(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
            +svg('arrow-new', 'faq-arrow-new svg')
      #collapseOne.collapse(aria-labelledby='headingOne' data-parent='#accordionCareers')
        .card-body
          .card-body-block-wrapper
            h6 About the position:
            p Join us in our mission to enrich and empower lives by delivering the most advanced and comprehensive eyelash extension education and training to lash stylists across the world.
            p For over a decade, Infinity Lashes has been the industry pioneer in eyelash extension products, techniques and education. As an Infinity Lashes Trainer, you will train, coach and inspire new and returning lash stylists, developing their skills in the application of beautiful, safe and long-lasting eyelash extensions, and helping them to launch & elevate their careers.
            p Previous instructor or teaching experience is not necessary. Your positivity, nurturing spirit and eagerness to develop will pave your way into becoming a Trainer at Infinity Lashes.
            h6 What you’ll do:
            ul
              li Infinity Lashes certification
              li License in Esthetics, Cosmetology or a related field
              li Knowledge of health & safety standards in the beauty industry
              li Competence in Infinity Lashes application techniques and product knowledge
              li Passion about the eyelash extension & beauty industries
              li Positive, patient, responsible, and nurturing spirit
              li Excellent communication, critical thinking and problem solving skills
              li Objective and fair approach to students of all levels and experiences
              li Strong time management, organizational and multitasking skills
              li Exemplary organizational skills to be applied to self and others
              li Exemplary leadership and problem solving skills in an autonomous capacity
              li Spirit of entrepreneurship requiring high-energy, proactiveness, flexibility and collaboration
              li Basic computer and technology skills
              li Availability to teach the minimum number of required training programs
              li Ability and willingness to travel, as necessary
              li Ability to lift 30 lbs to set up Training Programs
              li Ability to work independently and collaboratively
            h6 Trainers enjoy:
            ul
              li Being a part of a brilliant, professional, and creative community
              li Competitive compensation and additional performance-based benefits
              li Being the first to know about new, innovative lash techniques & products
              li Valuable industry and business knowledge
              li Traveling to teach, inspire, and connect with other beauty professionals
              li Frequent Flyer miles
              li Distinguished listing on the IL Lash Stylists Directory™
          a(href="mailto:info@infinitylashes.com").careers-send-mail-button.btn.btn-primary Apply
    .card
      #headingTwo.card-header
        h5.mb-0
          button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
            | Director of Marketing
          button.btn.btn-link.collapsed.arrow-btn(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
            +svg('arrow-new', 'faq-arrow-new svg')
      #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionCareers')
        .card-body
          .card-body-block-wrapper
            h6 About the position:
            p Join us in our mission to enrich and empower lives by delivering the most advanced and comprehensive eyelash extension education and training to lash stylists across the world.
            p For over a decade, Infinity Lashes has been the industry pioneer in eyelash extension products, techniques and education. As an Infinity Lashes Trainer, you will train, coach and inspire new and returning lash stylists, developing their skills in the application of beautiful, safe and long-lasting eyelash extensions, and helping them to launch & elevate their careers.
            p Previous instructor or teaching experience is not necessary. Your positivity, nurturing spirit and eagerness to develop will pave your way into becoming a Trainer at Infinity Lashes.
            h6 What you’ll do:
            ul
              li Infinity Lashes certification
              li License in Esthetics, Cosmetology or a related field
              li Knowledge of health & safety standards in the beauty industry
              li Competence in Infinity Lashes application techniques and product knowledge
              li Passion about the eyelash extension & beauty industries
              li Positive, patient, responsible, and nurturing spirit
              li Excellent communication, critical thinking and problem solving skills
              li Objective and fair approach to students of all levels and experiences
              li Strong time management, organizational and multitasking skills
              li Exemplary organizational skills to be applied to self and others
              li Exemplary leadership and problem solving skills in an autonomous capacity
              li Spirit of entrepreneurship requiring high-energy, proactiveness, flexibility and collaboration
              li Basic computer and technology skills
              li Availability to teach the minimum number of required training programs
              li Ability and willingness to travel, as necessary
              li Ability to lift 30 lbs to set up Training Programs
              li Ability to work independently and collaboratively
            h6 Trainers enjoy:
            ul
              li Being a part of a brilliant, professional, and creative community
              li Competitive compensation and additional performance-based benefits
              li Being the first to know about new, innovative lash techniques & products
              li Valuable industry and business knowledge
              li Traveling to teach, inspire, and connect with other beauty professionals
              li Frequent Flyer miles
              li Distinguished listing on the IL Lash Stylists Directory™
          a(href="mailto:info@infinitylashes.com").careers-send-mail-button.btn.btn-primary Apply
    .card
      #headingThree.card-header
        h5.mb-0
          button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
            | Sales and Customer Service Manager
          button.btn.btn-link.collapsed.arrow-btn(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
            +svg('arrow-new', 'faq-arrow-new svg')
      #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionCareers')
        .card-body
          .card-body-block-wrapper
            h6 About the position:
            p Join us in our mission to enrich and empower lives by delivering the most advanced and comprehensive eyelash extension education and training to lash stylists across the world.
            p For over a decade, Infinity Lashes has been the industry pioneer in eyelash extension products, techniques and education. As an Infinity Lashes Trainer, you will train, coach and inspire new and returning lash stylists, developing their skills in the application of beautiful, safe and long-lasting eyelash extensions, and helping them to launch & elevate their careers.
            p Previous instructor or teaching experience is not necessary. Your positivity, nurturing spirit and eagerness to develop will pave your way into becoming a Trainer at Infinity Lashes.
            h6 What you’ll do:
            ul
              li Infinity Lashes certification
              li License in Esthetics, Cosmetology or a related field
              li Knowledge of health & safety standards in the beauty industry
              li Competence in Infinity Lashes application techniques and product knowledge
              li Passion about the eyelash extension & beauty industries
              li Positive, patient, responsible, and nurturing spirit
              li Excellent communication, critical thinking and problem solving skills
              li Objective and fair approach to students of all levels and experiences
              li Strong time management, organizational and multitasking skills
              li Exemplary organizational skills to be applied to self and others
              li Exemplary leadership and problem solving skills in an autonomous capacity
              li Spirit of entrepreneurship requiring high-energy, proactiveness, flexibility and collaboration
              li Basic computer and technology skills
              li Availability to teach the minimum number of required training programs
              li Ability and willingness to travel, as necessary
              li Ability to lift 30 lbs to set up Training Programs
              li Ability to work independently and collaboratively
            h6 Trainers enjoy:
            ul
              li Being a part of a brilliant, professional, and creative community
              li Competitive compensation and additional performance-based benefits
              li Being the first to know about new, innovative lash techniques & products
              li Valuable industry and business knowledge
              li Traveling to teach, inspire, and connect with other beauty professionals
              li Frequent Flyer miles
              li Distinguished listing on the IL Lash Stylists Directory™
          a(href="mailto:info@infinitylashes.com").careers-send-mail-button.btn.btn-primary Apply
    .card
      #headingFore.card-header
        h5.mb-0
          button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseFore' aria-expanded='false' aria-controls='collapseFore')
            | Trainer
          button.btn.btn-link.collapsed.arrow-btn(type='button' data-toggle='collapse' data-target='#collapseFore' aria-expanded='false' aria-controls='collapseFore')
            +svg('arrow-new', 'faq-arrow-new svg')
      #collapseFore.collapse(aria-labelledby='headingFore' data-parent='#accordionCareers')
        .card-body
          .card-body-block-wrapper
            h6 About the position:
            p Join us in our mission to enrich and empower lives by delivering the most advanced and comprehensive eyelash extension education and training to lash stylists across the world.
            p For over a decade, Infinity Lashes has been the industry pioneer in eyelash extension products, techniques and education. As an Infinity Lashes Trainer, you will train, coach and inspire new and returning lash stylists, developing their skills in the application of beautiful, safe and long-lasting eyelash extensions, and helping them to launch & elevate their careers.
            p Previous instructor or teaching experience is not necessary. Your positivity, nurturing spirit and eagerness to develop will pave your way into becoming a Trainer at Infinity Lashes.
            h6 What you’ll do:
            ul
              li Infinity Lashes certification
              li License in Esthetics, Cosmetology or a related field
              li Knowledge of health & safety standards in the beauty industry
              li Competence in Infinity Lashes application techniques and product knowledge
              li Passion about the eyelash extension & beauty industries
              li Positive, patient, responsible, and nurturing spirit
              li Excellent communication, critical thinking and problem solving skills
              li Objective and fair approach to students of all levels and experiences
              li Strong time management, organizational and multitasking skills
              li Exemplary organizational skills to be applied to self and others
              li Exemplary leadership and problem solving skills in an autonomous capacity
              li Spirit of entrepreneurship requiring high-energy, proactiveness, flexibility and collaboration
              li Basic computer and technology skills
              li Availability to teach the minimum number of required training programs
              li Ability and willingness to travel, as necessary
              li Ability to lift 30 lbs to set up Training Programs
              li Ability to work independently and collaboratively
            h6 Trainers enjoy:
            ul
              li Being a part of a brilliant, professional, and creative community
              li Competitive compensation and additional performance-based benefits
              li Being the first to know about new, innovative lash techniques & products
              li Valuable industry and business knowledge
              li Traveling to teach, inspire, and connect with other beauty professionals
              li Frequent Flyer miles
              li Distinguished listing on the IL Lash Stylists Directory™
          a(href="mailto:info@infinitylashes.com").careers-send-mail-button.btn.btn-primary Apply
    .card
      #headingFive.card-header
        h5.mb-0
          button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
            | Product Marketing Manager
          button.btn.btn-link.collapsed.arrow-btn(type='button' data-toggle='collapse' data-target='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
            +svg('arrow-new', 'faq-arrow-new svg')
      #collapseFive.collapse(aria-labelledby='headingFive' data-parent='#accordionCareers')
        .card-body
          p Is eyelash adhesive included with my purchase?