.careers-page
  h2
    text-transform: uppercase
    font-size: 16px
    font-family: "MontserratSemiBold", sans-serif
    text-align: center
    margin-top: 40px
    margin-bottom: 40px
    position: relative
    &::after
      content: ""
      position: absolute
      width: 43px
      height: 1px
      background-color: #000000
      bottom: -20px
      left: 50%
      transform: translateX(-50%)
  .careers-main-header-description
    text-align: center
    font-size: 16px
    margin-bottom: 70px
  .careers-send-mail-button
    margin-top: 20px



footer
  margin-top: 140px
