main.container-fluid
  .find-studio__adaptive-find
  .find-studio__map
    #map
  .find-studio__find-list
    h5 City, country
    #city-search
      .city-search.input-group
          input.form-control(type="search" aria-label="Search")
          .input-group-append
            button(type="button")
              +svg('search', 'search svg')
          //+svg('close-search', 'close-search svg')
    .city-search-items-wrapper
      .city-search-item.item1
        .city-search-item-header Infinity Lashes Berlin
        .city-search-item-body Tauentzienstrasse, 78/ 24 <br>Berlin, 10779, Germany<br>T:<a href="tel:+49.30.21.93.70.58">+49.30.21.93.70.58</a>
      .city-search-item.item2
        .city-search-item-header Baby Lash
        .city-search-item-body Breuninger Ground Floor Konigshalle 7 <br>Düsseldorf, 40212, Deutschland <br>T:<a href="tel:+49.25.15.66.41.25.00">+49.25.15.66.41.25.00</a>
      .city-search-item.item3
        .city-search-item-header Amore Lash
        .city-search-item-body Tauentzienstrasse, 78/ 24 <br>Berlin, 10779, Germany<br>T:<a href="tel:+49.30.21.93.70.58">+49.30.21.93.70.58</a>
      button.btn.btn-primary load more

