.find-studio-page
  main
    height: 630px
    display: flex
    padding-left: 0
    padding-right: 0
    margin-top: 20px
    @media (max-width: 767px)
      flex-direction: column
      background-color: #e8e8e8
      height: auto
    .find-studio__adaptive-find
      display: none
      @media (max-width: 767px)
        display: block
    .find-studio__map
      background-color: #e9e9e9
      flex-grow: 3
      @media (max-width: 1199px)
        flex-grow: 10
      @media (max-width: 991px)
        flex-grow: 6
      @media (max-width: 767px)
        flex-grow: 1
        //height: 210px
      #map
        height: 100%
        @media (max-width: 767px)
          height: 336px

    .find-studio__find-list
      background-color: #e8e8e8
      flex-grow: 1
      padding-top: 40px
      padding-left: 40px
      overflow: auto
      @media (max-width: 767px)
        padding-left: 0
        margin-left: auto
        margin-right: auto
      h5
        text-transform: uppercase
        font-family: "MontserratSemiBold", sans-serif
        font-size: 12px
        @media (max-width: 767px)
          display: none


      .city-search-items-wrapper
        .city-search-item
          display: block
          padding: 40px
          background-color: #fff
          max-width: 330px
          margin-bottom: 20px
          cursor: pointer
          @media (max-width: 400px)
            max-width: 250px
          @media (max-width: 300px)
            max-width: 225px
          .city-search-item-header
            font-family: "MontserratSemiBold", sans-serif
            font-size: 14px
            padding-bottom: 15px
            border-bottom: 1px solid #bfbfbf
            margin-bottom: 15px
        button
          width: 100%
          margin-bottom: 40px
          @media (min-width: 767px)
            display: none

  .city-search
        color: #000
        max-width: 330px
        margin-top: 25px
        margin-bottom: 30px
        padding-bottom: 30px
        border-bottom: 1px solid #bfbfbf
        transition: all .4s easy-in-out
        //@media (max-width: 1199px)
          //display: none
          //visibility: hidden
        @media (max-width: 767px)
          margin-left: auto
          margin-right: auto
          padding-bottom: 0
          border-bottom: none
          max-width: 90%
        //@media (max-width: 768px)
          //position: absolute
        button
          padding: 0 16px 0 10px
          border: none
          position: absolute
          right: 3px
          top: 6px!important
          z-index: 1
          outline: none
          background-color: #fff
          &:hover
            cursor: pointer
          .search
            height: 22px
            width: 22px
        /*for backend plugin*/
        .tt-suggestion
          //white-space: normal!important
        .media-left
          width: 50px!important
          height: 50px!important
          overflow: hidden
          .media-object
            width: auto
            height: 100%
        .media-body
          text-overflow: ellipsis!important
          width: 100%
          overflow: hidden;
          p
            padding: 0 10px 0 20px!important
            text-overflow: ellipsis!important
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            font-size: 12px
            margin-top: 15px
        input
          border-color: lightgrey!important
          box-shadow: none!important
          min-height: 35px


  footer
    @media (max-width: 767px)
      background-color: #e8e8e8
      margin-top: 0
      padding-top: 140px
    .card-header,
    .collapse,
    .collapsing
      @media (max-width: 767px)
        background-color: #e8e8e8!important
    .footer__two-rights
      p
        margin-bottom: 0
        padding-bottom: 1rem
    .scrolltop
      display: none
      @media (max-width: 1199px)
        display: block
    & > .container:first-child > hr
      display: none
      @media (max-width: 1199px)
        display: block
