script(src='js/jquery.min.js')
//script(src='js/jquery-ui/jquery-ui.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/html5shiv/html5shiv.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAioiyPpDqMuUnz7g7mKiqX4BCtg6bqXSU&callback=initMap' async defer)

script(src='js/main.min.js')