main.container
  h1 my account
  //a(href="#").back-to-menu
    h2 Profile and settings
      +svg('totop', 'back-adaptive-menu svg')
  .account-page__two-parts-wrapper.row
    .account-page__left-part.col-xl-5.offset-xl-1.col-lg-6.offset-lg-0
      p.account-page__hello Hello, <span>Max Factor</span>

      #account-page__list-tab.list-group
        a#list-profile-list.list-group-item.list-group-item-action Profile and settings
        a#list-payment-list.list-group-item.list-group-item-action Payment Methods
        a#list-shipping-adress-list.list-group-item.list-group-item-action Shipping Address
        a#list-orders-list.list-group-item.list-group-item-action.active My orders
        a#list-logout-list.list-group-item.list-group-item-action Logout

    .account-page__right-part.col-xl-6.col-lg-6
      #nav-tabContent.tab-content
        #list-orders.tab-pane.fade.active.show(role='tabpanel' aria-labelledby='list-orders-list')
          .account-page__orders-new
            h4 My orders
            p.account-page__right-head-p Here you can see your order history
            p.account-page__oops Oops, there's nothing here. It's time to start shopping
            button.btn.btn-primary.account-page__orders-new Start shoping
          .account-page__orders-now
            h4 My orders
            p.account-page__right-head-p Here you can see your order history
            .account-page__wrapper-orders

              .account-page__wrapper-order
                header
                  .account-page__order-main-info
                    .account-page__order-num Order №2442190878
                    .account-page__order-date 25 april 2018, 17:55
                  .account-page__order-status Delivered
                .account-page__order-body
                    .account-page__order-inside
                      span.account-page__name Infinity lashes Mink Eyelash Extensions Trays 13mm
                      span 1
                    .account-page__order-price $20
                .account-page__order-shipping
                  .account-page__order-shipping-name Shipping
                  .account-page__order-shipping-price $5
                .account-page__order-total
                  .account-page__order-total-name Total
                  .account-page__order-total-price $25
                .account-page__order-pdf-wrapper
                  +svg('pdf', 'svg-pdf svg')
                  a(href="#").account-page__order-pdf Generate PDF


              .account-page__wrapper-order
                header
                  .account-page__order-main-info
                    .account-page__order-num Order №2442190878
                    .account-page__order-date 5 march 2018, 10:21
                  .account-page__order-status Delivered
                .account-page__order-body
                  .account-page__order-inside
                    span.account-page__name Infinity lashes Mink Eyelash Extensions Trays 13mm
                    span 3
                  .account-page__order-price $60
                .account-page__order-body
                  .account-page__order-inside
                    span.account-page__name Premium Professional Infinity Lashes Extension Glue (30 ml)
                    span 2
                  .account-page__order-price $140
                .account-page__order-body
                  .account-page__order-inside
                    span.account-page__name Infinity Lashes Tweezers - Midnight Rose
                    span 10
                  .account-page__order-price $500
                .account-page__order-shipping
                  .account-page__order-shipping-name Shipping
                  .account-page__order-shipping-price $0
                .account-page__order-total
                  .account-page__order-total-name Total
                  .account-page__order-total-price $700
                .account-page__order-pdf-wrapper
                  +svg('pdf', 'svg-pdf svg')
                  a(href="#").account-page__order-pdf Generate PDF




  .svgHide
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" style="position:absolute">
    <symbol id="pdf" viewBox="0 0 30 27">
    <defs><style>.cls-1-pdf{fill:#aaaaaa}</style></defs><title>PDF</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Page-1"><g id="icon-70-document-file-pdf"><path class="cls-1-pdf" d="M13 0H2a2 2 0 0 0-2 2v23a2 2 0 0 0 2 2h15a2 2 0 0 0 2-2v-2h8a3 3 0 0 0 3-3v-7a3 3 0 0 0-3-3h-8V7l-6-7zM2 26a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h10v5a2 2 0 0 0 2 2h4v2h-8a3 3 0 0 0-3 3v7a3 3 0 0 0 3 3h8v2a1 1 0 0 1-1 1zM14 7a1 1 0 0 1-1-1V1.5L17.7 7zm-4 15a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h17a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2zm17-9h-5v7h1v-3h3v-1h-3v-2h4v-1zm-8 0h-3v7h3a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2zm-2 6v-5h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1zm-4-6h-3v7h1v-3h2a2 2 0 1 0 0-4zm-2 3v-2h2a1 1 0 0 1 0 2z" id="document-file-pdf"></path></g></g></g></g>
    </symbol></svg>