.account-page
  #list-payment
    .account-page__payment-add
      @media (max-width: 991px)
        max-width: 390px
      @media (max-width: 767px)
        max-width: 100%
    .account-page__payment-ready
      @media (max-width: 991px)
        max-width: 510px
      @media (max-width: 767px)
        margin-left: -5px
        margin-right: -5px
.account-page main .account-page__right-part #nav-tabContent
  a.btn.btn-primary.btn-cancel
    //margin-top: 30px
    margin-left: 20px
    background-color: #ffffff
    color: #000000
    border: 1px solid #000000
    box-shadow: none
    line-height: 27px
    @media (max-width: 767px)
      margin-left: 0
    &:hover
      background-color: #000000
      color: #ffffff
    &:active
      background-color: lighten(#000000, 20%)
      columns: #ffffff
  #add-new-card
    a.btn.btn-primary.btn-cancel
      @media (max-width: 1199px)
        display: block
        margin-left: 0
        margin-top: 30px

button.auto-width,
a.auto-width
  width: auto!important
  min-width: 180px