.about-us-page__main-part-wrapper
  .about-us-page__main-part.container
    h2 Geschichte der Infiniti Lashes
    .about-us-page__blockquote.offset-xl-2.col-xl-8.offset-lg-12
      blockquote Der Ziellose erleidet sein Schicksal - der Zielbewusste gestaltet es.
      cite Immanuel Kant
    .about-us-page__before-image
      p Mein Name ist Alena Ivanova und ich bin Gründer und CEO der Marke Infinity Lashes. Mein Weg von einer Angestellten einer Bank zu einer erfolgreichen Geschäftsfrau war nicht leicht. Im Jahr 2004 kam ich ohne Sprachkenntnisse nach Deutschland und musste in einem fremden Land erst mal Fuß fassen und mir vieles erkämpfen. Während der Schule habe ich bereits angefangen in verschiedenen Bereichen zu arbeiten, um Geld zu verdienen.
      p Nach dem Abitur habe ich mich für ein sozialwissenschaftliches Studium an einer renommierten Universität entschieden, mit der Vorstellung, ein geregeltes Leben danach führen zu können und einen sicheren Job in einem Angestelltenverhältnis bei einer großen Firma zu haben.
      p Ich habe vieles ausprobiert, von einer Bankangestellten, bis zu einer Sachbearbeiterin bis ich schließlich Verstand, dass mich all diese Tätigkeiten nicht erfüllen. Ich habe mich unglücklich gefühlt.
    .row
      .about-us-page__img-wrapper.offset-xl-1.col-xl-10
        img(src="img/main-person.jpg" title="Alena Ivanova" alt="Alena Ivanova").img-fluid
    .about-us-page__after-image.row
      .about-us-page__after-image-one.col-xl-6.col-lg-6
        p Schönheit. Das war das magische Wort, das mich immer angezogen hat. Eine Vorstellung von einem eigenen Kosmetikstudio hat mein Herz höherschlagen lassen. Aber das war so unrealistisch und gelichzeitig utopisch und wäre auf eine Ablehnung in meinem Freundes- und Verwandtenkreis gestoßen bis auf eine Person, die mich von Anfang an in allem unterstütz und fest an meinen Traum geglaubt hat.
        p Die Zeit verging und ich wurde reifer. Die Vorstellung mein ganzes Leben lang etwas zu machen, was mich nicht glücklich macht, hat mich zum Nachdenken gebracht.  Und wie das im Leben so oft ist, wenn du es dir etwas wirklich tief im inneren sehr stark wünschst, kommt es zu dir.  Ich habe auf mein Herz und meine innere Stimme hat mir gesagt, ich solle mich trauen.
        p Im Dezember 2016 habe ich meine Basisschulung im Bereich Wimpernverlängerung absolviert. Im Januar hatte ich einen Untermietvertrag für ein kleines Zimmer unterschrieben und am 1. Februar war mein erstes Wimpernstudio eröffnet, dem ich den Namen „LASH ROOM“ gegeben habe.
        p Was danach geschah kann man sich nicht mal erträumen lassen. Durch Fleiß und ständige Weiterbildung habe ich mich sehr schnell entwickelt und 9 Monate später gewann ich mehrere Wettbewerbe auf nationalen und internationalen Meisterschaften. Ich war so motiviert und fokussiert auf mein Ziel, dass ich kurze Zeit später den Menschen an meiner Seite dazu gebracht habe auch alles aufzugeben und meinen Traum zu leben, das mittlerweile unser gemeinsamer geworden ist. Zusammen sind wir ein unschlagbares Team!
      .about-us-page__after-image-two.col-xl-6.col-lg-6
        p Ich kann heute mit Stolz sagen, dass ich mehrfache Preisträgerin, internationale Jurorin, Inhaberin von einem großen und renommierten Wimpernstudio und CEO von eigener Marke Infinity Lashes bin. Zu den besten zu gehören ist vielleicht nicht immer einfach. Meiner Meinung nach, ist es nur eine Frage von Leidenschaft und Motivation, um jeden Tag 110% zu geben und nie aufhören zu wachsen bzw. sich weiterzuentwickeln. Jedes Haus braucht ein Fundament, das Fundamt des Erfolges ist die Leidenschaft zu dem was man macht!
        p Ihr fragt euch vielleicht, warum ich mich damals für die Wimpernverlängerung entschieden habe, obwohl es so viele andere kosmetische Behandlungen gibt? Die Antwort ist einfach. Jeder von euch kennt wahrscheinlich den Spruch: „Augen sind der Spiegel der Seele.“ Durch Augenmagie erfolgt die unbewusste Kommunikation zwischen uns Menschen, zwischen Mann und Frau. Nichts ist so ausdrucksvoll wie unsere Augen. Ein Blick sagt mehr als tausend Worte.
        p Möglicherweise habt ihr selber schon wahrgenommen, wie man mit einer professionellen Wimpernverlängerung das gesamte Erscheinungsbild einer Person verändern kann. Das war der Grund, warum ich die Augen meiner Kundinnen noch mehr zum Strahlen bringen bzw. ihren Augen noch mehr Ausdruck verleihen wollte. Verführerisch oder glamourös, natürlich oder Diva, der Kreativität einer Wimpernstylistin sind keine Grenzen gesetzt, um Kundinnen glücklich zu machen!
        p Ich habe auf mein Herz gehört und diese Entscheidung nie bereut. Dabei habe ich eins gelernt - Erfolg kann man nur erreichen, wenn man auf die innere Stimme hört und alles aufgibt, um das zu tun, was man wirklich liebt!
    .about-us-page__after-image-three
      p Und wann folgst du deinem Herzen?
    +svg('infinity-about-us', 'infinity-about-us svg')


.svgHide
  <svg display="none" xmlns="http://www.w3.org/2000/svg"><symbol id="infinity-about-us" viewBox="0 0 50 50" id=".804437753511885" xmlns="http://www.w3.org/2000/svg"><g data-name="Layer 2"><g data-name="black"><path d="M19.29 31a7.51 7.51 0 0 1-5 1.76 8.12 8.12 0 0 1-5-1.8 7.61 7.61 0 0 1-2.57-4.82 8.93 8.93 0 0 1 1-5.48 7.59 7.59 0 0 1 1.82-2.2 8.05 8.05 0 0 1 2.49-1.38 7.9 7.9 0 0 1 2.85-.42 8 8 0 0 1 2.84.68 12.34 12.34 0 0 1 2.46 1.48 25.53 25.53 0 0 1 2.1 1.83c1.3 1.27 2.55 2.54 3.8 3.84l3.7 3.89a11.63 11.63 0 0 0 4 2.91 6.16 6.16 0 0 0 4.62-.18 6.61 6.61 0 0 0 3.45-3.37 7.3 7.3 0 0 0-7.79-10.12 7.37 7.37 0 0 0-4.59 2.45A7.51 7.51 0 0 1 34 17.38a7.85 7.85 0 0 1 5.29.85 8.39 8.39 0 0 1 3.52 9.94 7.57 7.57 0 0 1-1.53 2.48A8.47 8.47 0 0 1 39 32.42a8.1 8.1 0 0 1-2.79.86 7.29 7.29 0 0 1-3-.27 9.5 9.5 0 0 1-2.63-1.31 17.78 17.78 0 0 1-2.18-1.81c-.67-.64-1.3-1.28-1.93-1.92L24.62 26c-.63-.64-1.24-1.3-1.86-2s-1.23-1.33-1.83-2a16.6 16.6 0 0 0-3.84-3.31 6.61 6.61 0 0 0-2.27-.69 6.39 6.39 0 0 0-2.43.15 6.78 6.78 0 0 0-2.24 1.06 6.55 6.55 0 0 0-1.69 1.86 8.22 8.22 0 0 0-1.16 5 7.51 7.51 0 0 0 .7 2.54 6.86 6.86 0 0 0 1.56 2.1 7.82 7.82 0 0 0 4.8 1.91A7.43 7.43 0 0 0 19.29 31z"/><path d="M25 .67A24.33 24.33 0 1 1 .67 25 24.36 24.36 0 0 1 25 .67M25 0a25 25 0 1 0 25 25A25 25 0 0 0 25 0z"/><path d="M25 4A21 21 0 1 1 4 25 21 21 0 0 1 25 4m0-.67A21.67 21.67 0 1 0 46.67 25 21.67 21.67 0 0 0 25 3.33z"/></g></g></symbol></svg>


    //p The company Infinity Lashes was established in 2017 as a branch of prof. products for stylists eyelash extension.
    //- p Alena Ivanova, having traveled for 2 years from a bank employee, to a successful eyelash stylist and a multiple champion of Germany and Europe to build, judge and coach of the international class, has been in search of quality materials at a fair price for these years. Having tried and tested various manufacturers, we came to a conclusion, to produce our products, which will fully meet the requirements of professionals.
    //- p Each tweezer, for example, is personally checked by Alena before sending. Each product is developed and tested with the assistance of Alena, before he receives our label. All online and face-to-face courses developed by Alena, they have personal experience as well as experience acquired in dozens of courses of the most famous masters of eyelash extensions.
    //- p Numerous tussles and awards speak about the experience and class of the master for himself.
    //- p All products are used in the elite studio Alena (Lash Room <a href="http://lash-room.com/" title="http://lash-room.com/" target="blank_">www.lash-room.com</a>) in Dortmund to herself and her employees.


