.about-us-page
  .about-us-page__main-part-wrapper
    h2
      position: relative
      margin-top: 36px
      margin-bottom: 16px
      padding-bottom: 20px
      font-family: "MontserratSemiBold", sans-serif
      font-size: 16px
      text-transform: uppercase
      text-align: center
      &:after
        position: absolute
        bottom: 0
        left: 50%
        transform: translate(-50%)
        content: ""
        height: 1px
        width: 40px
        background-color: #000
    .about-us-page__main-part
      padding-left: 75px
      padding-right: 75px
      font-size: 16px
      line-height: 26px
      @media (max-width: 1199px)
        padding-left: 5px
        padding-right: 5px
      @media (max-width: 991px)
        padding-right: 0
        padding-left: 0
      @media (max-width: 576px)
        padding-left: 20px
        padding-right: 20px
      .about-us-page__blockquote
        blockquote
          margin-bottom: 10px
          font-style: italic
          text-align: center
          font-size: 18px
        cite
          display: block
          text-align: right
          margin-bottom: 30px
          font-size: 18px
      .about-us-page__before-image
        text-align: justify
        p
          margin-bottom: 0
          padding-left: 70px
          padding-right: 70px
          @media (max-width: 1199px)
            padding-left: 0
            padding-right: 0
        a
          text-decoration: underline
      .about-us-page__img-wrapper
        height: 640px
        width: 100%
        overflow: hidden
        margin-top: 40px
        margin-bottom: 40px
        @media (max-width: 1199px)
          height: 620px
        @media (max-width: 991px)
          height: 460px
        @media (max-width: 767px)
          height: 347px
        @media (max-width: 400px)
          height: 300px
        @media (max-width: 350px)
          height: 250px
      .about-us-page__after-image
        display: flex
        padding-left: 70px
        padding-right: 70px
        @media (max-width: 1199px)
          padding-left: 0
          padding-right: 0
        p
          margin-bottom: 0
        .about-us-page__after-image-one
          text-align: justify
          @media (max-width: 991px)
            margin-bottom: 40px
        .about-us-page__after-image-two
          position: relative
          text-align: justify
          p:last-of-type:after
            content: ""
            height: 10px
            width: 10px
            background-color: #000000
            position: absolute
            bottom: 8px
            margin-left: 8px
      .about-us-page__after-image-three
        p
          text-align: center
          font-size: 18px
          margin-top: 40px
          margin-bottom: 50px
          font-style: italic
      .infinity-about-us
        height: 90px
        width: 90px
        margin-left: auto
        margin-right: auto
        display: block

