.cookies-page
  h1
    font-family: "MontserratSemiBold", sans-serif
    font-size: 16px
    line-height: 20px
    text-transform: uppercase
    text-align: center
    margin-top: 40px
    margin-bottom: 40px