.terms-page
  article
    padding-left: 5px
    padding-right: 5px
    @media (max-width: 992px)
      padding-left: 0
      padding-right: 0
    @media (max-width: 576px)
      padding-left: 15px!important
      padding-right: 15px!important
  h1
    font-family: "MontserratSemiBold", sans-serif
    font-size: 16px
    line-height: 20px
    text-align: center
    text-transform: uppercase
    margin-bottom: 0
    margin-top: 35px
  hr
    margin-top: 40px
    margin-bottom: 35px
  h6
    font-family: "MontserratSemiBold", sans-serif
    font-size: 16px
    line-height: 21px
    margin-top: 0
    margin-bottom: 30px
  //p
    font-size: 16px
    line-height: 21px
    margin-top: 0
    margin-bottom: 30px
  .left-padding-add
    padding-left: 20px
  footer
    margin-top: 200px
    hr
      margin-bottom: 80px
    .footer__one-footer
      margin-bottom: 40px
