main
  .container
    h1 Terms and Conditions 
    hr
  .container
    article.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1
      h6 1. General

      p 1.1 muun GmbH is a company with limited liability, located at Blücherstraße 22, 10961 Berlin. It is registered at the Commercial Register of the District court in Charlottenburg (Berlin) under HRB 162324 B, represented by the Managing Directors Vincent Brass and Frederic Böert (named “vendors” in the following), hosts an „online shop“ under the domain  www.muun.co  selling mattresses, duvets , pillows and other merchandise (named “Merchandise” in the following). The following terms and conditions apply exclusively for every and any contractual relationship between the vendors and the visitors of www.muun.co, who buy mattresses, duvets, pillows or other merchandise (in the following “customer”; vendor and customer in the following called “contractual parties”). The vendors are sending their merchandise to customers from France, Belgium, Sweden, Denmark, United Kingdom and Italy. Sales to other countries can be negotiated individually and in written form. 

      p 1.2 Eventual terms of service coming from the customer have no legal effect, unless the vendor agreed to them.

      p 1.3 The terms of condition are available at all times under www.muun.co/agb and can be printed or downloaded to a local computer.

      h6 2. Occurrence of a contract; contractual language; required age

      p 2.1 After choosing the products and filling out all of the required fields,the customer commits to a binding offer of the chosen merchandise after clicking the button “buy now”.

      p 2.2 The customer receives an order confirmation by automated e-mail to his e-mail address. The confirmation entails details of the order and can be printed by the customer. This order confirmation does not count as approved binding offer. The binding contract is valid once the merchandise is sent out.

      p 2.3 The Vendor only sells to customers of legal age. The customer requires to be at least 18 years old (or older) to be able to form a contract with the vendor.

      h6 3. Delivery, prices and shipping cost

      p 3.1 Merchandise, that is in stock will be sent out within 3 to 6 days after the order has been placed. If the merchandise is not in stock upon order, the vendor takes all steps necessary to ensure a quick delivery. The delivery can take up to 3-4 weeks in that case. The customer will be notified of this. The delivery time for special sizes is 2-3 weeks.

      p 3.2 In special cases, such as a strike, water damage, fire, lightning strike, power outage, police rallies or transport problems, the delivery time can be prolonged. The delivery time is only prolonged if the vendor cannot foresee the special case and could not take measures to prevent it. The customer will be notified of such special circumstances right away.

      p 3.3 Upon failure to deliver in the communicated timeframe for any other than the aforementioned reasons, it is the customers right, to give the vendor an extension with the option of cancellation. If the extension expires without delivery, without the merchandise being sent out to the customer, the customer is within his right to cancel his order.

      p 3.4 In case of a cancellation of the order acc. to clause 3.3, payments made via advance payment from the customer to us are to be refunded immediately.

      p 3.5 Delivery is exclusively performed by DPD. The vendor preserves the right, to choose the way of delivery or change it as he sees fit.

      p 3.6 The prices for the merchandise are final prices. They are communicated in EUR and booked as such. They include the VAT rates for Germany of 19 % as well as packing and shipment cost.

      p 3.7 Should the customer exercise his right of withdrawal, the vendor pays for the return. The customer informs the vendor via phone call or e-mail. The vendor then initiates the return process including the pick-up of the mattress and the bed from the original address it was sent to. For all other products, the customer receives a return shipment label with which he is able to send back the purchased items right away, latest 14 days after cancellation. The deadline is met if the customer sends out the merchandise before 14 days have passed. The vendor bares the cost for the return of the merchandise if the customer uses the return labels for the return process.

      p 3.8. The vendor points out that the merchandise shown on the website under muun.co use computer grahics and can therefore look minimally different in reality. This does not mean the merchandise is damaged.

      h6 4. Common payment terms and conditions

      p 4.1 The vendor offers following payment methods to the countries defined in 1.1:

      p (a) PayPal
        br
        | (b) Credit Card

      p 4.2 The vendor reserves the right to deny the customer to choose certain payment methods.

      p 4.3 Payment via credit card or via paypal happens as soon as the order is made. Credit card billing goes through our partner of the PAYONE GmbH - A subcompany of the Sparkassen-Finance Group. The company is located at Fraunhoferstraße 2-4 in 24118 Kiel, Germany. The Managing Directors are Carl Frederic Zitscher and Jan Kanieß.

      p 4.4 In case the chosen payment method is not feasible, especially because of insufficient funds or false data information, the customer has to cover all additional costs.

      p 4.5 It is within the vendors right to work with trusted third parties to ensure the payment.

      h6 5. Reservation of property rights; Offset; right of retention

      p 5.1 In case the customer is a private consumer, the vendor reserves the right to keep ownership of the merchandise until the bill has been paid in full amount. If the customer is a company, legal entity under public law or of special fund under public law, the vendor reserves the right of ownership of the merchandise until the full amount of the asked price has been paid. Corresponding rights of security may be transferred to third parties. Extraordinary disposals such as pledges, transfer by way of security and any and every assignment are not permissible. In the case of processing, mixing or connection of the merchandise with other materials, the vendor shall acquire co-ownership of the resulting products in the ratio of the invoice value of the goods In case of seizure by third parties, concerning the secured goods, the customer is to inform the vendor immediately and to support the vendor in securing our rights as well as refunding every and any cost especially those that come about in an appeal process.

      p 5.2 The customer shall have a right of set-off or retention, only if his counterclaims are confirmed in a legally binding manner are uncontested or intended by us or in case of the vendors insolvency for customers. customers as consumers also have the right to set off with counterclaims which are in legal context with commitment of the buyer. Furthermore, an off-set by the customer is excluded. In addition, the customer only has the right to retention only if his counter claim is based on the same contractual relationship.

      p 5.3 Should the customer be in default of payment, all amounts due by the customer shall immediately fall payable.

      h6 6. Right of cancellation

      p - Notice of cancellation -

      p Right of cancellation

      p Customers have the right to withdraw from a consumer contract without specifying reasons within fourteen days after purchasing the merchandise. The withdrawal period counts 14 days after the customer or a third party authorised by the customer receives the merchandise.

      p To be able to exercise the right of withdrawal, the customer has to inform the vendor

      p muun GmbH
        br 
        | Blücherstraße 22
        br 
        | 10961 Berlin
        br 
        | Phone number: +49 30 220126510
        br 
        | E-mail: service@muun.co

      p by declaration (via e-mail or phone) The customer can use the model form but he is not obligated to. To exercise the right of withdrawal a notification of the intention if withdrawal before the ending of the legal withdrawal period will suffice.

      p Consequences of withdrawal 

      p In the event of withdrawal from the contract, the vendor has to refund each and every cost (with the exception of a different delivery partner chosen by the customer)the vendor has to refund each and every payment made to the company, including delivery costs ( with the exception of the additional costs that occur, when the customer chooses a different kind of delivery service, than the one picked by us) right away and within 14 days of being informed of the cancellation of the contract. For this refund, the vendor uses the same method of payment, the customer used when buying the item. unless they discussed a different method beforehand.However there will be no additional fees for the customer. The vendor can deny refund until he receives back the merchandise or until the customer provides proof, he sent back the merchandise. Whichever happens sooner. The customer has to send back the merchandise right away or at least within 14 days after informing the vendor of the cancellation.The deadline is met, when the customer sent the merchandise before 14 days have passed. The customer customer only has to pay for a possible loss of value of the merchandise if he is directly responsible for it by mistreating it.
        br 
        | - End of cancellation notice -
        br 
        | Cancellation template

      p muun GmbH
        br 
        | Blücherstraße 22
        br 
        | 10961 Berlin
        br 
        | Phone number: +49 30 220126510
        br 
        | E-mail: service@muun.co

      p.left-padding-add I hereby cancel my order of following items (*)
        br 
        | ordered: (*) / received: (*)
        br
        | customers name:
        br
        | customers address:
        br
        | customers signature (only on paper):
        br
        | date:

      h6 7. Premature lapse of the right of cancellation

      p The right of cancellation does not exist for custom made items and that have been discussed with the customer and explicitly are made for just the customers purpose.

      h6 8. Voluntary right of return after receiving the merchandise

      p 8.1 Aside from the legal right of cancellation, a voluntary right of cancellation is also valid for some products upon receiving the merchandise. This voluntary right of return is 100 days for mattresses and 30 days for pillows, duvets, beach mat, bed and accessories (e.g. sheets) respectively. With this voluntary right of cancellation, the customer can free himself from the contract even after those 14 days or legal right of cancellation, by returning the merchandise within that timeframe (upon receiving the merchandise). Cancellation must be over the phone or via e-mail. all contact information here:

      p muun GmbH
        br 
        | Blücherstraße 22
        br 
        | 10961 Berlin

      p E-mail: service@muun.co

      p Phone number: +49 30 220 126 510

      p 8.2 Items that have been custom made and/or bare the customers initials or are otherwise bespoke are excluded from the voluntary right of return. That goes especially for items in which the size has been altered, so that it does not fit any standards. An exception to the rule may occur when it has been discussed in writing.

      p 8.3 The refund when executing voluntary right of return occurs to the customers bank account. payments via credit card or Paypal will be refunded as such.

      p 8.4 The legal right of cancellation is not affected by the voluntary right of cancellation (clause 6) and remains independent from it. Upon expiry to the legal right of cancellation, only the terms valid for that specific situation are valid. The contractual voluntary right of return does not limit the customers statutory warranty rights.

      h6 9. Warranty and liability of the vendor

      p 9.1 The vendor takes appropriate measures to provide secure and consistent service to the customer. However, disturbances in the form of technical errors or maintenance may occur.

      p 9.2 Liability by the vendor for damages through and within rights and obligations is excluded. This does not apply for:

      p (a) Damages from harming life, body or health that bear on careless breach of duty on the vendors part or one of their partner

      p (b) Damages that are caused by breach of duty by the vendor or one of their partners or legal representatives regarding significant contractual rights and duties which are indispensable for proper implementation of the contract and therefore endanger the completion of the contract purpose,(major obligation)

      p (c) Damages that are caused by breach of duty by the vendor or one of their partners or legal representatives;

      p (d) liability according to the product liability law

      p (e) Liability in the event a warranty is given

      p 9.3 For damages that do not endanger life,body or health of the customer and that are based on gross negligence by the vendor or one of their partners, the vendors liability is in every case limited to foreseeable damages limited to the contract.

      p 9.4 The exclusion of liability and/or  the limitation of liability of the vendor also apply for their partners and their legal representatives

      p 9.5 The vendor is liable during the warranty that was valid during the time of the conclusion of contract. More details under muun.co/Garantie. 

      h6 10. Refer a friend program

      p The customer has the opportunity to refer a friend after buying a muun mattress. the customer will receive a voucher code with the amount of 100 Euros discount every friend that uses the voucher code when buying the mattress will get a 100 Euro discount upon using the voucher code. The voucher is only valid for the purchase of a mattress. Vouchers that have been provided can be made void at any and all times. There is no entitlement of redemption after the purchase. Vouchers that are handed out for free online are equally void and can be refused by muun GmbH.

      h6 11. Other

      p 11.1 These terms and condition are subject to German law with exclusion of the UN purchasing law.

      p 11.2 The vendor reserves the right to change and update the terms of condition as long as the changes do not unreasonably disadvantage the customer. Changes of the terms of condition will be announced at least 4 weeks ahead via e-mail before becoming effective. Changes are deemed accepted unless the customer objects in writing (via e-mail) to service@muun.co.The customer shall be expressively informed to the possibility of objection in case of a change of the terms and conditions.

      p 11.3 In case the customer has no place of general jurisdiction in this national territory, leaves this national territory after conclusion of the contract or the vendor has no knowledge of the customers’ current residence, Berlin has exclusive jurisdiction for each and every dispute caused by this contract.

      p 11.4 Headlines only do serve to keep the overview and do have no direct impact on the interpretation of these terms.

      p 11.5 Should a provision of the general terms of conditions become invalid, then the validity of all other provisions or agreements will not be affected.