.container
  #accordionSets.accordion
    .card
      #headingOne.card-header
        h5.mb-0
          button.btn.btn-link(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
            | Silk Lashes (Menge: 2)
          button.btn.btn-link.arrow-btn(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
            +svg('arrow-new', 'faq-arrow-new svg')
      #collapseOne.collapse(aria-labelledby='headingOne' data-parent='#accordionSets')
        .card-body
          .loader
            svg#loader-1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewbox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve')
              path(opacity='0.2' fill='#000' d='M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946\
              s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634\
              c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z')
              path(fill='#000' d='M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0\
              C22.32,8.481,24.301,9.057,26.013,10.047z')
                  animatetransform(attributetype='xml' attributename='transform' type='rotate' from='0 20 20' to='360 20 20' dur='0.5s' repeatcount='indefinite')
          .card-body-block-wrapper.shop-item-page__item
            .row
              .shop-item-page__item-slider.col-xl-7.col-lg-7.second-page-slider
                //.lSActionCustom
                //  .lSPrevCustom
                //  .lSNextCustom
                //img(src="img/badge/badge_neu.png", alt="badge", srcset="img/badge/badge_neu.png 1x, img/badge/badge_neu2x.png 2x, img/badge/badge_neu3x.png 3x").badge-img
                .badge-wrapper
                  div.badge-img neu
                  div.badge-img -15%
                ul#shop-item-page__item-slider2.second-page-slider
                  li(data-thumb='https://picsum.photos/430/430/?random1')
                    img.shop-item-page__zoom-two(src='img/item/item.jpg' alt="item-photo")
                  li(data-thumb='https://picsum.photos/430/430/?random2')
                    img.shop-item-page__zoom-two(src='https://picsum.photos/430/430/?random2' alt="item-photo2")
                  li(data-thumb='https://picsum.photos/430/430/?random3')
                    img.shop-item-page__zoom-two(src="https://picsum.photos/430/430/?random3" alt="item-photo")
                  li(data-thumb='https://picsum.photos/430/430/?random4.png')
                    img.shop-item-page__zoom-two(src="https://picsum.photos/430/430/?random4" alt="item-photo")
                .shop-item-page__zoom-here-two
              .shop-item-page__item-prop.col-xl-5.col-lg-5
                h1(data-model-attr="name") Mixed Size Classic Chelsea silk lashes J/B/C/CC/D/L
                select#shop-item-page__item-prop-rating.star-ratings
                  option(value='1' selected) 1
                  option(value='2' selected) 2
                  option(value='3' selected) 3
                  option(value='4') 4
                  option(value='5') 5
                .shop-item-page__number-of-reviews 24 reviews
                .shop-item-page__thickness-block-wrapper
                  p Thickness:
                  .shop-item-page__thickness-blocks
                      .shop-item-page__choose-block 0.05
                      .shop-item-page__choose-block.shop-item-page__choose-block-disabled 0.07
                      .shop-item-page__choose-block 0.10
                      .shop-item-page__choose-block.shop-item-page__choose-block-active 0.12
                      .shop-item-page__choose-block 0.15
                      .shop-item-page__choose-block 0.18
                      .shop-item-page__choose-block 0.20
                .shop-item-page__length-block-wrapper
                  p Length:
                  .shop-item-page__length-blocks
                      .shop-item-page__choose-block 8mm
                      .shop-item-page__choose-block 9mm
                      .shop-item-page__choose-block.shop-item-page__choose-block-disabled 10mm
                      .shop-item-page__choose-block 11mm
                      .shop-item-page__choose-block 12mm
                      .shop-item-page__choose-block 13mm
                      .shop-item-page__choose-block 14mm
                      .shop-item-page__choose-block.shop-item-page__choose-block-active 15mm
                      .shop-item-page__choose-block 16mm
                .shop-item-page__type-block-wrapper
                  p Type:
                  .shop-item-page__length-blocks
                      .shop-item-page__choose-block.shop-item-page__choose-block-active C+Curl
                      .shop-item-page__choose-block D+Curl
                      .shop-item-page__choose-block.shop-item-page__choose-block-disabled J+Curl
                      .shop-item-page__choose-block B+Curl
                .shop-item-page__color-block-wrapper
                  p Color:
                  .filter-5-wrapper
                    .filter-5-item.color-1
                    .filter-5-item.color-2.active-color
                    .filter-5-item.color-3
                    .filter-5-item.color-4
                    .filter-5-item.color-5.disabled-color
                    .filter-5-item.color-6
                    .filter-5-item.color-7.disabled-color
                    .filter-5-item.color-8
                    .filter-5-item.color-9
                    .filter-5-item.color-10

    .card
      #headingTwo.card-header
        h5.mb-0
          button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
            | Wimpernbürstchen (Menge: 10)
          button.btn.btn-link.collapsed.arrow-btn(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
            +svg('arrow-new', 'faq-arrow-new svg')
      #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionSets')
        .card-body
          .card-body-block-wrapper
            
    .card
      #headingThree.card-header
        h5.mb-0
          button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
            | Pinzette Long Swan (multicolor) (Menge: 1)
          button.btn.btn-link.collapsed.arrow-btn(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
            +svg('arrow-new', 'faq-arrow-new svg')
      #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionSets')
        .card-body
          .card-body-block-wrapper
            
    .card
      #headingFore.card-header
        h5.mb-0
          button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseFore' aria-expanded='false' aria-controls='collapseFore')
            | Lash Foam (Menge: 1)
          button.btn.btn-link.collapsed.arrow-btn(type='button' data-toggle='collapse' data-target='#collapseFore' aria-expanded='false' aria-controls='collapseFore')
            +svg('arrow-new', 'faq-arrow-new svg')
      #collapseFore.collapse(aria-labelledby='headingFore' data-parent='#accordionSets')
        .card-body
          .card-body-block-wrapper
            
    .card
      #headingFive.card-header
        h5.mb-0
          button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
            | 25 Paar Augenpads #02 (Menge: 2)
          button.btn.btn-link.collapsed.arrow-btn(type='button' data-toggle='collapse' data-target='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
            +svg('arrow-new', 'faq-arrow-new svg')
      #collapseFive.collapse(aria-labelledby='headingFive' data-parent='#accordionSets')
        .card-body
          .card-body-block-wrapper