.shop-set-page
  #accordionSets
    padding-right: 0
    padding-left: 0
    h5
      button
        text-transform: uppercase
    .shop-item-page__item .shop-item-page__item-slider,
    .shop-item-page__item .shop-item-page__item-prop
      margin-top: 48px
      margin-bottom: 50px
    .shop-item-page__item .shop-item-page__item-prop
      margin-bottom: 0
    .shop-item-page__item .shop-item-page__item-slider .lSAction
      @media (max-width: 575px)
        right: 0
        width: 100%
        bottom: 13px
        top: auto
    .shop-item-page__item .shop-item-page__item-slider
      @media (max-width: 576px)
        margin-bottom: 0
    .card
      .card-body
        padding-left: 0
        padding-right: 0
        position: relative
        .card-body-block-wrapper
          opacity: 0
          height: 0
        .br-wrapper,
        .shop-item-page__number-of-reviews
          margin-bottom: 14px
          margin-top: 10px
    .lSSlideOuter
      .lSSlideWrapper
        ul
          li
            @media (max-width: 450px)
              height: 300px

#accordionFaq .card .card-body .card-body-block-wrapper ul, #accordionCareers .card .card-body .card-body-block-wrapper ul, #accordionSets .card .card-body .card-body-block-wrapper ul
  padding-left: 0
#accordionSets .card .card-body .card-body-block-wrapper h1
  margin: 0
#accordionSets .card .card-body .card-body-block-wrapper p
  padding-left: 0
  font-size: 12px
  margin-bottom: 20px
#accordionSets .card .card-body .card-body-block-wrapper ul.lSPager
  li
    @media (max-width: 1008px)
      height: 12px
      width: 12px
      margin-right: 10px
      border: 1px solid #000000
      border-radius: 50%
    &:before
      @media (max-width: 1008px)
        content: none
    &.active
      @media (max-width: 1008px)
        border: 2px solid #000000
        top: 1px
    a
      @media (max-width: 1008px)
        display: inline-block
        height: 100%
        width: 100%
        border: none
#accordionSets .card .card-body .card-body-block-wrapper ul li:before
  content: none

.loader
  position: absolute
  height: 100%
  width: 100%
  background-color: #fff
  z-index: 2
  transition: all 0.4s linear
  svg
    position: absolute
    left: 50%
    top: -5px
    transform: translate(-50%, 0)
  svg path,
  svg rect
    fill: #000000
.hidden
  display: none
.visuallyhidden
  opacity: 0


.lSPrev.disabled,
.lSNext.disabled
  display: none!important