.shop-item-page__item.container
  .row
    .shop-item-page__item-slider.col-xl-7.col-lg-7.first-page-slider
      //-.lSActionCustom
      //-  .lSPrevCustom
      //-  .lSNextCustom
      //-img(src="img/badge/badge_neu.png", alt="badge", srcset="img/badge/badge_neu.png 1x, img/badge/badge_neu2x.png 2x, img/badge/badge_neu3x.png 3x").badge-img
      .badge-wrapper
        //- div.badge-img -15%
        .badge-img-red 
          span -85%
        .badge-img-black -45%
        //-.badge-img-red-present
        .badge-img-black-present
      ul#shop-item-page__item-slider.first-page-slider
        li(data-thumb='https://picsum.photos/430/430/?random1')
          div
            //- .badge-corner hot deal
            img.shop-item-page__zoom(src='img/item/item.jpg' alt="item-photo")
        li(data-thumb='https://picsum.photos/430/430/?random2')
          div
            //- .badge-corner hot deal
            img.shop-item-page__zoom(src='https://picsum.photos/430/430/?random2' alt="item-photo2")
        li(data-thumb='https://picsum.photos/430/430/?random3')
          div
            //- .badge-corner hot deal
            img.shop-item-page__zoom(src="https://picsum.photos/430/430/?random3" alt="item-photo")
        li(data-thumb='https://picsum.photos/430/430/?random4.png')
          div
            //- .badge-corner hot deal
            img.shop-item-page__zoom(src="https://picsum.photos/430/430/?random4" alt="item-photo")
      .shop-item-page__zoom-here
    .shop-item-page__item-prop.col-xl-5.col-lg-5
      h1(data-model-attr="name") Mixed Size Classic Chelsea silk lashes J/B/C/CC/D/L
      select#shop-item-page__item-prop-rating.star-ratings
        option(value='1' selected) 1
        option(value='2' selected) 2
        option(value='3' selected) 3
        option(value='4') 4
        option(value='5') 5
      .shop-item-page__number-of-reviews 24 reviews
      .shop-item-page__price
        div(data-model-attr="price") 
          .normal-price
            span $
            span 119
          .discount-price
            span $
            span 119
        p zzgl. 19% USt.
      form.shop-item-page__buy
        .shop-item-page__quantiti-of-order
          span.minus -
          .label-wrapper
            //-label(for="shop-item-page__quantiti-of-order") QTY:
            label(for="shop-item-page__quantiti-of-order") Menge:
            input(type='text' value='1' size='5' readonly='')#shop-item-page__quantiti-of-order
          span.plus +
        .shop-item-page__button-for-order
          a(href="#").btn.btn-warning In den Warenkorb legen
            +svg('Cart-white', 'cart-white svg')