.shop-set-page
  .shop-item-page__description-wrapper
    background-color: #f5f5f5
    .shop-item-page__description
      display: flex
      justify-content: space-between
      padding: 61px 190px 81px 0
      @media (max-width: 1199px)
        padding: 61px 0px 61px
      h5
        text-transform: uppercase
        padding: 0
        margin: 0 0 24px 0
        font-size: 18px
        text-align: center
        position: relative
        transition: 1.4s all easy-in-out
        @media (max-width: 991px)
          text-align: left
          cursor: pointer
          transition: .4s all easy-in-out
          &:before
            content: ""
            width: 1px
            height: 0px
            position: absolute
            right: 9px
            background-color: #000000
            top: 50%
            transform: translateY(-50%)
            transition: .4s all easy-in-out
            opacity: 0
          &:after
            content: ""
            width: 18px
            height: 1px
            position: absolute
            right: 0
            background-color: #000000
            top: 50%
            transform: translateY(-50%)
      h5.shop-item-page__text-plus-change
        &:before
          height: 18px
          transition: .4s all easy-in-out
          opacity: 1
      p
        margin: 0
        padding: 0
        font-size: 14px //for Genya change
        line-height: 21px //for Genya change
      .shop-item-page__product-details
        padding-left: 15px
        padding-right: 15px
        @media (max-width: 991px)
          cursor: pointer
        .shop-item-page__description-text-wrapper
          font-size: 12px
          ul
            display: block
      .shop-item-page__description-share
        display: flex
        p
          margin-right: 15px
          font-size: 12px
          text-transform: uppercase
          padding-top: 3px
      .shop-item-page__description-share-icons
        ul
          display: flex
          list-style: none
          margin-bottom: 0
          padding: 0
          margin-right: 0
          li
            margin-right: 10px
            .svg
              height: 21px
              width: 21px

