.shop-set-page
  .shop-item-page__comments
    h3
      text-align: center
      margin-top: 0
      margin-bottom: 16px
      position: relative
      @media (max-width: 991px)
        text-align: left
        cursor: pointer
        &:before
          content: ""
          width: 1px
          height: 18px
          position: absolute
          right: 9px
          background-color: #000000
          top: 50%
          transform: translateY(-50%)
          transition: .4s all easy-in-out
          opacity: 0
        &:after
          content: ""
          width: 18px
          height: 1px
          position: absolute
          right: 0
          background-color: #000000
          top: 50%
          transform: translateY(-50%)
    .shop-item-page__text-plus-change
      &:before
        height: 18px
        transition: .4s all easy-in-out
        opacity: 1
    .shop-item-page__item-name
      font-size: 20px
      line-height: 37px
      color: #b3b3b3
      margin-top: 0
      margin-bottom: 0
      text-align: center
      @media (max-width: 991px)
        text-align: left
        max-width: 400px
  .shop-item-page__write-a-review
    display: block
    text-align: center
    font-size: 12px
    font-family: "MontserratSemiBold", sans-serif
    text-transform: uppercase
    padding: 15px 54px
    width: 220px
    height: 40px
    line-height: 9px
    margin: 38px auto 0 auto
    @media (max-width: 991px)
      margin: 38px 0 0 0
  hr
    margin: 55px 0
  .shop-item-page__comment
    margin-left: 0
    margin-right: 0
    .shop-item-page__comment-wrapper
      padding-left: 0
      margin-bottom: 18px
      .shop-item-page__comment-name
        font-size: 12px
        margin-bottom: 8px
      .shop-item-page__comment-date
        font-size: 12px
        color: #bfbfbf
    .shop-item-page__comment-body
      margin-top: -10px
      @media (max-width: 1199px)
        padding-left: 60px
      @media (max-width: 991px)
        padding-left: 0

    .shop-item-page__comment-title-wrapper
      margin-bottom: 18px
      display: flex
      align-items: center
      position: relative
      @media (max-width: 575px)
        flex-direction: column
        align-items: flex-start
      .star-ratings
      .shop-item-page__comment-title
        position: absolute
        top: 5px
        left: 108px
        margin-left: 18px
        font-family: "MontserratBold", sans-serif
        font-size: 18px
        text-transform: uppercase
        @media (max-width: 767px)
          font-size: 15px
        @media (max-width: 575px)
          position: static
          margin-left: 0
    .shop-item-page__comment-content
      font-size: 12px
  hr
    height: 1px
    width: 100%
    margin-top: 40px
    margin-bottom: 40px
    @media (max-width: 991px)
      margin-top: 20px
      margin-bottom: 20px
  nav
    ul
      margin-bottom: 0
  .shop-item-page__pagination
    li
      margin-right: 8px
      height: 50px
      width: 50px
      text-align: center
      a
        font-family: "MontserratSemiBold", sans-serif
        font-size: 18px
        height: 100%
        width: 100%
        margin-left: 0
        line-height: 32px
        color: #000
        border-width: 2px
    .prev
      width: auto
      a
        display: block
        width: 100%
        padding-left: 40px
      //&
    .disabled
      a
        border: none
    .active
      a
        color: #000000
        background-color: #e9ecef
        border-color: #dee2e6
    .next
      width: auto
      a
        padding-right: 40px
    .prev,
    .next
      position: relative
      svg
        position: absolute
        height: 20px
        width: 10px
        cursor: pointer
        z-index: 3
        top: 0
        top: 50%
        transform: translateY(-50%)
    .prev
      svg
        left: 15px
        top: 15px
        transform: rotate(-180deg)
    .next
      svg
        right: 15px
    .page-item.prev,
    .page-item.next
      display: block
    .page-item
      @media (max-width: 390px)
        display: none
  .shop-item-page__pagination-see-all
    margin-top: 20px
    margin-bottom: 78px
    display: block
    text-align: center
    font-size: 12px
    color: #bfbfbf
    text-decoration: underline
  .shop-item-page__comments-adaptive-wrapper
    + hr
      margin-top: 40px
