.shop-item-page__comments.container
  h3 Customer Reviews
  .shop-item-page__comments-adaptive-wrapper
    p.shop-item-page__item-name Mixed Size Classic Chelsea silk lashes J/B/C/CC/D/L
    a(href="#").shop-item-page__write-a-review.btn.btn-primary WRITE A REVIEW
  hr
  +comments('Melina Murphy', '6.04.2018', 'Great Lashes!!!1', 'These lashes are beautiful but some tend to stick together making the process of the volume lash application a little more time consuming.')
  +comments('Robyn Newmark', '4.04.2018', 'GreTruly the highest quality lashhes', 'These lashes are beautiful but some tend to stick together making the process of the volume lash application a little more time consuming.')
  +comments('Raven Sanchez', '2.04.2018', 'A little sticky', 'These lashes are beautiful but some tend to stick together making the process of the volume lash application a little more time consuming.')
  +comments('Véronique Bridd', '2.04.2018', 'Very good lashes !', 'The C curl looks like a D curl! Very curly')
  +comments('Ellianna Shigo', '28.03.2018', 'Lashes and adhesive', "I'm obsessed with the lashes and adhesive I got from Lash X they are top quality and my sensitive clients are even fine with the glue I won't use anything else now")
  +comments('Theresa Dryer', '25.03.2018', 'Variety of lengths', "I love the Infinity Lashes product line. High quality extensions and adhesive. All of my clients are very happy with their retention. Some are excited that I can offer 18mm with this line too.")
  .shop-item-page__pagination
    nav(aria-label='Page navigation in shop item page')
      ul.pagination.justify-content-center
        //
        li.page-item.prev.disabled
          +svg('totop', 'totop-prev svg')
          a.page-link(href='#' tabindex='-1') Previous
        li.page-item.active
          a.page-link(href='#') 1
        li.page-item
          a.page-link(href='#') 2
        li.page-item
          a.page-link(href='#') 3
        li.page-item.next
          a.page-link(href='#') Next
          +svg('totop', 'totop-next svg')
  a(href="#").shop-item-page__pagination-see-all See All
.container-fluid.shop-item-page__hr-without-pudding
  hr



