.checkout-thanks-page
  main
    padding-left: 85px !important
    padding-right: 85px !important
    @media (max-width: 1199px)
      padding-left: 0 !important
      padding-right: 0 !important
    h1
      text-transform: uppercase
      font-family: "MontserratSemiBold", sans-serif
      font-size: 27px
      margin-top: 50px
      margin-bottom: 30px
      text-align: center
      line-height: 40px
    .checkout-thanks-page__first-info
      //border-bottom: 1px solid #bfbfbf
      //margin-bottom: 50px
      align-items: center
      @media (max-width: 1199px)
        margin-left: 0
        margin-right: 0
      @media (max-width: 575px)
        margin-left: 15px
        margin-right: 15px
      .checkout-thanks-page__first-info-text
        padding-left: 0
        //padding-bottom: 20px
        @media (max-width: 991px)
          order: 2
      .checkout-thanks-page__first-info-img
        padding-right: 0
        height: 171px
        margin-bottom: 20px
        margin-top: 20px
        overflow: hidden
        @media (max-width: 991px)
          order: 1
          margin-bottom: 35px
        @media (max-width: 350px)
          padding-left: 0
        img
          height: 171px
          width: 298px
          max-width: 100%
          @media (max-width: 991px)
            margin-left: 50%
            transform: translateX(-50%)
      p
        font-size: 16px
        padding-bottom: 30px
        margin-bottom: 0
        span
          color: #c29a44
          text-decoration: underline
        a
          text-decoration: underline
    h3
      font-size: 18px
      margin-top: 0
      margin-bottom: 35px
      @media (max-width: 991px)
        text-align: center
    .checkout-thanks-page__second-info
      border-top: 1px solid #bfbfbf
      padding-top: 20px
      margin-left: -15px
      margin-right: -15px
      padding-bottom: 130px
      @media (max-width: 1199px)
        margin-left: 0
        margin-right: 0
      @media (max-width: 575px)
        margin-left: 15px
        margin-right: 15px
      h5
        text-transform: uppercase
        font-family: "MontserratSemiBold", sans-serif
        font-size: 18px
        margin-bottom: 40px
      .checkout-thanks-page__second-info-block-wrapper
        margin-bottom: 35px
        padding-top: 20px
        flex-wrap: nowrap
        margin-left: 0
        margin-right: 0
        @media (max-width: 500px)
          flex-wrap: wrap
        .whole-text-wrapper
          width: calc(100% - 100px)
          flex-wrap: nowrap
          justify-content: space-between
          padding-left: 30px
          @media (max-width: 767px)
            flex-direction: column
          @media (max-width: 500px)
            padding-left: 0
            margin-top: 20px
            width: 100%
        .part-one-wrapper,
        .part-two-wrapper
          display: flex
          justify-content: space-between
          width: 100%
          @media (max-width: 991px)
            width: 50%
          @media (max-width: 767px)
            width: 100%
            flex-direction: column
        .part-one-wrapper
          padding-right: 130px
          @media (max-width: 1199px)
            padding-right: 80px
          @media (max-width: 991px)
            flex-wrap: wrap
            padding-right: 60px
            align-content: flex-start
          @media (max-width: 767px)
            padding-right: 0
        .part-two-wrapper
          @media (max-width: 767px)
            flex-wrap: wrap
            //padding-top: 20px
          
        .checkout-thanks-page__second-info-img
          margin-right: 10px
          height: 130px
          width: 100px
          position: relative
          overflow: hidden
          img
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            max-width: 100%
            max-height: 100%
            margin: auto
        .checkout-thanks-page__second-info-summary-wrapper
          //width: 30%
        .checkout-thanks-page__second-info-summary-header
          display: inline-block
          color: #c29a44
          text-decoration: underline
          font-size: 14px
          line-height: 20px
          margin-bottom: 10px
        .checkout-thanks-page__second-info-qty-wrapper
          //width: 10%
          //padding-top: 20px
          //@media (max-width: 1199px)
          //  width: 15%
        .checkout-thanks-page__second-info-shipping-wrapper
          //width: 30%
          //padding-top: 20px
          // @media (max-width: 991px)
          //   padding-top: 50px
        //.checkout-thanks-page__second-info-total-wrapper
          //width: 19%
          // text-align: right
          // font-size: 14px
          // font-family: "MontserratSemiBold", sans-serif
          // @media (max-width: 767px)
          //   text-align: left
      .row
        @media (max-width: 1199px)
          margin-left: 0
          margin-right: 0

      hr
        width: 100%
        margin-top: 0
        margin-left: 15px
        margin-right: 15px
        @media (max-width: 1199px)
          margin-left: 0
          margin-right: 0

  h5.items-number
    padding: 0
    margin-left: -15px
    margin-bottom: 45px
    font-family: "MontserratSemiBold", sans-serif
    text-transform: uppercase
    font-size: 18px
    @media (max-width: 1199px)
      margin-left: 0
    @media (max-width: 575px)
      margin-left: 15px
      margin-right: 15px
  .checkout-thanks-page__second-info-shipping-wrapper
    .checkout-thanks-page__second-info-summary-body-wrapper
      display: flex
      justify-content: space-between
      width: 270px
      @media (max-width: 500px)
        width: 100%
      .bold
        font-family: "MontserratSemiBold", sans-serif
    .checkout-thanks-page__second-info-summary-body
      font-size: 14px
      line-height: 20px
      margin-bottom: 10px
      color: #595959
  .checkout-thanks-page__summ-wrapper
    display: flex
    justify-content: flex-end
    margin-right: 150px
    @media (max-width: 1199px)
      margin-right: 105px
    @media (max-width: 991px)
      margin-right: 0
    @media (max-width: 767px)
      justify-content: center
      margin-left: 30px
    @media (max-width: 575px)
      margin-left: 0  
    .checkout-thanks-page__second-info-shipping-wrapper-summ
      max-width: 270px
      padding-top: 20px
      @media (max-width: 500px)
        width: 100%


