main.container
  h1 Danke für Ihre Bestellung, her. max factor!
  .checkout-thanks-page__first-info.row
    .checkout-thanks-page__first-info-text.col-xl-8.col-lg-8.col-md-12.col-sm-12.col-12
      h3 Bestellungsbestätigung
      p Your order <span>#4562928541</span> was completed successfully. An e-mail reciept including the details bout your order has been sent to the e-mail address provided. Please keep it for your records.
      p You can visit the <a href="account.html">My account page</a> at any time to check the status of your order. Or check here to <a href="account.html">Print a copy of your reciept.</a>
    .checkout-thanks-page__first-info-img.col-xl-4.col-lg-4.col-md-12.col-sm-12.col-12
      img(src="img/icons/IL_box_new.svg", alt="ilbox")
  h5.items-number.col-xl-8.col-lg-8.col-md-12.col-sm-12.col-11 Bestellung #4562928541  
  section.checkout-thanks-page__second-info
    .checkout-thanks-page__second-info-block-wrapper.row
      .checkout-thanks-page__second-info-img
          img(src="img/item-in-items.png" alt="item")
      .whole-text-wrapper.row
        .part-one-wrapper
          .checkout-thanks-page__second-info-summary-wrapper
            a(href="shop-item.html").checkout-thanks-page__second-info-summary-header L+Curl Lashes by Infinity Lashes
            .checkout-thanks-page__second-info-summary-body.product-id Product ID #: 0041232969
            .checkout-thanks-page__second-info-summary-body.thikness Thickness: 0.15
            .checkout-thanks-page__second-info-summary-body.length Length: 10mm
            .checkout-thanks-page__second-info-summary-body.color Color: Black
          .checkout-thanks-page__second-info-qty-wrapper
            .checkout-thanks-page__second-info-summary-body Menge: <span>1</span>
        .part-two-wrapper
          .checkout-thanks-page__second-info-shipping-wrapper
            .checkout-thanks-page__second-info-summary-body-wrapper
              .checkout-thanks-page__second-info-summary-body Einzelpreis: 
              .checkout-thanks-page__second-info-summary-body €120.55
            .checkout-thanks-page__second-info-summary-body-wrapper
              .checkout-thanks-page__second-info-summary-body.bold Zwischensumme:
              .checkout-thanks-page__second-info-summary-body.bold €120.55
    .row
      hr
    .checkout-thanks-page__second-info-block-wrapper.row
      .checkout-thanks-page__second-info-img
          img(src="img/item-in-items.png" alt="item")
      .whole-text-wrapper.row
        .part-one-wrapper
          .checkout-thanks-page__second-info-summary-wrapper
            a(href="shop-item.html").checkout-thanks-page__second-info-summary-header L+Curl Lashes by Infinity Lashes
            .checkout-thanks-page__second-info-summary-body.product-id Product ID #: 0041232969
            .checkout-thanks-page__second-info-summary-body.thikness Thickness: 0.15
            .checkout-thanks-page__second-info-summary-body.length Length: 10mm
            .checkout-thanks-page__second-info-summary-body.color Color: Black
          .checkout-thanks-page__second-info-qty-wrapper
            .checkout-thanks-page__second-info-summary-body Menge: <span>1</span>
        .part-two-wrapper
          .checkout-thanks-page__second-info-shipping-wrapper
            .checkout-thanks-page__second-info-summary-body-wrapper
              .checkout-thanks-page__second-info-summary-body Einzelpreis: 
              .checkout-thanks-page__second-info-summary-body €173.38
            .checkout-thanks-page__second-info-summary-body-wrapper
              .checkout-thanks-page__second-info-summary-body.bold Zwischensumme:
              .checkout-thanks-page__second-info-summary-body.bold €173.38
    .row
      hr  

    .checkout-thanks-page__summ-wrapper
      .checkout-thanks-page__second-info-shipping-wrapper.checkout-thanks-page__second-info-shipping-wrapper-summ
        .checkout-thanks-page__second-info-summary-body Lieferung in 3-4 Werktage Lieferung in 3-4 Werktage Lieferung in 3-4 Werktage Lieferung in 3-4 Werktage
        .checkout-thanks-page__second-info-summary-body-wrapper
          .checkout-thanks-page__second-info-summary-body Gewählte Zahlungsart: 
          .checkout-thanks-page__second-info-summary-body Paypal
        .checkout-thanks-page__second-info-summary-body-wrapper
          .checkout-thanks-page__second-info-summary-body Verpackung und Versand:
          .checkout-thanks-page__second-info-summary-body €0
        .checkout-thanks-page__second-info-summary-body-wrapper
          .checkout-thanks-page__second-info-summary-body Rabatt:
          .checkout-thanks-page__second-info-summary-body - €5
        .checkout-thanks-page__second-info-summary-body-wrapper
          .checkout-thanks-page__second-info-summary-body Umsatzsteuer (19%)
          .checkout-thanks-page__second-info-summary-body €120.55
        .checkout-thanks-page__second-info-summary-body-wrapper
          .checkout-thanks-page__second-info-summary-body.bold Endbetrag:
          .checkout-thanks-page__second-info-summary-body.bold €173.38




