.checkout-thanks-page
  .checkout-thanks-page__slider
    h3
      font-family: "MontserratSemiBold", sans-serif
      margin-top: 60px
      margin-bottom: 40px
      text-transform: uppercase
      font-size: 16px
      text-align: center
    .button-wrapper
      text-align: center
    a.btn
      margin: 90px auto 0 auto
      display: inline-block
      height: 40px
      min-width: 250px
      line-height: 25px
      @media (max-width: 340px)
        min-width: 90%
