main
  .container
    h1 shipping
    hr
  .container
    article.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1
      h4 Delivery Zone
      p.small-p Infinity Lashes items are only delivered to the United Kingdom, with the exception of the Channel Islands and overseas territories.<br>Infinity Lashes does not deliver orders to business addresses, P.O. boxes, hotels or university campuses. Orders to any of these destinations will not be processed. Delivery of items will take place upon full payment of the items ordered. Orders made from the website of a country different to that of the delivery address will not be processed.
      h4 Delivery type and times
      p.small-p Infinity Lashes offers you an Express Home delivery:
      p.big-p Delivery from Monday through Friday by 6:00 pm for any order placed online or by phone.<br>This service is not available on holidays.<br>The expected delivery time is 3 business days after placing the order.<br>This delivery service is offered free of charge by Infinity Lashes.
      p.big-p Infinity Lashes will inform you by email of the progress of your order. You can also track the progress of your order in the “My Orders” section of your online Customer Account on InfinityLashes.com or by contacting our Customer Service at 00 800 0000 1952 , during the opening hours indicated in the "Contact" section of the Site.
      h4 Delivery Charges
      p.small-p Delivery charges for orders placed online are offered free of charge by Infinity Lashes.
      h4 Gifts
      p.small-p Infinity Lashes Gift wrapping:
      p.big-p All our products are delivered in Infinity Lashes  wrapping. Upon confirmation of your order, you will have the option to request gift wrapping; this service is offered free of charge.
      p.small-p Personalized message:
      p.big-p We offer the option to include a personalized message when sending a gift order. Please note that Lashes reserves the right to withhold or refuse the acceptance of a product order accompanied by messages containing statements contrary to the law or morality.
      p.small-p Receipt and Price:
      p.small-p  The receipt (in PDF format) of your order on Givenchy.com will be sent electronically to your email address. This receipt, which we advise you to print and keep, will also be available by logging in to your Customer Account. The price will be removed from the label of the products you ordered and the receipt will not be attached to your order at the time of shipment. You may receive a paper version of your receipt upon request from Customer Service. This request, accompanied by your proof of identity, must be sent within 12 months from the issue of the receipt received by email.
      p.small-p To contact our Customer Service, please consult the "Contact" section of the Site. 