.shipping-info-page
  main
    h1
      font-family: "MontserratSemiBold", sans-serif
      text-align: center
      text-transform: uppercase
      font-size: 16px
      line-height: 20px
      margin-bottom: 0
      margin-top: 35px

    hr
      margin-top: 35px
      margin-bottom: 35px
    h4
      font-family: "MontserratSemiBold", sans-serif
      font-size: 21px
      line-height: 21px
      margin-bottom: 40px
    p
      font-size: 16px
      line-height: 21px
    .small-p
       margin-bottom: 30px
    .big-p
      margin-bottom: 50px
    article
      padding-left: 0
      padding-right: 0
      @media (max-width: 576px)
        padding-left: 15px!important
        padding-right: 15px!important
  footer
      margin-top: 100px
