main.container
  h1 my account
  a(href="#").back-to-menu
    h2 BACK
      +svg('totop', 'back-adaptive-menu svg')
  .account-page__two-parts-wrapper.row
    .account-page__left-part.col-xl-5.offset-xl-1.col-lg-6.offset-lg-0.col-sm-12
      p.account-page__hello Hello, <span>Max Factor</span>

      #account-page__list-tab-show.list-group
        a#list-profile-list.list-group-item.list-group-item-action Profile and settings
        a#list-payment-list.list-group-item.list-group-item-action Payment Methods
        a#list-shipping-adress-list.list-group-item.list-group-item-action Shipping Address
        a#list-orders-list.list-group-item.list-group-item-action.active My orders
        a#list-logout-list.list-group-item.list-group-item-action Logout