.shop-page__main-content-wrapper
  position: relative
.shop-page
  header
  //box-shadow: 0 0 32px rgba(55, 55, 55, 0.3)
  //nav
  //  padding-bottom: 14px
  .shop-page__main-content
    position: relative
    margin-top: 83px
    @media (max-width: 1199px)
      margin-top: 35px
    //.breadcrumb
    //  background: none
    //  margin-bottom: 80px
    //  padding-bottom: 0
    //  padding-left: 0
    //  .active
    //    color: #b2b2b2
    //.shop-page__main-part
    //  margin-bottom: 132px
      //aside
      //  max-width: 300px
      //  margin-right: 100px
      //  #accordion
      //    //margin-top: -15px
      //    .card
      //      border: none
      //      padding-right: 0px
      //      //border-bottom: 1px solid #d9d9d9
      //      .card-header
      //        border: none
      //        background-color: #fff
      //        padding: 15px 0
      //      .card-body
      //        padding-left: 70px
      //        padding-bottom: 25px
      //        a
      //          display: block
      //          margin-bottom: 25px
      //          font-size: 15px
      //        .active
      //          font-family: "MontserratSemiBold", sans-serif
//
      //      .btn-link
      //        position: relative
      //        width: 100%
      //        text-align: left
      //        font-size: 18px
      //        font-family: "MontserratBold", sans-serif
      //        transition: 1s all ease-in-out
      //        &.collapsed
      //          font-family: "Montserrat", sans-serif
      //          transition: 1s all ease-in-out
      //        &:after
      //          content: "-"
      //          position: absolute
      //          right: 0px
      //          bottom: 10px
      //          font-size: 20px
      //          font-weight: bold
      //        &.collapsed:after
      //          content: "+"
      //          position: absolute
      //          right: 0px
      //          font-size: 20px
      //          font-weight: bold
      //      button
      //        padding-left: 0
      //      .remove-plus
      //        &.collapsed:after
      //          content: ""
      //    .accordion-inside
      //      .card-body
      //        padding-top: 0
      //      .card-header
      //        padding-top: 0
      //        padding-bottom: 5px
      //      .btn-link
      //        font-size: 15px
      //        &:after
      //          font-size: 15px
      //        &.collapsed:after
      //          font-size: 15px
      main
//.shop-page__main-head
//  display: flex
//  justify-content: space-between
//  align-items: center
//  margin-bottom: 35px
//  text-transform: uppercase
//  .shop-page__category-chosen
//    font-family: "MontserratBold", sans-serif
//    font-size: 15px
//    span
//      color: #b3b3b3
//  .shop-page__sort
//    //span
//      font-size: 12px
//      color: #b3b3b3
//    //.dropdown
//      display: inline-block
//      margin-left: 19px
//      margin-bottom: 29px
//      button
//        padding: 14px 106px 16px 20px
//        .dropdown-menu
//          width: 193px
//    display: flex
//    font-family: "MontserratSemiBold", sans-serif
//    font-size: 12px
//    .shop-page__filter
//      position: relative
//      margin-right: 125px
//      cursor: pointer
//      &::after
//        content: '+'
//        position: absolute
//        right: -20px
//        top: -6px
//        font-size: 20px
//    .shop-page__sort
//      position: relative
//      margin-right: 40px
//      cursor: pointer
//      &::after
//        content: '+'
//        position: absolute
//        right: -20px
//        top: -6px
//        font-size: 20px
.shop-page__load-more
  //overflow: hidden
  button
    width: 100%
    padding: 15px auto
    font-size: 14px
    margin-top: 40px
    margin-bottom: 130px
    color: #000000
    &:hover
      color: #000000
.shop-page__adaptive-header
  border-bottom: 1px solid #bfbfbf
  margin-top: 0
  margin-bottom: 0
  padding-top: 30px
  padding-bottom: 30px
  display: none
  @media (max-width: 1199px)
    display: block
  h1
    display: inline-block
    font-size: 20px
    font-family: "MontserratSemiBold", sans-serif
    margin-top: 0
    margin-bottom: 0
    text-transform: uppercase
    @media (max-width: 991px)
      border-right: 1px solid #bfbfbf
      padding-right: 20px
      margin-right: 20px
  .shop-page__category-chosen-adaptive
    display: inline-block
    font-family: "MontserratBold", sans-serif
    font-size: 15px
    text-transform: uppercase
    display: none
    @media (max-width: 991px)
      display: inline-block
    span
      color: #b3b3b3





