.shop-page__main-content-wrapper
  .container
    .shop-page__adaptive-header
      h1 Lashes
      .shop-page__category-chosen-adaptive Sets <span>(68)</span>

  include ../filters/1_main
  include ../aside/2_adaptive-aside
  .shop-page__main-content.container
    //nav.shop-page__bread-crumbs
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/') Home
        li.breadcrumb-item
          a(href='shop.html').active Shop
        li.breadcrumb-item
          a(href='#').active Lashes
        li.breadcrumb-item.active Sets
    //include ../filters/1_main
    .shop-page__main-part.row

      include ../aside/aside

      main.col-xl-8
        .shop-page__main-head
          .shop-page__category-chosen Sets <span>(68)</span>
          include ../sort_block/1_sort

        .shop-page__shop-items
          .shop-items.row
            .shop-row-margin.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-6
              a(href="shop-item.html" title="L+Curl Lashes by Infinity Lashes").shop-item
                .shop-item-img
                .shop-item-body
                  .inside-image-badge-wrapper
                    .badge-img-red-present
                    .badge-img-black
                      span -90%
                  p.shop-item__item-title L+Curl Lashes by Infinity Lashes
                  .shop-item__item-price-wrapper
                    p.shop-item__item-share-price € 19,00
                    p.shop-item__item-price € 19,00
                  p.shop-item__item-zz zzgl. 19% USt.
            .shop-row-margin.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-6
              a(href="shop-item.html" title="Infinity Lashes - Stainless Steel Pro Tweezers").shop-item
                .shop-item-img2
                .shop-item-body
                  .inside-image-badge-wrapper
                    .badge-img-red
                      span -85%
                    .badge-img-black-present
                  img(src="img/christmas_line.svg", alt="christmas red badge").badge-image-bottom
                  p.shop-item__item-title Infinity
                  .shop-item__item-price-wrapper
                    p.shop-item__item-share-price € 19,00
                    p.shop-item__item-price € 19,00
                  p.shop-item__item-zz zzgl. 19% USt.      
            .shop-row-margin.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-6
              a(href="shop-item.html" title="L+Curl Lashes by Infinity Lashes").shop-item
                .shop-item-img
                .shop-item-body
                  .inside-image-badge-wrapper
                    .badge-img-black
                      span -15%
                    .badge-img-black-present
                  img(src="img/christmas_line.svg", alt="christmas red badge").badge-image-bottom
                  p.shop-item__item-title L+Curl Lashes by Infinity Lashes
                  .shop-item__item-price-wrapper
                    p.shop-item__item-price € 19,00
                  p.shop-item__item-zz zzgl. 19% USt.
            .shop-row-margin.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-6
              a(href="shop-item.html" title="L+Curl Lashes by Infinity Lashes").shop-item
                .shop-item-img
                .shop-item-body
                  p.shop-item__item-title L+Curl Lashes by Infinity Lashes
                  .shop-item__item-price-wrapper
                    p.shop-item__item-share-price € 19,00
                    p.shop-item__item-price € 19,00
                  p.shop-item__item-zz zzgl. 19% USt.
            .shop-row-margin.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-6
              a(href="shop-item.html" title="L+Curl Lashes by Infinity Lashes").shop-item
                .shop-item-img
                .shop-item-body
                  p.shop-item__item-title L+Curl Lashes by Infinity Lashes
                  .shop-item__item-price-wrapper
                    p.shop-item__item-price € 19,00
                  p.shop-item__item-zz zzgl. 19% USt.
            .shop-row-margin.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-6
              a(href="shop-item.html" title="L+Curl Lashes by Infinity Lashes").shop-item
                .shop-item-img
                .shop-item-body
                  p.shop-item__item-title L+Curl Lashes by Infinity Lashes
                  .shop-item__item-price-wrapper
                    p.shop-item__item-price € 19,00
                  p.shop-item__item-zz zzgl. 19% USt.
            .shop-row-margin.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-6
              a(href="shop-item.html" title="Infinity Lashes - Stainless Steel Pro Tweezers").shop-item
                .shop-item-img2
                .shop-item-body
                  p.shop-item__item-title Infinity Lashes - Stainless Steel Pro Tweezers
                  .shop-item__item-price-wrapper
                    p.shop-item__item-share-price € 19,00
                    p.shop-item__item-price € 19,00
                  p.shop-item__item-zz zzgl. 19% USt.      

            //- +shopItem('L+Curl Lashes by Infinity Lashes', '$19', '€ 19,00')
            //- +shopItem('L+Curl Lashes by Infinity Lashes', '$19')
            //- +shopItem('L+Curl Brown Lashes by Infinity Lashes', '$25.50')
            //- +shopItem('L+Curl Brown Lashes by Infinity Lashes', '$30')
            //- +shopItem('L+Curl Lashes by Infinity Lashes', '$19')
            //- +shopItem('L+Curl Lashes by Infinity Lashes', '$19')
            //- +shopItem('L+Curl Brown Lashes by Infinity Lashes', '$25.50')
            //- +shopItem('L+Curl Brown Lashes by Infinity Lashes', '$30')
            //- +shopItem('L+Curl Lashes by Infinity Lashes', '$19')
            //- +shopItem('L+Curl Lashes by Infinity Lashes', '$19')
            //- +shopItem('L+Curl Brown Lashes by Infinity Lashes', '$25.50')
            //- +shopItem('L+Curl Brown Lashes by Infinity Lashes', '$30')
            //- +shopItem('L+Curl Lashes by Infinity Lashes', '$19')
            //- +shopItem('L+Curl Lashes by Infinity Lashes', '$19')
            //- +shopItem('L+Curl Brown Lashes by Infinity Lashes', '$25.50')
            //- +shopItem('L+Curl Brown Lashes by Infinity Lashes', '$30')
            //- +shopItem('L+Curl Lashes by Infinity Lashes', '$19')
            //- +shopItem('L+Curl Lashes by Infinity Lashes', '$19')
            //- +shopItem('L+Curl Brown Lashes by Infinity Lashes', '$25.50')
            //- +shopItem('L+Curl Brown Lashes by Infinity Lashes', '$30')
        .shop-page__load-more
          button.btn.btn-secondary.col-xl-10.col-lg-10.offset-lg-1 Load more items


  //item-in-items.png