.main-page
  .best-sellers
    h3
      padding-top: 23px
      margin-bottom: 50px
      text-transform: uppercase
      @media (max-width: 767px)
        margin-bottom: 40px
    .btn-primary
      margin-top: 70px
      margin-bottom: 80px
      line-height: 25px
      height: 40px
      width: 170px
      font-family: "MontserratSemiBold", sans-serif
      text-transform: uppercase
      @media (max-width: 992px)
        margin-top: 90px
        margin-bottom: 30px
      @media (max-width: 767px)
        margin-bottom: 60px
      @media (max-width: 350px)
        margin-top: 50px

