.search-page
  h1
    margin-top: 60px
    margin-bottom: 10px
    font-family: "MontserratSemiBold", sans-serif
    font-size: 16px
    text-transform: uppercase
    text-align: center
  .search-page__result
    hr
      margin-top: 35px
      margin-bottom: 45px
    .adaptive-name-wrapper
      display: none
      @media (max-width: 1199px)
        display: block
      h2
        font-size: 20px
        text-transform: uppercase
        font-family: "MontserratSemiBold", sans-serif
        display: inline-block
        @media (max-width: 991px)
          padding-right: 20px
          margin-right: 20px
          border-right: 1px solid #e6e6e6
      .shop-page__category-chosen-adaptive
        display: none
        @media (max-width: 991px)
          display: inline-block
          font-family: "MontserratBold", sans-serif
          font-size: 15px
          text-transform: uppercase
        span
          color: #b3b3b3