//.container
  nav.search-page__bread-crumbs
    ol.breadcrumb
      li.breadcrumb-item
        a(href='/') Home
      li.breadcrumb-item.active Search: <span>Tweezers</span>

section.search-page__result
  h1 Woosh! Here are the results for “tweezers” <span>(62)</span>
  .container
    hr
  .adaptive-name-wrapper
    .container
      h2 sets
      .shop-page__category-chosen-adaptive Sets <span>(68)</span>
    .container
      hr




