.search-filters-wrapper
  include ../filters/1_main
  include ../aside/2_adaptive-aside
  .container
    .row
      include ../aside/aside

      main.col-xl-8
        .shop-page__main-head
          .shop-page__category-chosen Sets <span>(68)</span>
          include ../sort_block/1_sort



        .shop-page__shop-items
          .shop-items.row
            .shop-row-margin.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-6
              a(href="shop-item.html" title="Infinity Lashes - Stainless Steel Pro Tweezers").shop-item
                .shop-item-img
                .shop-item-body
                  p.shop-item__item-title Infinity Lashes - Stainless Steel Pro Tweezers
                  .shop-item__item-price-wrapper
                    p.shop-item__item-share-price € 19,00
                    p.shop-item__item-price € 19,00
                  p.shop-item__item-zz zzgl. 19% USt.
            .shop-row-margin.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-6
              a(href="shop-item.html" title="Infinity Lashes - Stainless Steel Pro Tweezers").shop-item
                .shop-item-img
                .shop-item-body
                  p.shop-item__item-title Infinity Lashes - Stainless Steel Pro Tweezers
                  .shop-item__item-price-wrapper
                    p.shop-item__item-share-price € 19,00
                    p.shop-item__item-price € 19,00
                  p.shop-item__item-zz zzgl. 19% USt.
            .shop-row-margin.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-6
              a(href="shop-item.html" title="Infinity Lashes - Stainless Steel Pro Tweezers").shop-item
                .shop-item-img
                .shop-item-body
                  p.shop-item__item-title Infinity Lashes - Stainless Steel Pro Tweezers
                  .shop-item__item-price-wrapper
                    p.shop-item__item-share-price € 19,00
                    p.shop-item__item-price € 19,00
                  p.shop-item__item-zz zzgl. 19% USt.
            .shop-row-margin.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-6
              a(href="shop-item.html" title="Infinity Lashes - Stainless Steel Pro Tweezers").shop-item
                .shop-item-img
                .shop-item-body
                  p.shop-item__item-title Infinity Lashes - Stainless Steel Pro Tweezers
                  .shop-item__item-price-wrapper
                    p.shop-item__item-share-price € 19,00
                    p.shop-item__item-price € 19,00
                  p.shop-item__item-zz zzgl. 19% USt.
            .shop-row-margin.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-6
              a(href="shop-item.html" title="L+Curl Lashes by Infinity Lashes").shop-item
                .shop-item-img
                .shop-item-body
                  p.shop-item__item-title L+Curl Lashes by Infinity Lashes
                  .shop-item__item-price-wrapper
                    p.shop-item__item-share-price € 19,00
                    p.shop-item__item-price € 19,00
                  p.shop-item__item-zz zzgl. 19% USt.
            .shop-row-margin.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-6
              a(href="shop-item.html" title="Infinity Lashes - Stainless Steel Pro Tweezers").shop-item
                .shop-item-img
                .shop-item-body
                  p.shop-item__item-title Infinity Lashes - Stainless Steel Pro Tweezers
                  .shop-item__item-price-wrapper
                    p.shop-item__item-share-price € 19,00
                    p.shop-item__item-price € 19,00
                  p.shop-item__item-zz zzgl. 19% USt.
            .shop-row-margin.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-6
              a(href="shop-item.html" title="Infinity Lashes - Stainless Steel Pro Tweezers").shop-item
                .shop-item-img
                .shop-item-body
                  p.shop-item__item-title Infinity Lashes - Stainless Steel Pro Tweezers
                  .shop-item__item-price-wrapper
                    p.shop-item__item-share-price € 19,00
                    p.shop-item__item-price € 19,00
                  p.shop-item__item-zz zzgl. 19% USt.
            .shop-row-margin.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-6
              a(href="shop-item.html" title="L+Curl Lashes by Infinity Lashes").shop-item
                .shop-item-img
                .shop-item-body
                  p.shop-item__item-title L+Curl Lashes by Infinity Lashes
                  .shop-item__item-price-wrapper
                    p.shop-item__item-price € 19,00
                  p.shop-item__item-zz zzgl. 19% USt.
                  
            //- +shopItem2('Infinity Lashes - Stainless Steel Pro Tweezers', '$15')
            //- +shopItem2('Infinity Lashes - Stainless Steel Pro Tweezers', '$20')
            //- +shopItem2('Infinity Lashes - Stainless Steel Pro Tweezers', '$25.50')
            //- +shopItem2('Infinity Lashes - Stainless Steel Pro Tweezers', '$30')
            //- +shopItem2('L+Curl Lashes by Infinity Lashes', '$19')
            //- +shopItem2('L+Curl Lashes by Infinity Lashes', '$19')
            //- +shopItem2('L+Curl Brown Lashes by Infinity Lashes', '$25.50')
            //- +shopItem2('L+Curl Brown Lashes by Infinity Lashes', '$30')
            //- +shopItem2('L+Curl Lashes by Infinity Lashes', '$19')
            //- +shopItem2('L+Curl Lashes by Infinity Lashes', '$19')
            //- +shopItem2('Infinity Lashes - Stainless Steel Pro Tweezers', '$25.50')
            //- +shopItem2('Infinity Lashes - Stainless Steel Pro Tweezers', '$30')
            //- +shopItem2('L+Curl Lashes by Infinity Lashes', '$19')
            //- +shopItem2('L+Curl Lashes by Infinity Lashes', '$19')
            //- +shopItem2('Infinity Lashes - Stainless Steel Pro Tweezers', '$25.50')
            //- +shopItem2('Infinity Lashes - Stainless Steel Pro Tweezers', '$30')
            //- +shopItem2('L+Curl Lashes by Infinity Lashes', '$19')
            //- +shopItem2('L+Curl Lashes by Infinity Lashes', '$19')
            //- +shopItem2('L+Curl Brown Lashes by Infinity Lashes', '$25.50')
            //- +shopItem2('L+Curl Brown Lashes by Infinity Lashes', '$30')
        .shop-page__load-more
          button.btn.btn-secondary.btn-lg Load more items
