.cart-empty
  main
    width: 100%
    h1
      text-align: center
      text-transform: uppercase
      font-family: "MontserratSemiBold", sans-serif
      font-size: 34px
      margin-top: 140px
      margin-bottom: 100px
      @media (max-width: 767px)
        font-size: 30px
      @media (max-width: 575px)
        margin-top: 60px
        margin-bottom: 60px
    a
      width: 370px
      height: 40px
      margin: 0 auto 130px auto
      display: block
      padding-top: 11px
      font-size: 12px
      @media (max-width: 767px)
        width: 340px
      @media (max-width: 575px)
        margin: 0 auto 100px auto
      @media (max-width: 380px)
        width: 200px
