.recommened.container
    h3.row.justify-content-center.align-items-center recommended for you

    //include ../carousel-owl2/carousel-owl2
    include ../../carousel/carousel-owl2

    .row.justify-content-center.align-items-center
        a(href="shop.html" title="Shop now").btn.btn-primary Shop now