.change-pass-page
  h1
    text-transform: uppercase
    font-size: 16px
    font-family: "MontserratSemiBold", sans-serif
    text-align: center
    margin-top: 55px
    margin-bottom: 55px
  form
    padding-left: 0
    padding-right: 0
    @media (max-width: 1199px)
      padding-left: 40px
      padding-right: 40px
    @media (max-width: 991px)
      padding-left: 15px
      padding-right: 15px
    @media (max-width: 767px)
      padding-left: 40px
      padding-right: 40px
    button
      margin-top: 25px
  footer
    margin-top: 140px
  #thanksWait
    .modal-dialog
      max-width: 950px
      @media (max-width: 1199px)
        max-width: 90%
    .modal-content
      border-radius: 0
    .modal-header
      border-bottom: none
    font-size: 16px
    font-family: "MontserratSemiBold", sans-serif
    button
      font-size: 35px
      font-family: "Montserrat", sans-serif
    .modal-body
      padding: 30px 65px 100px 65px
