h1 Change password
.container
  .row
    form.grey-form.col-xl-4.offset-xl-4.col-lg-6.offset-lg-3.col-md-8.offset-md-2.col-sm-12
      .form-group
        label(for='change-pass-page__new-member-pass-input') new Password
        input#change-pass-page__new-member-pass-input.form-control(type='password'/*placeholder='Password'*/)
      .form-group
        label(for='change-pass-page__new-member-pass-check') confirm password
        input#change-pass-page__new-member-pass-check.form-control(type='password'/*placeholder='Password'*/)
      button.btn.btn-primary(type='button' data-toggle="modal" data-target="#thanksWait") change password

#thanksWait.modal.fade(tabindex='-1' role='dialog' aria-labelledby='thanksWaitTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        //h5#thanksWaitLongTitle.modal-title Modal title
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        | Thanks a lot, your new password was successfully saved. Wait a few seconds, redirecting you to the login page ...
      //.modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save changes
