.latest-article.container-fluid
  .container
    header
      .latest-article__name latest article
      .latest-article__link <a href="/blog.html" title="All Articles">All Articles</a>
    .latest-article__items.row
      a(href="blog-article.html" title="Read more").latest-article__item.col-xl-4.col-lg-4
        .latest-article__img
          img(src="img/main-article-1.jpg" alt="main-article-1")
        .latest-article__descr
          .latest-article__date-block
            .latest-article__date Apr 12, 2018
            .latest-article__line
          p.latest-article__head 7 Reasons to Remove Eyelash Extensions
      a(href="blog-article.html" title="Read more").latest-article__item.col-xl-4.col-lg-4
        .latest-article__img
          img(src="img/main-article-2.jpg" alt="main-article-1")
        .latest-article__descr
          .latest-article__date-block
            .latest-article__date mar 22, 2018
            .latest-article__line
          p.latest-article__head What To Do When Lashes Hit Your Glasses
      a(href="blog-article.html" title="Read more").latest-article__item.col-xl-4.col-lg-4
        .latest-article__img
          img(src="img/main-article-3.jpg" alt="main-article-1")
        .latest-article__descr
          .latest-article__date-block
            .latest-article__date mar 1, 2018
            .latest-article__line
          p.latest-article__head The Customer Loyalty Journey

    .owl-carousel-latest-article__items.owl-carousel.owl-theme
      a(href="blog-article.html" title="Read more").item
        .latest-article__item
          .latest-article__img
            img(src="img/main-article-1.jpg" alt="main-article-1")
          .latest-article__descr
            .latest-article__date-block
              .latest-article__date Apr 12, 2018
              .latest-article__line
            p.latest-article__head 7 Reasons to Remove Eyelash Extensions
      a(href="blog-article.html" title="Read more").item
        .latest-article__item
          .latest-article__img
            img(src="img/main-article-2.jpg" alt="main-article-1")
          .latest-article__descr
            .latest-article__date-block
              .latest-article__date mar 22, 2018
              .latest-article__line
            p.latest-article__head What To Do When Lashes Hit Your Glasses
      a(href="blog-article.html" title="Read more").item
        .latest-article__item
          .latest-article__img
            img(src="img/main-article-3.jpg" alt="main-article-1")
          .latest-article__descr
            .latest-article__date-block
              .latest-article__date mar 1, 2018
              .latest-article__line
            p.latest-article__head The Customer Loyalty Journey

