.main-page
  .latest-article
    background-color: #000
    color: #fff
    padding-top: 74px
    padding-bottom: 110px
    @media (max-width: 992px)
      padding-bottom: 60px
    header
      display: flex
      justify-content: space-between
      margin-bottom: 79px
      .latest-article__name
        font-family: "MontserratSemiBold", sans-serif
        font-size: 16px
        text-transform: uppercase
      .latest-article__link
        text-decoration: underline
        font-size: 12px
        a
          color: #ffffff





    // .owl-carousel-latest-article__items
    //   color: #ffffff
    //   .owl-dots
    //     .owl-dot
    //       span
    //         height: 12px
    //         width: 12px
    //         background-color: #000000
    //         border: 1px solid #ffffff
    //         margin: 5px 5px
    //         border-radius: 50%
    //     .owl-dot.active
    //       span
    //         border: 2px solid #ffffff
    //   .latest-article__img
    //     height: 440px
    //     @media (max-width: 767px)
    //       max-width: 520px
    //       height: 520px
    //     @media (max-width: 450px)
    //       height: 300px
    //     @media (max-width: 300px)
    //       height: 240px
    //   .latest-article__descr
    //     width: 100%
    //     max-width: 100%
    //   .latest-article__line
    //     width: 100%!important


