.shop-item-page
  //.lSSlideOuter.vertical .lightSlider > *
  //  max-width: 540px!important
  //.shop-item-page .shop-item-page__item .shop-item-page__item-slider .lslide img
  //  width: auto!important
  //  height: auto!important
  //header#top
    //box-shadow: 0 0 32px rgba(55, 55, 55, 0.3)
    //nav
      padding-bottom: 14px
  .shop-item-page__item
    #shop-item-page__item-slider
      width: 430px
    .shop-item-page__item-slider
      margin-top: 76px
      visibility: hidden
      margin-bottom: 70px
      @media (max-width: 991px)
        margin-bottom: 0
      @media (max-width: 576px)
        margin-top: 30px
      .badge-wrapper
        display: flex
        justify-content: flex-start
        position: absolute
        right: 0px
        top: 0px
        z-index: 1
        flex-direction: column
        width: 163px
        height: 350px
        @media (max-width: 1199px)
          width: 144px
        @media (max-width: 991px)
          width: 224px
        @media (max-width: 767px)
          width: 139px
        @media (max-width: 575px)
          width: 25%
        @media (max-width: 530px)
          width: 20%
        @media (max-width: 420px)
          top: 20px
        @media (max-width: 400px)
          width: 27%
          top: 0
        .badge-img-red,
        .badge-img-black,
        .badge-img-red-present,
        .badge-img-black-present
          display: flex
          justify-content: center
          align-items: center
          height: 50px
          width: 50px
          color: #ffffff
          text-transform: uppercase
          font-family: "Montserrat", sans-serif
          margin-top: 30px
        .badge-img-red
          margin-top: -5px
          height: 76px
          width: 82px
          background-image: url('../img/christmas_circle_hat.svg')
          background-repeat: no-repeat
          background-size: 76px 82px
          background-position: 0 0
          span
            margin-left: -33px
            margin-top: 24px
        .badge-img-black
          background-image: url('../img/black-badge-circle.svg')
          background-repeat: no-repeat
          background-size: 50px 50px
          background-position: 0 0
        .badge-img-red-present
          margin-top: -5px
          height: 76px
          width: 82px
          background-image: url('../img/present_hat.svg')
          background-repeat: no-repeat
          background-size: 76px 82px
          background-position: 0 0
        .badge-img-black-present
          background-image: url('../img/present_black.svg')
          background-repeat: no-repeat
          background-size: 50px 50px
          background-position: 0 0
      li
        cursor: pointer
        //border: 1px solid red
        a
          position: relative
          overflow: hidden
          display: block
          height: 100%
          width: 100%
          z-index: -1
          @media (max-width: 1199px)
            height: 100px
            width: 100px
          img
            position: absolute
            left: 0
            top: 0
            right: 0
            bottom: 0
            max-height: 100%
            //max-height: 100px
            max-width: 100%
            margin: auto
            @media (max-width: 1199px)
              position: relative!important
              height: 100px!important
              //width: auto!important
      .zoom-here
        height: 500px
        width: 700px
      .lSSlideOuter
        display: inline-block
        @media (max-width: 1199px)
          display: block
        .lSSlideWrapper
          // &:before
          //   content: "best offer"
          //   width: 190px
          //   height: 22px
          //   position: absolute
          //   text-align: center
          //   background-color: #FF8049
          //   font-size: 15px
          //   //line-height: 22px
          //   font-family: "MontserratSemiBold", sans-serif
          //   text-transform: uppercase
          //   color: #ffffff
          //   z-index: 10
          //   font-stretch: normal
          //   transform: rotate(-45deg) translate(-60px, 5px)
          ul
            li
              height: 430px
              width: 540px
              position: relative
              @media (max-width: 400px)
                height: 300px
              div
                overflow: hidden
                position: relative
                background-color: transparent
                height: 100%
                transform: translateX(1px)
                z-index: 10
                // .badge-corner
                //   width: 190px
                //   height: 22px
                //   position: absolute
                //   text-align: center
                //   background-color: #FF8049
                //   font-size: 15px
                //   font-family: "MontserratSemiBold", sans-serif
                //   text-transform: uppercase
                //   color: #ffffff
                //   z-index: 10
                //   font-stretch: normal
                //   transform: rotate(-45deg) translate(-60px, 5px)
              img
                display: inline-block
                position: absolute
                left: 0
                top: 0
                bottom: 0
                right: 0
                max-width: 100%!important
                max-height: 100%!important
                margin: auto
                height: auto!important
      .lSGallery
        margin-right: 30px!important //try to fix bug in http://dverst.belka-z.com/product/set-lash-tray-10-15?filters%5B2%5D=%230000ff&filters%5B3%5D=
        img
          height: 100%
          width: auto
        li
          border: 1px solid #d9d9d9
          border-radius: 0
        li.active
          border: 1px solid #000000
      /*dots of slider*/
      .lSpg
        height: 16px
        width: 90px
        margin-left: auto
        margin-right: auto
        @media (max-width: 500px)
          margin-top: 10%!important
          //margin-bottom: 10%
        li
          height: 12px
          width: 12px
          padding: 0
          margin-right: 10px
          a
            height: 100%
            width: 100%
            background-color: #ffffff
            border: 1px solid #000000
            transition: all 0s
          &.active
            a
              border: 2px solid #000000
      .vertical img
        //height: 100%
        height: auto
      .shop-item-page__zoom-here
        display: block
        height: 430px
        width: 404px
        position: absolute
        right: -419px
        top: 0
        background-color: transparent
        //z-index: 2!important
        @media (max-width: 991px)
          right: auto
          left: 50%
          bottom: -450px
          top: auto
          transform: translateX(-50%)
        @media (max-width: 450px)
          height: 230px
          width: 204px
          bottom: -250px
          width: 50%!important
      //z-index: 1
      //.lSPrev, .lSNext
        display: none
      .lSAction
        opacity: 0
        position: absolute
        top: 213px
        right: 35px
        width: 530px
        @media (max-width: 1199px)
          right: 15px
        @media (max-width: 991px)
          right: 95px
        @media (max-width: 767px)
          right: 10px
        @media (max-width: 575px)
          right: 0
          width: 100%
          bottom: 5px
          top: auto
        a
          background-image: url(../img/icons/arrow-white.svg)
          background-repeat: no-repeat
          background-position: 0 0
          //top: 50%
          //transform: translateY(-50%)
          height: 40px
          width: 15px
          z-index: 1
        .lSNext
          // right: 0
          // left: auto
        .lSPrev
          // right: auto
          // left: 15px
          transform: rotate(180deg)
          top: 0
          // @media (max-width: 1199px)
          //   left: 0
      .lSSlideOuter.vertical .lSGallery
        right: auto
        left: 0
      .lslide
        //max-width: 404px!important
        overflow: hidden
        img
          height: 100%
          width: auto
          margin-left: 0
    .shop-item-page__item-prop
      margin-top: 76px
      @media (max-width: 991px)
        margin-top: 25px
      @media (max-width: 400px)
        margin-top: 50px  
      h1
        font-size: 24px
        line-height: 37px
        text-transform: uppercase
        font-family: "MontserratSemiBold", sans-serif
        
      a
        &:hover
          text-decoration: none
      .shop-item-page__number-of-reviews
        display: inline-block
        font-size: 12px
        line-height: 37px
        vertical-align: top
        color: #bfbfbf
        margin-left: 15px
      .shop-item-page__price
        margin-top: 10px
        margin-bottom: 35px
        font-family: "montserrat", sans-serif
        font-size: 30px
        color: #DD9A63
        @media (max-width: 991px)
          margin-bottom: 25px
        .normal-price
          display: inline-block
        .discount-price
          display: inline-block
          color: #000000
          font-size: 20px
          vertical-align: 3px
          padding-left: 20px
          text-decoration: line-through
        p
          font-family: montserrat, sans-serif
          font-weight: normal
          font-size: 12px
          color: #9A9A9A
          margin-top: 20px
          margin-bottom: 0
      p.shop-item-page__badge-wrapper
        img
          width: 180px
          margin-top: 18px
          margin-bottom: 4px
      .shop-item-page__thickness-block-wrapper,
      .shop-item-page__length-block-wrapper,
      .shop-item-page__color-block-wrapper,
      .shop-item-page__type-block-wrapper
        font-size: 12px
        span
          font-family: "MontserratSemiBold", sans-serif
      .shop-item-page__choose-block
        cursor: pointer
        display: inline-block
        padding-top: 10px
        height: 40px
        width: 60px
        border: 1px solid #e5e5e5
        margin-right: 10px
        margin-bottom: 10px
        text-align: center
      .shop-item-page__choose-block-active
        border: 1px solid #000
      .shop-item-page__choose-block-disabled
        background-color: #f7f7f7
        cursor: no-drop
      .shop-item-page__length-block-wrapper,
      .shop-item-page__color-block-wrapper,
      .shop-item-page__type-block-wrapper
        p
          margin-top: 10px
          margin-bottom: 20px
      .shop-item-page__color-block-wrapper
        .filter-5-wrapper
          display: flex
          flex-wrap: wrap
          justify-content: flex-start
          margin-bottom: 40px
          @media (max-width: 1199px)
            margin-bottom: 0
          .filter-5-item
            border: 1px solid #D2D2D2
            margin-right: 15px
            margin-bottom: 15px
            height: 30px
            width: 30px
            border-radius: 50%
            cursor: pointer
          .color-1
            background-color: #000
          .color-2
            background-color: #ffffff
          .color-3
            background-color: #ae8c64
          .color-4
            background-color: #2a1c48
          .color-5
            background-color: #5e2a00
          .color-6
            background-color: #949494
          .color-7
            background-color: #1f1f1f
          .color-8
            background-color: #8c6d4c
          .color-9
            background-color: #122d4f
          .color-10
            background-color: #626262
          .active-color
            border: 1px solid red
          .disabled-color
            opacity: .15
            cursor: no-drop

      .shop-item-page__buy
        margin-top: 30px
        margin-bottom: 70px
        display: flex
        justify-content: space-between
        align-items: center
        @media (max-width: 1199px)
          flex-direction: column
          align-items: flex-start
        @media (max-width: 991px)
          flex-direction: row
          justify-content: flex-start
          align-items: center
        @media (max-width: 576px)
          flex-direction: column
          align-items: flex-start
        .shop-item-page__quantiti-of-order
          width: 180px
          width: 200px
          position: relative
          border: 1px solid #e6e6e6
          &:before
            content: ''
            height: 30px
            width: 1px
            background-color: #e6e6e6
            position: absolute
            left: 45px
            top: 4px
          &:after
            content: ''
            height: 30px
            width: 1px
            background-color: #e6e6e6
            position: absolute
            right: 45px
            top: 4px
          input
            display: block
            margin-left: 60%
            width: 55px
            height: 40px
            text-align: left
            border: none
          label
            position: absolute
            top: 50%
            transform: translateY(-50%)
            //right: 45%
            text-align: left
            margin-left: 10px
          span
            font-size: 30px
            position: absolute
            cursor: pointer
            user-select: none
          .minus
            left: 15px
            bottom: 0
            //z-index: 1
          .plus
            right: 15px
            bottom: 0
          @media (max-width: 1199px)
            margin-bottom: 30px
          @media (max-width: 991px)
            margin-bottom: 0
          @media (max-width: 576px)
            margin-bottom: 30px
        .shop-item-page__button-for-order
          position: relative
          .btn-warning
            height: 40px
            width: 250px
            background: #d8b061
            margin-left: 20px
            margin-top: -1px
            border: none
            text-transform: uppercase
            font-size: 12px
            color: #fff
            font-family: "MontserratSemiBold", sans-serif
            line-height: 30px
            box-shadow: none
            padding-left: 0
            &:focus
              box-shadow: none
            @media (max-width: 1199px)
              margin-left: 0
            @media (max-width: 991px)
              margin-left: 30px
            @media (max-width: 576px)
              margin-left: 0
            //@media (max-width: 300px)
              //width: 100%
          .cart-white
            fill: #ffffff
            position: absolute
            height: 20px
            width: 18px
            margin-left: 5px
            margin-top: 3px

.label-wrapper
  display: flex
  justify-content: space-between
  position: relative
  margin-left: 45px





