.shop-item-page__item.container
  .row
    .shop-item-page__item-slider.col-xl-7.col-lg-7
      //.lSActionCustom
      //  .lSPrevCustom
      //  .lSNextCustom
      //img(src="img/badge/badge_neu.png", alt="badge", srcset="img/badge/badge_neu.png 1x, img/badge/badge_neu2x.png 2x, img/badge/badge_neu3x.png 3x").badge-img
      .badge-wrapper
        .badge-img-red 
          span -85%
        .badge-img-black -45%
        //.badge-img-red-present
        .badge-img-black-present
      ul#shop-item-page__item-slider
        li(data-thumb='https://picsum.photos/430/430/?random1')
          div
            img.shop-item-page__zoom(src='img/item/item.jpg' alt="item-photo")
        li(data-thumb='https://picsum.photos/430/430/?random2')
          div
            img.shop-item-page__zoom(src='https://picsum.photos/430/430/?random2' alt="item-photo2")
        li(data-thumb='https://picsum.photos/430/430/?random3')
          div
            img.shop-item-page__zoom(src="https://picsum.photos/430/430/?random3" alt="item-photo")
        li(data-thumb='https://picsum.photos/430/430/?random4.png')
          div
            img.shop-item-page__zoom(src="https://picsum.photos/430/430/?random4" alt="item-photo")
      .shop-item-page__zoom-here
    .shop-item-page__item-prop.col-xl-5.col-lg-5
      h1(data-model-attr="name") Mixed Size Classic Chelsea silk lashes J/B/C/CC/D/L
      select#shop-item-page__item-prop-rating.star-ratings
        option(value='1' selected) 1
        option(value='2' selected) 2
        option(value='3' selected) 3
        option(value='4') 4
        option(value='5') 5
      .shop-item-page__number-of-reviews 24 reviews
      p.shop-item-page__badge-wrapper
        img(src="img/item-badge.svg", alt="badge")
      .shop-item-page__price
        div(data-model-attr="price") 
          .normal-price
            span $
            span 119
          .discount-price
            span $
            span 119
        p zzgl. 19% USt.
      .shop-item-page__thickness-block-wrapper
        p <span>Thickness:</span> Choose Thickness
        .shop-item-page__thickness-blocks
            .shop-item-page__choose-block 0.05
            .shop-item-page__choose-block.shop-item-page__choose-block-disabled 0.07
            .shop-item-page__choose-block 0.10
            .shop-item-page__choose-block.shop-item-page__choose-block-active 0.12
            .shop-item-page__choose-block 0.15
            .shop-item-page__choose-block 0.18
            .shop-item-page__choose-block 0.20
      .shop-item-page__length-block-wrapper
        p <span>Length:</span>  Choose Length
        .shop-item-page__length-blocks
            .shop-item-page__choose-block 8mm
            .shop-item-page__choose-block 9mm
            .shop-item-page__choose-block.shop-item-page__choose-block-disabled 10mm
            .shop-item-page__choose-block 11mm
            .shop-item-page__choose-block 12mm
            .shop-item-page__choose-block 13mm
            .shop-item-page__choose-block 14mm
            .shop-item-page__choose-block.shop-item-page__choose-block-active 15mm
            .shop-item-page__choose-block 16mm
      .shop-item-page__type-block-wrapper
        p <span>Type:</span>  Choose type
        .shop-item-page__length-blocks
            .shop-item-page__choose-block.shop-item-page__choose-block-active C+Curl
            .shop-item-page__choose-block D+Curl
            .shop-item-page__choose-block.shop-item-page__choose-block-disabled J+Curl
            .shop-item-page__choose-block B+Curl
      .shop-item-page__color-block-wrapper
        p <span>Color:</span>
        .filter-5-wrapper
          .filter-5-item.color-1
          .filter-5-item.color-2.active-color
          .filter-5-item.color-3
          .filter-5-item.color-4
          .filter-5-item.color-5.disabled-color
          .filter-5-item.color-6
          .filter-5-item.color-7.disabled-color
          .filter-5-item.color-8
          .filter-5-item.color-9
          .filter-5-item.color-10
      form.shop-item-page__buy
        .shop-item-page__quantiti-of-order
          span.minus -
          .label-wrapper
            //label(for="shop-item-page__quantiti-of-order") QTY:
            label(for="shop-item-page__quantiti-of-order") Menge:
            input(type='text' value='1' size='5' readonly='')#shop-item-page__quantiti-of-order
          span.plus +
        .shop-item-page__button-for-order
          a(href="#").btn.btn-warning In den Warenkorb legen
            +svg('Cart-white', 'cart-white svg')