section.container-fluid.shop-item-page__description-wrapper
  .container
    .row.shop-item-page__description
      .shop-item-page__product-details.col-xl-10.offset-xl-2.col-lg-10.offset-lg-1
        h5 Product details
        .shop-item-page__description-text-wrapper(data-model-attr="description")
          p Mixed Size CLASSIC silk eyelash extensions are great for INDIVIDUAL one by one application technique. They are perfect for creating CLASSIC sets. J, B, C, CC, D curls available in 0.20 thickness so you can create rich and dense looking sets for your clients.
          p This is a great product if you're new to the lash extensions it contains the most popular lengths, and is ideal for mobile therapists and lashpreneurs just starting out or just want to try our new London Lash eyelashes.
          p Buy a couple of these and you're covered for a wide range of looks without the need to carry around lots of different packs or invest much money in to get started.
          ul
            li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, veniam!
            li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, veniam!
            li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, veniam!
            li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, veniam!
            li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, veniam!

      //.shop-item-page__description-share
        p Share Page:
        ul.shop-item-page__description-share-icons
          li
            a(href="#")
              +svg('facebook', 'facebook svg')
          li
            a(href="#")
              +svg('facebook', 'facebook svg')
          li
            a(href="#")
              +svg('facebook', 'facebook svg')
          li
            a(href="#")
              +svg('facebook', 'facebook svg')
          li
            a(href="#")
              +svg('facebook', 'facebook svg')