.shop-item-page
  .shop-item-page__carousel1
    h3
      text-align: center
      margin-top: 83px
      margin-bottom: 48px
    &+.container-fluid>hr
      @media (max-width: 991px)
        margin-top: 100px

  .shop-item-page__hr-without-pudding
    padding-left: 0
    padding-right: 0
    margin-bottom: 40px

  hr
    margin-top: 101px
    margin-bottom: 60px

  @media (max-width: 575px)
    .shop-item-page__comments
      padding-left: 30px!important
      padding-right: 30px!important

