.blog-article-page
  .blog-article__header-buttons
    display: flex
    justify-content: space-between
    margin-top: 30px
    margin-bottom: 30px
    a
      color: #bfbfbf
      position: relative
      &:first-of-type
        padding-left: 20px
      &:last-of-type
        padding-right: 20px
    svg.blog-article__back-next-svg
      width: 10px
      height: 20px
      position: absolute
      top: 0
      stroke: #bfbfbf
    .blog-article__back-svg
      transform: rotate(180deg)
      left: 0
    .blog-article__next-svg
      right: 0
  .main
    h1
      text-transform: uppercase
      font-family: "MontserratBold", sans-serif
      text-align: left
      line-height: 50px
      font-size: 35px
      margin-bottom: 5px
      @media (max-width: 991px)
        text-align: center
      @media (max-width: 767px)
        font-size: 30px
    //.blog-article__img
      //max-height: 590px
      //width: 970px
      //overflow: hidden

    .blog-article__content
      img
        width: 100%
        margin-bottom: 30px
        margin-top: 10px
        padding-left: 100px
        padding-right: 100px
        @media (max-width: 1199px)
          padding-left: 0
          padding-right: 0
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p
        margin-bottom: 30px
      h1,
      h2,
      h3,
      h4,
      h5,
      h6
        font-family: "MontserratSemiBold", sans-serif
        text-transform: uppercase
        font-size: 16px
        line-height: 20px
        padding-left: 100px
        padding-right: 300px
        @media (max-width: 1199px)
          padding-left: 0
          padding-right: 160px
        @media (max-width: 991px)
          padding-right: 0
      p
        font-size: 16px
        line-height: 26px
        padding-left: 200px
        padding-right: 300px
        @media (max-width: 1199px)
          padding-left: 80px
          padding-right: 160px
        @media (max-width: 991px)
          padding-left: 30px
          padding-right: 0
        @media (max-width: 767px)
          padding-left: 0
        a
          text-decoration: none
          color: #f8ca68
          font-family: "MontserratSemiBold", sans-serif
      #carouselBlogArticle
        margin-top: 30px
        margin-bottom: 25px
        margin-left: 100px
        margin-right: 100px
        @media (max-width: 1199px)
          margin-left: 0
          margin-right: 0
        .carousel-inner,
        .carousel-item
          position: relative
          overflow: hidden
          height: 590px
          @media (max-width: 1199px)
            height: 565px
          @media (max-width: 991px)
            height: 420px
          @media (max-width: 767px)
            height: 315px
          @media (max-width: 500px)
            height: 250px
          @media (max-width: 400px)
            height: 200px
          @media (max-width: 300px)
            height: 150px
          //width: 100%
          // .carousel-item
          //   height: 100%
          //   width: auto
        img
          position: absolute
          min-height: 100%
          width: auto
          margin: auto
          top: 0
          bottom: 0
          left: 0
          right: 0
          padding-left: 0
          padding-right: 0
          @media (max-width: 1199px)
            height: 565px
          @media (max-width: 991px)
            height: 420px
          @media (max-width: 767px)
            height: 315px
          @media (max-width: 500px)
            height: 250px
          @media (max-width: 400px)
            height: 200px
          @media (max-width: 300px)
            height: 150px
        .carousel-indicators
          margin-right: 0
          left: auto
          right: 20px
          li
            cursor: pointer
            height: 10px
            width: 10px
            border-radius: 50%
            background-color: transparent
            border: 1px solid #ffffff
          .active
            background-color: #fff
        .slider-arrows
          stroke: #ffffff
          height: 65px
          width: 23px
          //@media (max-width: 767px)
          //  height: 40px
          //  width: 14px
        .carousel-control-prev
          transform: rotate(180deg)
      iframe
        margin-left: 100px
        margin-right: 100px
        margin-top: 30px
        margin-bottom: 30px
        max-width: 100%
        @media (max-width: 1199px)
          margin-left: 0
          margin-right: 0
        @media (max-width: 500px)
          height: 200px


