.blog-article__header-buttons.container
  a(href="blog.html").blog-article__back-btn Back to Blog
    +svg('arrow-new', 'blog-article__back-svg blog-article__back-next-svg svg')
  a(href="blog-article.html").blog-article__next-btn Next Article
    +svg('arrow-new', 'blog-article__next-svg blog-article__back-next-svg svg')
.main.container
  .row
    h1.offset-xl-1.col-xl-10 Flat Eyelash Extensions & Mixing Possibilities
  .row
    p.blog-article__date.offset-xl-1.col-xl-10 Feb 27, 2018
  .blog-article__content
    img(src="img/blog-article-img.jpg", alt="blog-article-img")
    p If you’re a lash lover (aka Lashista®) and love high-impact looks or wish to conceal gaps along your lash line, there’s no better time than this to request our next generation flat eyelash extensions, Faux Mink X-Wrap®, from your Xtreme Lashes® Lash Stylist.
    p The unique anatomy of the Xtreme Lashes®Faux Mink X-Wrap® eyelash extensions allows it to conceal gaps and sparse areas along the lash line, in addition to providing a bold, voluminous lash look without compromising the health of its wearer’s natural eyelashes.
    h6 Mixing Round & Flat Eyelash Extensions
    p But what about on days when you yearn for something that falls in between high-impact and natural? Easy! Ask your Xtreme Lashes Lash Stylist about mixing some Faux Mink Bold™ into your <a href="#"> Faux Mink X-Wrap </a> design for a touch of subtle softness.
    p How to do it: In a Single-Layer™ application, incorporate 0.07mm and 0.05mm Faux Mink Bold eyelash extensions on the inner and outer corner of the lash line as natural eyelashes there are thinner and more delicate. Use Faux Mink X-Wrap for the rest of the frame.

    #carouselBlogArticle.carousel.slide(data-ride='carousel' data-interval='false')
      .carousel-inner
        .carousel-item.active
          img.d-block(src='img/blog-article-slider.jpg' alt='Первый слайд')
        .carousel-item
          img.d-block(src='img/course-1.jpg' alt='Второй слайд')
        .carousel-item
          img.d-block(src='img/academy-main.jpg' alt='Третий слайд')
        //.carousel-item
          | <iframe width="100%" height="590px" src="https://www.youtube.com/embed/AvMl3StAju4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        a.carousel-control-prev(href='#carouselBlogArticle' role='button' data-slide='prev')
          //span.carousel-control-prev-icon(aria-hidden='true')
          +svg('arrow', 'slider-arrow-left slider-arrows svg')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselBlogArticle' role='button' data-slide='next')
          //span.carousel-control-next-icon(aria-hidden='true')
          +svg('arrow', 'slider-arrow-right slider-arrows svg')
          span.sr-only Next
        ol.carousel-indicators
          li.active(data-target='#carouselBlogArticle' data-slide-to='0')
          li(data-target='#carouselBlogArticle' data-slide-to='1')
          li(data-target='#carouselBlogArticle' data-slide-to='2')

    h6 Our Flat Eyelash Extensions: The X-Wrap
    p These unique flat eyelash extensions make a dramatic statement from their full, dark base to their precise, tapered tips. The flat, wide base fills and corrects the appearance of gaps between natural eyelashes, giving an eyeliner effect along the lash line.
    p The Faux Mink X-Wrap lash’s interlocking “X” shape guides the extension to wrap around the natural lash, locking it into place. This “X” shape also allows for strong lash attachment from any direction (top, bottom, or either side), giving more application flexibility than other flat lash shapes.

    <iframe width="560" height="315" src="https://www.youtube.com/embed/AvMl3StAju4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    //http://fancyapps.com/fancybox/#examples


