.blog-article-page
  section
    h3
      padding-top: 40px
      padding-bottom: 0
      margin-bottom: -20px
      text-align: center
      border-top: 1px solid #dcdcdc
      @media (max-width: 991px)
        margin-bottom: 40px
    .latest-article__items
      @media (max-width: 991px)
        display: none
    .owl-carousel-latest-article__items
      @media (min-width: 991px)
        display: none
      .latest-article__head,
      .latest-article__date
        color: #000000!important
      .latest-article__line
        background-color: #000000!important
      .latest-article__img
        @media (max-width: 575px)
          max-width: 100%
      .owl-dots
        .owl-dot
          span
            background-color: #ffffff
            border: 1px solid #000000
        .active
          span
            border: 2px solid #000000!important
