.courses.container
  h3.row.justify-content-center.align-items-center New courses from infinity lashes
  .items
    .row
      +coursesItem('img/card.jpg', 'Basic Training', 'Learn the professional 1: 1 eyelash extension technique')
      +coursesItem('img/card2.jpg', 'Intensive Training', 'Intensive beginner training for professional learning of the 1:1 eyelash exasdd')
      +coursesItem('img/card3.jpg', 'XPERT Training', 'Deepen your knowledge about permanent eyelash extensions.')

  .items-in-slider.owl-carousel-main-cards.owl-carousel
    .item
      a(href="course.html" title="Register")
        .card-img-top.card-img-top
          img(src='img/card.jpg' alt='item')
        .card-body
          .when-price
            +svg('date', 'date-card svg')
            span April
            span 950 €
          .card-body__main.justify-content-center
            .adaptive-wrapper
              h5.card-title Basic Training
              .card-text Learn the professional 1: 1 eyelash extension technique
            a(href="course.html" title="Register").btn.btn-primary Register register
    .item
      a(href="course.html" title="Register")
        .card-img-top.card-img-top
          img(src='img/card2.jpg' alt='item')
        .card-body
          .when-price
            +svg('date', 'date-card svg')
            span April
            span 950 €
          .card-body__main.justify-content-center
            .adaptive-wrapper
              h5.card-title Intensive Training
              .card-text Intensive beginner training for professional learning of the 1:1 eyelash ex....
            a(href="course.html" title="Register").btn.btn-primary Register
    .item
      a(href="course.html" title="Register")
        .card-img-top.card-img-top
          img(src='img/card3.jpg' alt='item')
        .card-body
          .when-price
            +svg('date', 'date-card svg')
            span April
            span 950 €
          .card-body__main.justify-content-center
            .adaptive-wrapper
              h5.card-title XPERT Training
              .card-text Deepen your knowledge about permanent eyelash extensions.
            a(href="course.html" title="Register").btn.btn-primary Register