.main-page
  .courses
    margin-bottom: 20px
    h3
      margin-top: 58px
      margin-bottom: 49px
      text-transform: uppercase
      @media (max-width: 350px)
        margin-left: auto
        margin-right: auto
        max-width: 90%
        text-align: center
        font-size: 14px
  .owl-carousel-main-cards
    margin-bottom: 100px
    display: none
    .adaptive-wrapper
      @media (max-width: 767px)
        width: 90%!important
      @media (max-width: 500px)
        width: 100%!important

    //.owl-item
      // .item
      //   .card-body
      //     @media (max-width: 767px)
      //       max-width: 520px
      //     @media (max-width: 576px)
      //       max-width: 90%
      //       margin-left: auto
      //       margin-right: auto
      //     .card-body__main
      //       @media (max-width: 767px)
      //         display: flex
      //         align-items: center
      //         min-height: 135px
      //         text-align: left
      //       @media (max-width: 450px)
      //         flex-direction: column
      //         text-align: center
      //       p
      //         @media (max-width: 450px)
      //           padding-bottom: 20px
            // .card-body__main-text
            //   @medi.card-body__main-text
            //   @media (max-width: 767px)
            //     border-right: 1px solid #d9d9d9
            //     margin-right: 20px
            //   @media (max-width: 500px)
            //     margin-right: 0
            //     border-right: none
                //margin-bottom: 20px

        //   .btn
        //     @media (max-width: 767px)
        //       position: static
        //       transform: none
        //       width: 180px
        //       height: 40px
        //       padding: 8px 48px
        // .card-img-top
        //   height: 375px!important
        //   @media (max-width: 767px)
        //     max-width: 520px
        //   @media (max-width: 576px)
        //     max-width: 90%
        //     margin-left: auto
        //     margin-right: auto
        //   @media (max-width: 450px)
        //     height: 200px!important
        //   img
        //     @media (max-width: 767px)
        //       height: auto
        //       width: 100%



        // h5
        //   font-family: "MontserratSemiBold", sans-serif
        //   font-size: 20px
        //   @media (max-width: 500px)
        //     text-align: center
    //.owl-dots
      // position: absolute
      // margin-left: 50%
      // margin-top: 40px
      // transform: translateX(-50%)
      // .owl-dot
      //   height: 12px
      //   width: 12px
      //   background-color: #fff
      //   border: 1px solid #000000
      //   border-radius: 50%
      //   margin-right: 10px
      // .owl-dot.active
      //   border: 2px solid #000000

        //





