.account-page
  .profile-and-settings
    @media (max-width: 991px)
      max-width: 400px
    @media (max-width: 767px)
      max-width: 470px
      margin-left: -5px
      margin-right: -5px
  .account-page__unsubscribe-link,
  .account-page__subscribe-link
    color: #8c8c8c
    text-decoration: underline
  .account-page__unsubscribe-link-wrapper
    display: flex
    .unsubscribed-icon
      height: 19px
      width: 19px
      margin-left: 20px
      visibility: hidden
      opacity: 0
      transition: .4s all ease-in-out

