main.container
  h1 my account
  //a(href="#").back-to-menu
    h2 Profile and settings
      +svg('totop', 'back-adaptive-menu svg')
  .account-page__two-parts-wrapper.row
    .account-page__left-part.col-xl-5.offset-xl-1.col-lg-6.offset-lg-0
      p.account-page__hello Hello, <span>Max Factor</span>

      //#account-page__list-tab-show
      #account-page__list-tab.list-group
        a#list-profile-list.list-group-item.list-group-item-action.active Profile and settings
        a#list-payment-list.list-group-item.list-group-item-action Payment Methods
        a#list-shipping-adress-list.list-group-item.list-group-item-action Shipping Address
        a#list-orders-list.list-group-item.list-group-item-action My orders
        a#list-logout-list.list-group-item.list-group-item-action Logout

    .account-page__right-part.col-xl-6.col-lg-6
      #nav-tabContent.tab-content
        #list-profile.tab-pane.fade.active.show.profile-and-settings(role='tabpanel' aria-labelledby='list-profile-list')
          h4 Profile and settings
          p.account-page__right-head-p You can update your Infiniti Lashes account at any time and make any changes to the information below.
          .grey-form__with-left-line
            form.grey-form
              .form-group
                label(for='account-page__select-who') title
                select#account-page__select-who.form-control
                  option Mr
                  option Miss
                  option Missisipi
              .form-group
                label(for='account-page__first-name') first name
                input#account-page__first-name.form-control(type='text' required)
              .form-group
                label(for='account-page__last-name') last name
                input#account-page__last-name.form-control(type='text' required)
              .form-group
                label(for='account-page__company-name') company
                input#account-page__company-name.form-control(type='text' required)
              .form-group
                label(for='account-page__email-input') e-mail / login
                input#account-page__email-input.form-control(type='email' aria-describedby='emailHelp' required)
                .invalid-feedback
                  | Looks bad!
                //small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
              label(for='account-page__select-day') birthday
              .grey-form__date-pick
                .form-group
                  select#account-page__select-day.form-control.account-page__select-day
                    //option 05
                    //option 06
                    //option 07
                .form-group
                  //label(for='account-page__select-day') birthday
                  select#account-page__select-month.form-control.account-page__select-month
                    //option June
                    //option September
                    //option March
                .form-group
                  //label(for='account-page__select-day') birthday
                  select#account-page__select-year.form-control.account-page__select-year
                    //option 1993
                    //option 1994
                    //option 1995
              label(for='account-page__radio-female') gender
              br
              .custom-control.custom-radio.custom-control-inline
                input#account-page__radio-female.custom-control-input(type='radio' name='account-page__gender')
                label.custom-control-label(for='account-page__radio-female') Female
              .custom-control.custom-radio.custom-control-inline
                input#account-page__radio-male.custom-control-input(type='radio' name='account-page__gender')
                label.custom-control-label(for='account-page__radio-male') Male
              hr
              .form-group
                label(for='account-page__old-pass-input') old password
                input#account-page__old-pass-input.form-control(type='password' required)
              .form-group
                label(for='account-page__new-pass-input') new password
                input#account-page__new-pass-input.form-control(type='password' required)
              .form-group
                label(for='account-page__new-pass-check') confirm password
                input#account-page__new-pass-check.form-control(type='password' required)
              //.form-check
                .grey-form__forgot-pass.custom-control.custom-checkbox
                  input#account-page__updates.custom-control-input(type='checkbox')
                  label.custom-control-label(for='account-page__updates') Sign up to hear about exclusive updates and receive 10% off your next online purchase.
              //.form-check
                .grey-form__forgot-pass.custom-control.custom-checkbox
                  input#account-page__agree.custom-control-input(type='checkbox')
                  label.custom-control-label(for='account-page__agree') I agree to the Terms & Conditions. Read Details
              hr.account-page__unsubscribe
              .account-page__unsubscribe-link-wrapper
                a(href="#").account-page__unsubscribe-link Unsubcribe newsletter - Выводить одну!
                +svg('unsubscribed', 'unsubscribed-icon svg')
              a(href="#exampleInputEmail1").account-page__subscribe-link.scrolltomail Subcribe newsletter
              button.btn.btn-primary(type='submit') Save changes
              //.grey-form__line
              //p.grey-form__or-with-lines or
              //.grey-form__line
              //button.btn.btn-primary.facebook-btn(type='submit') sign in with facebook
              //button.btn.btn-primary.google-btn(type='submit') sign in with google +

  .svgHide
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" style="position:absolute">
    <symbol id="unsubscribed" viewBox="0 0 20 20">
    <defs><style>.cls-1-uns-ok{fill:none;stroke:#fff;stroke-miterlimit:10}</style></defs><title>ok_round</title><g id="Layer_2" data-name="Layer 2"><g id="ok_check"><circle cx="10" cy="10" r="10"></circle><path class="cls-1-uns-ok" d="M15.04 5l-7.22 9.49-2.87-3.48"></path></g></g>
    </symbol></svg>