$container-max-widths: (
        sm: 520px,
        md: 690px,
        lg: 930px,
        xl: 1170px
);
$primary: #000;

$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem !default; // Assumes the browser default, typically `16px`

$h3-font-size: 1rem;

$border-radius: 0;
//$input-placeholder-color: #000;
$component-active-bg: transparent;
$input-btn-focus-width: 0.5px;
$input-btn-focus-color: rgba($component-active-bg, .25) !default;
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

// Links
//
// Style anchor elements.

$link-color: #000;
//$link-decoration:           none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media (max-width: 575px) {
    padding-left: 15px!important;
  padding-right: 15px!important;

  }
}

.btn-lg, .btn-group-lg > .btn {
  font-size: 13px !important;
  color: #000 !important;
}

.btn-secondary {
  background-color: #fff !important;
  border-color: #e6e6e6 !important;
  border-radius: 0 !important;
  border-width: 1px !important;
  &:focus {
    border-width: 1px !important;
    box-shadow: none !important;
  }
  &:active {
    border-width: 1px !important;
    box-shadow: none !important;
  }
}

.btn-primary {
  font-family: "MontserratSemiBold", sans-serif!important;
  text-transform: uppercase!important;
}

.modal-content {
  border-radius: 0!important;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropme {
  transform: rotate(90deg);
  width: 25px;
  height: 10px;
  fill: #939393;
  position: absolute;
  right: 15px;
  top: 20px;
}

h3 {
  text-transform: uppercase;
}

hr {
  border-top: 1px solid #bfbfbf !important;
}

$input-placeholder-color: #bfbfbf;

.list-group {
  .list-group-item {
    margin-bottom: 0;
  }
  a {
    position: relative;
    padding-left: 95px;
    padding-top: 25px;
    height: 75px;
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    border-left: 2px solid #F7F7F7;
    //transition: all .1s ease-in-out;
  }
  #list-profile-list,
  #list-payment-list {
    &:after {
      position: absolute;
      content: '';
      height: 1px;
      width: 85%;
      background-color: #d9d9d9;
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;

    }
  }
  a.list-group-item.active {
    color: #000;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    z-index: auto;
    font-family: "MontserratSemiBold", sans-serif;
    //border: 1px solid #D9D9D9;
    border-left: 2px solid #b29859;
  }
  a.list-group-item {
    background-color: #f7f7f7;
  }
}

.was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label {
  color: #000!important;
  &:before {
    background-color: #fff !important;
  }
}





/* remove original icons in select */
//select {
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  -o-appearance: none;
//}
//select + i.fa {
//  float: right;
//  margin-top: -30px;
//  margin-right: 5px;
//  /* this is so when you click on the chevron, your click actually goes on the dropdown menu
//  pointer-events: none;
//  /* everything after this is just to cover up the original arrow
//  /* (for browsers that don't support the syntax used above)
//  background-color: #fff;
//  padding-right: 5px;
//}

/* no standardized syntax available, no ie-friendly solution available*/

//$font-size: 16px
//$font-family: "Roboto", sans-serif
//$line-height: 1.2em
//$font: #{$font-size}/#{$line-height} #{$font-family}, "Arial", sans-serif
//$color: #ffffff
//$main-color: #eee
//$main-color-hover: #ffffff
//$success-color: #5cb85c
//$warning-color: #f0ad4e
//$info-color: #5bc0de
//$error-color: #ff5656
//$base-font-color: #353434