/* montserrat-regular - cyrillic_latin */
@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 400
  src: url('../fonts/montserrat-v12-cyrillic_latin-regular.eot')
  /* IE9 Compat Modes
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url('../fonts/montserrat-v12-cyrillic_latin-regular.eot?#iefix') format("embedded-opentype"), url('../fonts/montserrat-v12-cyrillic_latin-regular.woff2') format("woff2"), url('../fonts/montserrat-v12-cyrillic_latin-regular.woff') format("woff"), url('../fonts/montserrat-v12-cyrillic_latin-regular.ttf') format("truetype"), url('../fonts/montserrat-v12-cyrillic_latin-regular.svg#Montserrat') format("svg")
/* Legacy iOS


/* montserrat-600 - cyrillic_latin*/
@font-face
  font-family: 'MontserratSemiBold'
  font-style: normal
  font-weight: 600
  src: url('../fonts/montserrat-v12-cyrillic_latin-600.eot')
  /* IE9 Compat Modes
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url('../fonts/montserrat-v12-cyrillic_latin-600.eot?#iefix') format("embedded-opentype"), url('../fonts/montserrat-v12-cyrillic_latin-600.woff2') format("woff2"), url('../fonts/montserrat-v12-cyrillic_latin-600.woff') format("woff"), url('../fonts/montserrat-v12-cyrillic_latin-600.ttf') format("truetype"), url('../fonts/montserrat-v12-cyrillic_latin-600.svg#Montserrat') format("svg")
/* Legacy iOS


/* montserrat-700 - cyrillic_latin*/
@font-face
  font-family: 'MontserratBold'
  font-style: normal
  font-weight: 700
  src: url('../fonts/montserrat-v12-cyrillic_latin-700.eot')
  /* IE9 Compat Modes
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url('../fonts/montserrat-v12-cyrillic_latin-700.eot?#iefix') format("embedded-opentype"), url('../fonts/montserrat-v12-cyrillic_latin-700.woff2') format("woff2"), url('../fonts/montserrat-v12-cyrillic_latin-700.woff') format("woff"), url('../fonts/montserrat-v12-cyrillic_latin-700.ttf') format("truetype"), url('../fonts/montserrat-v12-cyrillic_latin-700.svg#Montserrat') format("svg")
/* Legacy iOS