@import '_mixins'
@import '_fonts' //Подключаем шрифты






@import '../blocks/common/global'

//подключаем блоки стандартные, которые нужны
//@import '../standart_blocks/burger/burger'

/*custom start*/
@import '../../source/blocks/**/*'
//@import '_media' // Всегда в конце


//for backend  
.text-danger a
  color: #dc3545 !important
.text-danger
  margin: 0
.simple-header
  font-family: "MontserratSemiBold", sans-serif
  font-size: 16px
  line-height: 20px
  text-align: center
  text-transform: uppercase
  margin-bottom: 0
  margin-top: 35px

// owl-carousel fix
.owl-carousel
  touch-action: manipulation

//for back
// #accordionFaq .card .card-body .card-body-block-wrapper ul li, #accordionCareers .card .card-body .card-body-block-wrapper ul li, #accordionSets .card .card-body .card-body-block-wrapper ul li img
//   width: 0
//   height: 0
// #accordionFaq .card .card-body .card-body-block-wrapper ul li, #accordionCareers .card .card-body .card-body-block-wrapper ul li, #accordionSets .card .card-body .card-body-block-wrapper ul li
//   height: 300px

#accordionSets
  .lSSlideWrapper
    height: 430px!important
    visibility: visible
    opacity: 1
    transition: all 0.4s
    @media (max-width: 1199px)
      height: auto!important
    @media (max-width: 991px)
      height: 430px!important
    @media (max-width: 450px)
      height: 300px!important
#accordionSets
  .lSSlideWrapper-hide
    visibility: hidden!important
    opacity: 0!important