.img-and-text__head.container-fluid
    .img-and-text__main-img.row
        h1.img-and-text__main-text infinity lashes blog
        .img-and-text__text News, articles and everything you wanted to know