.container
  .latest-article__items.row
    a(href="blog-article.html" title="Read more").latest-article__item.col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
      .latest-article__img
        img(src="img/main-article-1.jpg" alt="main-article-1")
      .latest-article__descr
        .latest-article__date-block
          .latest-article__date Apr 12, 2018
          .latest-article__line
        p.latest-article__head 7 Reasons to Remove Eyelash Extensions
    a(href="blog-article.html" title="Read more").latest-article__item.col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
      .latest-article__img
        img(src="img/main-article-2.jpg" alt="main-article-1")
      .latest-article__descr
        .latest-article__date-block
          .latest-article__date mar 22, 2018
          .latest-article__line
        p.latest-article__head What To Do When Lashes Hit Your Glasses
    a(href="blog-article.html" title="Read more").latest-article__item.col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
      .latest-article__img
        img(src="img/main-article-3.jpg" alt="main-article-1")
      .latest-article__descr
        .latest-article__date-block
          .latest-article__date mar 1, 2018
          .latest-article__line
        p.latest-article__head The Customer Loyalty Journey
    a(href="blog-article.html" title="Read more").latest-article__item.col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
      .latest-article__img
        img(src="img/main-article-4.jpg" alt="main-article-1")
      .latest-article__descr
        .latest-article__date-block
          .latest-article__date feb 27, 2018
          .latest-article__line
        p.latest-article__head Flat Eyelash Extensions & Mixing Possibilities
    a(href="blog-article.html" title="Read more").latest-article__item.col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
      .latest-article__img
        img(src="img/main-article-5.jpg" alt="main-article-1")
      .latest-article__descr
        .latest-article__date-block
          .latest-article__date feb 23, 2018
          .latest-article__line
        p.latest-article__head Full, Feathery Brows with Long Lasting Brow Pen
    a(href="blog-article.html" title="Read more").latest-article__item.col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
      .latest-article__img
        img(src="img/main-article-6.jpg" alt="main-article-1")
      .latest-article__descr
        .latest-article__date-block
          .latest-article__date feb 15, 2018
          .latest-article__line
        p.latest-article__head How to display makeup, cosmetics, and skincare in a small salon
    a(href="blog-article.html" title="Read more").latest-article__item.col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
      .latest-article__img
        img(src="img/main-article-7.jpg" alt="main-article-1")
      .latest-article__descr
        .latest-article__date-block
          .latest-article__date feb 5, 2018
          .latest-article__line
        p.latest-article__head 7 Little Known Eyelash Extension Facts
    a(href="blog-article.html" title="Read more").latest-article__item.col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
      .latest-article__img
        img(src="img/main-article-8.jpg" alt="main-article-1")
      .latest-article__descr
        .latest-article__date-block
          .latest-article__date jan 29, 2018
          .latest-article__line
        p.latest-article__head Why Does It Take So Long To Apply Eyelash Extensions?
    a(href="blog-article.html" title="Read more").latest-article__item.col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
      .latest-article__img
        img(src="img/main-article-9.jpg" alt="main-article-1")
      .latest-article__descr
        .latest-article__date-block
          .latest-article__date jan 16, 2018
          .latest-article__line
        p.latest-article__head Hair conditioner causing lash extension loss?
  button.btn.btn-primary.blog-load-more load more