/* ============================================================================
 * header with sort
 * ============================================================================ */
.shop-page__main-head
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 35px
  text-transform: uppercase
  @media (max-width: 575px)
    flex-wrap: wrap
  .shop-page__category-chosen
    font-family: "MontserratBold", sans-serif
    font-size: 15px
    flex-basis: 300px
    @media (max-width: 991px)
      visibility: hidden
      display: none
    span
      color: #b3b3b3
  .shop-page__sort
    position: relative
    width: 80%
    justify-content: space-between
    padding-right: 30px
    display: flex
    font-family: "MontserratSemiBold", sans-serif
    font-size: 12px
    @media (max-width: 1199px)
      padding-right: 0
    @media (max-width: 991px)
      width: 100%
    @media (max-width: 400px)
      flex-wrap: wrap
    .shop-page__filter
      position: relative
      cursor: pointer
      z-index: 2
      @media (max-width: 400px)
        padding-right: 15px
      &::after
        content: url(../img/svg/shop-plus.svg)
        position: absolute
        right: -25px
        top: -5px
        font-size: 20px
        height: 20px
        width: 20px
        @media (max-width: 400px)
          right: -5px
    .shop-page__filter-minus
      &::after
        content: url(../img/svg/shop-minus.svg)!important
        top: -14px!important
        width: 14px!important
        right: -23px
        @media (max-width: 400px)
          right: -5px
    .shop-page__category-adaptive
      position: relative
      cursor: pointer
      z-index: 2
      visibility: hidden
      @media (max-width: 1199px)
        visibility: visible
      @media (max-width: 400px)
        padding-right: 15px
      &::after
        content: url(../img/svg/shop-plus.svg)
        position: absolute
        right: -25px
        top: -5px
        font-size: 20px
        height: 20px
        width: 20px
        // @media (max-width: 575px)
        //   right: auto
        //   left: 80px
        @media (max-width: 400px)
          left: auto
          right: -5px
    .shop-page__category-adaptive-minus
      &::after
        content: url(../img/svg/shop-minus.svg)!important
        top: -14px!important
        width: 14px
        right: -23px
        @media (max-width: 400px)
          right: -5px
    .shop-page__sort-by
      position: relative
      cursor: pointer
      z-index: 2
      @media (max-width: 1199px)
        margin-right: 20px
      @media (max-width: 400px)
        padding-right: 15px
        margin-right: 0
      &::after
        content: url(../img/svg/shop-plus.svg)
        position: absolute
        right: -25px
        top: -5px
        font-size: 20px
        height: 20px
        width: 20px
        @media (max-width: 400px)
          right: -5px
    .sort-variants
      position: absolute
      right: 0
      top: 27px
      z-index: 4
      background-color: #fff
      border: 1px solid #e6e6e6
      box-sizing: border-box
      width: 170px
      padding: 20px 29px 7px
      opacity: 0
      visibility: hidden
      transition: .2s all ease-in-out
      @media (max-width: 575px)
        top: 15px
      ul
        margin: 0
        padding: 0
        list-style: none
        text-transform: none
        font-size: 12px
        li
          margin-bottom: 20px
    //.show-sort-variants
      visibility: visible !important
      opacity: 1 !important
