.shop-page__sort
  //span Sort by
  //.dropdown
    button#dropdownMenuButton.btn.btn-secondary.btn-lg.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
      | Relevance
      +svg('totop', 'dropme svg')
    .dropdown-menu(aria-labelledby='dropdownMenuButton')
      a.dropdown-item(href='#') Relevance
      a.dropdown-item(href='#') Relevance
      a.dropdown-item(href='#') Something else here
  .shop-page__category-adaptive category Lorem, ipsum dolor.
  .shop-page__filter filter
  .shop-page__sort-by sort by
  .sort-variants
    ul
      li
        a(href="#") New Arrivals
      li
        a(href="#") Best Sellers
      li
        a(href="#") Price Low to High
      li
        a(href="#") Price High to Low
      li
        a(href="#") Relevance
