#category-adaptive-wrapper
  position: absolute
  z-index: 1
  border-bottom: 1px solid #bfbfbf
  background-color: rgba(255, 255, 255, 0.97)
  opacity: 0
  visibility: hidden
  text-outline: 127px
  transition: .2s all ease-in-out
  top: 126px
  padding-top: 70px
  @media (min-width: 1199px)
    display: none
  .container
    position: relative

  .card
    margin-bottom: 60px
    @media (max-width: 575px)
      margin-bottom: 10px
  h5
    display: inline-block
  .btn-link
    display: inline-block
    position: static!important
    padding: 0
    line-height: 14px
    font-size: 20px!important
.show-adaptive-wrapper
  visibility: visible !important
  opacity: 1 !important