.container-fluid.category-adaptive-wrapper#category-adaptive-wrapper
  .container
    .row
      .col-xl-12
        #accordion2.row
          .card.col-lg-3.col-md-4.col-sm-4.col-12
            #headingAdaptiveOne.card-header
              h5.mb-0
                a(href="shop.html")
                  | Lashes
              button.aside-plus-button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseAdaptiveOne' aria-expanded='true' aria-controls='collapseAdaptiveOne')
                | +
            #collapseAdaptiveOne.collapse(aria-labelledby='headingAdaptiveOne' data-parent='#accordion2')



              .card-body
                a(href="shop.html") Silk Lashes
                a(href="shop.html") Mink Lashes
                a(href="shop.html") Natural Lashes
                a(href="shop.html") Flat Lashes
                a(href="shop.html") Color Lashes
                a(href="shop.html").active Sets
          .card.col-lg-3.col-md-4.col-sm-4.col-12
            #headingAdaptiveTwo.card-header
              h5.mb-0
                a(href="shop.html") New Arrivals
              button.aside-plus-button.btn.btn-link.collapsed(href="#" data-toggle='collapse' data-target='#collapseAdaptiveTwo' aria-expanded='false' aria-controls='collapseAdaptiveTwo')
                | +
            //#collapseAdaptiveTwo.collapse(aria-labelledby='headingAdaptiveTwo' data-parent='#accordion2')
              .card-body
                | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
          .card.col-lg-3.col-md-4.col-sm-4.col-12
            #headingAdaptiveThree.card-header
              h5.mb-0
                a(href="shop.html") Tweezers
              button.aside-plus-button.btn.btn-link.collapsed(href="#" data-toggle='collapse' data-target='#collapseAdaptiveThree' aria-expanded='false' aria-controls='collapseAdaptiveThree')
                | +
            //#collapseAdaptiveThree.collapse(aria-labelledby='headingAdaptiveThree' data-parent='#accordion2')
              .card-body
                | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
          .card.col-lg-3.col-md-4.col-sm-4.col-12
            #headingAdaptiveFore.card-header
              h5.mb-0
                a(href="shop.html") Glue
                button.aside-plus-button.btn.btn-link.collapsed(href="#" data-toggle='collapse' data-target='#collapseAdaptiveFore' aria-expanded='false' aria-controls='collapseAdaptiveFore')
                  | +
            //#collapseAdaptiveFore.collapse(aria-labelledby='headingAdaptiveFore' data-parent='#accordion2')
              .card-body
                | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
          .card.col-lg-3.col-md-4.col-sm-4.col-12
            #headingAdaptiveFive.card-header
              h5.mb-0
                a(href="shop.html") Liquids
                button.aside-plus-button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseAdaptiveFive' aria-expanded='false' aria-controls='collapseAdaptiveFive')
                  | +
            #collapseAdaptiveFive.collapse(aria-labelledby='headingAdaptiveFive' data-parent='#accordion2')
              .card-body
                a(href="shop.html") Silk Lashes
                a(href="shop.html") Mink Lashes
                a(href="shop.html") Natural Lashes
                a(href="shop.html") Flat Lashes
                a(href="shop.html") Color Lashes
                a(href="shop.html") Sets
          .card.col-lg-3.col-md-4.col-sm-4.col-12
            #headingAdaptiveSix.card-header
              h5.mb-0
                a(href="shop.html")
                  | Lifting & Lamination
                button.aside-plus-button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseAdaptiveSix' aria-expanded='false' aria-controls='collapseAdaptiveSix')
                  | +
            #collapseAdaptiveSix.collapse(aria-labelledby='headingAdaptiveSix' data-parent='#accordion2')
              .card-body
                a(href="shop.html") Silk Lashes
                a(href="shop.html") Mink Lashes
                a(href="shop.html") Natural Lashes
                a(href="shop.html") Flat Lashes
                a(href="shop.html") Color Lashes
                a(href="shop.html") Sets
          .card.col-lg-3.col-md-4.col-sm-4.col-12
            #headingAdaptiveSeven.card-header
              h5.mb-0
                a(href="shop.html")
                  | Accessories
                button.aside-plus-button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseAdaptiveSeven' aria-expanded='false' aria-controls='collapseAdaptiveSeven')
                  | +
            #collapseAdaptiveSeven.collapse(aria-labelledby='headingAdaptiveSeven' data-parent='#accordion2')
              .card-body
                a(href="shop.html") Silk Lashes
                a(href="shop.html") Mink Lashes
                a(href="shop.html") Natural Lashes
                a(href="shop.html") Flat Lashes
                a(href="shop.html") Color Lashes
                a(href="shop.html") Sets
          .card.col-lg-3.col-md-4.col-sm-4.col-12
            #headingAdaptiveEight.card-header
              h5.mb-0
                a(href="shop.html")
                  | Sets
                button.aside-plus-button.btn.btn-link.collapsed(href="#" data-toggle='collapse' data-target='#collapseAdaptiveEight' aria-expanded='false' aria-controls='collapseAdaptiveEight')
                  | +
          .card.col-lg-3.col-md-4.col-sm-4.col-12
            #headingAdaptiveNine.card-header
              h5.mb-0
                a(href="shop.html")
                  | Care Products
                button.aside-plus-button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseAdaptiveNine' aria-expanded='false' aria-controls='collapseAdaptiveNine')
                  | +
            #collapseAdaptiveNine.collapse(aria-labelledby='headingAdaptiveNine' data-parent='#accordion2')
              .card-body
                a(href="shop.html") Silk Lashes
                a(href="shop.html") Mink Lashes
                a(href="shop.html") Natural Lashes
                a(href="shop.html") Flat Lashes
                a(href="shop.html") Color Lashes
                a(href="shop.html") Sets
          .card.col-lg-3.col-md-4.col-sm-4.col-12
            #headingAdaptiveTen.card-header
              h5.mb-0
                a(href="shop.html")
                  | Gift Cards
                button.aside-plus-button.btn.btn-link.collapsed(href="#" data-toggle='collapse' data-target='#collapseAdaptiveTen' aria-expanded='false' aria-controls='collapseAdaptiveTen')
                  | +