.shop-page,
.search-page
  aside
    max-width: 340px
    margin-right: 60px
    @media (max-width: 1199px)
      display: none
  #accordion,
  #accordion2
    //margin-top: -15px
    .card
      border: none
      padding-right: 0px
      //border-bottom: 1px solid #d9d9d9
      .card-header
        border: none
        background-color: #fff
        padding: 15px 0
        position: relative
        a
          padding: 0
        .aside-plus-button
          .shop-plus-aside,
          .shop-minus-aside
            height: 30px
            width: 30px
          .shop-minus-aside
            padding-left: 5px
            padding-right: 5px

        //   text-decoration: none
        //   position: absolute
        //   right: -295px
        //   top: -10px
        //   font-size: 40px
        //   font-family: "Montseratt", sans-serif
        //   &:hover
        //     text-decoration: none
      .card-body
        padding-left: 70px
        padding-bottom: 25px
        a
          display: block
          margin-bottom: 25px
          font-size: 15px
      .active
        font-family: "MontserratSemiBold", sans-serif !important
      .btn-link
        position: absolute
        right: 0
        top: -8px
        //text-align: left
        font-size: 35px
        font-family: "Montserrat", sans-serif
        transition: 1s all ease-in-out
        text-decoration: none
        &.collapsed
          font-family: "Montserrat", sans-serif
          transition: 1s all ease-in-out
        // &:after
        //   content: "-"
        //   position: absolute
        //   right: 0px
        //   bottom: 10px
        //   font-size: 20px
        //   font-weight: bold
        // &.collapsed:after
        //   content: "+"
        //   position: absolute
        //   right: 0px
        //   font-size: 20px
        //   font-weight: bold
      button
        padding-left: 0
      .remove-plus
        display: none
        //&.collapsed:after
        //  content: ""
    .accordion-inside
      .card-body
        padding-top: 0
      .card-header
        padding-top: 0
        padding-bottom: 5px
      .btn-link
        font-size: 15px
        &:after
          font-size: 15px
        &.collapsed:after
          font-size: 15px
search-page
//aside