aside.col-xl-4
  #accordion
    .card
      #headingOne.card-header
        h5.mb-0
          a(href="#")
            | Lashes
        button.aside-plus-button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
          +svg('shop-plus', 'shop-plus-aside svg')
          //| +
      #collapseOne.collapse(aria-labelledby='headingOne' data-parent='#accordion')
        //.card-body
          //| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
          .accordion-inside
            .card-inside
              #headingOne-inside.card-header
                h5.mb-0
                  button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseOne-inside' aria-expanded='true' aria-controls='collapseOne-inside')
                    | Work equipment
              #collapseOne-inside.collapse(aria-labelledby='headingOne-inside' data-parent='.accordion-inside')
                .card-body
                  a(href="#") Work equipment
            .card-inside
              #headingTwo-inside.card-header
                h5.mb-0
                  button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseTwo-inside' aria-expanded='true' aria-controls='collapseTwo-inside')
                    | Eye Pads
              #collapseTwo-inside.collapse(aria-labelledby='headingTwo-inside' data-parent='.accordion-inside')
                .card-body
                  a(href="#") Eye Pads
            .card-inside
              #headingThree-inside.card-header
                h5.mb-0
                  button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseThree-inside' aria-expanded='true' aria-controls='collapseThree-inside')
                    | Liquids
              #collapseThree-inside.collapse(aria-labelledby='headingThree-inside' data-parent='.accordion-inside')
                .card-body
                  a(href="#") Liquids
            .card-inside
              #headingFore-inside.card-header
                h5.mb-0
                  button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseFore-inside' aria-expanded='true' aria-controls='collapseFore-inside')
                    | Tweezers
              #collapseFore-inside.collapse(aria-labelledby='headingFore-inside' data-parent='.accordion-inside')
                .card-body
                  a(href="#") Tweezers
            .card-inside
              #headingFive-inside.card-header
                h5.mb-0
                  button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseFive-inside' aria-expanded='true' aria-controls='collapseFive-inside')
                    | Sets
              #collapseFive-inside.collapse(aria-labelledby='headingFive-inside' data-parent='.accordion-inside')
                .card-body
                  a(href="#") Sets
            .card-inside
              #headingSix-inside.card-header
                h5.mb-0
                  button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseSix-inside' aria-expanded='true' aria-controls='collapseSix-inside')
                    | Selling products
              #collapseSix-inside.collapse(aria-labelledby='headingSix-inside' data-parent='.accordion-inside')
                .card-body
                  a(href="#") Selling products
            .card-inside
              #headingSeven-inside.card-header
                h5.mb-0
                  button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseSeven-inside' aria-expanded='true' aria-controls='collapseSeven-inside')
                    | L+eyelashes
              #collapseSeven-inside.collapse(aria-labelledby='headingSeven-inside' data-parent='.accordion-inside')
                .card-body
                  a(href="#") L+eyelashes
            .card-inside
              #headingEight-inside.card-header
                h5.mb-0
                  button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseEight-inside' aria-expanded='true' aria-controls='collapseEight-inside')
                    | Eyelash glue
              #collapseEight-inside.collapse(aria-labelledby='headingEight-inside' data-parent='.accordion-inside')
                .card-body
                  a(href="#") Eyelash glue


        .card-body
          a(href="#") Silk Lashes
          a(href="#") Mink Lashes
          a(href="#") Natural Lashes
          a(href="#") Flat Lashes
          a(href="#") Color Lashes
          a(href="#").active Sets
    .card
      #headingTwo.card-header
        h5.mb-0
          a(href="#") New Arrivals
        button.aside-plus-button.btn.btn-link.collapsed(href="#" data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
          +svg('shop-plus', 'shop-plus-aside svg')
      //#collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordion')
        .card-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
    .card
      #headingThree.card-header
        h5.mb-0
          a(href="#") Tweezers
        button.aside-plus-button.btn.btn-link.collapsed(href="#" data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
          +svg('shop-plus', 'shop-plus-aside svg')
      //#collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordion')
        .card-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
    .card
      #headingFore.card-header
        h5.mb-0
          a(href="#") Glue
          button.aside-plus-button.btn.btn-link.collapsed(href="#" data-toggle='collapse' data-target='#collapseFore' aria-expanded='false' aria-controls='collapseFore')
            +svg('shop-plus', 'shop-plus-aside svg')
      //#collapseFore.collapse(aria-labelledby='headingFore' data-parent='#accordion')
        .card-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
    .card
      #headingFive.card-header
        h5.mb-0
          a(href="#") Liquids
          button.aside-plus-button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
            +svg('shop-plus', 'shop-plus-aside svg')
      #collapseFive.collapse(aria-labelledby='headingFive' data-parent='#accordion')
        .card-body
          a(href="#") Silk Lashes
          a(href="#") Mink Lashes
          a(href="#") Natural Lashes
          a(href="#") Flat Lashes
          a(href="#") Color Lashes
          a(href="#") Sets
    .card
      #headingSix.card-header
        h5.mb-0
          a(href="#")
            | Lifting & Lamination
          button.aside-plus-button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseSix' aria-expanded='false' aria-controls='collapseSix')
            +svg('shop-plus', 'shop-plus-aside svg')
      #collapseSix.collapse(aria-labelledby='headingSix' data-parent='#accordion')
        .card-body
          a(href="#") Silk Lashes
          a(href="#") Mink Lashes
          a(href="#") Natural Lashes
          a(href="#") Flat Lashes
          a(href="#") Color Lashes
          a(href="#") Sets
    .card
      #headingSeven.card-header
        h5.mb-0
          a(href="#")
            | Accessories
          button.aside-plus-button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseSeven' aria-expanded='false' aria-controls='collapseSeven')
            +svg('shop-plus', 'shop-plus-aside svg')
      #collapseSeven.collapse(aria-labelledby='headingSeven' data-parent='#accordion')
        .card-body
          a(href="#") Silk Lashes
          a(href="#") Mink Lashes
          a(href="#") Natural Lashes
          a(href="#") Flat Lashes
          a(href="#") Color Lashes
          a(href="#") Sets
    .card
      #headingEight.card-header
        h5.mb-0
          a(href="#")
            | Sets
          button.aside-plus-button.btn.btn-link.collapsed(href="#" data-toggle='collapse' data-target='#collapseEight' aria-expanded='false' aria-controls='collapseEight')
            +svg('shop-plus', 'shop-plus-aside svg')
    .card
      #headingNine.card-header
        h5.mb-0
          a(href="#")
            | Care Products
          button.aside-plus-button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseNine' aria-expanded='false' aria-controls='collapseNine')
            +svg('shop-plus', 'shop-plus-aside svg')
      #collapseNine.collapse(aria-labelledby='headingNine' data-parent='#accordion')
        .card-body
          a(href="#") Silk Lashes
          a(href="#") Mink Lashes
          a(href="#") Natural Lashes
          a(href="#") Flat Lashes
          a(href="#") Color Lashes
          a(href="#") Sets
    .card
      #headingTen.card-header
        h5.mb-0
          a(href="#")
            | Gift Cards
          button.aside-plus-button.btn.btn-link.collapsed(href="#" data-toggle='collapse' data-target='#collapseTen' aria-expanded='false' aria-controls='collapseTen')
            +svg('shop-plus', 'shop-plus-aside svg')