//.item //at the global.sass
  background-color: red
  .img
    background-color: green
    height: 220px
    width: 170px
    position: relative
    img
      top: 0
      left: 0
      bottom: 0
      right: 0
      position: absolute
      display: block
      max-height: 100%
      max-width: 100%
      margin: auto
  header
    margin-top: 40px
    font-family: "MontserratSemiBold", sans-serif
    font-size: 12px
    line-height: 20px
    text-align: center
  .price
    font-family: "Courier New", sans-serif
    font-size: 14px
    line-height: 20px
    text-align: center
    margin-top: 13px