.owl-carousel.owl-theme.all-pages-carousel
  .item
    a(href='shop-item.html' title="Read more")
      .img
        img(src="img/item/item.jpg" alt="carousel-img")
      header Straight tweezers for eyelashes Vetus 5B-SA
      .price-wrapper
        .sale € 11.99
        .price € 11.99
      .zzz zzgl. 19% USt.
      .badge-wrapper
        .badge-img-red-present
  .item
    a(href='shop-item.html' title="Read more")
      .img
        img(src="https://via.placeholder.com/500" alt="carousel-img")
      header Eye
      img(src="img/christmas_line.svg", alt="christmas red badge").badge-image-bottom
      .price-wrapper
        .price € 11.99
      .zzz zzgl. 19% USt.
      .badge-wrapper
        .badge-img-red
          span -15%
        .badge-img-black-present
  .item
    a(href='shop-item.html' title="Read more")
      .img
        img(src="img/car-3.jpg" alt="carousel-img")
      header Applicator for the eye lashes Nagaraku ESD-15
      .price-wrapper
        .sale € 11.99
        .price € 11.99
      .zzz zzgl. 19% USt.
      .badge-wrapper
        .badge-img-black
          span -90%
  .item
    a(href='shop-item.html' title="Read more")
      .img
        img(src="img/car-4.jpg" alt="carousel-img")
      header Fake Lashes Wimpern by MAC
      img(src="img/christmas_line.svg", alt="christmas red badge").badge-image-bottom
      .price-wrapper
        .sale € 11.99
        .price € 11.99
      .zzz zzgl. 19% USt.
      .badge-wrapper
        .badge-img-red
          span -99%
  .item
    a(href='shop-item.html' title="Read more")
      .img
        img(src="img/car-5.jpg" alt="carousel-img")
      header Mini L - lash curler by Infinity Lashes
      .price-wrapper
        .price € 11.99
      .zzz zzgl. 19% USt.
      .badge-wrapper
        .badge-img-black
          span -10%
        .badge-img-black-present
  .item
    a(href='shop-item.html' title="Read more")
      .img
        img(src="img/car-6.jpg" alt="carousel-img")
      header Mimi Lash by Infinity Lashes
      .price-wrapper
        .sale € 11.99
        .price € 11.99
      .zzz zzgl. 19% USt.
  .item
    a(href='shop-item.html' title="Read more")
      .img
        img(src="img/car-1.jpg" alt="carousel-img")
      header Straight tweezers for eyelashes Vetus 5B-SA
      .price-wrapper
        .sale € 11.99
        .price € 11.99
      .zzz zzgl. 19% USt.
  .item
    a(href='shop-item.html' title="Read more")
      .img
        img(src="img/car-2.jpg" alt="carousel-img")
      header Eye & eyebrow balm by Wimpernwelle
      .price-wrapper
        .price € 11.99
      .zzz zzgl. 19% USt.
  .item
    a(href='shop-item.html' title="Read more")
      .img
        img(src="img/car-3.jpg" alt="carousel-img")
      header Applicator for the eye lashes Nagaraku ESD-15
      .price-wrapper
        .sale € 11.99
        .price € 11.99
      .zzz zzgl. 19% USt.
  .item
    a(href='shop-item.html' title="Read more")
      .img
        img(src="img/car-4.jpg" alt="carousel-img")
      header Lashes
      .price-wrapper
        .sale € 11.99
        .price € 11.99
      .zzz zzgl. 19% USt.
  .item
    a(href='shop-item.html' title="Read more")
      .img
        img(src="img/car-5.jpg" alt="carousel-img")
      header Mini L - lash curler by Infinity Lashes
      .price-wrapper
        .sale € 11.99
        .price € 11.99
      .zzz zzgl. 19% USt.
  .item
    a(href='shop-item.html' title="Read more")
      .img
        img(src="img/car-6.jpg" alt="carousel-img")
      header Mimi Lash by Infinity Lashes
      .price-wrapper
        .price € 11.99
      .zzz zzgl. 19% USt.