.container
  h1 FAQ
  hr

  #accordionFaq.accordion
    .card
      #headingOne.card-header
        h5.mb-0
          button.btn.btn-link(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
            | How Long Does my Order take to Process?
          button.btn.btn-link.arrow-btn(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
            +svg('arrow-new', 'faq-arrow-new svg')
      #collapseOne.collapse(aria-labelledby='headingOne' data-parent='#accordionFaq')
        .card-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
    .card
      #headingTwo.card-header
        h5.mb-0
          button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
            | What makes Infinity Lashes products different from other eyelash brands on the market?
          button.btn.btn-link.collapsed.arrow-btn(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
            +svg('arrow-new', 'faq-arrow-new svg')
      #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionFaq')
        .card-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
    .card
      #headingThree.card-header
        h5.mb-0
          button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
            | What is the best removal for the lash adhesive?
          button.btn.btn-link.collapsed.arrow-btn(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
            +svg('arrow-new', 'faq-arrow-new svg')
      #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionFaq')
        .card-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
    .card
      #headingFore.card-header
        h5.mb-0
          button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseFore' aria-expanded='false' aria-controls='collapseFore')
            | How long does it take to receive my order?
          button.btn.btn-link.collapsed.arrow-btn(type='button' data-toggle='collapse' data-target='#collapseFore' aria-expanded='false' aria-controls='collapseFore')
            +svg('arrow-new', 'faq-arrow-new svg')
      #collapseFore.collapse(aria-labelledby='headingFore' data-parent='#accordionFaq')
        .card-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
    .card
      #headingFive.card-header
        h5.mb-0
          button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
            | Is eyelash adhesive included with my purchase?
          button.btn.btn-link.collapsed.arrow-btn(type='button' data-toggle='collapse' data-target='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
            +svg('arrow-new', 'faq-arrow-new svg')
      #collapseFive.collapse(aria-labelledby='headingFive' data-parent='#accordionFaq')
        .card-body
          | Is eyelash adhesive included with my purchase?