.owl-carousel__first-on-index-page.owl-theme
  height: 586px
  @media (max-width: 1199px)
    height: 340px
  @media (max-width: 991px)
    height: 240px
  // @media (max-width: 767px)
  //   height: 160px
  .owl-item
    .item
      height: 586px
      background-size: cover!important
      @media (max-width: 1199px)
        height: 340px
      @media (max-width: 991px)
        height: 240px
      // @media (max-width: 767px)
      //   height: 160px
    // .item-1
    //   background: linear-gradient(to top, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0) 100%), url('../img/main-page-slider/1/big/1big.png') center center no-repeat
    //   @media (max-width: 600px)
    //     background: linear-gradient(to top, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0) 100%), url('../img/main-page-slider/1/small/1small.png') center center no-repeat
    // .item-2
    //   background: linear-gradient(to top, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0) 100%), url('../img/main-page-slider/main-slider-2.jpg') center center no-repeat
    // .item-3
    //   background: linear-gradient(to top, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0) 100%),url('../img/main-page-slider/main-slider-3.jpg') center center no-repeat

  .owl-dots
    position: absolute
    bottom: 30px
    left: 50%
    transform: translateX(-50%)
    @media (max-width: 991px)
      bottom: 10px
    @media (max-width: 576px)
      bottom: 0
    button
      outline: none
    span
      width: 12px
      height: 12px
      background: transparent
      border: 2px solid #fff
      border-radius: 50%
    .active
      span
        background: #fff
        border-radius: 50%
  p
    width: 100%
    font-family: "MontserratBold", sans-serif
    font-size: 35px
    text-transform: uppercase
    text-align: center
    color: #fff
    position: absolute
    bottom: 175px
    left: 50%
    transform: translateX(-50%)
    @media (max-width: 991px)
      font-size: 25px
      bottom: 115px
    @media (max-width: 767px)
      font-size: 20px
    @media (max-width: 576px)
      font-size: 14px
      bottom: 150px
  .text-wrapper
    width: 100%
    position: absolute
    left: 50%
    top: 30%
    @media (max-width: 1199px)
      top: 20%
    @media (max-width: 991px)
      top: 15%
    p
      position: static
      line-height: 1
      margin-bottom: 20px
      @media (max-width: 1199px)
        margin-bottom: 10px
  .small-text
    position: absolute
    bottom: 0
    font-family: "Montserrat", sans-serif
    font-size: 12px
    text-transform: none
    left: 50%
    @media (max-width: 991px)
      font-size: 8px
      bottom: -10px
    @media (max-width: 576px)
      display: none
  // p.first
  //   bottom: auto
  //   top: 200px
  //   @media (max-width: 1199px)
  //     display: none
  // .text.first
  //   bottom: auto
  //   top: 250px
  //   @media (max-width: 1199px)
  //     display: none
  .text
    font-family: "Montserrat", sans-serif
    text-transform: none
    font-size: 18px
    bottom: 140px
    @media (max-width: 991px)
      font-size: 14px
      bottom: 85px
    @media (max-width: 576px)
      font-size: 12
      bottom: 100px
  a
    display: block
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: 88px
    color: #ffffff
    height: 40px
    width: 170px
    background-color: #262626
    border: none
    font-size: 14px
    line-height: 27px
    @media (max-width: 991px)
      bottom: 50px
    // @media (max-width: 576px)
    //   bottom: 30px
    //   height: 30px
    //   width: 110px
    //   line-height: 20px
    &:hover
      color: #ffffff


.owl-carousel .owl-stage,
.owl-carousel.owl-drag .owl-item
  touch-action: auto!important

  .item-2,
  .item-3
    p
      @media (max-width: 1199px)
        width: 40%
        bottom: 200px
      @media (max-width: 991px)
        bottom: 140px
      @media (max-width: 579px)
        bottom: 155px
      @media (max-width: 330px)
        width: 60%
    p.text
      @media (max-width: 1199px)
        bottom: 140px
        width: 50%
      @media (max-width: 991px)
        bottom: 90px
      @media (max-width: 330px)
        width: 60%




