.owl-carousel.owl-carousel__first-on-index-page.owl-theme
  .item.item-1(data-small="linear-gradient(to top, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0) 100%), url('img/main-page-slider/1/small/1small.png') center center no-repeat" data-big="linear-gradient(to top, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0) 100%), url('img/main-page-slider/1/big/1big.png') center center no-repeat")
    .text-wrapper
      p Rebranding Aktion
      p 19% Rabatt*
      p.text nur bis zum 19.10.2018
    a(href="shop.html" title="Shop now").btn.btn-primary Shop now
    p.small-text *für registrierte Kunden auf alle Produkte mit dem alten Logo, so lange der Vorrat reicht.
  .item.item-2(data-small="linear-gradient(to top, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0) 100%), url('img/main-page-slider/2/small/2small.png') center center no-repeat" data-big="linear-gradient(to top, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0) 100%), url('img/main-page-slider/2/big/2big.png') center center no-repeat")
    p Image: The Legend of Our Time
    p.text Dream becomes reality with new eyelashes from Infiniti Lashes
    a(href="shop.html" title="Shop now").btn.btn-primary Shop now
  .item.item-3(data-small="linear-gradient(to top, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0) 100%), url('img/main-page-slider/3/small/3small.png') center center no-repeat" data-big="linear-gradient(to top, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0) 100%), url('img/main-page-slider/3/big/3big.jpg') center center no-repeat")
    p Wimpernbürstchen mit Kristalen
    p.text The New Intensity
    a(href="shop.html" title="Shop now").btn.btn-primary Shop now