main.container
  .academy-page__main-head
    .academy-page__thismonth This month
    .academy-page__sort
      .dropdown#dropdownMonth
        span.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Sort by
        p.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') +
        button#dropdownMenuButton.btn.btn-secondary.btn-lg.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | This month
          +svg('totop', 'dropme svg')
        .dropdown-menu(aria-labelledby='dropdownMenuButton')
          a.dropdown-item(href='#') This month
          a.dropdown-item(href='#') This month
          a.dropdown-item(href='#') Something else here
  .academy-page__courses-items.container
    .academy-page__month-wrapper
      .academy-page__month-header
        h6 May
        hr
      .row.items
        +coursesItem('img/card.jpg', 'Basic Training', 'Learn the professional 1: 1 eyelash extension technique')
        +coursesItem('img/card2.jpg', 'Intensive Training', 'Intensive beginner training for professional learning of the 1:1 eyelash exasdd')
        +coursesItem('img/card3.jpg', 'XPERT Training', 'Deepen your knowledge about permanent eyelash extensions.')
        +coursesItem('img/card4.jpg', 'Elite Training', 'Quality assurance, exchange of experience, presentation of all new products')
        +coursesItem('img/card5.jpg', 'Volumation Training', 'New materials, new technology for even more voluminous results')
        +coursesItem('img/card6.jpg', 'In-house Training', 'Training in your usual environment')
    .academy-page__month-wrapper
      .academy-page__month-header
        h6 June
        hr
      .row.items
        +coursesItem('img/card7.jpg', 'Basic Training', 'Learn the professional 1: 1 eyelash extension technique')
        +coursesItem('img/card8.jpg', 'Intensive Training', 'Intensive beginner training for professional learning of the 1:1 eyelash exasdd')


