h3
  font-family: "MontserratSemiBold", sans-serif !important

.svgHide
  display: none

body
  position: relative

body
  min-width: 240px
  //overflow-x: hidden

/* ============================================================================
 * cards for courses style
 * ============================================================================ */
.items,
.items-in-slider,
  .item
    .card-img-top
      max-width: 370px
      height: 420px
      overflow: hidden
      //background: url('http://via.placeholder.com/370x420') center center no-repeat
      //background-size: cover
      //object-fit: cover
      position: relative
      @media (max-width: 1199px)
        height: 330px
      @media (max-width: 991px)
        height: 375px
      @media (max-width: 767px)
        height: 390px
        max-width: 100%
      @media (max-width: 410px)
        height: 200px
      img
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
        height: 100%
        max-width: 100%
        @media (max-width: 767px)
          width: 100%
          height: auto
  .card-body
    padding: 0
    max-width: 370px
    @media (max-width: 767px)
      max-width: 100%
    .when-price
      position: relative
      display: flex
      justify-content: space-between
      padding: 6px 40px 6px 70px
      background-color: #000
      color: #fff
      font-size: 12px
      height: 100%
      width: 100%
      @media (max-width: 410px)
        padding: 6px 10px 6px 40px
      p
        margin-top: 0
        margin-bottom: 0
      .date-card
        height: 20px
        width: 20px
        position: absolute
        left: 40px
        top: 4px
        @media (max-width: 410px)
          left: 10px
    .card-body__main
      position: relative
      padding: 25px 33px
      text-align: center
      background-color: $course-card-bg
      min-height: 203px
      .card-body__main-text
        h5
          font-family: "MontserratSemiBold", sans-serif
      @media (max-width: 1199px)
        padding: 15px 20px 25px
      @media (max-width: 767px)
        display: flex
        align-items: center
        min-height: 135px
      @media (max-width: 500px)
        flex-direction: column
      .adaptive-wrapper
        width: 100%
        @media (max-width: 767px)
          padding-right: 20px
          margin-right: 20px
          border-right: 1px solid #d9d9d9
        @media (max-width: 500px)
          padding-right: 0
          margin-right: 0
          border-right: none
          //margin-bottom: 20px
      .card-title
        font-family: "MontserratSemiBold", sans-serif
        font-size: 25px
        margin-bottom: 1rem
        text-transform: capitalize
        @media (max-width: 1200px)
          font-size: 20px
        @media (max-width: 767px)
          text-align: left
        @media (max-width: 500px)
          text-align: center
      .card-text
        line-height: 20px
        font-size: 14px
        text-transform: none
        font-family: "Montserrat", sans-serif
        @media (max-width: 1200px)
          font-size: 14px
        @media (max-width: 767px)
          text-align: left
        @media (max-width: 500px)
          text-align: center
          padding-bottom: 20px
      a
        text-transform: uppercase
        font-family: "MontserratSemiBold", sans-serif
      .btn
        padding: 14px 48px
        position: absolute
        bottom: 25px
        left: 50%
        transform: translateX(-50%)
        display: block
        @media (max-width: 767px)
          position: static
          transform: none
          height: 40px
          min-width: 180px!important
          padding-left: 0
          padding-right: 0
          padding-top: 8px


  .owl-dots
    position: absolute
    margin-left: 50%
    margin-top: 40px
    transform: translateX(-50%)
    .owl-dot
      height: 12px
      width: 12px
      background-color: #fff
      border: 1px solid #000000
      border-radius: 50%
      margin-right: 10px
    .owl-dot.active
      border: 2px solid #000000!important

/* ============================================================================
  * cards to shop items
  * ============================================================================ */
.shop-page__shop-items
  @media (max-width: 1199px)
    margin-left: -30px
    margin-right: -30px
  @media (max-width: 767px)
    margin-left: 0
    margin-right: 0
    .shop-items
      overflow: hidden
a.shop-item:hover
  text-decoration: none
.shop-row-margin
  margin-bottom: 25px
  @media (max-width: 343px)
    max-width: 100%
    flex: 0 0 100%
  .shop-item-img,
  .shop-item-img2
    display: flex
    justify-content: flex-end
    overflow: hidden
    height: 220px
    width: 170px
    //background-image: url(../img/item-in-items.png)
    background-image: url(../img/item/item.jpg)
    //background-image: url(https://unsplash.it/170/220/?random2)
    background-size: auto 100%
    background-repeat: no-repeat
    background-position: center
    margin-left: 50%
    transform: translateX(-50%)
    @media (max-width: 767px)
      width: 160px
  .shop-item-img2
    background-image: url(https://unsplash.it/1000/1000/?random1)
    background-repeat: no-repeat
    background-position: center
    margin-left: 50%
    transform: translateX(-50%)
  // .shop-item-img,
  // .shop-item-img2
    // .badge-img
    //   margin-right: 5px
    //   margin-top: 5px
    //   display: flex
    //   justify-content: center
    //   align-items: center
    //   border-radius: 50%
    //   height: 50px
    //   width: 50px
    //   background-color: #D8AF4A
    //   color: #ffffff
    //   text-transform: uppercase
    //   font-family: "MontserratSemiBold", sans-serif
    // .badge-corner
    //   width: 170px
    //   height: 20px
    //   position: absolute
    //   text-align: center
    //   background-color: #FF8049
    //   font-size: 10px
    //   line-height: 22px
    //   font-family: "MontserratSemiBold", sans-serif
    //   text-transform: uppercase
    //   color: #ffffff
    //   transform: rotate(-45deg) translate(-51px, 0px)
    //   @media (max-width: 767px)
    //     transform: rotate(-45deg) translate(-45px, 0px)
  .shop-item-body
    text-align: center
    width: 170px
    margin-left: 50%
    transform: translateX(-50%)
    @media (max-width: 767px)
      width: 160px
    .shop-item__item-title
      margin-top: 15px
      padding-bottom: 0
      font-family: "MontserratSemiBold", sans-serif
      font-size: 12px
      text-transform: uppercase
    .shop-item__item-price-wrapper
      display: flex
      justify-content: space-between
      align-items: center
      font-size: 15px
      font-family: "montserrat", sans-serif
      position: absolute
      //bottom: -15px
      bottom: 8px
      left: 50%
      transform: translateX(-50%)
      color: #cc9966
      .shop-item__item-share-price
        font-size: 13px
        color: #000000
        padding-right: 20px
        text-decoration: line-through
        white-space: nowrap
      .shop-item__item-price
        white-space: nowrap
    .shop-item__item-zz
      margin-top: 35px
      font-size: 13px
      color: #9A9A9A
  .shop-item
    // .badge-image-corner
    //   position: absolute
    //   display: inline-block
    //   height: 100px
    //   left: -9px
    //   z-index: 1
    //   top: -244px
      // @media (max-width: 767px)
      //   left: -14px
    .badge-image-bottom
      position: absolute
      top: -27px
      left: 50%
      transform: translateX(-50%)
      width: 95px
    .inside-image-badge-wrapper
      width: 50px
      display: flex
      flex-direction: column
      position: absolute
      top: -230px
      right: 0
      .badge-img-red,
      .badge-img-black,
      .badge-img-red-present,
      .badge-img-black-present
        display: flex
        justify-content: center
        align-items: center
        margin-top: 10px
        height: 40px
        width: 40px
        color: #ffffff
        font-size: 12px
      .badge-img-red
        margin-top: -10px
        height: 64px
        width: 64px
        background-image: url('../img/christmas_circle_hat.svg')
        background-repeat: no-repeat
        background-size: 64px 64px
        background-position: 0 0
        span
          margin-left: -24px
          margin-top: 14px
      .badge-img-black
        background-image: url('../img/black-badge-circle.svg')
        background-repeat: no-repeat
        background-size: 40px 40px
        background-position: 0 0
      .badge-img-red-present
        margin-top: -10px
        height: 64px
        width: 64px
        background-image: url('../img/present_hat.svg')
        background-repeat: no-repeat
        background-size: 64px 64px
        background-position: 0 0
      .badge-img-black-present
        background-image: url('../img/present_black.svg')
        background-repeat: no-repeat
        background-size: 40px 40px
        background-position: 0 0
        


/* ============================================================================
 * header img with text in diff pages
 * ============================================================================ */
.img-and-text__head
  padding: 0
  .img-and-text__main-img
    position: relative
    height: 510px
    width: 100%
    overflow: hidden
    margin: 0
    background: linear-gradient(to top, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0) 100%), url(../img/academy-main.jpg) center center no-repeat
    /* Добавляем фон */
    background-size: cover
    /* Масштабируем фон */
    //&:after
    //  position: absolute
    //  bottom: 0
    //  left: 0
    //  content: ""
    //  height: 194px
    //  width: 100%
    //  background-color: #fff
    @media (max-width: 1199px)
      height: 362px
    @media (max-width: 991px)
      height: 271px
    @media (max-width: 767px)
      height: 203px
    .img-and-text__main-text
      font-family: "MontserratBold", sans-serif
      font-size: 35px
      color: #fff
      text-transform: uppercase
      position: absolute
      bottom: 74px
      left: 50%
      transform: translateX(-50%)
      text-align: center
      width: 100%
      @media (max-width: 576px)
        font-size: 24px
    .img-and-text__text
      font-size: 18px
      color: #fff
      position: absolute
      bottom: 37px
      left: 50%
      transform: translateX(-50%)
      text-align: center
      width: 100%
      p
        margin-bottom: 0
      @media (max-width: 576px)
        font-size: 14px
/* ============================================================================
 * carousel
 * ============================================================================ */
.all-pages-carousel
  position: relative
  //overflow: hidden
  .item
    //display: block
    //max-width: 170px
    //border: 1px solid red
    //background-color: green
    .img
      height: 220px
      width: 170px
      overflow: hidden
      position: relative
      margin: auto
      display: flex
      justify-content: center
      align-items: center
      @media (max-width: 1199px)
        height: 195px
        width: 150px
      img
        position: absolute
        display: block
        max-height: 100%
        width: auto
    a
      display: block
      width: 170px
      margin: auto
      padding: 0
      @media (max-width: 1200px)
        width: 155px
      &:hover
        text-decoration: none
    header
      margin-top: 15px
      font-family: "MontserratSemiBold", sans-serif
      font-size: 12px
      line-height: 20px
      text-align: center
      text-transform: uppercase
    .price-wrapper
      display: flex
      margin-top: 10px
      justify-content: center
    .price
      font-size: 15px
      line-height: 20px
      text-align: center
      color: #cc9966
    .sale
      margin-right: 15px
      text-decoration: line-through
      font-size: 13px
    .zzz
      text-align: center
      padding-top: 8px
      font-size: 13px
      color: #999999
    img.badge-image-bottom
      position: absolute
      top: 210px
      left: 50%
      transform: translateX(-50%)
      width: 95px
      z-index: 1
    .badge-wrapper
      width: 50px
      display: flex
      flex-direction: column
      height: 150px
      color: #ffffff
      font-size: 12px
      position: absolute
      top: 0
      right: 13px
      z-index: 100
      @media (max-width: 575px)
        width: 43%
      @media (max-width: 400px)
        width: 40%
      @media (max-width: 350px)
        width: 35%
      .badge-img-red,
      .badge-img-black,
      .badge-img-red-present,
      .badge-img-black-present
        display: flex
        justify-content: center
        align-items: center
        margin-top: 10px
        height: 40px
        width: 40px
        color: #ffffff
        font-size: 12px
      .badge-img-red
        margin-top: -5px
        height: 64px
        width: 64px
        background-image: url('../img/christmas_circle_hat.svg')
        background-repeat: no-repeat
        background-size: 64px 64px
        background-position: 0 0
        span
          margin-left: -24px
          margin-top: 14px
      .badge-img-black
        background-image: url('../img/black-badge-circle.svg')
        background-repeat: no-repeat
        background-size: 40px 40px
        background-position: 0 0
      .badge-img-red-present
        margin-top: -5px
        height: 64px
        width: 64px
        background-image: url('../img/present_hat.svg')
        background-repeat: no-repeat
        background-size: 64px 64px
        background-position: 0 0
      .badge-img-black-present
        background-image: url('../img/present_black.svg')
        background-repeat: no-repeat
        background-size: 40px 40px
        background-position: 0 0
      // @media (max-width: 1199px)
      //   top: 10px
      // @media (max-width: 574px)
      //   right: 20%
      // .badge-img
      //   display: flex
      //   justify-content: center
      //   align-items: center
      //   height: 50px
      //   width: 50px
      //   background-color: #D8AF4A
      //   color: #ffffff
      //   text-transform: uppercase
      //   font-family: "MontserratSemiBold", sans-serif
      //   border-radius: 50%
      //   margin-right: 20px
      //   @media (max-width: 1199px)
      //     margin-right: 10px
      // .badge-img-red
      //   margin-right: 20px
  .owl-nav.disabled,
  .owl-nav
    display: block!important
    .owl-prev,
    .owl-next
      background: #7f7f7f!important
      height: 50px!important
      width: 50px!important
      color: #b9b9b9!important
      border-radius: 0!important
      font-size: 20px!important
      position: absolute!important
      outline: none!important
      transition: .4s all ease-in-out!important
      background-color: #000000!important
      @media (max-width: 575px)
        visibility: hidden
      &:hover
        background-color: #000000!important
    .owl-prev
      left: -55px
      left: 7px
      top: 105px
      transform: translateY(-50%)
      @media (max-width: 1200px)
        left: 13px
      @media (max-width: 991px)
        left: 6px
    .owl-next
      right: -55px
      right: 8px
      top: 105px
      transform: translateY(-50%)
      @media (max-width: 1200px)
        right: -5px
        right: 13px
      @media (max-width: 991px)
        right: 7px
  .owl-dots
    position: absolute
    bottom: -70px
    right: 50%
    transform: translateX(50%)
    //@media (max-width: 350px)
    //  display: none
    .owl-dot
      outline: none
      span
        height: 12px!important
        width: 12px!important
        background: #ffffff!important
        border: 1px solid #000000
        @media (max-width: 575px)
          margin: 25px 1px
          height: 10px!important
          width: 10px!important
    .owl-dot.active
      span
        border: 2px solid #000000
  .badge-corner
    width: 170px
    height: 20px
    position: absolute
    text-align: center
    background-color: #FF8049
    font-size: 10px
    line-height: 22px
    font-family: "MontserratSemiBold", sans-serif
    text-transform: uppercase
    color: #ffffff
    z-index: 1
    transform: rotate(-45deg) translate(-51px, 0px)
    @media (max-width: 767px)
      transform: rotate(-45deg) translate(-45px, 0px)
    @media (max-width: 574px)
      transform: rotate(-45deg) translate(-51px, 0px)


/* ============================================================================
 * stars rating
 * ============================================================================ */
// Bars
$orange-color: #EDB867
$green-color: #50E3C2
$blue-color: #4278F5
// Stars
$star-default: #d2d2d2
$star-active: #d8b061
$star-selected: #d8b061
.br-wrapper
  display: inline-block

.br-theme-css-stars
  .br-widget
    height: 28px
    white-space: nowrap
    a
      text-decoration: none
      height: 18px
      width: 18px
      float: left
      font-size: 23px
      margin-right: 5px
    a:after
      content: "\2605"
      color: $star-default
    a.br-active:after
      color: $star-active
    a.br-selected:after
      color: $star-selected
    .br-current-rating
      display: none
  .br-readonly
    a
      cursor: default
  @media print
    .br-theme-css-stars
      .br-widget
        a:after
          content: "\2606"
          color: black
        a.br-active:after,
        a.br-selected:after
          content: "\2605"
          color: black

/* ============================================================================
 * selection
 * ============================================================================ */
p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
div::selection,
a::selection,
img::selection,
input::selection,
span::selection,
label::selection,
li::selection
  /* Цвет текста */
  color: #fff
  /* Цвет фона */
  background: #000


/* ============================================================================
 * forms
 * ============================================================================ */
.grey-form
  label
    margin-bottom: 15px
    font-family: "MontserratSemiBold", sans-serif
    font-size: 12px
    color: #5c5c5c
    text-transform: uppercase
  input
    background-color: #e6e6e6
    height: 40px
    border: none
  .form-group
    margin-bottom: 24px
  input.custom-control-input
    padding-top: 3px
  label.custom-control-label
    margin-bottom: 30px
    padding-top: 3px
    text-transform: none
    font-family: "Montserrat", sans-serif
    font-size: 14px
    color: #000
    &::before
      background-color: #fff
      border: 1px solid #bfbfbf
  //&::after
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E")
  select
    height: 40px !important
    background-color: #e6e6e6
    border: none
  .form-check
    padding-left: 0
  button
    width: 100%
    height: 40px
    text-transform: uppercase
    font-family: "MontserratSemiBold", sans-serif
    font-size: 14px
    border: none
  .grey-form__or-with-lines
    position: relative
    display: inline-block
    margin: 15px 13px 15px 13px!important
    font-size: 12px
    color: #000
  .with-lines-wrapper
    display: flex
    justify-content: space-between
    align-items: center
  .grey-form__line
    margin-bottom: 2px
    display: inline-block
    height: 1px
    width: 100%
    background-color: #e0e0e0
  .facebook-btn
    background-color: #3b5998
    margin-bottom: 20px
  .google-btn
    background-color: #dd4b39
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after
    //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E")
    content: "\2713"
    //content: "\1F5F8"
    //font-family: "MontserratSemiBold", sans-serif
    font-size: 18px
    top: 0
    left: 0
  .custom-radio .custom-control-input:checked ~ .custom-control-label::after
    //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='#000'/%3E%3C/svg%3E")
    content: ''
    height: 10px
    width: 10px
    background-color: #000
    border-radius: 100%
    background-image: none
    top: 5px
    left: 5px
  .custom-control-inline label.custom-control-label
    padding-left: 7px
    &::before
      top: 0
      height: 20px
      width: 20px
      border: 1px solid #000
    //&::after
      background-size: inherit
      border-radius: 100%
      top: 2px
      left: 2px


.file__attach
  margin-bottom: 25px
  .attach
      height: 16px
      width: 17px
      fill: #bfbfbf
  label
    color: #bfbfbf
    font-size: 14px
    text-decoration: underline
    margin-left: 10px
    margin-bottom: 0
    cursor: pointer
    text-transform: none
    font-family: "Montserrat", sans-serif
  .load-file-hide
    display: none

#files,
#files2,
#filesAdded
  margin-bottom: 20px
p.files-added
  display: inline-block!important
  padding-left: 20px!important
  position: relative!important
  margin-right: 20px!important
  margin-bottom: 0!important
.close-added-file
  height: 10px
  width: 10px
  margin-right: 10px
  position: absolute
  left: 0
  top: 6px

/*remove in inputs strings*/
input[type='number']
  -moz-appearance: textfield
  -webkit-appearance: none
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none

/*чинит с qty выводимый бекенд плагином стиль*/
.twitter-typeahead input[disabled],
input[readonly],
fieldset[disabled] .twitter-typeahead input
  background-color: #ffffff!important
  cursor: text!important

/* ============================================================================
 * accordion in faq and careers
 * ============================================================================ */
#accordionFaq,
#accordionCareers,
#accordionSets
    max-width: 870px
    @media (max-width: 991px)
      max-width: 100%
    @media (max-width: 575px)
      padding-left: 20px
      padding-right: 20px
    .card
        border: none
        padding-right: 0px
        border-bottom: 1px solid #cccccc!important
        .card-header
          border: none
          background-color: #fff
          padding: 15px 0
          position: relative
          a
            padding: 0
        .card-body
          padding-left: 70px
          padding-bottom: 0
          padding-top: 0
          padding-bottom: 30px
          @media (max-width: 1199px)
            padding-left: 50px
          @media (max-width: 991px)
            padding-left: 30px
          @media (max-width: 767px)
            padding-left: 0
          li
            margin-top: 0
            margin-bottom: 25px
            a
              display: block
              //margin-bottom: 25px
              font-size: 15px
              text-transform: uppercase
          .card-body-block-wrapper
            .card-body-header,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6
              margin-top: 40px
              margin-bottom: 40px
              font-size: 20px
            .card-body-text,
            p
              padding-left: 30px
              font-size: 16px
              line-height: 25px
              margin-bottom: 30px
              @media (max-width: 767px)
                padding-left: 0
            ul
              padding-left: 80px
              @media (max-width: 767px)
                padding-left: 40px
              li
                margin-bottom: 0
                list-style-type: none
                position: relative
                font-size: 16px
                line-height: 25px
                &:before
                  position: absolute
                  content: ""
                  left: -40px
                  height: 3px
                  width: 20px
                  background-color: #888888
                  top: 11px
          .careers-send-mail-button
            height: 40px
            width: 170px
            line-height: 27px
        .active
          font-family: "MontserratSemiBold", sans-serif !important
        h5
          font-family: "Montserrat", sans-serif
          font-size: 24px
          //max-width: 770px
          position: relative
          button
            white-space: pre-line
            //text-transform: uppercase
            padding-left: 0
            text-decoration: none
            position: relative
            width: 100%
            text-align: left
            font-size: 24px
            @media (max-width: 991px)
              font-size: 20px
              width: 90%
            @media (max-width: 767px)
              font-size: 16px
          .arrow-btn
            position: absolute
            right: 10px
            top: -30px
            width: 10px
            @media (max-width: 991px)
              bottom: -5px
            .faq-arrow-new
              width: 10px
              height: 30px
              transform: rotate(90deg)
              transition: .4s all
              stroke: #000000
            .faq-arrow-look-up
              transform: rotate(-90deg)

#accordionSets
  max-width: 100%
  margin-bottom: 90px
  border-top: 1px solid #bfbfbf

/* ============================================================================
 * blog page and main page articles
 * ============================================================================ */

.main-page,
.latest-article__items,
.blog-article-page
    .latest-article__item
      text-decoration: none
      .latest-article__img
        overflow: hidden
        max-width: 370px
        height: 490px
        position: relative
        @media (max-width: 1199px)
          height: 385px
        @media (max-width: 991px)
          height: 440px
        img
          position: absolute
          top: 0
          left: 50%
          bottom: 0
          right: 0
          min-height: 100%
          min-width: 100%
          margin: auto
          transform: translateX(-50%)
      .latest-article__descr
        max-width: 370px
        position: relative
        padding-top: 11px
        .latest-article__date-block
          display: flex
          margin-bottom: 12px
          .latest-article__date
            font-size: 12px
            margin-right: 15px
            flex-shrink: 0
            text-transform: uppercase
            color: #ffffff
          .latest-article__line
            margin-top: 8px
            width: 340px
            flex-shrink: 1
            height: 1px
            background-color: #fff
        .latest-article__head
          font-family: "MontserratSemiBold", sans-serif
          text-transform: uppercase
          text-align: center
          color: #fff
          @media (max-width: 1199px)
            text-align: left
.blog-page,
.blog-article-page
  .latest-article__items
    margin-top: 60px
    .latest-article__item
      margin-bottom: 20px
      .latest-article__img
        @media (max-width: 767px)
          max-width: 520px
          height: 520px
        @media (max-width: 576px)
          max-width: 100%
        @media (max-width: 420px)
          height: 350px
      .latest-article__descr
        @media (max-width: 767px)
          max-width: 100%
        .latest-article__line
          background-color: #000000
        .latest-article__head
          color: #000000
        .latest-article__date
          color: #000000
        .latest-article__date-block
          .latest-article__line
            @media (max-width: 767px)
              width: 100%

.main-page,
.blog-article-page
  .owl-carousel-latest-article__items
        color: #ffffff
        .owl-dots
          .owl-dot
            outline: none
            span
              height: 12px
              width: 12px
              background-color: #000000
              border: 1px solid #ffffff
              margin: 5px 5px
              border-radius: 50%
          .owl-dot.active
            span
              border: 2px solid #ffffff
        .latest-article__img
          height: 440px
          @media (max-width: 767px)
            max-width: 520px
            height: 520px
          @media (max-width: 450px)
            height: 300px
          @media (max-width: 300px)
            height: 240px
        .latest-article__descr
          width: 100%
          max-width: 100%
          .latest-article__head
            color: #ffffff
          .latest-article__date
            color: #ffffff
        .latest-article__line
          width: 100%!important


