//- meta
meta(charset='UTF-8')
meta(name="viewport" content="width=device-width,initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")

//320 символов
meta(name="description" content=headDescription)
//120 символов
meta(name="keywords" content=headKeywords)

//Colors in mobile browsers - start
//Chrome, Firefox OS and Opera
meta(name="theme-color" content="#000")
//Windows Phone
meta(name="msapplication-navbutton-color" content="#000")
//iOS Safari
meta(name="apple-mobile-web-app-status-bar-style" content="#000")
//Colors in mobile browsers - end







link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
link(rel='manifest', href='/site.webmanifest')
link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
meta(name='msapplication-TileColor', content='#da532c')
meta(name='theme-color', content='#ffffff')







//First screen styles
//style

link(rel='stylesheet', href='css/libs.min.css')
link(rel='stylesheet', href='css/bootstrap.min.css')
link(rel='stylesheet', href='css/main.min.css')

//script.

//script
    ///include ../blocks/scriptinhead.js






