doctype html
html(lang='en')
    block vars
    head
        title #{title}
        block head
            //- var headDescription = "Infinity Lashes main page"   //-in page to add
            //- var headKeywords = "lashes"
            include head
    body(class= bodyClass)
        block noscript
            include noscript

        block header
            include ../header/header

        block content

        block footer
            include ../footer/footer

        block modals
            //include modals

        block scripts
            include scripts
