mixin svg(svg_id, svg_class)
  svg(class=svg_class)
    use(xlink:href='#' + svg_id)

    //+svg('businessman', 'businessman svg')

mixin coursesItem(src, cardTitle, cardText)
  .card-row-margin.col-xl-4.col-lg-4.col-md-6.col-sm-12
    a(href="course.html" title="Register").item
      .card-img-top.card-img-top
        img(src=src alt='item')
      .card-body
        .when-price
          +svg('date', 'date-card svg')
          p
            span 15
            span &nbspApril
          span 950 €
        .card-body__main.justify-content-center
          .adaptive-wrapper
            h5.card-title= cardTitle
            .card-text= cardText
          //.card-text
          a(href="course.html" title="Register").btn.btn-primary learn more

mixin shopItem(cardTitle, cardPrice, sharePrice)
  .shop-row-margin.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-6
    a(href="shop-item.html" title="Read more").shop-item
      .shop-item-img
      .shop-item-body
        p.shop-item__item-title= cardTitle
        .shop-item__item-price-wrapper
          p.shop-item__item-share-price= sharePrice
          p.shop-item__item-price= cardPrice

mixin shopItem2(cardTitle, cardPrice)
  .shop-row-margin.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-6
    a(href="shop-item.html" title="Read more").shop-item
      .shop-item-img2
      .shop-item-body
        p.shop-item__item-title= cardTitle
        p.shop-item__item-price= cardPrice

mixin comments(name1, date, title, content)
  .row.shop-item-page__comment
    .shop-item-page__comment-wrapper.col-xl-2.col-lg-2.col-md-3
      .shop-item-page__comment-name= name1
      .shop-item-page__comment-date= date
    .shop-item-page__comment-body.col-xl-8.col-lg-10.col-md-12
      .shop-item-page__comment-title-wrapper
        select.star-ratings
          option(value='1' selected) 1
          option(value='2' selected) 2
          option(value='3' selected) 3
          option(value='4' selected) 4
          option(value='5') 5
        .shop-item-page__comment-title= title
      .shop-item-page__comment-content= content
      //a.shop-item-page__reply-btn Reply
    hr