.account-login-page
  header
  //box-shadow: 0 0 32px rgba(55, 55, 55, 0.3)
  //nav
    padding-bottom: 14px
  section
    .account-login-page__wrapper
      margin-bottom: 140px
      h2
        margin-top: 43px
        margin-bottom: 50px
        font-family: "MontserratSemiBold", sans-serif
        font-size: 16px
        text-transform: uppercase
  .account-login-page__left-part
    padding-right: 85px
    padding-bottom: 60px
    display: flex
    flex-direction: column
    justify-content: space-between
    @media (max-width: 1199px)
      padding-right: 65px
    @media (max-width: 991px)
      padding-right: 15px
    @media (max-width: 767px)
      padding-right: 40px
      padding-left: 40px
    @media (max-width: 575px)
      padding-left: 30px
      padding-right: 30px
    h2
      flex-grow: 0
    form
      flex-grow: 1
    .grey-form__forgot-pass
      display: flex
      justify-content: space-between
      a
        font-size: 12px
        color: #a6a6a6
        text-decoration: underline
    p
      margin-bottom: 27px
      font-size: 12px
      text-align: center
      color: #737373
      a
        color: #737373
    .guest-enter-wrapper
      width: 100%
      .guest-button
        width: 100%
        height: 40px
        line-height: 27px
      h2
        margin-bottom: 30px
        margin-top: 60px
      p
        text-align: left
        margin-bottom: 30px


  .account-login-page__right-part
    h2
      padding-left: 69px
      @media (max-width: 991px)
        padding-left: 0
        margin-top: 50px
        padding-top: 50px
        border-top: 1px solid #e0e0e0
      @media (max-width: 767px)
        padding-left: 25px
        padding-right: 25px
      @media (max-width: 575px)
        padding-left: 15px
        padding-right: 15px
    .account-login-page__with-left-line
      padding-left: 69px
      position: relative
      padding-bottom: 60px
      @media (max-width: 1199px)
        padding-left: 50px
      @media (max-width: 991px)
        padding-left: 0
      @media (max-width: 767px)
        padding-left: 25px
        padding-right: 25px
      @media (max-width: 575px)
        padding-left: 15px
        padding-right: 15px
      &::before
        position: absolute
        top: 0
        left: -16px
        content: ''
        height: 100%
        width: 1px
        background-color: #e0e0e0
        @media (max-width: 992px)
          display: none
    .form-check
      label
        margin-bottom: 24px
      a
        text-decoration: underline
  .facebook-btn,
  .google-btn
    display: block
    border: none
    height: 40px
    line-height: 28px
    @media (max-width: 300px)
      font-size: 12px
  .facebook-btn
    &:active
      background-color: #4073b7 !important
    .fb_svg
      fill: #ffffff
      height: 17px
      width: auto
      margin-right: 15px
      vertical-align: -3px
  .google-btn
    .g_pl
      fill: #ffffff
      height: 25px
      width: auto
      margin-right: 15px
      vertical-align: -7px
    &:active
      background-color: #f94d3b !important

  /*request modal*/
  .requestToReset,
  .answerToReset
    .modal-dialog
      max-width: 970px
      @media (max-width: 991px)
        max-width: 691px
    .modal-content
      border-radius: 0
      .modal-header
        border-bottom: none
        button
          padding: 0
          margin-right: 35px
          padding-top: 35px
          line-height: 0
          span
            font-size: 44px
            line-height: 0
      .modal-body
        padding: 50px 150px 0 70px
        @media (max-width: 991px)
          padding: 50px 30px 0 30px
        h5
          font-size: 42px
          //line-height: 20px
          font-family: "MontserratSemiBold", sans-serif
        p
          font-size: 16px
          color: #b4b4b4
          padding-top: 16px
          padding-bottom: 35px
          margin-bottom: 0
          @media (max-width: 991px)
            padding-bottom: 20px
        input
          width: 500px
          @media (max-width: 576px)
            width: 100%
        .form-group
          margin-bottom: 60px
        button
          max-width: 300px
          margin-top: 35px
        .invalid-feedback
          margin-top: 15px
          font-size: 16px
          margin-bottom: -25px
      .modal-footer
        border-top: none
  .answerToReset
    .modal-content
      .modal-body
        p
          padding-bottom: 30px
          padding-top: 0
          &:first-of-type
            padding-top: 20px
          @media (max-width: 991px)
            padding-bottom: 20px
        a
          display: inline-block
          text-decoration: underline
          font-size: 16px
          margin-bottom: 65px
  .account-login-page__member-check
    visibility: hidden
    display: none
    width: 0