section.container
  .row.account-login-page__wrapper
    .account-login-page__left-part.offset-xl-1.col-xl-5.col-lg-6.offset-lg-0.col-md-8.offset-md-2.col-sm-12
      h2 Member Sign In
      form.grey-form
        .form-group
          label(for='account-login-page__member-email-input') Email address
          input#account-login-page__member-email-input.form-control(type='email' aria-describedby='emailHelp' /*placeholder='Enter email'*/)
          //small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
        .form-group
          label(for='account-login-page__member-pass-input') Password
          input#account-login-page__member-pass-input.form-control(type='password'/*placeholder='Password'*/)
        .form-check
          .grey-form__forgot-pass.custom-control.custom-checkbox
            input#account-login-page__member-check.custom-control-input.account-login-page__member-check(type='checkbox')
            label.custom-control-label(for='account-login-page__member-check') Keep me logged in
            a(href="#" data-toggle='modal' data-target='#requestToReset').account-login-page__forgot-pass Forgot password?
        p By logging in, you agree to Infinity Lashes <a href="#" title="Privacy Policy page">Privacy Policy</a>. and <a href="#" title="Terms of Use page">Terms of Use</a>
        button.btn.btn-primary(type='submit') sign in
        .with-lines-wrapper
          .grey-form__line
          p.grey-form__or-with-lines or
          .grey-form__line
        a(href="#").btn.btn-primary.facebook-btn
          <svg class="fb_svg" enable-background="new 0 0 512 512" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M308.3,508.5c-2.5,0.1-4.1,0.3-5.7,0.3c-34.2,0-68.3-0.1-102.5,0.1c-4.8,0-6.1-1.3-6.1-6.1c0.1-79.6,0.1-159.3,0.1-238.9   c0-2.1,0-4.2,0-6.9c-18.6,0-36.7,0-55.1,0c0-28.4,0-56.3,0-85c1.9,0,3.7,0,5.4,0c15,0,30-0.1,45,0.1c3.8,0,4.8-1.1,4.8-4.8   c-0.2-22.3-0.2-44.7,0-67c0.1-15.6,2.6-30.8,9.8-44.9c10.3-19.9,26.6-32.8,47.2-40.8c16.8-6.6,34.5-9,52.3-9.3   c29-0.4,58-0.2,87-0.3c2.7,0,4.9-0.1,4.9,3.7c-0.1,27.5-0.1,55-0.1,82.5c0,0.3-0.1,0.6-0.5,1.9c-1.7,0-3.6,0-5.5,0   c-18,0-36-0.1-54,0c-10.4,0-18.8,4.2-24.1,13.3c-1.6,2.7-2.6,6.2-2.6,9.4c-0.3,17,0,34-0.2,51c0,4,1.2,5.1,5.1,5.1   c25-0.2,50-0.1,75-0.1c2,0,3.9,0,7.3,0c-3.5,28.6-6.9,56.6-10.4,84.9c-26,0-51.3,0-77.1,0C308.3,340.8,308.3,424.4,308.3,508.5z"/></g></svg>
          span sign in with facebook
        a(href="#").btn.btn-primary.google-btn 
          <svg class="g_pl" id="Layer_2" version="1.1" viewBox="0 0 56.6934 56.6934" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M19.6671,25.7867c-0.0075,1.7935,0,3.5869,0.0076,5.3803c3.0067,0.098,6.0208,0.0527,9.0275,0.098   c-1.3262,6.6689-10.3989,8.8315-15.199,4.4761C8.5674,31.9206,8.801,23.5412,13.9327,19.992   c3.5869-2.8635,8.6884-2.1552,12.2752,0.324c1.4092-1.3036,2.7278-2.6977,4.0013-4.1445   c-2.984-2.3812-6.6462-4.0767-10.5421-3.8958c-8.1307-0.2713-15.6059,6.8497-15.7415,14.9805   c-0.52,6.6462,3.8506,13.1644,10.0222,15.5155c6.1489,2.3661,14.031,0.7535,17.957-4.77c2.5922-3.4889,3.1498-7.98,2.8484-12.1999   C29.7194,25.7641,24.6933,25.7716,19.6671,25.7867z"/><path d="M49.0704,25.7641c-0.0151-1.4996-0.0226-3.0067-0.0301-4.5062c-1.4996,0-2.9916,0-4.4836,0   c-0.0151,1.4996-0.0301,2.9991-0.0377,4.5062c-1.5071,0.0075-3.0067,0.0151-4.5062,0.0302c0,1.4995,0,2.9915,0,4.4836   c1.4995,0.0151,3.0066,0.0302,4.5062,0.0452c0.0151,1.4996,0.0151,2.9991,0.0302,4.4987c1.4996,0,2.9916,0,4.4911,0   c0.0075-1.4996,0.015-2.9991,0.0301-4.5062c1.5071-0.0151,3.0067-0.0226,4.5062-0.0377c0-1.4921,0-2.9916,0-4.4836   C52.0771,25.7792,50.57,25.7792,49.0704,25.7641z"/></g></svg>
          span sign in with google +
      .guest-enter-wrapper
        h2 als gast fortsetzen
        p Falls Sie onhe Anmeldung ihr Einkauf fortsetzen möchten, klicken Sie auf bestätigen.
        a.btn.btn-primary(href="#").guest-button Anmelden



    .account-login-page__right-part.col-xl-5.col-lg-6.offset-lg-0.col-md-8.offset-md-2.col-sm-12
      h2 Create an Account
      .account-login-page__with-left-line
        form.grey-form
          .form-group
            label(for='account-login-page__new-member-first-name') first name
            input#account-login-page__new-member-first-name.form-control(type='text' aria-describedby='emailHelp' /*placeholder='Enter email'*/)
          .form-group
            label(for='account-login-page__new-member-last-name') last name
            input#account-login-page__new-member-last-name.form-control(type='text' aria-describedby='emailHelp' /*placeholder='Enter email'*/)
          .form-group
                label(for='account-login-page__select-who') title
                select#account-login-page__select-who.form-control
                  option Mr
                  option Miss
                  option Missisipi
          .form-group
              label(for='account-login-page__company-name') company
              input#account-login-page__company-name.form-control(type='text' required)
          .form-group
            label(for='account-login-page__new-member-email-input') E-mail
            input#account-login-page__new-member-email-input.form-control(type='email' aria-describedby='emailHelp' /*placeholder='Enter email'*/)
            //small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
          .form-group
            label(for='account-login-page__new-member-pass-input') Password
            input#account-login-page__new-member-pass-input.form-control(type='password'/*placeholder='Password'*/)
          .form-group
            label(for='account-login-page__new-member-pass-check') confirm password
            input#account-login-page__new-member-pass-check.form-control(type='password'/*placeholder='Password'*/)
          .form-check
            .grey-form__forgot-pass.custom-control.custom-checkbox
              input#account-login-page__new-member-updates.custom-control-input(type='checkbox')
              label.custom-control-label(for='account-login-page__new-member-updates') Sign up to hear about exclusive updates and receive 10% off your next online purchase.
          .form-check
            .grey-form__forgot-pass.custom-control.custom-checkbox
              input#account-login-page__new-member-agree.custom-control-input(type='checkbox')
              label.custom-control-label(for='account-login-page__new-member-agree') I agree to the Terms & Conditions. <a href="terms.html">Read Details</a>
          button.btn.btn-primary(type='submit') sign in
          .with-lines-wrapper
            .grey-form__line
            p.grey-form__or-with-lines or
            .grey-form__line
          a(href="#").btn.btn-primary.facebook-btn 
            <svg class="fb_svg" enable-background="new 0 0 512 512" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M308.3,508.5c-2.5,0.1-4.1,0.3-5.7,0.3c-34.2,0-68.3-0.1-102.5,0.1c-4.8,0-6.1-1.3-6.1-6.1c0.1-79.6,0.1-159.3,0.1-238.9   c0-2.1,0-4.2,0-6.9c-18.6,0-36.7,0-55.1,0c0-28.4,0-56.3,0-85c1.9,0,3.7,0,5.4,0c15,0,30-0.1,45,0.1c3.8,0,4.8-1.1,4.8-4.8   c-0.2-22.3-0.2-44.7,0-67c0.1-15.6,2.6-30.8,9.8-44.9c10.3-19.9,26.6-32.8,47.2-40.8c16.8-6.6,34.5-9,52.3-9.3   c29-0.4,58-0.2,87-0.3c2.7,0,4.9-0.1,4.9,3.7c-0.1,27.5-0.1,55-0.1,82.5c0,0.3-0.1,0.6-0.5,1.9c-1.7,0-3.6,0-5.5,0   c-18,0-36-0.1-54,0c-10.4,0-18.8,4.2-24.1,13.3c-1.6,2.7-2.6,6.2-2.6,9.4c-0.3,17,0,34-0.2,51c0,4,1.2,5.1,5.1,5.1   c25-0.2,50-0.1,75-0.1c2,0,3.9,0,7.3,0c-3.5,28.6-6.9,56.6-10.4,84.9c-26,0-51.3,0-77.1,0C308.3,340.8,308.3,424.4,308.3,508.5z"/></g></svg>
            span sign in with facebook
          a(href="#").btn.btn-primary.google-btn 
            <svg class="g_pl" id="Layer_2" version="1.1" viewBox="0 0 56.6934 56.6934" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M19.6671,25.7867c-0.0075,1.7935,0,3.5869,0.0076,5.3803c3.0067,0.098,6.0208,0.0527,9.0275,0.098   c-1.3262,6.6689-10.3989,8.8315-15.199,4.4761C8.5674,31.9206,8.801,23.5412,13.9327,19.992   c3.5869-2.8635,8.6884-2.1552,12.2752,0.324c1.4092-1.3036,2.7278-2.6977,4.0013-4.1445   c-2.984-2.3812-6.6462-4.0767-10.5421-3.8958c-8.1307-0.2713-15.6059,6.8497-15.7415,14.9805   c-0.52,6.6462,3.8506,13.1644,10.0222,15.5155c6.1489,2.3661,14.031,0.7535,17.957-4.77c2.5922-3.4889,3.1498-7.98,2.8484-12.1999   C29.7194,25.7641,24.6933,25.7716,19.6671,25.7867z"/><path d="M49.0704,25.7641c-0.0151-1.4996-0.0226-3.0067-0.0301-4.5062c-1.4996,0-2.9916,0-4.4836,0   c-0.0151,1.4996-0.0301,2.9991-0.0377,4.5062c-1.5071,0.0075-3.0067,0.0151-4.5062,0.0302c0,1.4995,0,2.9915,0,4.4836   c1.4995,0.0151,3.0066,0.0302,4.5062,0.0452c0.0151,1.4996,0.0151,2.9991,0.0302,4.4987c1.4996,0,2.9916,0,4.4911,0   c0.0075-1.4996,0.015-2.9991,0.0301-4.5062c1.5071-0.0151,3.0067-0.0226,4.5062-0.0377c0-1.4921,0-2.9916,0-4.4836   C52.0771,25.7792,50.57,25.7792,49.0704,25.7641z"/></g></svg>
            span sign in with google +

    #requestToReset.requestToReset.modal.fade(tabindex='-1' role='dialog' aria-labelledby='requestToResetTitle' aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header
            //h5#requestToResetLongTitle.modal-title Modal title
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            h5 Request to Reset Your Password
            p Provide your account email address to receive an email to reset your password.
            form.grey-form.was-validated
              .form-group
                label(for='account-login-page__request-email-input') E-mail*
                input#account-login-page__request-email-input.form-control(type='email' aria-describedby='emailHelp' placeholder='E-mail')
                .invalid-feedback This field is required.
                button.btn.btn-primary(type='button') Request

    #answerToReset.answerToReset.modal.fade(tabindex='-1' role='dialog' aria-labelledby='answerToResetTitle' aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header
            //h5#answerToResetLongTitle.modal-title Modal title
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            h5 Request to Reset Your Password Received
            p Thanks for submitting your email address. We've sent you an email with the information needed to reset your password.
            p The email might take a couple of minutes to reach your account. Please check your junk mail to ensure you receive it.
            a(href='index.html') Return To Homepage

