.img-and-text__head.container-fluid
    .img-and-text__main-img.row
        h1.img-and-text__main-text basic training
        .img-and-text__text Learn the professional 1: 1 eyelash extension technique