main.container
  .article
    h2 decided to become a lashmaker?
    .course-page__paragraphs-wrapper.offset-xl-1.col-xl-7.offset-lg-1.col-lg-7.offset-md-1.col-md-11
      p Congratulations - you made a worthy choice! Eyelash extension is a very responsible and at the same time creative work. It will enthrall you, give joy and open great opportunities for development and self-realization. The popularity of procedures with eyelashes is growing all over the world. And very many masters are building a successful business in the industry.
      p If you want to become a professional in your field, an eyelash expert, then this course is for you! As they say, it's always easier to learn than to retrain, that's why it's very important to get competent and right knowledge at the start of your career. And it does not matter whether you have already tried to increase your eyelashes or you are a beginner and this will be your first test, the most important thing is desire. If you aspire to become a successful master, work with pleasure and earn well, welcome to the in-depth basic course on eyelash extension "Perfect technique"
    h2 Training program
    h4.offset-xl-1.col-xl-7 Day 1:
    ul.offset-xl-1.col-xl-7.offset-lg-1.col-lg-7.offset-md-1.col-md-11
      li
        span The philosophy and history of Infinity Lashes - the way to the market leader
      li
        span Safety and hygiene during eyelash extensions
      li
        span Anatomy and physiology of the eye and the natural eyelash
      li
        span Eyelash design - type-correct eyelash extensions
      li
        span The steps to a professional and safe application
      li
        span Handling the products of Infinity Lashes
      li
        span Practical part on the doll's head, later mutual application
    h4.offset-xl-1.col-xl-7 Day 2:
    ul.offset-xl-1.col-xl-7.offset-lg-1.col-lg-7.offset-md-1.col-md-11
      li
        span  Refresh of the theory of day 1 and extended theory e.g. about eye diseases and allergies
      li
        span  Continuation of the practical part of eyelash extensions with the possibility of certification
      li
        span  Increase in sales through Infinity Lashes sales products
      li
        span  Supported by extensive Infinity Lashes marketing material
      li
        span  Advantages of the Studio Home on the Infinity Lashes website
      li
        span  Customer consulting and administration
    .course-page__article-slider
      #carouselCourse.carousel.slide(data-ride='carousel')
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src='img/course-1.jpg' alt='Первый слайд')
          .carousel-item
            img.d-block.w-100(src='img/blog-article-slider.jpg' alt='Второй слайд')
          .carousel-item
            img.d-block.w-100(src='img/course-1.jpg' alt='Третий слайд')
          a.carousel-control-prev(href='#carouselCourse' role='button' data-slide='prev')
            //span.carousel-control-prev-icon(aria-hidden='true')
            +svg('arrow', 'slider-arrow-left slider-arrows svg')
            span.sr-only Previous
          a.carousel-control-next(href='#carouselCourse' role='button' data-slide='next')
            //span.carousel-control-next-icon(aria-hidden='true')
            +svg('arrow', 'slider-arrow-right slider-arrows svg')
            span.sr-only Next
          ol.carousel-indicators
            li.active(data-target='#carouselCourse' data-slide-to='0')
            li(data-target='#carouselCourse' data-slide-to='1')
            li(data-target='#carouselCourse' data-slide-to='2')

    h2.course-page__att-header Attantion!
    .course-page__att-body-wrapper.course-page__att-body.offset-xl-1.col-xl-7.offset-lg-1.col-lg-9.offset-md-1.col-md-11
      p Listened to the basic course "Basic Training" diploma is given only after the successful passing of a practical examination. Examination work can be done at the Infiniti Lash training center. In the event of an unsuccessful change, a re-assignment is appointed.
    h2 final information
    .course-page__ticket
      .row.course-page__ticket-down#course-page__ticket-down
        .course-page__ticket-img.col-xl-3.col-lg-4
        .course-page__ticket-txt.col-xl-6.col-lg-5
          .left-wrapper
            p <span>date:</span> 14-15 april
            p <span>Location:</span> Benderstraße 102, 40625 Düsseldorf, Deutschland
          .right-wrapper
            p <span>Trainer:</span> max factor
            p <span>Free seats:</span> 3
        .course-page__ticket-flow-wrapper
          .course-page__ticket-flow
            .course-page__ticket-one-part
              p.course-page__ticket-flow-with-row Duration: 2 days
              p.course-page__ticket-flow-with-row additional practice + exam
            .course-page__ticket-two-part
              p.course-page__ticket-flow-price 950 €
              a.btn.btn-primary.row.justify-content-center.align-items-center(type='button' data-toggle='modal' data-target='#registrationForTheCourse') Register
              //a Buy As a Gift
  hr

  .course-page__registration-for-the-course-wrapper
    #registrationForTheCourse.modal.fade(tabindex='-1' role='dialog' aria-labelledby='registrationForTheCourseTitle' aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header
            h5#registrationForTheCourseLongTitle.modal-title Registration for the course
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            .modal-body__form
              form.grey-form
                .form-group
                  label(for='course-page__select-who') title
                  select#course-page__select-who.form-control
                    option Mr
                    option Miss
                    option Missisipi
                .form-group
                  label(for='course-page__first-name') first name*
                  input#course-page__first-name.form-control(type='text' required)
                .form-group
                  label(for='course-page__last-name') last name*
                  input#course-page__last-name.form-control(type='text' required)
                .form-group
                  label(for='course-page__company-name') company*
                  input#course-page__company-name.form-control(type='text' required)
                .form-group
                  label(for='course-page__phone-add') phone*
                  input#course-page__phone-add.form-control(type='number' required)
                .form-group
                  label(for='course-page__email-input') e-mail*
                  input#course-page__email-input.form-control(type='email' aria-describedby='emailHelp' required)
                .form-group
                  label(for='course-page__seats') number of seats*
                  select#course-page__seats.form-control
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                    option 6
                    option 7
                    option 8
                    option 9
                    option 10
                button.btn.btn-primary(type='submit') submit
            .modal-body__img
              .card-img
                img(src='img/card.jpg' alt='course-img')
              .card-text
                | Basic Training

    #thanksForRegistrationForTheCourse.modal.fade(tabindex='-1' role='dialog' aria-labelledby='thanksForRegistrationForTheCourseTitle' aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header
            h5#thanksForRegistrationForTheCourseLongTitle.modal-title We are glad that you are with us!
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            p Thank you so much! You have successfully registered, our manager will contact you in the near future
        .modal-footer


  .svgHide
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" style="position:absolute"><symbol id="arrow" viewBox="0 0 22.71 64"><defs><style>.cls-1-arrow{fill:none;stroke-miterlimit:10;stroke-width:2px}</style></defs><title>arrow</title><g id="Layer_2" data-name="Layer 2"><path class="cls-1-arrow" d="M.84.55l20.67 31.71L.84 63.45" id="arrow"></path></g></symbol></svg>