.course-page
  main
    font-size: 16px
    line-height: 26px
    .course-page__paragraphs-wrapper
      @media (max-width: 767px)
        padding-left: 0
        padding-right: 0
    h2
      font-family: "MontserratBold", sans-serif
      font-size: 16px
      text-transform: uppercase
      margin-top: 38px
      line-height: 20px
    h4
      font-family: "MontserratBold", sans-serif
      font-size: 16px
      @media (max-width: 767px)
        padding-left: 0
    p
      margin-top: 38px
    ul
      line-height: 36px
      li
        color: #ddb85f
        font-size: 18px
        span
          color: #000
          font-size: 16px
    h4
      margin-bottom: 18px
      margin-top: 29px
      &:first-of-type
        margin-top: 38px
    .course-page__article-slider
      margin-top: 50px
      margin-bottom: 79px
      padding-left: 0
      padding-right: 0
      max-width: 870px
      @media (max-width: 991px)
        max-width: 100%
      img
        height: 480px
        width: auto
        @media (max-width: 991px)
          height: 380px
        @media (max-width: 767px)
          height: 285px
        @media (max-width: 500px)
          height: 250px
        @media (max-width: 400px)
          height: 200px
        @media (max-width: 300px)
          height: 150px
      .carousel-indicators
        margin-right: 0
        left: auto
        right: 20px
        li
          cursor: pointer
          height: 10px
          width: 10px
          border-radius: 50%
          background-color: transparent
          border: 1px solid #ffffff
        .active
          background-color: #fff
      .slider-arrows
        stroke: #ffffff
        height: 65px
        width: 23px
        @media (max-width: 767px)
          height: 40px
          width: 14px
      .carousel-control-prev
        transform: rotate(180deg)
    .course-page__att-header
      margin-top: 0
      margin-bottom: 36px
    .course-page__att-body
      position: relative
      padding-left: 0
      &:before
        content: ''
        height: 90%
        width: 3px
        background-color: #ff5252
        position: absolute
        top: 5%
        left: -13px
    .course-page__ticket
      position: relative
      margin-top: 34px
      padding: 0
      min-height: 380px
      overflow: hidden
      .course-page__ticket-img
        //margin-top: 34px
        height: 380px
        width: auto
        background: url(../img/ticket-img.jpg) top left no-repeat
        background-size: cover
        @media (max-width: 991px)
          display: none
      .course-page__ticket-txt
        background-color: #f2f2f2
        font-family: "Montserrat", sans-serif
        text-transform: uppercase
        line-height: 30px
        padding: 63px 100px 59px 100px
        display: flex
        flex-direction: column
        justify-content: space-between
        max-width: 585px
        height: 380px
        @media (max-width: 1199px)
          padding: 30px 20px 30px 20px
          max-width: 355px
        @media (max-width: 991px)
          max-width: 375px
          padding: 30px 20px 30px 45px
          background: linear-gradient(to top, rgba(999,999,999, 0.9) 0%, rgba(999,999,999, 0.9) 100%), url(../img/ticket-img.jpg) top left no-repeat
          background-size: 100% auto
        @media (max-width: 767px)
          max-width: 100%
          flex-direction: row
          height: auto
          font-size: 14px
          padding: 15px 20px 15px 45px
        @media (max-width: 500px)
          flex-direction: column
          padding: 25px 20px 25px 45px
        .left-wrapper,
        .right-wrapper
          width: 100%
          height: 100%
          display: flex
          flex-direction: column
          justify-content: space-around
          @media (max-width: 767px)
            justify-content: flex-start
            &>p:first-of-type
              margin-bottom: 30px
        .left-wrapper
          @media (max-width: 767px)
            margin-right: 20px
          @media (max-width: 500px)
            margin-bottom: 30px
        p
          padding: 0
          margin: 0
          @media (max-width: 280px)
            margin-bottom: 10px!important
        span
          font-family: "MontserratBold", sans-serif
      .course-page__ticket-flow-wrapper
        position: absolute
        top: 0
        right: 0
        @media (max-width: 991px)
          position: static
        @media (max-width: 767px)
          width: 100%
      .course-page__ticket-flow
        display: flex
        flex-direction: column
        justify-content: space-between
        position: fixed
        top: 1000px
        margin-left: -270px
        transition: all 1s ease
        z-index: 20
        background-color: #1f1f1f
        width: 270px
        padding: 30px 43px 30px
        color: #fff
        height: 380px
        text-transform: uppercase
        @media (max-width: 991px)
          position: static
          margin-left: 0
          width: 329px
          padding: 25px 43px 25px
        @media (max-width: 767px)
          width: 100%
          height: auto
          padding: 30px 40px
          flex-direction: row
        @media (max-width: 500px)
          flex-direction: column


        .course-page__ticket-one-part
          @media (max-width: 767px)
            margin-bottom: 0!important
          @media (max-width: 500px)
            margin-bottom: 40px!important
          p
            @media (max-width: 991px)
              font-size: 16px
            @media (max-width: 767px)
              width: 90%

        p
          margin-top: 0
        .course-page__ticket-flow-with-row
          position: relative
          margin-bottom: 60px
          font-family: "MontserratSemiBold", sans-serif
          font-size: 18px
          line-height: 30px
          text-align: center
          &:last-child
            margin-bottom: 0
            &:after
              @media (max-width: 767px)
                height: 0
              @media (max-width: 500px)
                height: 1px
          @media (max-width: 767px)
            margin-bottom: 40px
            text-align: left
          &:after
            content: ""
            width: 60px
            height: 1px
            background-color: #fff
            position: absolute
            bottom: -30px
            left: 50%
            transform: translateX(-50%)
            @media (max-width: 767px)
              bottom: -20px
              left: 0
              transform: none
        .course-page__ticket-flow-price
          font-family: "MontserratSemiBold", sans-serif
          font-size: 34px
          text-align: center
          margin-bottom: 30px
          @media (max-width: 991px)
            font-size: 30px
          @media (max-width: 767px)
            text-align: left
        .btn-primary
          background-color: #fff
          color: #000
          padding: 8px
          margin: 0 auto 19px auto
          font-family: "MontserratSemiBold", sans-serif
          height: 40px
          width: 180px
          @media (max-width: 991px)
            width: 210px
          @media (max-width: 767px)
            width: 200px
          @media (max-width: 280px)
            width: auto
      .course-page__animate-ticket
        top: 400px
        @media (max-width: 1199px)
          top: 200px
      .course-page__hook
        position: static
    hr
      margin-top: 70px
      margin-bottom: 42px

    .course-page__registration-for-the-course-wrapper
      .modal-dialog
        max-width: 970px
        @media (max-width: 1199px)
          max-width: 930px
        @media (max-width: 991px)
          max-width: 692px
        @media (max-width: 767px)
          max-width: 523px
        @media (max-width: 575px)
          margin: auto
          max-width: 90%
        .modal-content
          padding-left: 70px
          padding-right: 70px
          @media (max-width: 1199px)
            padding-left: 50px
            padding-right: 50px
          @media (max-width: 991px)
            padding-left: 30px
            padding-right: 30px
          @media (max-width: 767px)
            padding-left: 25px
            padding-right: 25px
          @media (max-width: 575px)
            padding-left: 15px
            padding-right: 15px
          .modal-header
            padding-bottom: 30px
            padding-top: 120px
            margin-bottom: 30px
            h5
              font-size: 16px
              text-transform: uppercase
              font-family: "MontserratSemiBold", sans-serif
              text-align: center
              margin: 0 auto
            button
              position: absolute
              font-size: 44px
              font-size: "Montserrat"
              font-weight: normal
              right: 20px
              top: 20px
          .modal-body
            padding: 0
            display: flex
            justify-content: space-between
            .modal-body__form
              //flex-grow: 1
              width: 434px
              button
                margin-top: 25px
                margin-bottom: 90px
              @media (max-width: 991px)
                width: 100%
              form
                @media (max-width: 991px)
                  max-width: 453px
                  margin: 0 auto
                @media (max-width: 767px)
                  max-width: 473px
            .modal-body__img
              //flex-grow: 1
              max-width: 330px
              @media (max-width: 991px)
                display: none
              .card-img
                width: 330px
                height: 423px
                overflow: hidden
                position: relative
                margin-top: 40px
                img
                  position: absolute
                  max-width: 100%
                  height: 100%
                  margin: auto
                  top: 0
                  bottom: 0
                  left: 0
                  right: 0
              .card-text
                //min-height: 75px
                background-color: #f2f2f2
                padding: 25px
                font-family: "MontserratSemiBold", sans-serif
                text-align: center
                font-size: 25px
                /* second modal window */
      #thanksForRegistrationForTheCourse
        .modal-content
          border: none


        .modal-dialog
          flex-direction: column
          overflow: hidden
        .modal-header,
        .modal-footer
          border: none
          margin-bottom: 0
          padding-bottom: 0
        .modal-body
          max-width: 750px
          text-align: center
          margin: 50px auto 60px

          p
            margin: 0
        .modal-footer
          min-height: 212px
          width: 100%
          background-image: url('../img/thanks-for-registration.jpg')
          background-repeat: no-repeat
          background-size: contain
          border: none
          padding: 0
          padding-bottom: 0



