.course-page
  .course-page-courses
    margin-bottom: 139px
    h3
      font-family: "MontserratSemiBold", sans-serif
      text-transform: uppercase
      margin-bottom: 31px
  .items-without-slider
    @media (max-width: 991px)
      display: none
  .items-in-slider
    @media (min-width: 991px)
      display: none


