script(src='js/jquery.min.js')
//script(src='js/jquery-ui/jquery-ui.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/html5shiv/html5shiv.min.js')
//script(src='js/lightslider.min.js')
script(src="js/jquery.waypoints.min.js")
script(src="js/main.min.js")