.img-and-text__head.container-fluid
  .img-and-text__main-img
    .container
      .row
        .col-xl-6.offset-xl-0.col-lg-7.offset-lg-0.col-md-10.offset-md-1
          .fzf-info-wrapper
            h2 Page not found
            p We apologise, we cannot find the page you are looking for. It has either been moved, deleted or no longer exists. Please contact our Client Services or navigate to another page. Thank you..
            .fzf-info-a-wrapper
              a(href="index.html").btn.btn-primary homepage
              a(href="contact-us.html#customerServices").client-services client services
                +svg('totop', 'client-services-stroke svg')