.wrong-page
  .img-and-text__head
    .img-and-text__main-img
      height: 690px
      background: url(../img/404.jpg) top left no-repeat
      background-size: cover
      @media (max-width: 1199px)
        height: 490px
      @media (max-width: 991px)
        height: 370px
      @media (max-width: 767px)
        height: 280px
      @media (max-width: 576px)
        height: 370px
      @media (max-width: 360px)
          height: 450px
      .fzf-info-wrapper
        position: absolute
        background-color: #fff!important
        padding: 50px 70px 70px 70px
        margin-top: 150px
        @media (max-width: 1199px)
          padding: 50px 50px 70px 50px
          margin-top: 60px
        @media (max-width: 991px)
          padding: 50px 30px 50px 30px
          margin-top: 40px
          font-size: 14px
        @media (max-width: 767px)
          margin-top: 20px
          padding: 20px 25px 35px 25px
        @media (max-width: 340px)
          width: 90%
          margin-left: 50%
          transform: translateX(-53%)
        h2
          font-size: 24px
          text-transform: uppercase
          text-align: center
          margin-bottom: 45px
          @media (max-width: 991px)
            font-size: 21px
            margin-bottom: 20px
        p
          margin-bottom: 50px
          @media (max-width: 991px)
            margin-bottom: 40px
        .btn
          width: 200px
          height: 40px
          margin-right: 60px
          position: relative
          padding-top: 8px
          @media (max-width: 991px)
            margin-left: 50px
          @media (max-width: 767px)
            margin-left: 0
          @media (max-width: 300px)
            width: 100%
          &:after
            content: ""
            background-color: #cccccc
            height: 80px
            width: 1px
            position: absolute
            right: -32px
            top: -20px
            @media (max-width: 500px)
              display: none
        .client-services
          text-transform: uppercase
          font-size: 14px
          @media (max-width: 500px)
            margin-top: 20px
        .fzf-info-a-wrapper
          display: flex
          align-items: center
          @media (max-width: 500px)
            flex-direction: column
            align-items: flex-start
        .client-services-stroke
          height: 10px
          width: 28px
          // @media (max-width: 500px)
          //   display: inline-block

      .row
        @media (max-width: 576px)
          margin-right: 0
  footer
    margin-top: 120px
