//.container
  nav.search-page__bread-crumbs
    ol.breadcrumb
      li.breadcrumb-item
        a(href='/') Home
      li.breadcrumb-item.active Search: <span>Hair</span>
section.search-page__null-result
  h1 Sorry, we didn’t find any matches for "hair"
  .search-page__h1-add Check your spelling or use a more general term to try your search again.
  .container
    hr
    .row.parent-for-adaptive-search
      .search-page__null-result-block.col-xl-5.offset-xl-2.col-lg-6.offset-lg-1.col-md-7.col-sm-6.col-12
        .main-search.input-group.main-search-null
          input.form-control(type="search" placeholder="Search" aria-label="Search")
          .input-group-append
            button(type="button")
              +svg('search', 'search svg')
        p If you continue to have problems:
        ul
          li
            a(href="contact-us.html") Contact us
          li <a href="#">Provide feedback</a> to help improve our search

      .search-page__null-result-recom-wrapper.col-xl-3.col-lg-4.col-md-5.col-sm-6.col-12
        .search-page__null-result-recom
          .search-page__null-result-recom-header Frequently Searched:
          p
            a(href="shop.html") Tweezers
          p
            a(href="shop.html") Lash
          p
            a(href="shop.html") Liquids
          p
            a(href="shop.html") Gift Cards
          p
            a(href="shop.html") Glue

