.search-page
  // h1
  //   margin-top: 60px
  .search-page__bread-crumbs
    margin-top: 37px
    ol
      margin-bottom: 0
      padding: 0
      background-color: #fff
      .active
        color: #b2b2b2
  .search-page__null-result
    //h1
      margin-top: 30px
      margin-bottom: 10px
      font-family: "MontserratSemiBold", sans-serif
      font-size: 16px
      text-transform: uppercase
      text-align: center
    .search-page__h1-add
      margin-top: 0
      margin-bottom: 0
      font-size: 14px
      text-align: center
      color: #bfbfbf
    hr
      margin-top: 25px
      margin-bottom: 35px
    .main-search-one-wrapper
      position: relative
    .main-search
      color: #000
      width: 100%
      height: 35px
      margin-bottom: 35px
      @media (max-width: 991px)
        width: 690px
        margin-left: auto
        margin-right: auto
      @media (max-width: 767px)
        width: 520px
      @media (max-width: 576px)
        width: 90%
      button
        border: none
        position: absolute
        right: 3px
        top: 6px
        z-index: 10
        outline: none
        background-color: #fff
        &:hover
          cursor: pointer
        .search
          height: 20px
          width: 20px
    .search-page__null-result-block
      @media (max-width: 991px)
        order: 1
      @media (max-width: 575px)
        padding-left: 40px
        margin-top: -40px
        margin-bottom: 30px
      ul
        padding-left: 10px
      p
        font-family: "MontserratSemiBold", sans-serif
        margin-bottom: 15px
      li
        margin-bottom: 15px
        a
          text-decoration: underline
    .search-page__null-result-recom-wrapper
      margin-bottom: 80px
      .search-page__null-result-recom
        padding: 20px 30px 15px
        background-color: #f2f2f2
        .search-page__null-result-recom-header
          font-family: "MontserratSemiBold", sans-serif
          margin-bottom: 15px
        p
          margin-bottom: 15px

