.recommened.container
  h3.row.justify-content-center.align-items-center recommended for you

  include ../carousel/carousel-owl2

  .row.justify-content-center.align-items-center
    a(href="shop.html").btn.btn-primary Shop