main.container
  h1 my account
  a(href="#").back-to-menu
    h2 Profile and settings
      +svg('totop', 'back-adaptive-menu svg')
  .account-page__two-parts-wrapper.row
    .account-page__left-part.col-xl-5.offset-xl-1.col-lg-6.offset-lg-0
      p.account-page__hello Hello, <span>Max Factor</span>

      #account-page__list-tab.list-group
        a#list-profile-list.list-group-item.list-group-item-action Profile and settings
        a#list-payment-list.list-group-item.list-group-item-action Payment Methods
        a#list-shipping-adress-list.list-group-item.list-group-item-action.active Shipping Address
        a#list-orders-list.list-group-item.list-group-item-action My orders
        a#list-logout-list.list-group-item.list-group-item-action Logout

    .account-page__right-part.col-xl-6.col-lg-6
      #nav-tabContent.tab-content
        #list-shipping-adress.tab-pane.fade.active.show(role='tabpanel' aria-labelledby='list-shipping-adress-list')
          .account-page__shipping-adress-new
            h4 Shipping Address
            p.account-page__right-head-p You can add or update your Infiniti Lashes Shipping Address at any time.
            button.btn.btn-primary.auto-width adresse hinzufugen
          .account-page__shipping-address-add
            h4 Shipping Address
            p.account-page__right-head-p You can add or update your Infiniti Lashes Payment Method at any time.
            h6 add shipping address
            form.grey-form#add-new-adress
              .form-group
                label(for='account-page__adress-name-add') address name
                input#account-page__adress-name-add.form-control(type='text' placeholder="Address Name" required)
              .form-group
                label(for='account-page__first-name-add') first name*
                input#account-page__first-name-add.form-control(type='text' placeholder="First Name" required)
              .form-group
                label(for='account-page__last-name-add') last name*
                input#account-page__last-name-add.form-control(type='text' placeholder="Last Name" required)
              .form-group.account-page__address-input
                label(for='account-page__address-add-1') address*
              .account-page__add-remove-js
                input#account-page__address-add-1.form-control(type='text' placeholder="Address line 1 E/ G/ Park Street 21" name="account-page__address-add-1" required)
                .account-page__address-input-add-remove
                  a(href="#" data-model-name="account-page__address-add-2").account-page__add-address-line + Add address line
                  a(href="#").account-page__remove-address-line - Remove address line
              .account-page__city-zip
                .form-group
                  label(for='account-page__city-add') city*
                  input#account-page__city-add.form-control(type='text' placeholder="E. g. Milan" required)
                .form-group.account-page__zip-code
                  label(for='account-page__zip-add') zip code*
                  input#account-page__zip-add.form-control(type='number' placeholder="20100" required)
              .form-group
                label(for='account-page__country-add') country
                select#account-page__country-add.form-control
                  option Germany
                  option Ukraine
                  option USSR
              .form-group
                label(for='account-page__email-add') e-mail*
                input#account-page__email-add.form-control(type='email' aria-describedby='emailHelp' required)
              .form-group
                label(for='account-page__phone-add') phone*
                input#account-page__phone-add.form-control(type='number' required)
              button(type="submit" form="add-new-adress").btn.btn-primary Save
              a(href="#").btn.btn-primary.btn-cancel abbrechen
          .account-page__shipping-address-ready
            h4 Shipping Address
            p.account-page__right-head-p You can add or update your Infiniti Lashes Payment Method at any time.
            button.btn.btn-primary.account-page__shipping-address-add-new.auto-width adresse hinzufugen
            h6 my Addresses
            .account-page__select-home
              .grey-form
                select#account-page__select-home.form-control
                  option Home
                  option Work
                  option Island
                p Select the primary address
            .account-page__shipping-address-items
              .account-page__shipping-address-item
                p.btn-primary Home
                p.account-page__item-text Max Factor
                p.account-page__item-text Lützowplatz 17
                p.account-page__item-text Berlin, 10785, Germany
                p.account-page__item-text maxfactor21@mail.com
                .account-page__item-edit
                  a(href="#") Edit
                  a(href="#") Delete
              .account-page__shipping-address-item
                p.btn-primary work
                p.account-page__item-text Max Factor
                p.account-page__item-text Margaretenstr 37
                p.account-page__item-text Berlin, 12203, Germany
                p.account-page__item-text maxfactor21@mail.com
                .account-page__item-edit
                  a(href="#") Edit
                  a(href="#") Delete
              .account-page__shipping-address-item
                p.btn-primary Island
                p.account-page__item-text Max Factor
                p.account-page__item-text Lützowplatz 175
                p.account-page__item-text Berlin, 210785, Germany
                p.account-page__item-text maxfactor1@mail.com
                .account-page__item-edit
                  a(href="#") Edit
                  a(href="#") Delete
