footer
  .to-top
    text-transform: uppercase
    line-height: 20px
    margin-bottom: 40px
  hr
    margin-top: 0
    margin-bottom: 80px
    @media (max-width: 991px)
      margin-bottom: 10px
  .footer__one-for-subscribe-wrapper
    position: relative
    .form-check
      position: absolute
      right: 760px
      bottom: -35px
      z-index: 1
      @media (max-width: 991px)
        right: 560px
      @media (max-width: 767px)
        right: 510px
      @media (max-width: 575px)
        right: 93%
      @media (max-width: 470px)
        right: 90%
  .footer__one-header
    font-family: "MontserratSemiBold", sans-serif
    font-size: 16px
    margin-bottom: 17px
    text-transform: uppercase
  form
    margin-bottom: 33px
    input
      height: 40px
    .btn
      font-family: "MontserratSemiBold", sans-serif
      text-transform: uppercase
      width: 100%
      padding-top: 10px
      padding-bottom: 14px
      height: 40px
  .footer__one-footer
    max-width: 785px
    font-size: 12px
    line-height: 18px
    text-align: left
    margin-bottom: 80px
    color: #010101
    padding-left: 40px
    @media (max-width: 400px)
      padding-left: 30px
    a
      text-decoration: underline
  .container-fluid
    padding-left: 0
    padding-right: 0
    hr
      margin-bottom: 78px

  .footer__two
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    @media (max-width: 991px)
      flex-direction: column
    .footer__two-parts
      @media (max-width: 991px)
        margin-right: 10px
        margin-bottom: 60px
      @media (max-width: 767px)

        margin-right: 20px
    p
      font-family: "MontserratSemiBold", sans-serif
      margin-bottom: 40px
      text-transform: uppercase
    ul
      list-style: none
      margin-bottom: 0
      padding: 0
      li
        margin-top: 15px
        line-height: 15px
    .footer__find-us-wrapper
      width: 250px
      @media (max-width: 991px)
        width: auto

    .footer__two-stay
      @media (max-width: 991px)
        margin-top: 30px
        display: flex
        margin-bottom: 0
        //flex-wrap: wrap
      @media (max-width: 450px)
        flex-direction: column
      p
        margin-bottom: 30px
      li
        margin-top: 0
      .footer__two-stay-icons
        display: flex
        @media (max-width: 991px)
          padding-right: 100px
          margin-right: 75px
          border-right: 1px solid #cccccc
        @media (max-width: 767px)
          padding-right: 35px
          margin-right: 35px
        @media (max-width: 450px)
          padding-right: 0
          margin-right: 0
          border-right: none
        // @media (max-width: 300px)
        //   display: block
        svg
          height: 41px
          width: 40px
          margin-right: 10px
          @media (max-width: 300px)
            margin-right: 3px
      .footer__two-family
        display: flex
        align-items: center
        margin-top: 40px
        @media (max-width: 991px)
          flex-direction: column
          align-items: flex-start
          margin-top: 0
        @media (max-width: 450px)
          margin-top: 35px
        p
          margin-bottom: 0
          margin-top: 0
          @media (max-width: 991px)
            margin-bottom: 30px
        img
          height: 30px
          width: 66px
          margin-left: 30px
          @media (max-width: 991px)
            margin-left: 0
    .footer__cards-we-accept
      margin-top: 50px
      display: flex
      justify-content: flex-end
      width: 100%
      @media (max-width: 991px)
        justify-content: flex-start
      .svg
        margin-right: 20px
        height: 32px
        width: 42px
        cursor: auto
        @media (max-width: 300px)
          margin-right: 10px
      .mastercard-main

    .footer__two-custumer,
    .footer__two-about,
    .footer__two-legal
      @media (max-width: 991px)
        display: none
  .footer__two-rights
    text-align: center
    font-size: 10px
    text-transform: uppercase
    hr.before-end
      margin-top: 60px
      margin-bottom: 30px
      height: 1px
      @media (max-width: 991px)
        margin-top: 40px
  .totop
    transform: rotate(-90deg)
    width: 15px
    height: 30px
    stroke: #000000
  .svg
    &:hover
      //fill: yellow
      cursor: pointer
  .footer__one-text-wrapper
    @media (max-width: 991px)
      text-align: center
      margin-bottom: 15px

  .footer__two-accordeon
    @media (min-width: 992px)
      display: none
    .card
        border: none
        padding-right: 0px
        border-bottom: 1px solid #cccccc!important
        .card-header
          border: none
          background-color: #fff
          padding: 15px 0
          position: relative
          a
            padding: 0
        .card-body
          padding-left: 70px
          padding-bottom: 0
          padding-top: 0
          li
            margin-top: 0
            margin-bottom: 25px
            a
              display: block
              //margin-bottom: 25px
              font-size: 15px
              text-transform: uppercase
        .active
          font-family: "MontserratSemiBold", sans-serif !important
        h5
          font-family: "MontserratSemiBold", sans-serif
          font-size: 14px
          button
            text-transform: uppercase
            padding-left: 0
            text-decoration: none
            position: relative
            width: 100%
            text-align: left
            &:after
              content: url(../img/svg/shop-plus.svg)
              position: absolute
              right: 0
              font-family: "Montserrat", sans-serif
              font-size: 35px
              top: -10px
              height: 30px
              width: 30px
          .footer__two-accordeon-change-plus
            &:after
              content: url(../img/svg/shop-minus.svg)!important
              top: -13px
              width: 25px
              top: -25px
/*fyodor.work@gmail.com*/
.cookies-wrapper
  position: fixed
  bottom: -100%
  background-color: rgba(0,0,0,0.8)
  color: #ffffff
  z-index: 100
  padding: 30px 0
  transition: .4s all ease-in-out
  p
    margin-bottom: 0!important
    font-size: 12px!important
    padding-left: 15px!important
    padding-right: 70px!important
    line-height: 18px!important
    @media (max-width: 767px)
      padding-bottom: 20px!important
      padding-right: 20px!important
  .container
    position: relative
    .close-cookies
      height: 20px
      width: 40px
      position: absolute
      right: 100px
      top: 10px
      cursor: pointer
      transition: 0.4s all ease-in-out
      //fill: #ffffff
      z-index: 100
      background-color: #fff
      color: #000000
      //&:hover
      //  fill: lightgrey
      font-size: 12px
      text-align: center
      text-decoration: none
      //padding-top: 2px
      @media (max-width: 991px)
        top: 10px
        right: 20px
      @media (max-width: 767px)
        top: 60px
        right: 40px
      @media (max-width: 420px)
        top: 80px

    a
      color: #ffffff
      text-decoration: underline

#footer-popup
  position: fixed
  bottom: -120%
  z-index: 101
  border-top: 1px solid #bbbbbb
  background-color: #ffffff
  padding: 35px 115px
  transition: .4s all ease-in-out
  p
    margin-bottom: 0
  svg
    position: absolute
    height: 20px
    right: 160px
    top: 15px
    cursor: pointer









  //padding-right: 0!important
  //.modal-dialog
  //  max-width: 100%
  //  .modal-content
  //    border-radius: 0px
  //    .container
  //      position: relative
  //      .modal-body
  //        padding: 35px 115px
  //        @media (max-width: 991px)
  //          padding: 35px 10px
  //      button
  //        position: absolute
  //        top: 0px
  //        right: 170px
  //        font-size: 35px
  //        @media (max-width: 991px)
  //          right: 10px
//






