.contact-us-page
  .img-and-text__head
    .img-and-text__main-img
      background: linear-gradient(to top, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0) 100%), url(../img/contact-main.jpg) top left no-repeat
      background-size: cover
  main
    h3
      text-align: center
      margin-top: 38px
      margin-bottom: 17px
      &:last-of-type
        margin-top: 81px
    p
      color: #b3b3b3
      text-align: center
      font-size: 14px
      line-height: 21px
      max-width: 548px
      margin: 0 auto 38px
      &:last-of-type
        margin: 0 auto 70px
    .contact-us-page__write-us
      margin-bottom: 110px
      label
        padding-left: 4px
    .contact-us-page__contacts
      display: flex
      justify-content: space-between
      min-height: 120px
      align-content: space-between
      margin-bottom: 81px
      align-items: flex-start
      @media (max-width: 767px)
        flex-wrap: wrap
      .contact-us-page__contact
        min-height: 120px
        display: flex
        flex-direction: column
        //justify-content: space-between
        width: 100%
        flex-basis: 310px
        @media (max-width: 767px)
          width: 49%
          flex-basis: 49%
        @media (max-width: 500px)
          width: 100%
          flex-basis: 100%
        div
          &:last-child
            padding-top: 30px
        a
          text-align: center
          display: flex
          flex-direction: column
          justify-content: space-between
          font-family: "MontserratSemiBold", sans-serif
          .svg
            height: 40px
            width: 40px
            margin-left: 50%
            transform: translateX(-50%)
      .contact-us-page__mail
        border-left: 1px solid #e6e6e6
        border-right: 1px solid #e6e6e6
        @media (max-width: 767px)
          border: none
      .contact-us-page__map
        @media (max-width: 767px)
          border-right: 1px solid #e6e6e6
          padding-top: 40px
        @media (max-width: 500px)
          border: none
          padding-top: 0
        div:last-child
          @media (max-width: 767px)
            width: 80%
            margin: 0 auto
      .contact-us-page__phone
        @media (max-width: 767px)
          border-right: 1px solid #e6e6e6
        @media (max-width: 500px)
          border: none

    form
      /* ============================================================================
       * effects in input
       * ============================================================================ */
      \:focus
        outline: none
      .form-group
        margin-bottom: 27px
      #contact-us-page__textarea
        resize: none
        height: 240px
        box-shadow: none
        background: #f0f0f0
      textarea
        padding: 19px 29px
        &::-webkit-input-placeholder
          color: #bfbfbf
        &:-moz-placeholder



      #contact-us-page__select-title,
      #contact-us-page__select-subject
        //border: 0
        box-shadow: none
        //padding-left: 0
        //border-bottom: 1px solid #7b7e82
        padding: 0
        height: 72px
      .form-control
        font-size: 16px !important
      .select-subject
        margin-top: -25px
      .input-effect
        position: relative
        z-index: 90
        margin-bottom: 28px
        input, textarea
          display: block
          width: 100%
          color: #000
        .effect-16
          border: 0
          padding: 12px 0
          border-bottom: 1px solid #7b7e82
          background-color: transparent
          ~ .focus-border
            position: absolute
            z-index: 100
            bottom: 0
            left: 0
            width: 0
            height: 1px
            background-color: #000
            transition: 0.4s
          &:focus ~ .focus-border
            width: 100%
            transition: 0.4s
        .has-content.effect-16 ~ .focus-border
          width: 100%
          transition: 0.4s
        .effect-16
          ~ label
            position: absolute
            text-align: left
            z-index: 100
            left: 0
            top: 0
            width: 100%
            color: #000
            transition: 0.3s
            z-index: -1
            letter-spacing: 0.5px
          &:focus ~ label
            top: -16px
            font-size: 12px
            color: #7b7e82
            transition: 0.3s
        .has-content.effect-16 ~ label
          top: -16px
          font-size: 12px
          color: #7b7e82
          transition: 0.3s
        .error-text
          color: #8d1f1f
          font-size: 0.75em
          position: absolute
          right: 20px
          top: 25px
        .no-validate
          border-bottom: 1px solid #d12c3a
          &:after
            content: "sssssssss"
            display: inline-block

      .contact-us-page__send-attach-wrapper
        position: relative
        // display: flex
        // justify-content: space-between
        // align-items: center

        // @media (max-width: 991px)
        //   justify-content: flex-start
        // @media (max-width: 500px)
        //   justify-content: space-between
        //   flex-wrap: wrap
        // .file__attach
        //   margin-bottom: 0
        //   @media (max-width: 991px)
        //     margin-left: 30px
        //   @media (max-width: 500px)
        //     margin-left: 10px
        //     padding: 10px
        .btn
          display: inline-block
          height: 40px
          padding: 8px
          max-width: 225px
          @media (max-width: 991px)
            max-width: 330px
          @media (max-width: 767px)
            max-width: 100%
            margin-top: 40px
        .file__attach
          position: absolute
          display: inline-block
          right: 0
          top: 50%
          transform: translateY(-50%)
          // @media (max-width: 1199px)
          //   margin-left: 40px
          // @media (max-width: 991px)
          //   margin-left: 30px
          @media (max-width: 767px)
            left: 0
            right: auto
            top: 10px
          // @media (max-width: 517px)
          //   position: static
          //   width: 100%
          //   margin-bottom: 15px

