main.container
  h3#customerServices Customer services
  p Our team of staff is available Monday to Saturday from 9:00 am to 8:00 pm (Dortmund time) to answer your questions
  .contact-us-page__contacts
    .contact-us-page__phone.contact-us-page__contact
      div
        a(href='tel:+4917641715692')
          +svg('phone', 'phone svg')
      div
        a(href='tel:+4917641715692') +49 176 41715692
    .contact-us-page__mail.contact-us-page__contact
      div
        a(href='mailto:info@infinitylashes.com')
          +svg('e-mail', 'e-mail svg')
      div
        a(href='mailto:info@infinitylashes.com') info@infinitylashes.com
    .contact-us-page__map.contact-us-page__contact
      div
        a(href='https://goo.gl/maps/tk6YXd4WKaT2' target="_blank")
          +svg('address', 'address svg')
      div
        a(href='https://goo.gl/maps/tk6YXd4WKaT2' target="_blank") Ostwall 31a, 44135 Dortmund
        //Heiliger Weg 48, 44135 Dortmund
  h3 General Enquiries
  p You can also write to us using the form below. Please complete all fields marked with an *.
  .contact-us-page__write-us
    form.row
      .contact-us-page__fields.offset-xl-1.col-xl-5.col-lg-6
        .form-group
        .form-group
          .input-effect
            input#contact-us-page__input-title.effect-16(type='text' placeholder='')
            label(for='contact-us-page__input-first-name') Title*
            span.focus-border
          //.input-effect
            select#contact-us-page__select-title.form-control.effect-16
              option Title
              option Title 2
              option Title 3
              option Title 4
              option Title 5
            //label(for='contact-us-page__select-title') Title
            span.focus-border
        .form-group
          .input-effect
            input#contact-us-page__input-first-name.effect-16(type='text' placeholder='')
            label(for='contact-us-page__input-first-name') First Name*
            span.focus-border
        .form-group
          .input-effect
            input#contact-us-page__input-last-name.effect-16(type='text' placeholder='')
            label(for='contact-us-page__input-last-name') Last Name*
            span.focus-border
        .form-group
          .input-effect
              input#contact-us-page__company-name.effect-16(type='text')
              label(for='contact-us-page__company-name') Сompany
              span.focus-border
        .form-group
          .input-effect
            input#contact-us-page__input-email.effect-16(type='email' placeholder='' /*aria-describedby='emailHelp'*/)
            label(for='contact-us-page__input-email') E-mail Address*
            span.focus-border
        .form-group
          .input-effect.select-subject
            select#contact-us-page__select-subject.form-control.effect-16
              option Subject
              option Subject 2
              option Subject 3
              option Subject 4
              option Subject 5
              //label(for='contact-us-page__input-first-name') Subject
            span.focus-border
      .contact-us-page__fields-send.col-xl-5.col-lg-6
        .form-group
          label(for='contact-us-page__textarea') *
          textarea#contact-us-page__textarea.form-control.textarea(placeholder="Your message")
        #filesAdded
        .contact-us-page__send-attach-wrapper
          .file__attach
              input(type="file", name="attach" multiple="").load-file-hide#load-file-contacts
              +svg('attach', 'attach svg')
              label(for="load-file-contacts") Attach files (5Mb max)
          button.btn.btn-primary.col(type='submit') send message
  .svgHide
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" style="position:absolute"><symbol id="phone" viewBox="0 0 64 126"><defs><style>.cls-1-pho{fill:#0a0a0a}</style></defs><title>phone</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1-pho" d="M59 0H5a5 5 0 0 0-5 5v116a5 5 0 0 0 5 5h54a5 5 0 0 0 5-5V5a5 5 0 0 0-5-5zm3 121a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h54a3 3 0 0 1 3 3z"></path><path class="cls-1-pho" d="M41 9H23a.94.94 0 0 0-1 1 .94.94 0 0 0 1 1h18a.94.94 0 0 0 1-1 .94.94 0 0 0-1-1zM32 110a6 6 0 1 0 6 6 6 6 0 0 0-6-6zm0 10a4 4 0 1 1 4-4 4 4 0 0 1-4 4z"></path></g></g></symbol><symbol id="e-mail" viewBox="0 0 126 70"><defs><style>.cls-1-mail{fill:#0a0a0a}</style></defs><title>e-mail</title><g id="Layer_2" data-name="Layer 2"><path class="cls-1-mail" d="M123 0H3a3 3 0 0 0-3 3v63.8A3.16 3.16 0 0 0 3.2 70h119.6a3.16 3.16 0 0 0 3.2-3.2V3a3 3 0 0 0-3-3zm.9 67.3L78.1 42.1 124 3.2v63.6a.9.9 0 0 1-.1.5zM2 66.8V3.2l45.9 38.9L2.1 67.2a.6.6 0 0 1-.1-.4zm61.6-15.1a1 1 0 0 1-1.3 0L3.7 2h118.6zm-14-8.2l11.5 9.8a3.7 3.7 0 0 0 1.9.7 2.64 2.64 0 0 0 1.9-.7l11.5-9.7L121.1 68H4.8z" id="Layer_1-2" data-name="Layer 1"></path></g>
    </symbol><symbol id="address" viewBox="0 0 90 126"><defs><style>.cls-1-addr{fill:#0a0a0a}.cls-2{fill:none;stroke:#0a0a0a;stroke-miterlimit:10;stroke-width:2px}</style></defs><title>address</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1-addr" d="M45 0C20.2 0 0 20 0 44.6c0 10.7 7.1 29.3 19.1 49.7C28 109.6 39.9 126 45 126s17-16.4 25.9-31.7C82.8 73.9 90 55.3 90 44.6 90 20 69.8 0 45 0zm24.2 93.3C58.2 112.3 48 124 45 124s-13.2-11.7-24.2-30.7C9 73.2 2 55 2 44.6 2 21.1 21.3 2 45 2s43 19.1 43 42.6c0 10.4-7 28.6-18.8 48.7z"></path><path class="cls-2" d="M45 17a26 26 0 1 0 26 26 26.08 26.08 0 0 0-26-26z"></path><circle class="cls-2" cx="45" cy="43" r="7"></circle></g></g></symbol></svg>


