#filters-wrapper
  //margin-top: 111px
  position: absolute
  z-index: 1
  border-bottom: 1px solid #bfbfbf
  background-color: rgba(255, 255, 255, 0.97)
  opacity: 0
  visibility: hidden
  transition: .2s all ease-in-out
  .container
    position: relative
  #filters
    margin-left: 0
    margin-right: 0
    padding: 80px 0 0
    @media (max-width: 1199px)
      padding: 120px 0 0
    & > div
      padding-left: 0
      padding-right: 0
    h6
      font-family: "MontserratSemiBold", sans-serif
      font-size: 12px
      margin-top: 0
      margin-bottom: 25px
      text-transform: uppercase
    .filter-1-wrapper,
    //.filter-2-wrapper,
    //.filter-3-wrapper,
    .filter-4-wrapper,
    .filter-5-wrapper
      display: flex
      flex-wrap: wrap
      margin-bottom: 40px
      .filter-1-item
        //.filter-2-item
        margin-right: 10px
        margin-bottom: 10px
        //width: 60px
        padding: 15px
        height: 40px
        border: 1px solid #e5e5e5
        text-align: center
        vertical-align: center
        line-height: 10px
        cursor: pointer
      //.filter-3-item
        width: 70px
      .filter-5-item
        border: 1px solid #D2D2D2
        margin-right: 15px
        margin-bottom: 15px
        height: 30px
        width: 30px
        border-radius: 50%
        cursor: pointer
      .active
        border: 1px solid #000
      .disabled
        background-color: #f7f7f7
        cursor: no-drop
    .filter-4-wrapper
      margin-left: -15px
      margin-right: -15px
      @media (max-width: 300px)
        width: 100%
      input
        margin-bottom: 30px
        width: 70px
        height: 40px
        border: 1px solid #e5e5e5
        outline: none
        margin-left: 30px
        margin-right: 30px
        text-align: center
        font-size: 12px
    .filter-5-wrapper
      .color-1
        background-color: #000
      .color-2
        background-color: #443f3d
      .color-3
        background-color: #ae8c64
      .color-4
        background-color: #2a1c48
      .color-5
        background-color: #5e2a00
      .color-6
        background-color: #949494
      .color-7
        background-color: #1f1f1f
      .color-8
        background-color: #8c6d4c
      .color-9
        background-color: #122d4f
      .color-10
        background-color: #626262
      .active-color
        border: 1px solid red
      .disabled-color
        opacity: .15
        cursor: no-drop
  .filter-buttons
    margin: 0 0 40px 0
    justify-content: flex-end
    align-items: center
    position: relative
    .filter-close
      margin-right: 40px
      margin-left: 75px
      bottom: 30px
      text-transform: uppercase
      cursor: pointer
      @media (max-width: 394px)
        margin-right: 55px
        margin-top: 20px
    .filter-clear
      margin-right: 40px
      margin-left: 75px
      bottom: 30px
      text-transform: uppercase
      cursor: pointer
      @media (max-width: 394px)
        margin-right: 55px
        margin-top: 20px
    button
      height: 40px
      width: 170px
    .filter-close-black
      fill: #000000
      height: 15px
      width: 15px
      position: absolute
      right: 0
      top: 13px
      @media (max-width: 394px)
        top: 65px
  #filter-slider,
  .filter-slider
    box-shadow: none
    border: none
    height: 5px !important
    background-color: #a6a6a6
    width: 80%
    margin-left: auto
    margin-right: auto
    .noUi-connect
      background-color: #4fe599
      height: 5px !important
    .noUi-origin
      height: 5px !important
    .noUi-handle
      top: -8px
      border: none
      width: 20px
      height: 20px
      border-radius: 50%
      background-color: #000
      box-shadow: none
      outline: none
      cursor: pointer
      &::before
        display: none
      &::after
        display: none
  .noUi-connect
    background-color: #4fe599
    height: 1px

.show-filters
  visibility: visible !important
  opacity: 1 !important

