.container-fluid.filters-wrapper#filters-wrapper
  .container
    .row.filter-row#filters
      .filter-1.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
        h6 Thickness
        .filter-1-wrapper
          .filter-1-item 0.05
          .filter-1-item 0.07
          .filter-1-item 0.10
          .filter-1-item.active 0.12
          .filter-1-item 0.15
          .filter-1-item.disabled 0.18
          .filter-1-item 0.20
      .filter-1.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
        h6 Length
        .filter-1-wrapper
          .filter-1-item 8mm
          .filter-1-item 9mm
          .filter-1-item.disabled 10mm
          .filter-1-item 11mm
          .filter-1-item.active 12mm
          .filter-1-item 13mm
          .filter-1-item 14mm
          .filter-1-item 15mm
          .filter-1-item 16mm
      .filter-1.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
        h6 type
        .filter-1-wrapper
          .filter-1-item L+Curle
          .filter-1-item.active D+Curle
          .filter-1-item C+Curle
          .filter-1-item.disabled B+Curle
      .filter-4.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
        h6 price
        .filter-4-wrapper
          .filter-inputs
            input#min
            input#max
            #filter-slider.filter-slider
      .filter-5.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
        h6 Color
        .filter-5-wrapper
          .filter-5-item.color-1
          .filter-5-item.color-2.active-color
          .filter-5-item.color-3
          .filter-5-item.color-4
          .filter-5-item.color-5.disabled-color
          .filter-5-item.color-6
          .filter-5-item.color-7.disabled-color
          .filter-5-item.color-8
          .filter-5-item.color-9
          .filter-5-item.color-10
    .row.filter-buttons
      button(type="submit").btn.btn-primary apply
      //.filter-close close
        +svg('close', 'filter-close-black svg')
      a(href="#").filter-clear Clear

