.container
  //nav.cart-page__bread-crumbs
    ol.breadcrumb
      li.breadcrumb-item
        a(href='index.html') Home
      li.breadcrumb-item.active Shopping bag
section.container.cart-page__shopping-bag
  h1 your shopping bag <span>(<span>1</span> <span>item</span>)</span>
  hr
  .cart-page__item-order-wrapper
    .cart-page__items-wrapper
      .cart-page__item-wrapper.cart-page__item-set-wrapper
        .cart-page__img-item
          div
        .cart-page__desc-item
          h4 BLACK PEARL WIMPERNKLEBER (3ER SET)
          p.cart-page__desc-item-one-price € <span>200.99</span>
          p.zz zzgl. 19% USt.
          p.cart-page__product-id Product ID #: 0041232969
          .cart-page__item-footer-wrapper
            .cart-page__quantiti-of-order-edit
              .cart-page__quantiti-of-order
                span.minus -
                .label-wrapper
                  label(for="cart-page__quantiti-of-order") Menge:
                  input(type='text' value='1' size='5' readonly='')#cart-page__quantiti-of-order
                //- label(for="cart-page__quantiti-of-order") Menge:
                //- input(type='text' value='1' size='5' readonly)
                span.plus +
              .cart-page__edit
                a(href="#") Remove
            .cart-page__set-details-wrapper
              .cart-page__set-details-header Produktliste
                +svg('totop', 'more-set-info-stroke svg')
              .cart-page__set-details-body
                .cart-page__set-details-body-item-wrapper
                  a(href="#" target="_blank") Silk Lashes (Menge: <span>2</span>)
                  p Thickness: 0.15
                  p Length: 10mm
                  p Color: Black
                  p.cart-page__product-id Product ID #: 0041232969
                .cart-page__set-details-body-item-wrapper
                  a(href="#" target="_blank") Wimpernbürstchen (Menge: <span>10</span>)
                  p Inhalt: 50 St 
                  p.cart-page__product-id Product ID #: 0041232969
                .cart-page__set-details-body-item-wrapper
                  a(href="#" target="_blank") Pinzette Long Swan Pinzette Long Swan (multicolor) (Menge: <span>1</span>)
                  p.cart-page__product-id Product ID #: 0041232969
                .cart-page__set-details-body-item-wrapper
                  a(href="#" target="_blank") 25 Paar Augenpads #02 (Menge: <span>2</span>)
                  p Thickness: 0.15
                  p Length: 10mm
                  p Color: Black
                  p.cart-page__product-id Product ID #: 0041232969
      .cart-page__item-wrapper
        .cart-page__img-item
          div
        .cart-page__desc-item
          h4 L+Curl Lashes by Infinity Lashes
          p.cart-page__desc-item-one-price $<span>19</span>
          p.zz zzgl. 19% USt.
          p Thickness: 0.15
          p Length: 10mm
          p Color: Black
          p.cart-page__product-id Product ID #: 0041232969
          .cart-page__quantiti-of-order-edit
            .cart-page__quantiti-of-order
              span.minus -
              .label-wrapper
                label(for="cart-page__quantiti-of-order") Menge:
                input(type='text' value='1' size='5' readonly='')#cart-page__quantiti-of-order
              span.plus +
            .cart-page__edit
              a(href="#") Edit
              a(href="#") Remove
      .cart-page__item-wrapper
        .cart-page__img-item
          div
        .cart-page__desc-item
          h4 L+Curl Lashes by Infinity Lashes
          p.cart-page__desc-item-one-price $<span>19</span>
          p.zz zzgl. 19% USt.
          p Thickness: 0.15
          p Length: 10mm
          p Color: Black
          p.cart-page__product-id Product ID #: 0041232969
          .cart-page__quantiti-of-order-edit
            .cart-page__quantiti-of-order
              span.minus -
              .label-wrapper
                label(for="cart-page__quantiti-of-order") Menge:
                input(type='text' value='1' size='5' readonly='')#cart-page__quantiti-of-order
              span.plus +
            .cart-page__edit
              a(href="#") Edit
              a(href="#") Remove
      .cart-page__item-wrapper.cart-page__item-set-wrapper
        .cart-page__img-item
          div
        .cart-page__desc-item
          h4 Product set gorgeous (#3)
          p.cart-page__desc-item-one-price € <span>200.99</span>
          p.zz zzgl. 19% USt.
          p.cart-page__product-id Product ID #: 0041232969
          .cart-page__item-footer-wrapper
            .cart-page__quantiti-of-order-edit
              .cart-page__quantiti-of-order
                span.minus -
                .label-wrapper
                  label(for="cart-page__quantiti-of-order") Menge:
                  input(type='text' value='1' size='5' readonly='')#cart-page__quantiti-of-order
                //- label(for="cart-page__quantiti-of-order") Menge:
                //- input(type='text' value='1' size='5' readonly)
                span.plus +
              .cart-page__edit
                a(href="#") Remove
            .cart-page__set-details-wrapper
              .cart-page__set-details-header Produktliste
                +svg('totop', 'more-set-info-stroke svg')
              .cart-page__set-details-body
                .cart-page__set-details-body-item-wrapper
                  a(href="#" target="_blank") Silk Lashes (Menge: <span>2</span>)
                  p Thickness: 0.15
                  p Length: 10mm
                  p Color: Black
                  p.cart-page__product-id Product ID #: 0041232969
                .cart-page__set-details-body-item-wrapper
                  a(href="#" target="_blank") Wimpernbürstchen (Menge: <span>10</span>)
                  p Inhalt: 50 St 
                  p.cart-page__product-id Product ID #: 0041232969
                .cart-page__set-details-body-item-wrapper
                  a(href="#" target="_blank") Pinzette Long Swan Pinzette Long Swan (multicolor) (Menge: <span>1</span>)
                  p.cart-page__product-id Product ID #: 0041232969
                .cart-page__set-details-body-item-wrapper
                  a(href="#" target="_blank") 25 Paar Augenpads #02 (Menge: <span>2</span>)
                  p Thickness: 0.15
                  p Length: 10mm
                  p Color: Black
                  p.cart-page__product-id Product ID #: 0041232969

    .cart-page__order-wrapper
      h4 Bestellungsübersicht
      form
        #cart-page__select-title
          p Gutscheincode hinzufügen
          +svg('totop', 'promotion-stroke svg')
        #cart-page__promotional-input
          .form-group.grey-form
            input(type="text").form-control
            +svg('close-search', 'close-search-code svg')
            button.btn.btn-primary Apply
        //select#cart-page__select-title.form-control
          option(value="") Add your promotional code here
          option(value="") Add your promotional code here 2
          option(value="") Add your promotional code here 3
          option(value="") Add your promotional code here 4
          option(value="") Add your promotional code here 5
        //label(for='contact-us-page__select-title') Title
        //span.focus-border
        //h6.cart-page__order-total Total breakdown
        .cart-page__order-text-wrapper
          .cart-page__order-text
            p Zwischensumme:
            p €<span>19</span>
          .cart-page__order-text
            p.cart-page__shipping Versand:
            p.cart-page__shipping €<span>5</span>
          .cart-page__order-text
            p Rabatt:
            p €<span>20</span>
          .cart-page__order-text
            p Umsatzsleuer (19%):
            p €<span>20</span>
          p € <span>25</span> bis kastenlasen Versand
        //p.cart-page__order-taxes Taxes will be shown at end of checkout
        .cart-page__order-total-price
          h6 Gesamtbetrag:
          p €<span>24</span>
        a(href="checkout.html").btn.btn-primary.cart-page__proceed to checkout
        a(href="shop.html" target="_blank").cart-page__continue-shopping continue shopping
