.cart-page
  .cart-page__shopping-bag
    h1
      margin-top: 38px
      margin-bottom: 0
      font-family: "MontserratSemiBold", sans-serif
      font-size: 16px
      line-height: 20px
      text-align: center
      text-transform: uppercase
    hr
      margin-top: 37px
      margin-bottom: 40px
    .cart-page__item-order-wrapper
      display: flex
      justify-content: space-between
      align-items: flex-start
      margin-bottom: 80px
      @media (max-width: 767px)
        flex-direction: column
      .cart-page__items-wrapper
        max-width: 570px
        @media (max-width: 1199px)
          max-width: 480px
        @media (max-width: 991px)
          max-width: 360px
        @media (max-width: 767px)
          max-width: 100%
        @media (max-width: 575px)
          width: 100%
      .cart-page__item-wrapper
        display: flex
        border-bottom: 1px solid #bfbfbf
        margin-bottom: 20px
        position: relative
        @media (max-width: 1199px)
          padding-bottom: 90px
        @media (max-width: 767px)
          padding-bottom: 0
        @media (max-width: 575px)
          padding-bottom: 90px
        @media (max-width: 450px)
          flex-direction: column
        .cart-page__img-item
          margin-top: 20px
          margin-right: 30px
          @media (max-width: 575px)
            margin-right: 0
          div
            height: 220px
            width: 170px
            overflow: hidden
            background-image: url(../img/item-in-items.png)
            background-size: auto 100%
            background-repeat: no-repeat
            background-position: center center
            @media (max-width: 575px)
              margin-left: auto
              margin-right: auto
        .cart-page__desc-item
          margin-top: 20px
          @media (max-width: 1199px)
            max-width: 280px
          @media (max-width: 991px)
            max-width: 160px
          @media (max-width: 767px)
            max-width: 321px
          @media (max-width: 575px)
            margin-left: 30px
          @media (max-width: 450px)
            max-width: 100%
            margin-left: 0
          h4
            font-family: "MontserratSemiBold", sans-serif
            font-size: 14px
            line-height: 20px
            text-transform: uppercase
            margin-bottom: 15px
            @media (max-width: 767px)
              max-width: 315px
            @media (max-width: 450px)
              max-width: 100%
          p
            margin-bottom: 18px
            font-size: 12px
            line-height: 20px
            color: #b3b3b3
          .cart-page__product-id
            margin-bottom: 29px
            //color: #999999
          .cart-page__desc-item-one-price
            font-size: 18px
            color: #8c8c8c
          .cart-page__item-footer-wrapper
            padding-bottom: 40px
          .cart-page__set-details-wrapper
            border: 1px solid #e6e6e6
            width: 370px
            @media (max-width: 991px)
              width: 360px
            @media (max-width: 767px)
              width: 520px
            @media (max-width: 576px)
              width: 140%
            @media (max-width: 450px)
              width: 100%
            .cart-page__set-details-header
              position: relative
              cursor: pointer
              padding: 20px
              font-family: "Montserrat", sans-serif
              font-size: 16px
              line-height: 15px
              .more-set-info-stroke
                position: absolute
                right: 20px
                height: 11px
                width: 6px
                transform: rotate(90deg)
                transition: transform .4s ease-in
              .more-set-info-stroke-move
                transform: rotate(-90deg)
            .cart-page__set-details-body
              display: none
              padding: 0 20px 20px 20px
              .cart-page__set-details-body-item-wrapper
                border-bottom: 1px solid #e6e6e6
                margin-bottom: 30px
                &:last-of-type
                  border-bottom: none
                  margin-bottom: 0
                .cart-page__product-id
                  margin-bottom: 30px
                a
                  display: inline-block
                  margin-bottom: 18px
                  color: #6699cc
                  font-family: "Montserrat", sans-serif
                  font-size: 14px
            .cart-page__set-details-body-open
              padding-bottom: 0
          .cart-page__quantiti-of-order-edit
            display: flex
            justify-content: space-between
            align-items: center
            padding-bottom: 40px
            @media (max-width: 1199px)
              position: absolute
              left: 0
              bottom: -10px
            @media (max-width: 767px)
              position: static
            @media (max-width: 575px)
              position: absolute
            @media (max-width: 350px)
              flex-direction: column
              align-items: flex-start
            .cart-page__quantiti-of-order
              width: 180px
              width: 200px
              position: relative
              border: 1px solid #e6e6e6
              &:before
                content: ''
                height: 30px
                width: 1px
                background-color: #e6e6e6
                position: absolute
                left: 45px
                top: 4px
              &:after
                content: ''
                height: 30px
                width: 1px
                background-color: #e6e6e6
                position: absolute
                right: 45px
                top: 4px
              input
                display: block
                margin-left: 60%
                width: 55px
                height: 40px
                text-align: left
                border: none
              label
                position: absolute
                top: 50%
                transform: translateY(-50%)
                text-align: left
                margin-left: 10px
              span
                font-size: 30px
                position: absolute
                cursor: pointer
                user-select: none
              .minus
                left: 15px
                bottom: 0
              .plus
                right: 15px
                bottom: 0
              @media (max-width: 991px)
                margin-bottom: 0
              @media (max-width: 350px)
                order: 2
                margin-top: 10px
            a
              padding: 5px 20px
              text-decoration: underline
              @media (max-width: 767px)
                padding: 5px 10px
            

      .cart-page__item-wrapper.cart-page__item-set-wrapper
        @media (max-width: 1199px)
          padding-bottom: 0
        .cart-page__img-item
          div
            background-image: url(https://unsplash.it/170/220/?random1)
        .cart-page__item-footer-wrapper
          @media (max-width: 1199px)
            float: right
            margin-top: 100px
            margin-right: 110px
            padding-bottom: 30px
            //margin-top: 70px
          @media (max-width: 991px)
            margin-top: 70px
            margin-right: 0
            padding-bottom: 30px
          @media (max-width: 767px)
            margin-right: 0
            margin-top: 100px
          @media (max-width: 576px)
            margin-right: 120px
          @media (max-width: 450px)
            margin-right: 0
            float: none
            margin-top: 34px
          .cart-page__quantiti-of-order-edit
            @media (max-width: 1199px)
              position: static
              padding-bottom: 30px
            @media (max-width: 767px)
              justify-content: flex-start
        .cart-page__desc-item
          @media (max-width: 576px)
            max-width: 200px!important
          @media (max-width: 450px)
            max-width: 100%!important




      .cart-page__order-wrapper
        position: relative
        width: 400px
        border: 1px solid #bfbfbf
        padding: 20px 20px 40px 25px
        margin-bottom: 100px
        margin-left: 20px
        @media (max-width: 1191px)
          margin-left: 0
        @media (max-width: 991px)
          max-width: 300px
          margin-left: 20px
        @media (max-width: 767px)
          max-width: 100%
          width: 100%
          margin-left: 0
        h4
          font-family: "MontserratSemiBold", sans-serif
          line-height: 20px
          text-transform: uppercase
          margin-bottom: 35px
          font-size: 18px
          @media (max-width: 991px)
            font-size: 16px
          @media (max-width: 767px)
            text-align: center
        form
          \:focus
            outline: none
          .form-group
            padding-bottom: 15px
            input
              width: 100%
          #cart-page__select-title
            margin-bottom: 20px
            font-size: 16px
            cursor: pointer
            position: relative
            @media (max-width: 991px)
              font-size: 14px
            @media (max-width: 320px)
              max-width: 70%
            .promotion-stroke
              fill: #000000
              height: 10px
              width: 13px
              position: absolute
              right: 0
              top: 50%
              transform: translateY(-50%) rotate(90deg)
              transition: all 0.4s ease-in
              @media (max-width: 320px)
                right: -20px
            .promotion-stroke-move
              transform: translateY(-50%) rotate(-90deg)
          #cart-page__promotional-input
            display: none
            position: relative
            button
              width: 170px
              margin-top: 20px
            .close-search-code
              height: 15px
              width: 15px
              cursor: pointer
              position: absolute
              right: 10px
              top: 13px
              visibility: hidden
          h6
            font-family: "MontserratSemiBold", sans-serif
            font-size: 18px
          .cart-page__order-text
            display: flex
            justify-content: space-between
            + p
              font-size: 12px
              margin-top: -5px
              margin-bottom: 30px
            p
              font-family: "MontserratSemiBold", sans-serif
              &:first-of-type
                font-family: "Montserrat", sans-serif
                font-size: 16px
                @media (max-width: 991px)
                  font-size: 14px
                  line-height: 20px
            .cart-page__shipping
              margin-bottom: 14px
          .cart-page__order-text-wrapper
            border-top: 1px solid #bfbfbf
            padding-top: 20px!important
          > p
            color: #bfbfbf
            font-size: 14px
            margin-bottom: 34px
          .cart-page__order-taxes
            margin-bottom: 40px
            max-width: 169px
            margin-left: auto
            margin-right: 0
            text-align: right
            font-size: 12px
            @media (max-width: 767px)
              max-width: 100%
          .cart-page__order-total-price
            font-family: "MontserratSemiBold", sans-serif
            font-size: 18px
            padding-top: 40px
            display: flex
            justify-content: space-between
            border-top: 1px solid #bfbfbf
            h6
              margin-bottom: 0
              @media (max-width: 991px)
                font-size: 16px
                line-height: 30px
            p
              margin-bottom: 0
          .cart-page__proceed
            position: absolute
            bottom: -60px
            left: 0
            font-family: "MontserratSemiBold", sans-serif
            line-height: 25px
            width: 400px
            height: 40px
            text-transform: uppercase
            @media (max-width: 991px)
              width: 300px
            @media (max-width: 767px)
              width: 100%
          .cart-page__continue-shopping
            position: absolute
            bottom: -100px
            left: 50%
            transform: translateX(-50%)
            font-family: "MontserratSemiBold", sans-serif
            text-transform: uppercase
            font-size: 12px
            text-align: center