//.main-page
  .best-sellers__owl-carousel
    .item
      max-width: 170px
    .img
      max-height: 170px
      max-width: 170px
      overflow: hidden
      //margin-left: 50%
      //transform: translateX(-50%)
      img
        display: block
        height: 170px
        width: auto
        //margin-left: 50%
        //transform: translateX(-50%)
    header
      margin-top: 40px
      font-family: "MontserratSemiBold", sans-serif
      font-size: 12px
      line-height: 20px
      text-align: center
    .price
      font-family: "Courier New", sans-serif
      font-size: 14px
      line-height: 20px
      text-align: center
      margin-top: 13px