//.owl-carousel.owl-theme.best-sellers__owl-carousel
    .item
        .img
            img(src="img/car-1.jpg" alt="carousel-img")
        a(href='#')
            header Straight tweezers for eyelashes Vetus 5B-SA
        .price $11.99
    .item
        .img
            img(src="img/car-2.jpg" alt="carousel-img")
        a(href='#')
            header Eye & eyebrow balm by Wimpernwelle
        .price $24
    .item
        .img
            img(src="img/car-3.jpg" alt="carousel-img")
        a(href='#')
            header Applicator for the eyelashes Nagaraku ESD-15
        .price $65.50
    .item
        .img
            img(src="img/car-4.jpg" alt="carousel-img")
        a(href='#')
            header Fake Lashes Wimpern by MAC
        .price $29
    .item
        .img
            img(src="img/car-5.jpg" alt="carousel-img")
        a(href='#')
            header Mini L - lash curler by Infinity Lashes
        .price $31
    .item
        .img
            img(src="img/car-6.jpg" alt="carousel-img")
        a(href='#')
            header Mimi Lash by Infinity Lashes
        .price $24
