.privacy-page
  h1
    font-family: "MontserratSemiBold", sans-serif
    font-size: 16px
    line-height: 20px
    text-transform: uppercase
    text-align: center
    margin-top: 40px
    margin-bottom: 40px
  .privacy-items-wrapper
    margin-top: 10px
    @media (max-width: 575px)
      padding-left: 40px
      padding-right: 40px
    .privacy-item-header
      margin-bottom: 25px
      font-family: "MontserratSemiBold", sans-serif
      font-size: 16px
      line-height: 21px
    .privacy-item-body
      margin-bottom: 25px
      font-size: 16px
      line-height: 21px
    .svg-pdf-blue
      width: 30px
      height: 25px
      margin-right: 20px
    .privacy-item-link-wrapper
      display: flex
      align-items: center
      margin-top: 50px
      &:last-child
        text-decoration: underline
  footer
    margin-top: 140px