h1 Privacy Policy
.container
  hr
  .row
    .privacy-items-wrapper.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-md-12.col-sd-12.col-12
      .privacy-item-header 1. General
      .privacy-item-body Your personal data (e.g. title, name, house address, e-mail address, phone number, bank details, credit card number) are processed by us only in accordance with the provisions of German data privacy laws. The following provisions describe the type, scope and purpose of collecting, processing and utilizing personal data. This data privacy policy applies only to our web pages. If links on our pages route you to other pages, please inquire there about how your data are handled in such cases.

      .privacy-item-header 2. Inventory data
      .privacy-item-body (1) Your personal data, in so far as these are necessary for this contractual relationship (inventory data) in terms of its establishment, organization of content and modifications, are used exclusively for fulfilling the contract. For goods to be delivered, for instance, your name and address must be relayed to the supplier of the goods.<br> (2) Without your explicit consent or a legal basis, your personal data are not passed on to third parties outside the scope of fulfilling this contract. After completion of the contract, your data are blocked against further use. After expiry of deadlines as per tax-related and commercial regulations, these data are deleted unless you have expressly consented to their further use.

      .privacy-item-header 3. Newsletter
      .privacy-item-body If you wish to receive the newsletter, we require a valid e-mail address and a confirmation to confirm your ownership of the account. When registering for the newsletter, your IP address and date of registration are saved. Further data are not collected. Stored data is used solely for the purpose of sending the newsletter and is not disclosed to third parties. Your consent to the storage of your data for the purpose outline above can be revoked at any time via a link included in the newsletter, in your profile area or by contacting us.

      .privacy-item-header 4. Web analysis with Google Analytics
      .privacy-item-body This website uses Google Analytics, a web analysis service of Google Inc. (Google). Google Analytics uses cookies, i.e. text files stored on your computer to enable analysis of website usage by you. Information generated by the cookie about your use of this website is usually transmitted to a Google server in the United States and stored there. In case of activated IP anonymization on this website, however, your IP address is previously truncated by Google within member states of the European Union or in other states which are party to the agreement on the European Economic Area. Only in exceptional cases is a full IP address transmitted to a Google server in the United States and truncated there. On behalf this website's owner, Google will use this information to evaluate your use of the website, compile reports about website activities, and provide the website's operator with further services related to website and Internet usage. The IP address sent from your browser as part of Google Analytics is not merged with other data by Google. You can prevent storage of cookies by appropriately setting your browser software; in this case, however, please note that you might not be able to fully use all functions offered by this website. In addition, you can prevent data generated by the cookie and relating to your use of the website (including your IP address) from being collected and processed by Google, by downloading and installing a browser plug-in from the following link: http://tools.google.com/dlpage/gaoptout?hl=en
      .privacy-item-body This website uses Google Analytics with the extension "anonymizeIP()", IP addresses being truncated before further processing in order to rule out direct associations to persons.

      .privacy-item-header 5. Identity- and solvency check when choosing payment methods offered by Billpay
      .privacy-item-body In case you decide to choose a payment option of our partner Billpay GmbH [Link auf https://www.billpay.de/endkunden/ ], you will be asked during the order process to aggree tothe transfer of personal data to Billpay. This data is used to realize the payment process as well as to finalize the identity and solvency check. In case you allow the agreement, your data (name and surname, street and number, postal code, city, birthday, phone number and in case of a debit note also your bank account details) will be transferred to Billpay. For the purpose of an identity and solvency check Billpay or from Billpay assigned partners will transfer those data to credit agencies who will then in return send over information including solvency information which are based on mathematical and statistical measures. You will find further information can be found in the privacy policy of Billpay [Link auf https://www.billpay.de/allgemein/datenschutz/]
      .privacy-item-body Moreover Billpay might make use of Third parties in order to prevent actions of fraud. These partners use measures to gain data which are saved by these parties only and which can only be read by Billpay. In case you use one of the payment methods offered by Billpay those data will be used, otherwise the data will expire automatically after 30 minutes.

      .privacy-item-header 6. Information about cookies
      .privacy-item-body (1) To optimize our web presence, we use cookies. These are small text files stored in your computer's main memory. These cookies are deleted after you close the browser. Other cookies remain on your computer (long-term cookies) and permit its recognition on your next visit. This allows us to improve your access to our site.<br>(2) You can prevent storage of cookies by choosing a "disable cookies" option in your browser settings. But this can limit the functionality of our Internet offers as a result.

      .privacy-item-header 7. Social plug-ins from Facebook
      .privacy-item-body We use social plug-ins from facebook.com, operated by Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA. The plug-ins can be recognized by way of the Facebook logo or the supplement "Facebook Social Plug-in". For example, if you click on the "Like" button or leave a comment, the relevant information is transmitted directly from your browser to Facebook and stored there. Furthermore, Facebook makes your likes public for your Facebook friends. If you are logged into Facebook, it can assign the invocation of our page directly to your Facebook account. Even if you are not logged in or don't have a Facebook account, your browser sends information (e.g. which web pages you have called up, your IP address) which is then stored by Facebook. For details about handling of your personal data by Facebook and your related rights, please refer to the data privacy policy of Facebook: http://www.facebook.com/policy.php. If you do not want Facebook to map data collected about you via our Web sites to your Facebook account, you must log out of Facebook before you visit our web pages.

      .privacy-item-header 8. Social plug-ins from Twitter
      .privacy-item-body With Twitter and its Retweet functions, we use social plug-ins from Twitter.com, operated by Twitter Inc. 795 Folsom St., Suite 600, San Francisco, CA 94107. If you use Retweet, the websites visited by you are announced to third parties and associated with your Twitter account. Details about handling of your data by Twitter as well as your rights and setting options for protecting your personal information can be found in Twitter's data privacy policy: http://twitter.com/privacy

      .privacy-item-header 9. Disclosure
      .privacy-item-body According to the Federal Data Protection Act, you have a right to free-of-charge information about your stored data, and possibly entitlement to correction, blocking or deletion of such data. Inquiries can be directed to the following e-mail address: service@muun.co

      .privacy-item-link-wrapper
        a(href="#")
          +svg('pdf-blue', 'svg-pdf-blue svg')
        a(href="#") Download PDF


  .svgHide
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" style="position:absolute">
    <symbol id="pdf-blue" viewBox="0 0 30 27">
    <defs><style>.cls-1-pdf-blue{fill:#157efb}</style></defs><title>PDF</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Page-1"><g id="icon-70-document-file-pdf"><path class="cls-1-pdf-blue" d="M13 0H2a2 2 0 0 0-2 2v23a2 2 0 0 0 2 2h15a2 2 0 0 0 2-2v-2h8a3 3 0 0 0 3-3v-7a3 3 0 0 0-3-3h-8V7l-6-7zM2 26a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h10v5a2 2 0 0 0 2 2h4v2h-8a3 3 0 0 0-3 3v7a3 3 0 0 0 3 3h8v2a1 1 0 0 1-1 1zM14 7a1 1 0 0 1-1-1V1.5L17.7 7zm-4 15a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h17a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2zm17-9h-5v7h1v-3h3v-1h-3v-2h4v-1zm-8 0h-3v7h3a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2zm-2 6v-5h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1zm-4-6h-3v7h1v-3h2a2 2 0 1 0 0-4zm-2 3v-2h2a1 1 0 0 1 0 2z" id="document-file-pdf"></path></g></g></g></g>
    </symbol>
    </svg>

